Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: github-workflow-lint, golangci-lint, go-mod-tidy, check-todo-severity, go-fix-all, go-build, cspell

Path conditions:
  github-workflow-lint: any of: \.github/workflows/.*\.(yml|yaml)$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.mod$
  check-todo-severity: any of: \.go$
  go-fix-all: any of: \.go$
  go-build: any of: \.go$|go\.mod$|go\.sum$
  cspell: any of: \.(md|txt|go|yaml|yml|json|js|ts|py|sh|ps1)$, but not: ^(test/|vendor/|\.git/|node_modules/|\.cache/)

docs(arch): apply user review corrections to ARCHITECTURE.md
  docs/arch/ARCHITECTURE.md
  docs/arch/COPILOT-STRATEGY.md
Due: cspell

refactor(api): standardize admin endpoints to /admin/api/v1 - code and instruction files
  .github/instructions/02-01.architecture.instructions.md
  .github/instructions/02-02.service-template.instructions.md
  .github/instructions/02-03.https-ports.instructions.md
  .github/instructions/02-05.observability.instructions.md
  .github/instructions/05-01.cross-platform.instructions.md
  docs/arch/ARCHITECTURE.md
  internal/apps/template/service/server/application.go
  internal/apps/template/service/server/listener/admin.go
  internal/apps/template/service/server/listener/admin_test.go
  internal/apps/template/service/testutil/http_test_helpers.go
  internal/apps/template/testing/e2e/compose.go
  internal/ca/server/admin.go
  internal/ca/server/cmd/commands.go
  internal/cmd/demo/script.go
  internal/identity/authz/server/admin.go
  internal/identity/authz/server/admin_test.go
  internal/identity/idp/server/admin.go
  internal/identity/idp/server/admin_test.go
  internal/identity/rs/server/admin.go
  internal/identity/rs/server/admin_test.go
  internal/jose/server/admin.go
  internal/jose/server/cmd/commands.go
  internal/jose/server/server_builder.go
  internal/shared/magic/magic_network.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(spec): standardize admin endpoints to /admin/api/v1 - spec files
  specs/002-cryptoutil/clarify.md
  specs/002-cryptoutil/implement/DETAILED.md
  specs/002-cryptoutil/implement/EXECUTIVE.md.old
  specs/002-cryptoutil/plan.md
  specs/002-cryptoutil/plan.md.old
  specs/002-cryptoutil/spec.md
  specs/002-cryptoutil/tasks.md
  specs/002-cryptoutil/tasks.md.old
Due: cspell

docs(plan): incorporate all QUIZME-v2 answers into fixes-needed-PLAN.md
  docs/fixes-needed-plan-tasks/fixes-needed-PLAN.md
Due: cspell

docs(tasks): add QUIZME-v2 implementation details to task checklists
  docs/fixes-needed-plan-tasks/fixes-needed-TASKS.md
Due: cspell

docs(quizme): create QUIZME-v3 for remaining implementation unknowns with corrected formatting
  docs/fixes-needed-plan-tasks/CLARIFY-QUIZME-v3.md
Due: cspell

docs(arch): incorporate QUIZME-v3 answers into ARCHITECTURE.md + add federation instructions
  .github/instructions/02-11.federation.instructions.md
  docs/arch/ARCHITECTURE.md
Due: cspell

fix(arch): remove QUIZME references, fix cipher-im as production service, add key rotation pattern
  .github/instructions/02-02.service-template.instructions.md
  .github/instructions/02-11.federation.instructions.md
  docs/arch/ARCHITECTURE.md
  docs/fixes-needed-plan-tasks/CLARIFY-QUIZME-v1.md
  docs/fixes-needed-plan-tasks/CLARIFY-QUIZME-v2.md
  docs/fixes-needed-plan-tasks/CLARIFY-QUIZME-v3.md
Due: cspell

docs(arch): add ServerBuilder, FIPS 140-3, elastic keys, expand Barrier/Hash details
  docs/arch/ARCHITECTURE.md
Due: cspell

docs(plan): remove all ephemeral QUIZME references from plan and tasks
  docs/fixes-needed-plan-tasks/fixes-needed-PLAN.md
  docs/fixes-needed-plan-tasks/fixes-needed-TASKS.md
Due: cspell

docs(arch): add core design principles and registration pattern details
  docs/arch/ARCHITECTURE.md
Due: cspell

docs(instructions): restructure continuous work directive with quality over speed section
  .github/instructions/01-02.continuous-work.instructions.md
Due: cspell

docs(plan): add architecture reference to plan and tasks documents
  docs/fixes-needed-plan-tasks/fixes-needed-PLAN.md
  docs/fixes-needed-plan-tasks/fixes-needed-TASKS.md
Due: cspell

docs(plan): create quizme v4 for implementation analysis and validation
  docs/fixes-needed-plan-tasks/fixes-needed-QUIZME-V4.md
Due: cspell

docs(speckit): clarify quizme format to exclude questions with known answers
  .github/instructions/01-03.speckit.instructions.md
Due: cspell

docs(plan): remove quizme v4 questions with known answers
  docs/fixes-needed-plan-tasks/fixes-needed-QUIZME-V4.md
Due: cspell

docs(plan): create quizme v5 - no unknowns identified
  docs/fixes-needed-plan-tasks/fixes-needed-QUIZME-V5.md
Due: cspell

docs(plan): verify quizme v4 coverage (18/20 fully covered), add migration numbering subtask and mutation classification table
  docs/arch/ARCHITECTURE.md
  docs/arch/COPILOT-STRATEGY.md
  docs/fixes-needed-plan-tasks/fixes-needed-QUIZME-V5.md
  docs/fixes-needed-plan-tasks/fixes-needed-TASKS.md
Due: cspell

docs(plan): delete quizme v4 and v5 files after verification complete
  docs/fixes-needed-plan-tasks/fixes-needed-QUIZME-V4.md
  docs/fixes-needed-plan-tasks/fixes-needed-QUIZME-V5.md
Due: cspell

docs(plan): add checkmark tracking, update quizme guidance
  .github/prompts/plan-tasks-quizme.prompt.md
  docs/fixes-needed-plan-tasks/fixes-needed-PLAN.md
  docs/fixes-needed-plan-tasks/fixes-needed-TASKS.md
Due: cspell

docs(plan): verify plan and tasks completeness - ready for implementation
  docs/fixes-needed-plan-tasks/PLAN-TASKS-COMPLETENESS-ANALYSIS.md
Due: cspell

docs(plan): add session 3 summary - all 8 tasks complete
  docs/fixes-needed-plan-tasks/SESSION-3-SUMMARY.md
Due: cspell

feat(service-template): register tenant registration routes in ServerBuilder
  docs/fixes-needed-plan-tasks/PLAN-TASKS-COMPLETENESS-ANALYSIS.md
  docs/fixes-needed-plan-tasks/SESSION-3-SUMMARY.md
  internal/apps/template/service/server/builder/server_builder.go
  internal/apps/template/service/server/repository/migrations/1005_tenant_join_requests.down.sql
  internal/apps/template/service/server/repository/migrations/1005_tenant_join_requests.up.sql
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(service-template): update admin API test paths to /admin/api/v1/
  internal/apps/template/service/server/listener/admin_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(jose-ja)!: remove realm_id from schema, repositories, handlers, and tests
  internal/apps/jose/ja/domain/models.go
  internal/apps/jose/ja/repository/audit_repository_test.go
  internal/apps/jose/ja/repository/elastic_jwk_repository.go
  internal/apps/jose/ja/repository/elastic_jwk_repository_test.go
  internal/apps/jose/ja/repository/material_jwk_repository_test.go
  internal/apps/jose/ja/repository/migrations/2001_elastic_jwks.down.sql
  internal/apps/jose/ja/repository/migrations/2001_elastic_jwks.up.sql
  internal/apps/jose/ja/repository/migrations/2004_audit_log.down.sql
  internal/apps/jose/ja/repository/migrations/2004_audit_log.up.sql
  internal/apps/jose/ja/server/apis/jwk_handler.go
  internal/apps/jose/ja/server/apis/jwk_handler_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(jose-ja): add Phase 2.4 coverage gaps and Phase 3 ServerBuilder documentation
  specs/002-cryptoutil/implement/PHASE-2.4-COVERAGE-GAPS.md
  specs/002-cryptoutil/implement/PHASE-3-SERVERBUILDER.md
Due: cspell

test(jose-ja): add server lifecycle and port allocation integration tests
  internal/apps/jose/ja/server/server_integration_test.go
  internal/apps/jose/ja/server/testmain_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(jose-ja): scaffold Phase 3.5 E2E test for JWT sign/verify workflow
  internal/test/e2e/jose_workflow_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(jose-ja): add config validation and repository error tests
  internal/apps/jose/ja/repository/audit_repository_error_test.go
  internal/apps/jose/ja/repository/elastic_jwk_repository_error_test.go
  internal/apps/jose/ja/repository/material_jwk_repository_error_test.go
  internal/apps/jose/ja/server/config/config_validation_test.go
  internal/apps/template/service/server/repository/migrations/1005_tenant_join_requests.down.sql
  internal/apps/template/service/server/repository/migrations/1005_tenant_join_requests.up.sql
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

refactor(jose-ja): remove default tenant pattern and fix linting issues
  cov_config
  internal/apps/jose/ja/repository/audit_repository_error_test.go
  internal/apps/jose/ja/repository/audit_repository_test.go
  internal/apps/jose/ja/repository/elastic_jwk_repository_error_test.go
  internal/apps/jose/ja/repository/material_jwk_repository_error_test.go
  internal/apps/jose/ja/server/apis/jwk_handler_test.go
  internal/apps/jose/ja/server/config/config_validation_test.go
  internal/apps/jose/ja/server/server.go
  internal/apps/jose/ja/server/server_integration_test.go
  internal/apps/jose/ja/server/testmain_test.go
  internal/test/e2e/jose_workflow_test.go
  specs/002-cryptoutil/implement/PHASE-3-SERVERBUILDER.md
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(jose-ja): handle symmetric keys in createMaterialJWK
  cov
  go.mod
  go.sum
  internal/apps/jose/ja/server/apis/jwk_handler_test.go
  internal/apps/jose/ja/server/server.go
  internal/apps/jose/ja/service/audit_log_service.go
  internal/apps/jose/ja/service/elastic_jwk_service.go
  internal/apps/jose/ja/service/elastic_jwk_service_test.go
  internal/apps/jose/ja/service/jwe_service.go
  internal/apps/jose/ja/service/jwks_service.go
  internal/apps/jose/ja/service/jws_service.go
  internal/apps/jose/ja/service/jwt_service.go
  internal/apps/jose/ja/service/material_rotation_service.go
  internal/apps/jose/ja/service/testmain_test.go
  internal/shared/magic/magic_jose.go
Due: golangci-lint, go-mod-tidy, check-todo-severity, go-fix-all, go-build, cspell

test(jose): add JWT and material rotation edge case tests
  internal/apps/jose/ja/service/audit_log_service_test.go
  internal/apps/jose/ja/service/jwe_service_test.go
  internal/apps/jose/ja/service/jwks_service_test.go
  internal/apps/jose/ja/service/jws_service_test.go
  internal/apps/jose/ja/service/jwt_service_test.go
  internal/apps/jose/ja/service/mapping_functions_test.go
  internal/apps/jose/ja/service/material_rotation_service_test.go
  internal/apps/jose/ja/service/testmain_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(jose): document service coverage analysis and improvement session
  specs/002-cryptoutil/implement/DETAILED.md
Due: cspell

docs(template): document Phase 0 validation findings
  specs/002-cryptoutil/implement/DETAILED.md
Due: cspell

refactor(template): fix registration routes architecture and paths
  internal/apps/template/service/server/apis/registration_handlers.go
  internal/apps/template/service/server/apis/registration_handlers_test.go
  internal/apps/template/service/server/apis/registration_routes.go
  internal/apps/template/service/server/builder/server_builder.go
  specs/002-cryptoutil/implement/DETAILED.md
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(template): implement rate limiting for registration endpoints
  docs/fixes-needed-plan-tasks/fixes-needed-TASKS.md
  internal/apps/template/service/server/apis/rate_limiter.go
  internal/apps/template/service/server/apis/rate_limiter_test.go
  internal/apps/template/service/server/apis/registration_routes.go
  internal/apps/template/service/server/builder/server_builder.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: update task tracking for rate limiting completion (Task 0.8.7)
  docs/fixes-needed-plan-tasks/fixes-needed-TASKS.md
  specs/002-cryptoutil/implement/DETAILED.md
Due: cspell

style: fix linting issues in rate limiter
  internal/apps/template/service/server/apis/rate_limiter.go
  internal/apps/template/service/server/apis/registration_routes.go
  internal/shared/magic/magic_network.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(template): add registration integration tests - coverage at 50.7%
  internal/apps/template/service/server/apis/registration_integration_test.go
  internal/apps/template/service/server/apis/registration_routes.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell
