Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-build, golangci-lint-full, golangci-lint, go-mod-tidy, check-todo-severity

go-build:
  name: go build
  entry: go
  args:
  - build
  - ./...
  language: system
  pass_filenames: false
  require_serial: true
  stages:
  - pre-push

golangci-lint-full:
  name: golangci-lint (full validation)
  entry: golangci-lint
  args:
  - run
  - --timeout=30m
  language: system
  pass_filenames: false
  stages:
  - pre-push

golangci-lint:
  name: golangci-lint (incremental auto-fix)
  entry: golangci-lint
  args:
  - run
  - --fix
  - --timeout=30m
  - --new-from-rev=HEAD~1
  language: system
  pass_filenames: false
  require_serial: false
  stages:
  - pre-commit

go-mod-tidy:
  name: go mod tidy
  entry: go
  args:
  - mod
  - tidy
  language: system
  pass_filenames: false

check-todo-severity:
  name: Check TODO/FIXME severity (block CRITICAL/HIGH)
  entry: bash
  args:
  - -c
  ...

docs: mark Phase 3 complete in plan.md and tasks.md
  docs/fixes-v7/plan.md
  docs/fixes-v7/tasks.md
Due: none

fix(cicd): update cmd-main-pattern regex to accept os.Args[1:] pattern
  internal/apps/cicd/lint_go/cmd_main_pattern/cmd_main_pattern.go
  internal/apps/cicd/lint_go/cmd_main_pattern/cmd_main_pattern_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs: add Phase 4 cmd-main-pattern fix to plan and tasks
  docs/fixes-v7/plan.md
  docs/fixes-v7/tasks.md
Due: none

feat(magic): add consolidated constants for cross-file deduplication
  internal/apps/cicd/lint_go/cgo_free_sqlite/cgo_files_test.go
  internal/apps/cicd/lint_go/cgo_free_sqlite/cgo_free_sqlite.go
  internal/apps/cicd/lint_go/common/common.go
  internal/apps/cicd/lint_go/crypto_rand/crypto_rand.go
  internal/apps/cicd/lint_go/insecure_skip_verify/insecure_skip_verify.go
  internal/apps/cicd/lint_go/no_unaliased_cryptoutil_imports/import_alias_test.go
  internal/apps/cicd/lint_go/no_unaliased_cryptoutil_imports/no_unaliased_cryptoutil_imports.go
  internal/apps/cicd/lint_go/non_fips_algorithms/nonfips_test.go
  internal/apps/identity/authz/unified/authz.go
  internal/apps/identity/cmd/identity_cli.go
  internal/apps/identity/e2e/e2e_test.go
  internal/apps/identity/idp/unified/idp.go
  internal/apps/identity/notifications/service_coverage_test.go
  internal/apps/identity/notifications/service_test.go
  internal/apps/identity/repository/orm/test_constants_test.go
  internal/apps/identity/rp/unified/rp.go
  internal/apps/identity/rs/unified/rs.go
  internal/apps/identity/spa/unified/spa.go
  internal/apps/jose/ja/e2e/e2e_test.go
  internal/apps/sm/im/e2e/e2e_registration_test.go
  internal/apps/sm/im/e2e/e2e_test.go
  internal/apps/sm/kms/e2e/e2e_test.go
  internal/apps/template/service/server/businesslogic/session_manager.go
  internal/shared/crypto/asn1/der_pem_coverage_test.go
  internal/shared/crypto/jose/jws_jwk_util.go
  internal/shared/magic/magic_cicd.go
  internal/shared/magic/magic_identity.go
  internal/shared/magic/magic_jose.go
  internal/shared/magic/magic_network.go
  internal/shared/magic/magic_sm_im.go
  internal/shared/magic/magic_testing.go
  internal/shared/util/files/files_error_paths_test.go
  internal/shared/util/sysinfo/sysinfo_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(magic-duplicates): add cross-file duplicate constant detection
  internal/apps/cicd/lint_go/cgo_free_sqlite/cgo_module_test.go
  internal/apps/cicd/lint_go/magic_duplicates/magic_duplicates.go
  internal/apps/cicd/lint_go/magic_duplicates/magic_duplicates_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor: remove 102 const alias redeclarations, use cryptoutilSharedMagic directly
  internal/apps/demo/identity.go
  internal/apps/demo/identity_servers.go
  internal/apps/demo/integration.go
  internal/apps/demo/integration_health.go
  internal/apps/identity/demo/demo.go
  internal/apps/identity/demo/demo_demonstrate.go
  internal/apps/jose/ja/server/config/config.go
  internal/apps/jose/ja/server/config/config_test.go
  internal/apps/jose/ja/server/config/config_validation_test.go
  internal/apps/pki/ca/server/public_server_highcov_test.go
  internal/apps/sm/im/server/config/config.go
  internal/apps/sm/kms/server/application/application_init.go
  internal/apps/sm/kms/server/application/application_listener_browser.go
  internal/apps/sm/kms/server/repository/orm/business_entities_operations.go
  internal/apps/template/service/config/config.go
  internal/apps/template/service/config/config_parse.go
  internal/apps/template/service/config/config_settings_a.go
  internal/apps/template/service/config/config_settings_b.go
  internal/apps/template/service/config/config_test_helper.go
  internal/shared/crypto/certificate/certificates_serde_error_paths_test.go
  internal/shared/crypto/certificate/certificates_test.go
  internal/shared/crypto/keygen/keygen.go
  internal/shared/crypto/keygen/keygen_test.go
  internal/shared/crypto/keygenpooltest/keygenpools_test.go
  internal/shared/util/sysinfo/sysinfo.go
  internal/shared/util/sysinfo/sysinfo_test.go
  internal/shared/util/sysinfo/sysinfoprovider_mock.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(cicd): add magic-aliases linter to detect const alias redeclarations
  internal/apps/cicd/lint_go/lint_go.go
  internal/apps/cicd/lint_go/magic_aliases/magic_aliases.go
  internal/apps/cicd/lint_go/magic_aliases/magic_aliases_test.go
  internal/apps/template/service/config/config_settings_b.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(cicd): avoid raw multi-line import in magic-aliases test heredoc
  internal/apps/cicd/lint_go/magic_aliases/magic_aliases_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor: replace 8 duplicate local consts with magic references
  internal/apps/identity/authz/clientauth/jwt_validator_secret_test.go
  internal/apps/identity/authz/clientauth/jwt_validator_test.go
  internal/apps/identity/bootstrap/demo_client.go
  internal/apps/identity/bootstrap/demo_reset.go
  internal/apps/pki/ca/api/handler/handler_est.go
  internal/apps/pki/ca/api/handler/handler_ocsp.go
  internal/apps/pki/ca/compliance/compliance.go
  internal/apps/pki/ca/security/security.go
  internal/apps/pki/ca/server/admin.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

style: fix import ordering and indentation
  internal/apps/identity/authz/clientauth/jwt_validator_test.go
  internal/apps/identity/bootstrap/demo_reset.go
  internal/apps/identity/config/validation.go
  internal/apps/sm/kms/server/application/application_listener.go
  internal/cmd/cicd/lint_deployments/validate_ports.go
  internal/cmd/cicd/lint_deployments/validate_schema.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(deps): run go mod tidy to move gopsutil/v4 to indirect
  go.mod
Due: go-build, go-mod-tidy

fix(ci): enable go-mod-download in SAST workflow for govulncheck
  .github/workflows/ci-sast.yml
Due: none

fix(ci): fix compose validation for deployments
  .github/workflows/cicd-lint-deployments.yml
  deployments/shared-telemetry/compose.yml
  internal/cmd/cicd/lint_deployments/validate_compose.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(ci): use correct product-service pattern in DAST workflow
  .github/workflows/ci-dast.yml
Due: none

fix(ci): fix SAST indentation, DAST subcommand, gitignore leftover_coverage, and load testing compose
  .github/workflows/ci-dast.yml
  .github/workflows/ci-load.yml
  .github/workflows/ci-sast.yml
  .gitignore
  internal/apps/cicd/lint_go/leftover_coverage/coverage_test.go
  internal/apps/cicd/lint_go/leftover_coverage/leftover_coverage.go
  internal/apps/cicd/lint_go/leftover_coverage/leftover_coverage_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

ci(workflows): bump Go 1.25.5→1.25.7 (security), wire cicd commands, fix leftover_coverage, fix docker-compose-verify
  .github/actions/docker-compose-verify/action.yml
  .github/actions/go-setup/action.yml
  .github/actions/workflow-job-begin/action.yml
  .github/agents/beast-mode.agent.md
  .github/agents/fix-workflows.agent.md
  .github/agents/implementation-execution.agent.md
  .github/agents/implementation-planning.agent.md
  .github/instructions/02-02.versions.instructions.md
  .github/instructions/03-03.golang.instructions.md
  .github/instructions/04-01.deployment.instructions.md
  .github/workflows/ci-e2e.yml
  .github/workflows/ci-identity-validation.yml
  .github/workflows/ci-load.yml
  .github/workflows/cicd-lint-deployments.yml
  .github/workflows/release.yml
  README.md
  deployments/archived/cryptoutil-legacy/Dockerfile
  deployments/cryptoutil-suite/Dockerfile
  deployments/identity-authz/Dockerfile
  deployments/identity-idp/Dockerfile
  deployments/identity-rp/Dockerfile
  deployments/identity-rs/Dockerfile
  deployments/identity-spa/Dockerfile
  deployments/jose-ja/Dockerfile
  deployments/pki-ca/Dockerfile
  deployments/sm-im/Dockerfile
  deployments/sm-kms/Dockerfile
  docs/ARCHITECTURE-INDEX.md
  docs/ARCHITECTURE.md
  docs/DEV-SETUP.md
  go.mod
  internal/apps/cicd/format_go/copyloopvar/copyloopvar.go
  internal/apps/cicd/format_go/copyloopvar/copyloopvar_test.go
  internal/apps/cicd/lint_go/leftover_coverage/leftover_coverage.go
  internal/apps/cicd/lint_go_mod/outdated_deps/dep_cache_test.go
  internal/apps/cicd/lint_go_mod/outdated_deps/lint_test.go
  internal/apps/cicd/lint_go_mod/outdated_deps/outdated_deps_test.go
  internal/cmd/cicd/cicd.go
Due: go-build, golangci-lint-full, golangci-lint, go-mod-tidy, check-todo-severity

ci(workflows): fix load verify endpoints, identity paths, fuzz timing, coverage/lint gates
  .github/actions/custom-cicd-lint/action.yml
  .github/actions/docker-compose-verify/action.yml
  .github/workflows/ci-coverage.yml
  .github/workflows/ci-fuzz.yml
  .github/workflows/ci-identity-validation.yml
  .github/workflows/ci-load.yml
  internal/apps/sm/im/integration/concurrent_test.go
  internal/apps/sm/im/integration/rotation_integration_test.go
  internal/apps/sm/im/integration/service_integration_test.go
  internal/apps/sm/im/integration/testmain_integration_test.go
  internal/apps/sm/im/integration/web_client_integration_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

ci(workflows): fix quality outdated deps, load simulation, identity/mutation/race informational
  .github/workflows/ci-identity-validation.yml
  .github/workflows/ci-load.yml
  .github/workflows/ci-mutation.yml
  .github/workflows/ci-race.yml
  go.mod
  go.sum
Due: go-build, go-mod-tidy

ci(workflows): make load tests and build/scan informational
  .github/workflows/ci-load.yml
  .github/workflows/ci-quality.yml
Due: none

docs: fix ARCHITECTURE.md structural issues, broken links, and garbled content
  docs/ARCHITECTURE.md
  docs/CONFIG-SCHEMA.md
  internal/apps/cicd/lint_go/leftover_coverage/leftover_coverage.go
  internal/apps/sm/im/integration/concurrent_test.go
  internal/apps/sm/im/integration/testmain_integration_test.go
  internal/cmd/cicd/lint_deployments/validate_compose.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs: create fixes-v8 plan, tasks, and architecture decision quiz
  docs/fixes-v8/plan.md
  docs/fixes-v8/quizme-v1.md
  docs/fixes-v8/tasks.md
Due: none

docs: complete fixes-v8 phases 1-3 - doc hardening, readiness eval, identity alignment
  docs/fixes-v8/plan.md
  docs/fixes-v8/tasks.md
Due: none

docs: complete fixes-v8 phase 4 - all 45/45 tasks done
  docs/fixes-v8/plan.md
  docs/fixes-v8/tasks.md
Due: none

docs(fixes-v8): merge quizme-v1 decisions into plan/tasks, add phases 5-8
  docs/fixes-v8/plan.md
  docs/fixes-v8/quizme-v1.md
  docs/fixes-v8/tasks.md
Due: none

chore: delete docs/fixes-v7/ (all 4 phases complete, work incorporated into fixes-v8)
  docs/fixes-v7/archive/JWX-COV-CEILING.md
  docs/fixes-v7/archive/plan.md
  docs/fixes-v7/archive/post-mortem.md
  docs/fixes-v7/archive/research/DEEP-RESEARCH.md
  docs/fixes-v7/archive/research/SUMMARY.md
  docs/fixes-v7/archive/research/plan-PKI-CA-MERGE0a.md
  docs/fixes-v7/archive/research/plan-PKI-CA-MERGE0b.md
  docs/fixes-v7/archive/research/plan-PKI-CA-MERGE1.md
  docs/fixes-v7/archive/research/plan-PKI-CA-MERGE2.md
  docs/fixes-v7/archive/research/plan-PKI-CA-MERGE3.md
  docs/fixes-v7/archive/research/plan-PKI-CA-MIGRATE.md
  docs/fixes-v7/archive/research/tasks-PKI-CA-MERGE0a.md
  docs/fixes-v7/archive/research/tasks-PKI-CA-MERGE0b.md
  docs/fixes-v7/archive/research/tasks-PKI-CA-MERGE1.md
  docs/fixes-v7/archive/research/tasks-PKI-CA-MERGE2.md
  docs/fixes-v7/archive/research/tasks-PKI-CA-MERGE3.md
  docs/fixes-v7/archive/research/tasks-PKI-CA-MIGRATE.md
  docs/fixes-v7/archive/tasks.md
  docs/fixes-v7/archive2/ARCH-STRATEGY-REVIEW.md
  docs/fixes-v7/archive2/ARCH-SUGGESTIONS.md
  docs/fixes-v7/archive2/lessons.md
  docs/fixes-v7/archive2/plan.md
  docs/fixes-v7/archive2/tasks.md
  docs/fixes-v7/plan.md
  docs/fixes-v7/tasks.md
Due: none

docs(fixes-v8): rewrite plan/tasks for skeleton-example (10th product-service) + pki-ca clean-slate
  docs/fixes-v8/plan.md
  docs/fixes-v8/tasks.md
Due: none

docs(fixes-v8): rename skeleton-example to skeleton-template in plan/tasks
  docs/fixes-v8/plan.md
  docs/fixes-v8/tasks.md
Due: none

docs(architecture): add skeleton product (5 products, 10 services) with skeleton-template service
  docs/ARCHITECTURE.md
Due: none

docs(instructions): update for 5 products, 10 services with skeleton-template
  .github/instructions/02-01.architecture.instructions.md
  .github/instructions/03-03.golang.instructions.md
Due: none

feat(magic): add skeleton-template service constants
  internal/shared/magic/magic_skeleton.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(cicd): add skeleton-template and skeleton product to deployment validators
  internal/cmd/cicd/lint_deployments/lint_required_contents_configs.go
  internal/cmd/cicd/lint_deployments/lint_required_contents_deployments.go
  internal/cmd/cicd/lint_deployments/lint_required_contents_test.go
  internal/cmd/cicd/lint_deployments/validate_all.go
  internal/cmd/cicd/lint_deployments/validate_all_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs: update plan.md/tasks.md - rename example→template, mark completed tasks
  docs/fixes-v8/plan.md
  docs/fixes-v8/tasks.md
Due: none

refactor: multi-pass repository cleanup - 9→10 services, cipher-im→sm-im
  .github/agents/implementation-planning.agent.md
  deployments/archived/README.md
  deployments/archived/cryptoutil-legacy/compose.yml
  deployments/cryptoutil-suite/compose.yml
  deployments/shared-postgres/compose.yml
  deployments/template/compose-cryptoutil.yml
  docs/ARCHITECTURE-COMPOSE-MULTIDEPLOY.md
  docs/ARCHITECTURE-INDEX.md
  internal/apps/template/service/server/ROUTE-REGISTRATION.md
  internal/cmd/cicd/lint_deployments/lint_deployments.go
  internal/cmd/cicd/lint_deployments/lint_required_contents_deployments.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(skeleton): implement skeleton-template product-service (Phase 5)
  cmd/skeleton-template/main.go
  cmd/skeleton/main.go
  internal/apps/cryptoutil/cryptoutil.go
  internal/apps/cryptoutil/cryptoutil_test.go
  internal/apps/skeleton/skeleton.go
  internal/apps/skeleton/skeleton_test.go
  internal/apps/skeleton/template/domain/model.go
  internal/apps/skeleton/template/domain/model_test.go
  internal/apps/skeleton/template/repository/migrations.go
  internal/apps/skeleton/template/repository/migrations/2001_template_items.down.sql
  internal/apps/skeleton/template/repository/migrations/2001_template_items.up.sql
  internal/apps/skeleton/template/repository/migrations_test.go
  internal/apps/skeleton/template/server/config/config.go
  internal/apps/skeleton/template/server/config/config_test.go
  internal/apps/skeleton/template/server/config/config_test_helper.go
  internal/apps/skeleton/template/server/server.go
  internal/apps/skeleton/template/server/server_test.go
  internal/apps/skeleton/template/template.go
  internal/apps/skeleton/template/template_cli_test.go
  internal/apps/skeleton/template/template_lifecycle_test.go
  internal/apps/skeleton/template/template_port_conflict_test.go
  internal/apps/skeleton/template/template_usage.go
  internal/apps/skeleton/template/testmain_test.go
  internal/cmd/cicd/lint_deployments/lint_required_contents_configs.go
  internal/cmd/cicd/lint_deployments/lint_required_contents_test.go
  internal/cmd/cicd/lint_deployments/validate_all.go
  internal/cmd/cicd/lint_deployments/validate_all_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

test(skeleton): add server integration tests and improve coverage
  internal/apps/skeleton/template/repository/migrations_test.go
  internal/apps/skeleton/template/server/server_integration_test.go
  internal/apps/skeleton/template/server/server_test.go
  internal/apps/skeleton/template/server/testmain_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(skeleton): add E2E test infrastructure for skeleton-template (Task 5.12)
  docs/fixes-v8/tasks.md
  internal/apps/skeleton/template/e2e/e2e_test.go
  internal/apps/skeleton/template/e2e/testmain_e2e_test.go
  internal/shared/magic/magic_skeleton.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs: mark Phase 5 skeleton-template COMPLETE (59/104 tasks)
  docs/fixes-v8/tasks.md
Due: none

Path conditions:
  go-build: any of: \.go$|go\.mod$|go\.sum$
  golangci-lint-full: any of: \.go$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.mod$
  check-todo-severity: any of: \.go$
