Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-build, golangci-lint-full, golangci-lint, go-mod-tidy, check-todo-severity

Path conditions:
  go-build: any of: \.go$|go\.mod$|go\.sum$
  golangci-lint-full: any of: \.go$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.mod$
  check-todo-severity: any of: \.go$

docs(phase2): rewrite NEW.md and PHASE2-IDEAS.md to accurately reflect two-tier goal status
  docs/ENG-HANDBOOK-NEW.md
  docs/ENG-HANDBOOK-PHASE2-IDEAS.md
Due: none

fix(docs): fix appendixPropagateRegex to accept optional why-this-exists attribute
  internal/apps-tools/cicd_lint/docs_validation/validate_chunks.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(docs): add Appendix E per-artifact propagation index to ENG-HANDBOOK.md
  docs/ENG-HANDBOOK-PHASE2-IDEAS.md
  docs/ENG-HANDBOOK.md
Due: none

docs(handbook): add Appendix D and E to Navigation Guide
  docs/ENG-HANDBOOK.md
Due: none

feat(lint): add lint-catalog-files and lint-catalog-propagation sub-linters
  internal/apps-tools/cicd_lint/docs_validation/catalog_files.go
  internal/apps-tools/cicd_lint/docs_validation/catalog_files_command.go
  internal/apps-tools/cicd_lint/docs_validation/validate_coverage.go
  internal/apps-tools/cicd_lint/lint_docs/lint_catalog_files/lint_catalog_files.go
  internal/apps-tools/cicd_lint/lint_docs/lint_catalog_propagation/lint_catalog_propagation.go
  internal/apps-tools/cicd_lint/lint_docs/lint_doc_file_encoding/lint_doc_file_encoding.go
  internal/apps-tools/cicd_lint/lint_docs/lint_doc_file_encoding/lint_doc_file_encoding_test.go
  internal/apps-tools/cicd_lint/lint_docs/lint_docs.go
  internal/shared/magic/magic_cicd.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(cicd): fix CICDFileCatalogBodyEndMarker and regenerate Appendix E catalog
  docs/ENG-HANDBOOK.md
  internal/shared/magic/magic_cicd.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(docs): align handbook propagation references
  .claude/agents/implementation-execution.md
  .claude/skills/copilot-customization/SKILL.md
  .github/agents/implementation-execution.agent.md
  .github/copilot-instructions.md
  .github/skills/README.md
  .github/skills/copilot-customization/SKILL.md
  CLAUDE.md
  docs/ENG-HANDBOOK.md
  internal/apps-tools/cicd_lint/docs_validation/catalog_files.go
  internal/apps-tools/cicd_lint/docs_validation/propagation_coverage.go
  internal/apps-tools/cicd_lint/docs_validation/validate_chunks.go
  internal/apps-tools/cicd_lint/docs_validation/validate_coverage.go
  internal/apps-tools/cicd_lint/lint_docs/lint_catalog_files/lint_catalog_files.go
  internal/apps-tools/cicd_lint/lint_docs/lint_catalog_propagation/lint_catalog_propagation.go
  internal/apps-tools/cicd_lint/lint_docs/validate_chunks/validate_chunks.go
  internal/apps-tools/cicd_lint/lint_docs/validate_propagation/validate_propagation.go
  internal/apps-tools/cicd_lint/lint_docs/validate_propagation/validate_propagation_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

build(deps): refresh opentelemetry modules
  go.mod
  go.sum
Due: go-build, go-mod-tidy

chore(workspace): checkpoint baseline before agent execution
  docs/ENG-HANDBOOK.md
Due: none

build(deps): update sqlite module and pre-commit hook pins
  .pre-commit-config.yaml
  go.mod
  go.sum
Due: go-build, go-mod-tidy

fix(framework-v24): resolve lint, hook, and workflow gate issues
  .github/workflows/ci-dast.yml
  .github/workflows/ci-fuzz.yml
  .github/workflows/ci-load.yml
  .github/workflows/release.yml
  .gitleaks.toml
  .golangci.yml
  .pre-commit-config.yaml
  docs/framework-v24/lessons.md
  docs/framework-v24/plan.md
  docs/framework-v24/tasks.md
  internal/apps-framework/service/test_orch_e2e/compose_manager_e2e.go
  internal/apps-framework/service/test_orch_e2e/tls_psid_spec_e2e.go
  internal/apps-framework/service/testing/e2e_infra/compose_manager.go
  internal/apps-tools/cicd_lint/lint_fitness/apps_product_template/apps_product_template_test.go
  internal/apps-tools/cicd_lint/lint_fitness/apps_ps_id_server_package/apps_ps_id_server_package_test.go
  internal/apps-tools/cicd_lint/lint_fitness/apps_ps_id_template/apps_ps_id_template_service_template.go
  internal/apps-tools/cicd_lint/lint_fitness/apps_ps_id_template/apps_ps_id_template_test.go
  internal/apps-tools/cicd_lint/lint_fitness/apps_suite_template/apps_suite_template_test.go
  internal/apps-tools/cicd_lint/lint_fitness/duplicate_ps_id_test_func_names/duplicate_ps_id_test_func_names.go
  internal/apps-tools/cicd_lint/lint_fitness/duplicate_ps_id_test_func_names/duplicate_ps_id_test_func_names_test.go
  internal/apps/sm-kms/client/client_test_util_test.go
  pyproject.toml
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(shared-postgres): restore distinct jose-ja and sm-im database slots
  api/cryptosuite-registry/templates/deployments/shared-postgres/init-databases.sql
  api/cryptosuite-registry/templates/deployments/shared-postgres/init-users.sql
  api/cryptosuite-registry/templates/deployments/shared-postgres/setup-logical-replication.sh
  deployments/shared-postgres/init-databases.sql
  deployments/shared-postgres/init-follower-databases.sql
  deployments/shared-postgres/init-leader-databases.sql
  deployments/shared-postgres/init-users.sql
  deployments/shared-postgres/setup-logical-replication.sh
Due: none

fix(framework-v24): complete jose-ja and sm-im deployment removal
  api/cryptosuite-registry/templates/deployments/shared-postgres/compose.yml
  api/cryptosuite-registry/templates/deployments/shared-postgres/init-databases.sql
  api/cryptosuite-registry/templates/deployments/shared-postgres/init-users.sql
  api/cryptosuite-registry/templates/deployments/shared-postgres/setup-logical-replication.sh
  deployments/shared-postgres/compose.yml
  deployments/shared-postgres/init-databases.sql
  deployments/shared-postgres/init-follower-databases.sql
  deployments/shared-postgres/init-leader-databases.sql
  deployments/shared-postgres/init-users.sql
  deployments/shared-postgres/setup-logical-replication.sh
  docs/framework-v24/EXEC-SUMMARY.md
  docs/framework-v24/lessons.md
  docs/framework-v24/plan.md
  docs/framework-v24/tasks.md
  docs/framework-v25/plan.md
Due: none

fix(topology): normalize sm-kms reference duplication across configs and docs
  .claude/agents/implementation-planning.md
  .github/agents/implementation-planning.agent.md
  .github/instructions/02-01.architecture.instructions.md
  .github/workflows/ci-e2e.yml
  .golangci.yml
  .vscode/launch.json
  api/cryptosuite-registry/templates/deployments/shared-postgres/compose.yml
  deployments/shared-postgres/compose.yml
  docs/ENG-HANDBOOK.md
  docs/framework-v24/EXEC-SUMMARY.md
  docs/framework-v24/lessons.md
  docs/framework-v24/plan.md
  docs/framework-v24/tasks.md
  docs/target-structure.md
Due: none

chore(hooks): bump commitizen pre-commit hook to v4.16.3
  .pre-commit-config.yaml
Due: none

fix(framework-v24): correct implementation-plan service naming and execution narrative
  docs/framework-v24/EXEC-SUMMARY.md
  docs/framework-v24/lessons.md
  docs/framework-v24/plan.md
  docs/framework-v24/tasks.md
Due: none

fix(cicd-lint): align topology tests with 8-psid consolidation
  internal/apps-tools/cicd_lint/lint_deployments/validate_deployments_delegation_test.go
  internal/apps-tools/cicd_lint/lint_fitness/apps_ps_id_template/apps_ps_id_template_test.go
  internal/apps-tools/cicd_lint/lint_ports/lint_ports_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(handbook): remove legacy sm-im and jose-ja references
  docs/ENG-HANDBOOK.md
Due: none

chore(naming): remove legacy jose-ja and sm-im references
  .github/instructions/02-01.architecture.instructions.md
  docs/ENG-HANDBOOK.md
  docs/INVESTIGATION.md
  docs/TEST-PERFORMANCE.md
  docs/deployment-templates.md
  docs/framework-v24/EXEC-SUMMARY.md
  docs/framework-v24/lessons.md
  docs/framework-v24/plan.md
  docs/framework-v24/tasks.md
  docs/framework-v25/plan.md
  docs/target-structure.md
  internal/apps-framework/service/cli/service_identity_test.go
  internal/apps-framework/service/server/repository/migrations/1003_realms_template.up.sql
  internal/apps-tools/cicd_lint/lint_deployments/validate_kebab_case_test.go
  internal/apps-tools/cicd_lint/lint_fitness/magic_e2e_compose_path/magic_e2e_compose_path_test.go
  internal/apps-tools/cicd_lint/lint_fitness/magic_e2e_container_names/magic_e2e_container_names_test.go
  internal/apps-tools/cicd_lint/lint_fitness/registry/derivations.go
  internal/apps-tools/cicd_lint/lint_fitness/secret_content/secret_content.go
  internal/apps-tools/cicd_lint/lint_gotest/lint_gotest_test_sleep/lint_gotest_test_sleep.go
  internal/apps/sm-kms/server/model/jwk_models.go
  internal/apps/sm-kms/server/repository/audit_repository.go
  test/load/src/test/java/cryptoutil/CryptoutilSuiteSimulation.java
  test/load/src/test/java/cryptoutil/JoseProductSimulation.java
  test/load/src/test/java/cryptoutil/SmProductSimulation.java
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

chore(workspace): checkpoint baseline before agent execution
  internal/apps-framework/service/cli/service_identity_test.go
  internal/apps-tools/cicd_lint/lint_deployments/validate_kebab_case_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(e2e): stabilize orchestration TLS verification
  deployments/pki-ca/certs/tls-config.yml
  deployments/skeleton-template/certs/tls-config.yml
  deployments/sm-kms/certs/tls-config.yml
  internal/apps-framework/service/test_orch_e2e/full_pipeline_test.go
  internal/apps-framework/service/test_orch_e2e/grafana_tls_e2e_test.go
  internal/apps-framework/service/test_orch_e2e/otel_tls_e2e_test.go
  internal/apps-framework/service/test_orch_e2e/tls_psid_spec_e2e.go
  internal/shared/util/network/http_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(terminology): remove legacy jose and im references
  .claude/skills/fitness-function-gen/SKILL.md
  .claude/skills/new-service/SKILL.md
  .github/instructions/02-01.architecture.instructions.md
  .github/skills/fitness-function-gen/SKILL.md
  .github/skills/new-service/SKILL.md
  README.md
  api/cryptosuite-registry/templates/deployments/shared-telemetry/compose.yml
  deployments/shared-postgres/init-leader-databases.sql
  deployments/shared-telemetry/compose.yml
  docs/ENG-HANDBOOK.md
  docs/deployment-templates.md
  internal/apps-framework/service/config/config_helpers.go
  internal/apps-tools/cicd_lint/lint_fitness/compose_header_format/compose_header_format_test.go
  internal/shared/magic/magic_network.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(architecture): align handbook and appendixes to 4-product 8-psid topology
  .claude/agents/implementation-execution.md
  .claude/agents/implementation-planning.md
  .claude/skills/psid-template-sync/SKILL.md
  .github/agents/implementation-execution.agent.md
  .github/agents/implementation-planning.agent.md
  .github/copilot-instructions.md
  .github/instructions/02-01.architecture.instructions.md
  .github/instructions/03-02.testing.instructions.md
  .github/instructions/04-01.deployment.instructions.md
  .github/skills/README.md
  .github/skills/psid-template-sync/SKILL.md
  CLAUDE.md
  api/cryptosuite-registry/templates/deployments/__SUITE__/compose.yml
  deployments/cryptoutil/compose.yml
  docs/ENG-HANDBOOK.md
Due: none

fix(lint): preflight checks
  internal/apps-framework/service/test_orch_e2e/full_pipeline_test.go
  internal/apps-framework/service/test_orch_e2e/grafana_tls_e2e_test.go
  internal/apps-framework/service/test_orch_e2e/otel_tls_e2e_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(eng-handbook,readme): update to 4-product 8-PS-ID topology after consolidation
  README.md
  docs/ENG-HANDBOOK.md
Due: none

chore(docs): delete completed framework-v24 implementation plan
  docs/framework-v24/EXEC-SUMMARY.md
  docs/framework-v24/lessons.md
  docs/framework-v24/plan.md
  docs/framework-v24/tasks.md
Due: none

chore(jose-ja): remove remnants of deleted service
  docs/ENG-HANDBOOK.md
  internal/apps-framework/service/cli/constants_test.go
  internal/apps-framework/service/cli/service_identity_test.go
  internal/apps-framework/service/config/shared_config_test.go
  internal/apps-framework/service/server/application/application_listener_basic_test.go
  internal/apps-framework/service/server/application/application_listener_db_test.go
  internal/apps-framework/service/server/application/application_listener_sqlite_test.go
  internal/apps-framework/service/server/application_port_test.go
  internal/apps-framework/service/server/application_test.go
  internal/apps-framework/service/server/listener/application_listener_test.go
  internal/apps-framework/service/server/realm/authenticator_errors_test.go
  internal/apps-framework/service/server/realm/realm_oidc_test.go
  internal/apps-framework/service/server/realm/realm_test.go
  internal/apps-framework/service/server/repository/application_table_test.go
  internal/apps-framework/service/server/server_test.go
  internal/apps-framework/service/usage/usage_test.go
  internal/apps-framework/suite/cli/suite_router_test.go
  internal/apps-tools/cicd_lint/lint_deployments/validate_ports_test.go
  internal/apps-tools/cicd_lint/lint_fitness/archive_detector/archive_detector_test.go
  internal/apps-tools/cicd_lint/lint_fitness/banned_product_names/banned_product_names_test.go
  internal/apps-tools/cicd_lint/lint_fitness/compose_port_formula/compose_port_formula_test.go
  internal/apps-tools/cicd_lint/lint_fitness/cross_service_import_isolation/cross_service_import_isolation_test.go
  internal/apps-tools/cicd_lint/lint_fitness/database_key_uniformity/database_key_uniformity_test.go
  internal/apps-tools/cicd_lint/lint_fitness/gen_config_initialisms/gen_config_initialisms_test.go
  internal/apps-tools/cicd_lint/lint_fitness/legacy_dir_detection/legacy_dir_detection_test.go
  internal/apps-tools/cicd_lint/lint_fitness/no_local_ps_id_server_stubs/no_local_ps_id_server_stubs_test.go
  internal/apps-tools/cicd_lint/lint_fitness/otlp_service_name_pattern/otlp_service_name_pattern_test.go
  internal/apps-tools/cicd_lint/lint_fitness/registry/derivations_test.go
  internal/apps-tools/cicd_lint/lint_fitness/service_contract_compliance/service_contract_compliance_test.go
  internal/apps-tools/cicd_lint/lint_fitness/testmain_orchestration_policy/testmain_orchestration_policy_test.go
  internal/apps-tools/cicd_lint/lint_go/test_presence/test_presence_test.go
  internal/apps-tools/cicd_lint/lint_ports/host_port_ranges/host_port_ranges_test.go
  internal/apps/identity/config/validation_test.go
  internal/shared/crypto/digests/pbkdf2_error_paths_test.go
  internal/shared/crypto/hash/hash_defaults_test.go
  internal/shared/magic/magic_legacy_removed_services.go
  internal/shared/magic/magic_skeleton.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

chore(deps): update checkov 3.2.530 to 3.2.531
  .pre-commit-config.yaml
Due: none

test(pki-ca): fix KeyType assertions in crypto tests
  internal/apps/pki-ca/crypto/provider_operations_test.go
  internal/apps/pki-ca/crypto/provider_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(lint): normalize constant usage and cookie security in touched packages
  internal/apps-framework/service/server/listener/admin.go
  internal/apps-framework/service/server/listener/admin_mtls_test.go
  internal/apps-framework/service/server/listener/listener_errorpaths_test.go
  internal/apps-framework/service/server/listener/listener_json_error_test.go
  internal/apps-framework/service/server/listener/public.go
  internal/apps-framework/service/server/listener/public_mtls_test.go
  internal/apps/identity-idp/server/apis/handlers_consent.go
  internal/apps/identity-idp/server/apis/handlers_consent_internal_test.go
  internal/apps/identity-idp/server/apis/handlers_endsession_test.go
  internal/apps/identity-idp/server/apis/handlers_logout_test.go
  internal/apps/identity-idp/server/apis/handlers_openapi_validation_test.go
  internal/apps/identity-idp/server/apis/handlers_userinfo_test.go
  internal/apps/identity/issuer/jws.go
  internal/apps/identity/issuer/jws_bench_test.go
  internal/apps/identity/issuer/jws_errorpaths_test.go
  internal/apps/identity/issuer/jws_internal_test.go
  internal/apps/identity/issuer/key_rotation.go
  internal/apps/identity/issuer/key_rotation_test.go
  internal/apps/pki-ca/cli/cli.go
  internal/apps/pki-ca/cli/cli_test.go
  internal/apps/pki-ca/cli/cli_validate_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

chore(golangci-lint): fix goconst errors
  .vscode/settings.json
  internal/apps-framework/service/server/builder/jwt_auth_test.go
  internal/apps-framework/service/server/listener/servers_test.go
  internal/apps-framework/service/server/realm/federation_claims_test.go
  internal/apps-framework/service/server/realm/realm_test.go
  internal/apps-framework/service/testing/assertions/assertions_test.go
  internal/apps-tools/cicd_lint/lint_deployments/validate_ports_test.go
  internal/apps-tools/cicd_lint/lint_fitness/registry/derivations_test.go
  internal/apps-tools/cicd_lint/lint_go/magic_usage/magic_usage.go
  internal/apps-tools/cicd_lint/lint_ports/legacy_ports/legacy_ports.go
  internal/apps-tools/cicd_lint/lint_ports/legacy_ports/legacy_ports_test.go
  internal/apps-tools/cicd_workflow/workflow_utility_test.go
  internal/apps/identity-idp/userauth/audit.go
  internal/apps/identity-idp/userauth/audit_test.go
  internal/apps/identity-idp/userauth/step_up_auth_test.go
  internal/apps/identity/domain/device_authorization_test.go
  internal/apps/identity/issuer/jws_internal_test.go
  internal/apps/pki-ca/api/handler/handler_certs.go
  internal/apps/pki-ca/api/handler/handler_mapping_test.go
  internal/apps/pki-ca/api/handler/handler_test.go
  internal/apps/pki-ca/cli/cli_test.go
  internal/apps/pki-ca/service/revocation/revocation.go
  internal/apps/pki-ca/service/revocation/revocation_test.go
  internal/apps/pki-ca/service/timestamp/timestamp.go
  internal/apps/pki-ca/service/timestamp/timestamp_test.go
  internal/apps/pki-ca/service/timestamp/timestamp_tsa.go
  internal/apps/skeleton-template/server/apis/handler.go
  internal/apps/sm-kms/server/handler/handler_methods_test.go
  internal/apps/sm-kms/server/handler/handler_response_test.go
  internal/shared/crypto/jose/jwk_util_validate_types_test.go
  internal/shared/crypto/password/password.go
  internal/shared/crypto/password/password_error_paths_test.go
  internal/shared/crypto/password/password_test.go
  internal/shared/crypto/pbkdf2/pbkdf2.go
  internal/shared/crypto/pbkdf2/pbkdf2_test.go
  internal/shared/database/sharding.go
  internal/shared/database/sharding_test.go
  internal/shared/magic/magic_aaa.go
  internal/shared/magic/magic_crypto.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

chore(deps): updated some dependencies
  go.mod
  go.sum
Due: go-build, go-mod-tidy

chore(deps): updated more dependencies
  go.mod
  go.sum
Due: go-build, go-mod-tidy

chore(deps): update pre-commit dependency
  .pre-commit-config.yaml
Due: none
