Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-build, golangci-lint-full, golangci-lint, go-mod-tidy, check-todo-severity

go-build:
  name: go build
  entry: go
  args:
  - build
  - ./...
  language: system
  pass_filenames: false
  require_serial: true
  stages:
  - pre-push

golangci-lint-full:
  name: golangci-lint (full validation)
  entry: golangci-lint
  args:
  - run
  - --timeout=30m
  language: system
  pass_filenames: false
  stages:
  - pre-push

golangci-lint:
  name: golangci-lint (incremental auto-fix)
  entry: golangci-lint
  args:
  - run
  - --fix
  - --timeout=30m
  - --new-from-rev=HEAD~1
  language: system
  pass_filenames: false
  require_serial: false
  stages:
  - pre-commit

go-mod-tidy:
  name: go mod tidy
  entry: go
  args:
  - mod
  - tidy
  language: system
  pass_filenames: false

check-todo-severity:
  name: Check TODO/FIXME severity (block CRITICAL/HIGH)
  entry: bash
  args:
  - -c
  ...

refactor(cicd): unify command dispatch, add lint-docs and github-cleanup, fix lint-ports false positives
  internal/apps/cicd/cicd.go
  internal/apps/cicd/cicd_test.go
  internal/apps/cicd/github_cleanup/cleanup_api.go
  internal/apps/cicd/lint_deployments/lint.go
  internal/apps/cicd/lint_deployments/validate_secrets.go
  internal/apps/cicd/lint_deployments/validate_telemetry.go
  internal/apps/cicd/lint_docs/check_chunk_verification/check_chunk_verification.go
  internal/apps/cicd/lint_docs/check_chunk_verification/check_chunk_verification_test.go
  internal/apps/cicd/lint_docs/lint_docs.go
  internal/apps/cicd/lint_docs/lint_docs_test.go
  internal/apps/cicd/lint_docs/validate_chunks/validate_chunks.go
  internal/apps/cicd/lint_docs/validate_chunks/validate_chunks_test.go
  internal/apps/cicd/lint_docs/validate_propagation/validate_propagation.go
  internal/apps/cicd/lint_docs/validate_propagation/validate_propagation_test.go
  internal/apps/cicd/lint_ports/legacy_ports/legacy_ports.go
  internal/cmd/cicd/cicd.go
  internal/cmd/cicd/cicd_test.go
  internal/shared/magic/magic_cicd.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs: add CICD command architecture (Section 9.10) and mandatory review passes (Section 2.5)
  .github/agents/beast-mode.agent.md
  .github/agents/doc-sync.agent.md
  .github/agents/fix-workflows.agent.md
  .github/agents/implementation-execution.agent.md
  .github/agents/implementation-planning.agent.md
  .github/instructions/01-02.beast-mode.instructions.md
  .github/instructions/03-02.testing.instructions.md
  .github/instructions/04-01.deployment.instructions.md
  .github/instructions/06-01.evidence-based.instructions.md
  docs/ARCHITECTURE.md
  internal/apps/cicd/docs_validation/check_chunk_verification.go
  internal/apps/cicd/lint_ports/legacy_ports/legacy_ports.go
  internal/cmd/cicd/cicd_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs: add fixes-v9 analysis (plan, tasks, quizme-v1)
  docs/fixes-v9/plan.md
  docs/fixes-v9/quizme-v1.md
  docs/fixes-v9/tasks.md
Due: none

docs(fixes-v9): merge quizme-v1 answers into plan/tasks; add quizme-v2 skill candidates
  docs/fixes-v9/plan.md
  docs/fixes-v9/quizme-v1.md
  docs/fixes-v9/quizme-v2.md
  docs/fixes-v9/tasks.md
Due: none

docs(fixes-v9): merge quizme-v2 answers; add phases 6-11; add quizme-v3
  docs/fixes-v9/plan.md
  docs/fixes-v9/quizme-v1.md
  docs/fixes-v9/quizme-v2.md
  docs/fixes-v9/quizme-v3.md
  docs/fixes-v9/tasks.md
Due: none

docs(fixes-v9): merge quizme-v3 answers; add quizme-v4
  docs/fixes-v9/plan.md
  docs/fixes-v9/quizme-v3.md
  docs/fixes-v9/quizme-v4.md
  docs/fixes-v9/tasks.md
Due: none

docs(fixes-v9): merge quizme-v4 answers; finalize phases 6/8/10
  docs/fixes-v9/plan.md
  docs/fixes-v9/quizme-v4.md
  docs/fixes-v9/tasks.md
Due: none

docs: remove mentions of skipped and deferred items from fixes-v9
  docs/fixes-v9/plan.md
  docs/fixes-v9/tasks.md
Due: none

feat(docs): Phase 1 - update review passes to min 3, max 5, all 8 attributes per pass
  .github/agents/beast-mode.agent.md
  .github/agents/doc-sync.agent.md
  .github/agents/fix-workflows.agent.md
  .github/agents/implementation-execution.agent.md
  .github/agents/implementation-planning.agent.md
  .github/instructions/01-02.beast-mode.instructions.md
  .github/instructions/06-01.evidence-based.instructions.md
  docs/ARCHITECTURE.md
  docs/fixes-v9/memory.md
Due: none

feat(docs): Phase 2 - beast-mode dual labeling for Go-specific quality gate commands
  .github/agents/beast-mode.agent.md
Due: none

feat(docs): Phase 3 - ARCHITECTURE.md optimization (quality attrs, skills matrix, B.1+B.2 deletion, B resequence, 9.1 simplification)
  .github/instructions/01-02.beast-mode.instructions.md
  docs/ARCHITECTURE-INDEX.md
  docs/ARCHITECTURE.md
  docs/fixes-v9/tasks.md
Due: none

feat(docs): Phase 4 - doc-sync agent @source blocks for 12.7, 11.4, B.4 propagation
  .github/agents/doc-sync.agent.md
  docs/ARCHITECTURE.md
  docs/fixes-v9/tasks.md
Due: none

feat(docs): Phase 5 - create .github/skills/ directory with 12 skills and infrastructure files
  .github/agents/doc-sync.agent.md
  .github/agents/implementation-execution.agent.md
  .github/skills/README.md
  .github/skills/SKILL-TEMPLATE.md
  .github/skills/agent-scaffold.md
  .github/skills/coverage-analysis.md
  .github/skills/fips-audit.md
  .github/skills/instruction-scaffold.md
  .github/skills/migration-create.md
  .github/skills/new-service.md
  .github/skills/openapi-codegen.md
  .github/skills/propagation-check.md
  .github/skills/skill-scaffold.md
  .github/skills/test-benchmark-gen.md
  .github/skills/test-fuzz-gen.md
  .github/skills/test-table-driven.md
  docs/fixes-v9/tasks.md
Due: none

feat(ci): Phase 6 - add pre-commit hooks for IaC/SQL/TOML/Python toolchain
  .editorconfig
  .pre-commit-config.yaml
  .sqlfluff
  docs/fixes-v9/tasks.md
Due: none

feat(ci): Phase 7 - migrate Python toolchain from black/isort/flake8 to ruff
  .pre-commit-config.yaml
  docs/fixes-v9/tasks.md
  pyproject.toml
Due: none

feat(ci): Phase 8 - Java toolchain additions (Spotless, Checkstyle, Error Prone, NullAway, Enforcer, JaCoCo)
  .github/workflows/ci-load.yml
  test/load/pom.xml
Due: none

feat(cicd): Phase 9 - standardize lint-deployments error message format
  docs/fixes-v9/tasks.md
  internal/apps/cicd/lint_deployments/validate_admin.go
  internal/apps/cicd/lint_deployments/validate_admin_test.go
  internal/apps/cicd/lint_deployments/validate_compose.go
  internal/apps/cicd/lint_deployments/validate_kebab_case.go
  internal/apps/cicd/lint_deployments/validate_kebab_case_test.go
  internal/apps/cicd/lint_deployments/validate_mirror.go
  internal/apps/cicd/lint_deployments/validate_naming.go
  internal/apps/cicd/lint_deployments/validate_naming_test.go
  internal/apps/cicd/lint_deployments/validate_ports.go
  internal/apps/cicd/lint_deployments/validate_ports_test.go
  internal/apps/cicd/lint_deployments/validate_schema.go
  internal/apps/cicd/lint_deployments/validate_secrets.go
  internal/apps/cicd/lint_deployments/validate_secrets_test.go
  internal/apps/cicd/lint_deployments/validate_telemetry.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(cicd): Phase 10 - skeleton-template improvements (TEMPLATE comments, lint-skeleton validator, magic constants)
  .pre-commit-config.yaml
  cmd/skeleton-template/main.go
  internal/apps/cicd/cicd.go
  internal/apps/cicd/lint_skeleton/check_skeleton_placeholders/check_skeleton_placeholders.go
  internal/apps/cicd/lint_skeleton/check_skeleton_placeholders/check_skeleton_placeholders_test.go
  internal/apps/cicd/lint_skeleton/lint_skeleton.go
  internal/apps/cicd/lint_skeleton/lint_skeleton_test.go
  internal/apps/pki/ca/server/config/config.go
  internal/apps/skeleton/template/domain/model.go
  internal/apps/skeleton/template/repository/migrations.go
  internal/apps/skeleton/template/server/config/config.go
  internal/apps/skeleton/template/server/server.go
  internal/apps/skeleton/template/template.go
  internal/apps/skeleton/template/template_usage.go
  internal/shared/magic/magic_cicd.go
  internal/shared/magic/magic_skeleton.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

chore: Phase 11 - final validation (3 review passes, all quality gates passed)
  docs/fixes-v9/tasks.md
  internal/apps/cicd/lint_skeleton/lint_skeleton_test.go
  pyproject.toml
  scripts/autoapprove/autoapprove.py
  scripts/autoapprove/tests/test_autoapprove.py
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix: apply gofmt indentation/whitespace normalization
  internal/apps/cicd/cicd.go
  internal/apps/cicd/lint_deployments/validate_naming.go
  internal/apps/cicd/lint_deployments/validate_secrets.go
  internal/apps/skeleton/template/domain/model.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(skills): restructure to VS Code Agent Skills subdirectory format
  .github/copilot-instructions.md
  .github/skills/README.md
  .github/skills/SKILL-TEMPLATE.md
  .github/skills/agent-scaffold/SKILL.md
  .github/skills/coverage-analysis/SKILL.md
  .github/skills/fips-audit/SKILL.md
  .github/skills/instruction-scaffold/SKILL.md
  .github/skills/migration-create/SKILL.md
  .github/skills/new-service/SKILL.md
  .github/skills/openapi-codegen/SKILL.md
  .github/skills/propagation-check/SKILL.md
  .github/skills/skill-scaffold.md
  .github/skills/skill-scaffold/SKILL.md
  .github/skills/test-benchmark-gen/SKILL.md
  .github/skills/test-fuzz-gen/SKILL.md
  .github/skills/test-table-driven/SKILL.md
  docs/ARCHITECTURE.md
Due: none

fix(lint-go-test): fix parallel_tests validator false positives and seam test comments
  internal/apps/cicd/lint_gotest/parallel_tests/parallel_tests.go
  internal/apps/cicd/lint_gotest/parallel_tests/parallel_tests_test.go
  internal/apps/cicd/lint_skeleton/check_skeleton_placeholders/check_skeleton_placeholders_test.go
  internal/apps/cicd/lint_skeleton/lint_skeleton_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix: apply gofmt indentation to parallel_tests.go and parallel_tests_test.go
  internal/apps/cicd/lint_gotest/parallel_tests/parallel_tests.go
  internal/apps/cicd/lint_gotest/parallel_tests/parallel_tests_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(tasks): document pre-existing lint-go-mod and lint-ports GAPs discovered during re-verification
  docs/fixes-v9/tasks.md
Due: none

chore(deps): update all outdated Go dependencies (webauthn, otel, grpc, golang.org/x)
  go.mod
  go.sum
Due: go-build, go-mod-tidy

docs(tasks): mark GAP-02 lint-ports as fixed in tasks.md
  docs/fixes-v9/tasks.md
Due: none

fix(skills): fix agent-scaffold template + add disable-model-invocation to scaffolding skills
  .github/skills/agent-scaffold/SKILL.md
  .github/skills/instruction-scaffold/SKILL.md
  .github/skills/migration-create/SKILL.md
  .github/skills/new-service/SKILL.md
  .github/skills/skill-scaffold/SKILL.md
Due: none

docs(skills): convert passive See references to active Read instructions
  .github/skills/coverage-analysis/SKILL.md
  .github/skills/fips-audit/SKILL.md
  .github/skills/instruction-scaffold/SKILL.md
  .github/skills/migration-create/SKILL.md
  .github/skills/new-service/SKILL.md
  .github/skills/openapi-codegen/SKILL.md
  .github/skills/propagation-check/SKILL.md
  .github/skills/skill-scaffold/SKILL.md
  .github/skills/test-benchmark-gen/SKILL.md
  .github/skills/test-fuzz-gen/SKILL.md
  .github/skills/test-table-driven/SKILL.md
Due: none

docs(skills): align scaffold skills structure and fix agent template See→Read
  .github/skills/agent-scaffold/SKILL.md
  .github/skills/skill-scaffold/SKILL.md
Due: none

docs(skills): meta-analysis fixes — metadata.domain, argument-hint, checklists
  .github/skills/README.md
  .github/skills/agent-scaffold/SKILL.md
  .github/skills/coverage-analysis/SKILL.md
  .github/skills/fips-audit/SKILL.md
  .github/skills/instruction-scaffold/SKILL.md
  .github/skills/migration-create/SKILL.md
  .github/skills/new-service/SKILL.md
  .github/skills/openapi-codegen/SKILL.md
  .github/skills/propagation-check/SKILL.md
  .github/skills/skill-scaffold/SKILL.md
  .github/skills/test-benchmark-gen/SKILL.md
  .github/skills/test-fuzz-gen/SKILL.md
  .github/skills/test-table-driven/SKILL.md
  docs/ARCHITECTURE.md
Due: none

docs(skills): fill gaps in coverage-analysis, test-benchmark-gen, test-fuzz-gen, test-table-driven
  .github/instructions/03-02.testing.instructions.md
  .github/skills/coverage-analysis/SKILL.md
  .github/skills/test-benchmark-gen/SKILL.md
  .github/skills/test-fuzz-gen/SKILL.md
  .github/skills/test-table-driven/SKILL.md
  docs/ARCHITECTURE.md
Due: none

docs: add framework brainstorm — 9 documents covering framework design, skeleton scaffolding, solo developer scaling, fitness functions, and cross-language research
  docs/framework-brainstorm/00-overview.md
  docs/framework-brainstorm/01-current-state-analysis.md
  docs/framework-brainstorm/02-cross-language-frameworks.md
  docs/framework-brainstorm/03-go-framework-patterns.md
  docs/framework-brainstorm/04-framework-design.md
  docs/framework-brainstorm/05-skeleton-scaffolding.md
  docs/framework-brainstorm/06-solo-developer-scaling.md
  docs/framework-brainstorm/07-fitness-functions.md
  docs/framework-brainstorm/08-recommendations.md
  internal/apps/pki/_ca-archived/README.md
Due: none

chore: auto-update pre-commit hook versions (bandit 1.9.4, markdownlint-cli2 v0.21.0, commitizen v4.13.9, editorconfig-checker 3.6.1)
  .pre-commit-config.yaml
  docs/framework-brainstorm/00-overview.md
  docs/framework-brainstorm/01-current-state-analysis.md
  docs/framework-brainstorm/02-cross-language-frameworks.md
  docs/framework-brainstorm/03-go-framework-patterns.md
  docs/framework-brainstorm/04-framework-design.md
  docs/framework-brainstorm/05-skeleton-scaffolding.md
  docs/framework-brainstorm/06-solo-developer-scaling.md
  docs/framework-brainstorm/07-fitness-functions.md
  docs/framework-brainstorm/08-recommendations.md
Due: none

docs(framework-v1): create plan.md, tasks.md, quizme-v1.md
  docs/framework-v1/plan.md
  docs/framework-v1/quizme-v1.md
  docs/framework-v1/tasks.md
Due: none

docs(framework-v1): merge quizme-v1 decisions into plan and tasks
  docs/framework-v1/plan.md
  docs/framework-v1/quizme-v1.md
  docs/framework-v1/tasks.md
Due: none

fix(files): support relative directory name exclusions with absolute startDirectory
  internal/apps/identity/authz/server/server.go
  internal/apps/identity/idp/server/server.go
  internal/apps/identity/rp/server/server.go
  internal/apps/identity/rs/server/server.go
  internal/apps/identity/spa/server/server.go
  internal/apps/jose/ja/server/server.go
  internal/apps/pki/ca/server/server.go
  internal/apps/skeleton/template/server/server.go
  internal/apps/sm/im/server/server.go
  internal/apps/sm/kms/kms.go
  internal/apps/sm/kms/server/server.go
  internal/apps/sm/kms/server/server_test.go
  internal/apps/sm/kms/server/testmain_integration_test.go
  internal/apps/template/service/server/contract.go
  internal/apps/template/service/server/contract_test.go
  internal/shared/util/files/files.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(editorconfig): use indent_size=1 for markdown to allow 2/3-space indentation; mark Phase 1 tasks complete
  .editorconfig
  docs/framework-v1/tasks.md
Due: none

refactor(builder): auto-configure JWTAuth and StrictServer defaults
  docs/framework-v1/tasks.md
  internal/apps/sm/kms/server/server.go
  internal/apps/template/service/server/builder/server_builder_build.go
  internal/apps/template/service/server/builder/server_builder_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

Path conditions:
  go-build: any of: \.go$|go\.mod$|go\.sum$
  golangci-lint-full: any of: \.go$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.mod$
  check-todo-severity: any of: \.go$
