Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: github-workflow-lint, golangci-lint, go-mod-tidy, check-todo-severity, go-fix-all, go-build, cspell

github-workflow-lint:
  name: GitHub workflow lint
  entry: go
  args:
  - run
  - cmd/cicd/main.go
  - github-workflow-lint
  language: system
  pass_filenames: false
  stages:
  - pre-push

golangci-lint:
  name: golangci-lint (incremental auto-fix)
  entry: golangci-lint
  args:
  - run
  - --fix
  - --timeout=30m
  - --new-from-rev=HEAD~1
  language: system
  pass_filenames: false
  stages:
  - pre-commit

go-mod-tidy:
  name: go mod tidy
  entry: go
  args:
  - mod
  - tidy
  language: system
  pass_filenames: false

check-todo-severity:
  name: Check TODO/FIXME severity (block CRITICAL/HIGH)
  entry: bash
  args:
  - -c
  ...

go-fix-all:
  name: Auto-fix Go issues (staticcheck, copyloopvar, thelper)
  entry: go
  args:
  - run
  - cmd/cicd/main.go
  - go-fix-all
  language: system
  pass_filenames: false
  stages:
  - pre-commit

go-build:
  name: go build
  entry: go
  args:
  - build
  - ./...
  language: system
  pass_filenames: false
  stages:
  - pre-push

cspell:
  name: Check spelling
  entry: cspell
  args:
  - --no-progress
  - --cache
  language: system

test(userauth): add TOTP InitiateAuth test (coverage 62.5->63.0%)
  internal/identity/idp/userauth/totp_hotp_auth_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(userauth): add SMS OTP InitiateAuth tests (coverage 63.0->64.3%)
  internal/identity/idp/userauth/sms_otp_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(userauth): add magic link InitiateAuth tests (coverage 64.3->65.7%)
  internal/identity/idp/userauth/magic_link_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(auth): add OTP service and TOTP validator tests (coverage 19.2->31.6%)
  internal/identity/idp/auth/username_password_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(userauth): add VerifyAuth tests for magic link, SMS OTP, TOTP, HOTP (coverage 65.7->68.6%)
  internal/identity/idp/userauth/magic_link_test.go
  internal/identity/idp/userauth/sms_otp_test.go
  internal/identity/idp/userauth/totp_hotp_auth_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(userauth): add risk-based and step-up auth tests (coverage 68.6->71.0%)
  internal/identity/idp/userauth/magic_link_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(userauth): add cleanup, reset tests (userauth 71.3%, mocks 92.0%)
  internal/identity/idp/userauth/mocks/delivery_service_test.go
  internal/identity/idp/userauth/rate_limiter_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(userauth): add WebAuthn, risk engine, and Authenticate tests (coverage 71.3->76.2%)
  internal/identity/idp/userauth/risk_engine_test.go
  internal/identity/idp/userauth/webauthn_basic_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(auth): add Passkey, TOTP, UsernamePassword, MFA tests (coverage 31.6->46.6%)
  internal/identity/idp/auth/username_password_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(specs): add PROGRESS.md and EXECUTIVE-SUMMARY.md for iteration 2
  specs/002-cryptoutil/EXECUTIVE-SUMMARY.md
  specs/002-cryptoutil/PROGRESS.md
Due: cspell

feat(specs): add CLARIFICATIONS.md for iteration 2
  specs/002-cryptoutil/CLARIFICATIONS.md
Due: cspell

feat(specs): create comprehensive iteration template (000)
  specs/000-cryptoutil-template/README.md
  specs/000-cryptoutil-template/plan.md
  specs/000-cryptoutil-template/spec.md
  specs/000-cryptoutil-template/tasks.md
Due: cspell

feat(constitution): update to v2.0.0 with lessons learned
  .specify/memory/constitution.md
Due: cspell

feat(instructions): update with lessons learned from spec kit iteration 2
  .github/copilot-instructions.md
  .github/instructions/01-02.testing.instructions.md
  .github/instructions/05-01.evidence-based-completion.instructions.md
Due: cspell

feat(feature-template): update with new coverage targets and mutation testing
  docs/feature-template/feature-template-v1.0.md
  docs/feature-template/feature-template.md
  docs/feature-template/usage-example.md
Due: cspell

feat: increment coverage targets from 90/95/100 to 95/100/100 across all files
  .github/workflows/ci-coverage.yml
  .github/workflows/ci-identity-validation.yml
  .specify/templates/commands/constitution.md
  .specify/templates/commands/implement.md
  docs/SPECKIT-PROGRESS.md
  docs/runbooks/production-deployment-checklist.md
  specs/001-cryptoutil/CHECKLIST-ITERATION-1.md
  specs/001-cryptoutil/CHECKLIST-ITERATION-2.md
  specs/001-cryptoutil/CHECKLIST-ITERATION-3.md
  specs/001-cryptoutil/EXECUTIVE-SUMMARY.md
  specs/001-cryptoutil/PROGRESS.md
  specs/001-cryptoutil/spec.md
  specs/002-cryptoutil/CLARIFICATIONS.md
Due: github-workflow-lint, cspell

docs(gremlins): document mutation testing blocker and workaround
  docs/todos-gremlins.md
  specs/002-cryptoutil/CLARIFICATIONS.md
Due: cspell

docs(workflows): comprehensive CI/CD analysis and improvement plan
  docs/workflow-analysis.md
Due: cspell

feat(specs): create iteration 3 specification structure
  specs/003-cryptoutil/README.md
  specs/003-cryptoutil/plan.md
  specs/003-cryptoutil/spec.md
  specs/003-cryptoutil/tasks.md
Due: cspell

feat(specs): customize iteration 3 plan with 4-phase execution
  specs/003-cryptoutil/plan.md
  specs/003-cryptoutil/tasks.md
Due: cspell

feat(specs): create iteration 3 tasks with 19-task breakdown
  specs/003-cryptoutil/tasks.md
Due: cspell

docs(cleanup): process DELETE-ME files and extract slow test data
  docs/DELETE-ME-LATER-CROSS-REF-SPECKIT-COPILOT-TEMPLATE.md
  docs/DELETE-ME-LATER-SLOW-TEST-PACKAGES.md
  specs/003-cryptoutil/SLOW-TEST-PACKAGES.md
Due: cspell

fix(docs): prevent -p=1 testing mistake permanently with CRITICAL warnings
  .github/instructions/01-02.testing.instructions.md
  .specify/memory/constitution.md
  docs/SPECKIT-ITERATION-1-REVIEW.md
  docs/SPECKIT-PROGRESS.md
  specs/000-cryptoutil-template/plan.md
  specs/000-cryptoutil-template/tasks.md
  specs/001-cryptoutil/CHECKLIST-ITERATION-1.md
  specs/002-cryptoutil/CLARIFICATIONS.md
  specs/002-cryptoutil/spec.md
  specs/003-cryptoutil/plan.md
  specs/003-cryptoutil/tasks.md
Due: cspell

refactor(specs): consolidate all iterations into specs/001-cryptoutil with consistent naming
  .github/instructions/01-02.testing.instructions.md
  .specify/memory/constitution.md
  docs/workflow-analysis.md
  specs/000-cryptoutil-template/plan.md
  specs/000-cryptoutil-template/tasks.md
  specs/001-cryptoutil/ANALYSIS-ITERATION-1.md
  specs/001-cryptoutil/CLARIFICATIONS-ITERATION-1.md
  specs/001-cryptoutil/CLARIFICATIONS-ITERATION-2.md
  specs/001-cryptoutil/EXECUTIVE-SUMMARY-ITERATION-1.md
  specs/001-cryptoutil/EXECUTIVE-SUMMARY-ITERATION-2.md
  specs/001-cryptoutil/PROGRESS-ITERATION-1.md
  specs/001-cryptoutil/PROGRESS-ITERATION-2.md
  specs/001-cryptoutil/README-ITERATION-3.md
  specs/001-cryptoutil/SLOW-TEST-PACKAGES.md
  specs/001-cryptoutil/plan-ITERATION-1.md
  specs/001-cryptoutil/plan-ITERATION-2.md
  specs/001-cryptoutil/plan-ITERATION-3.md
  specs/001-cryptoutil/tasks-ITERATION-1.md
  specs/001-cryptoutil/tasks-ITERATION-2.md
  specs/001-cryptoutil/tasks-ITERATION-3.md
Due: cspell

refactor(specs): consolidate 002-cryptoutil and 003-cryptoutil into 001-cryptoutil
  specs/002-cryptoutil/CLARIFICATIONS.md
  specs/002-cryptoutil/EXECUTIVE-SUMMARY.md
  specs/002-cryptoutil/PROGRESS.md
  specs/002-cryptoutil/plan.md
  specs/002-cryptoutil/spec.md
  specs/002-cryptoutil/tasks.md
  specs/003-cryptoutil/README.md
  specs/003-cryptoutil/SLOW-TEST-PACKAGES.md
  specs/003-cryptoutil/plan.md
  specs/003-cryptoutil/spec.md
  specs/003-cryptoutil/tasks.md
Due: cspell

refactor(specs): consolidate iteration docs into single source of truth
  specs/001-cryptoutil/EXECUTIVE-SUMMARY-ITERATION-2.md
  specs/001-cryptoutil/IMPLEMENTATION-GUIDE.md
  specs/001-cryptoutil/PROJECT-STATUS.md
  specs/001-cryptoutil/archive/ANALYSIS-ITERATION-1.md
  specs/001-cryptoutil/archive/ANALYSIS-ITERATION-2.md
  specs/001-cryptoutil/archive/ANALYSIS-ITERATION-3.md
  specs/001-cryptoutil/archive/CHECKLIST-ITERATION-1.md
  specs/001-cryptoutil/archive/CHECKLIST-ITERATION-2.md
  specs/001-cryptoutil/archive/CHECKLIST-ITERATION-3.md
  specs/001-cryptoutil/archive/CLARIFICATIONS-ITERATION-1.md
  specs/001-cryptoutil/archive/CLARIFICATIONS-ITERATION-2.md
  specs/001-cryptoutil/archive/EXECUTIVE-SUMMARY-ITERATION-1.md
  specs/001-cryptoutil/archive/EXECUTIVE-SUMMARY-ITERATION-2.md
  specs/001-cryptoutil/archive/EXECUTIVE-SUMMARY-ITERATION-3.md
  specs/001-cryptoutil/archive/PROGRESS-ITERATION-1.md
  specs/001-cryptoutil/archive/PROGRESS-ITERATION-2.md
  specs/001-cryptoutil/archive/README-ITERATION-3.md
  specs/001-cryptoutil/archive/plan-ITERATION-1.md
  specs/001-cryptoutil/archive/plan-ITERATION-2.md
  specs/001-cryptoutil/archive/plan-ITERATION-3.md
  specs/001-cryptoutil/archive/tasks-ITERATION-1.md
  specs/001-cryptoutil/archive/tasks-ITERATION-2.md
  specs/001-cryptoutil/archive/tasks-ITERATION-3.md
Due: cspell

feat(specs): prioritize slow test package optimization in implementation plan
  specs/001-cryptoutil/IMPLEMENTATION-GUIDE.md
  specs/001-cryptoutil/PROJECT-STATUS.md
Due: cspell

docs: add grooming sessions and update project status
  docs/speckit/passthru02/grooming/GROOMING-SESSION-02.md
  docs/speckit/passthru03/grooming/GROOMING-SESSION-03.md
  specs/001-cryptoutil/IMPLEMENTATION-GUIDE.md
  specs/001-cryptoutil/PROJECT-STATUS.md
Due: cspell

chore: remove archived spec iteration files
  .vscode/cspell.json
  specs/001-cryptoutil/archive/ANALYSIS-ITERATION-1.md
  specs/001-cryptoutil/archive/ANALYSIS-ITERATION-2.md
  specs/001-cryptoutil/archive/ANALYSIS-ITERATION-3.md
  specs/001-cryptoutil/archive/CHECKLIST-ITERATION-1.md
  specs/001-cryptoutil/archive/CHECKLIST-ITERATION-2.md
  specs/001-cryptoutil/archive/CHECKLIST-ITERATION-3.md
  specs/001-cryptoutil/archive/CLARIFICATIONS-ITERATION-1.md
  specs/001-cryptoutil/archive/CLARIFICATIONS-ITERATION-2.md
  specs/001-cryptoutil/archive/EXECUTIVE-SUMMARY-ITERATION-1.md
  specs/001-cryptoutil/archive/EXECUTIVE-SUMMARY-ITERATION-2.md
  specs/001-cryptoutil/archive/EXECUTIVE-SUMMARY-ITERATION-3.md
  specs/001-cryptoutil/archive/PROGRESS-ITERATION-1.md
  specs/001-cryptoutil/archive/PROGRESS-ITERATION-2.md
  specs/001-cryptoutil/archive/README-ITERATION-3.md
  specs/001-cryptoutil/archive/plan-ITERATION-1.md
  specs/001-cryptoutil/archive/plan-ITERATION-2.md
  specs/001-cryptoutil/archive/plan-ITERATION-3.md
  specs/001-cryptoutil/archive/tasks-ITERATION-1.md
  specs/001-cryptoutil/archive/tasks-ITERATION-2.md
  specs/001-cryptoutil/archive/tasks-ITERATION-3.md
Due: cspell

docs(specs): update slow test packages to include all ≥20s packages
  specs/001-cryptoutil/SLOW-TEST-PACKAGES.md
Due: cspell

docs(speckit): complete workflow steps 1-6 for iteration validation
  specs/001-cryptoutil/ANALYSIS.md
  specs/001-cryptoutil/CLARIFICATIONS.md
  specs/001-cryptoutil/CONSTITUTION-REVIEW.md
  specs/001-cryptoutil/SPECIFICATION-VERIFICATION.md
  specs/001-cryptoutil/TASKS.md
Due: cspell

docs(speckit): complete workflow steps 1-6 for iteration validation
  specs/001-cryptoutil/plan.md
Due: cspell

refactor(speckit): rename plan.md to PLAN.md for consistency
  specs/001-cryptoutil/PLAN.md
Due: cspell

docs(speckit): create completion roadmap for specs/001-cryptoutil
  specs/001-cryptoutil/COMPLETION-ROADMAP.md
Due: cspell

docs(speckit): apply clarifications to project status docs
  specs/001-cryptoutil/PROJECT-STATUS.md
  specs/001-cryptoutil/SLOW-TEST-PACKAGES.md
Due: cspell

quick commit
  specs/001-cryptoutil/ANALYSIS.md
  specs/001-cryptoutil/COMPLETION-ROADMAP.md
  specs/001-cryptoutil/TASKS.md
Due: cspell

docs(speckit): remove temporary validation files
  specs/001-cryptoutil/CONSTITUTION-REVIEW.md
  specs/001-cryptoutil/SPECIFICATION-VERIFICATION.md
Due: cspell

fix(speckit): correct ALL tasks to mandatory, update priorities and estimates
  specs/001-cryptoutil/COMPLETION-ROADMAP.md
  specs/001-cryptoutil/PROJECT-STATUS.md
  specs/001-cryptoutil/TASKS.md
Due: cspell

docs(speckit): initialize PROGRESS.md tracking document
  specs/001-cryptoutil/PROGRESS.md
Due: cspell

docs(phase0): create comprehensive implementation guide
  specs/001-cryptoutil/PHASE0-IMPLEMENTATION.md
Due: cspell

Path conditions:
  github-workflow-lint: any of: \.github/workflows/.*\.(yml|yaml)$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.mod$
  check-todo-severity: any of: \.go$
  go-fix-all: any of: \.go$
  go-build: any of: \.go$|go\.mod$|go\.sum$
  cspell: any of: \.(md|txt|go|yaml|yml|json|js|ts|py|sh|ps1)$, but not: ^(test/|vendor/|\.git/|node_modules/|\.cache/)
