Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-workflow, golangci-lint, golangci-lint-full, lint-compose, go-mod-tidy, check-todo-severity, format-go, format-go-test, format-go-self-modification-check, go-build

Path conditions:
  lint-workflow: any of: \.github/workflows/.*\.(yml|yaml)$
  golangci-lint: any of: \.go$
  golangci-lint-full: any of: \.go$
  lint-compose: any of: (compose.*\.ya?ml|docker-compose.*\.ya?ml)$
  go-mod-tidy: any of: go\.mod$
  check-todo-severity: any of: \.go$
  format-go: any of: \.go$
  format-go-test: any of: _test\.go$
  format-go-self-modification-check: any of: internal/cmd/cicd/format_go/.*\.go$
  go-build: any of: \.go$|go\.mod$|go\.sum$

test(cicd): add lint-ports unit tests with 95.9% coverage
  .github/actions/custom-cicd-lint/action.yml
  .pre-commit-config.yaml
  docs/fixes-needed-plan-tasks-v8/tasks.md
  internal/cmd/cicd/lint_ports/lint_ports_test.go
Due: golangci-lint, golangci-lint-full, check-todo-severity, format-go, format-go-test, go-build

fix(cicd): enhance lint-ports to check previous line for OTEL context
  docs/fixes-needed-plan-tasks-v8/tasks.md
  internal/cmd/cicd/lint_ports/lint_ports.go
  internal/cmd/cicd/lint_ports/lint_ports_test.go
Due: golangci-lint, golangci-lint-full, check-todo-severity, format-go, format-go-test, go-build

chore(ports): standardize all ports across codebase for lint-ports validation
  .github/workflows/ci-e2e.yml
  README.md
  cmd/cipher-im/API.md
  cmd/cipher-im/README.md
  cmd/cipher-im/docker-compose.yml
  configs/identity/production.yml
  docs/fixes-needed-plan-tasks-v8/tasks.md
  internal/apps/template/service/config/config_coverage_test.go
  internal/apps/template/service/config/config_loading_bench_test.go
  internal/apps/template/service/config/config_validation_test.go
  internal/identity/config/magic.go
  internal/identity/config/validation_test.go
  internal/identity/magic/magic_oauth.go
  internal/identity/repository/orm/device_authorization_repository_test.go
  internal/identity/test/integration/repository_integration_test.go
  internal/test/e2e/fixtures.go
  specs/002-cryptoutil/clarify.md
  specs/002-cryptoutil/implement/DETAILED.md
  specs/002-cryptoutil/plan.md
  specs/002-cryptoutil/spec.md
  specs/002-cryptoutil/tasks.md
Due: lint-workflow, golangci-lint, golangci-lint-full, lint-compose, check-todo-severity, format-go, format-go-test, go-build

fix(health): standardize all health check endpoints to port 9090
  .github/workflows/ci-e2e.yml
  deployments/compose/compose.yml
  docs/fixes-needed-plan-tasks-v8/tasks.md
Due: lint-workflow, lint-compose

docs(v8): update analysis documents and complete Phase 14 tasks
  docs/fixes-needed-plan-tasks-v8/analysis-overview.md
  docs/fixes-needed-plan-tasks-v8/analysis-thorough.md
  docs/fixes-needed-plan-tasks-v8/tasks.md
Due: none

docs(v8): complete Phase 14 - all tasks done
  docs/fixes-needed-plan-tasks-v8/tasks.md
Due: none

docs(v8): finalize tasks.md - all phases marked complete
  docs/fixes-needed-plan-tasks-v8/tasks.md
Due: none

docs(v8): add phases 16-21 for port/health standardization
  docs/fixes-needed-plan-tasks-v8/analysis-thorough.md
  docs/fixes-needed-plan-tasks-v8/plan.md
  docs/fixes-needed-plan-tasks-v8/tasks.md
Due: none

fix(identity): standardize identity ports from 18xxx to 8xxx series
  .github/instructions/02-01.architecture.instructions.md
  configs/identity/production.yml
  deployments/compose/compose.yml
  deployments/identity/compose.advanced.yml
  deployments/identity/compose.e2e.yml
  deployments/identity/compose.simple.yml
  deployments/identity/config/authz-e2e.yml
  deployments/identity/config/idp-e2e.yml
  deployments/identity/config/rp-e2e.yml
  deployments/identity/config/rs-e2e.yml
  deployments/identity/config/spa-e2e.yml
  docs/arch/ARCHITECTURE.md
  docs/fixes-needed-plan-tasks-v8/analysis-overview.md
  docs/fixes-needed-plan-tasks-v8/analysis-thorough.md
  docs/fixes-needed-plan-tasks-v8/plan.md
  docs/fixes-needed-plan-tasks-v8/tasks.md
  internal/apps/identity/authz/server/config/config.go
  internal/apps/identity/authz/server/config/config_test.go
  internal/apps/identity/e2e/e2e_test.go
  internal/apps/identity/e2e/testmain_e2e_test.go
  internal/apps/identity/idp/server/config/config.go
  internal/apps/identity/idp/server/config/config_test.go
  internal/apps/identity/rp/server/config/config.go
  internal/apps/identity/rp/server/config/config_test.go
  internal/apps/identity/rs/server/config/config.go
  internal/apps/identity/rs/server/config/config_test.go
  internal/apps/identity/spa/server/config/config.go
  internal/apps/identity/spa/server/config/config_test.go
  internal/cmd/cicd/cicd.go
  internal/cmd/cicd/lint_ports/constants.go
  internal/cmd/cicd/lint_ports/lint_ports_test.go
  internal/identity/config/magic.go
  internal/identity/config/validation_test.go
  internal/identity/magic/magic_oauth.go
  internal/identity/test/integration/repository_integration_test.go
  internal/shared/magic/magic_identity.go
  internal/test/e2e/fixtures.go
  specs/002-cryptoutil/implement/DETAILED.md
  specs/002-cryptoutil/spec.md
Due: golangci-lint, golangci-lint-full, lint-compose, check-todo-severity, format-go, format-go-test, go-build

docs(v8): mark all verification tasks complete
  docs/fixes-needed-plan-tasks-v8/tasks.md
Due: none

fix(deploy): standardize health paths on port 9090
  deployments/jose/Dockerfile.jose
  deployments/pki-ca/Dockerfile.pki-ca
  deployments/pki-ca/kubernetes/20-ca-issuing.yaml
  internal/apps/identity/idp/server/config/config.go
  internal/identity/config/magic.go
  internal/identity/magic/magic_oauth.go
  internal/shared/magic/magic_identity.go
Due: golangci-lint, golangci-lint-full, check-todo-severity, format-go, go-build

fix(deploy): remove admin port 9090 host exposure from compose files
  deployments/jose/compose.yml
  deployments/pki-ca/compose/compose.yml
Due: lint-compose

docs(v8): mark phases 16-21 complete/deferred in tasks.md
  docs/fixes-needed-plan-tasks-v8/tasks.md
Due: none

docs(v8): mark plan.md as COMPLETE with summary
  docs/fixes-needed-plan-tasks-v8/plan.md
Due: none

docs(v9): create V9 plan and tasks for lint enhancement
  docs/fixes-needed-plan-tasks-v9/plan.md
  docs/fixes-needed-plan-tasks-v9/tasks.md
Due: none

fix(lint_go): resolve all golangci-lint issues in lint_go package
  internal/cmd/cicd/lint_go/cryptopatterns.go
  internal/cmd/cicd/lint_go/cryptopatterns_test.go
  internal/cmd/cicd/lint_go/lint_go.go
Due: golangci-lint, golangci-lint-full, check-todo-severity, format-go, format-go-test, go-build

docs(v9): mark Phase 2 (lint_go technical debt) complete
  docs/fixes-needed-plan-tasks-v9/tasks.md
Due: none

fix(identity): Fix E2E Docker issues and config port override bug
  deployments/identity/Dockerfile.authz
  deployments/identity/Dockerfile.idp
  deployments/identity/Dockerfile.rp
  deployments/identity/Dockerfile.rs
  deployments/identity/Dockerfile.spa
  deployments/identity/compose.e2e.yml
  deployments/identity/compose.simple.yml
  deployments/identity/config/idp-e2e.yml
  docs/fixes-needed-plan-tasks-v8/plan.md
  docs/fixes-needed-plan-tasks-v8/tasks.md
  docs/fixes-needed-plan-tasks-v9/plan.md
  docs/fixes-needed-plan-tasks-v9/tasks.md
  internal/apps/identity/authz/server/config/config.go
  internal/apps/identity/e2e/testmain_e2e_test.go
  internal/apps/identity/idp/server/config/config.go
  internal/apps/identity/rp/server/config/config.go
  internal/apps/identity/rs/server/config/config.go
  internal/apps/identity/spa/server/config/config.go
  internal/shared/magic/magic_identity.go
Due: golangci-lint, golangci-lint-full, lint-compose, check-todo-severity, format-go, format-go-test, go-build

docs(v9): verify no regressions from V8 work
  docs/fixes-needed-plan-tasks-v9/tasks.md
Due: none

feat(lint-ports): add host port range and health path validation
  docs/fixes-needed-plan-tasks-v9/plan.md
  docs/fixes-needed-plan-tasks-v9/tasks.md
  internal/cmd/cicd/lint_ports/constants.go
  internal/cmd/cicd/lint_ports/lint_ports.go
  internal/cmd/cicd/lint_ports/lint_ports_health.go
  internal/cmd/cicd/lint_ports/lint_ports_host_ranges.go
Due: golangci-lint, golangci-lint-full, check-todo-severity, format-go, go-build

test(lint_ports): complete Task 1.6 and 1.7 - comprehensive tests with 97.1% coverage
  docs/fixes-needed-plan-tasks-v9/tasks.md
  internal/cmd/cicd/lint_ports/constants_test.go
  internal/cmd/cicd/lint_ports/lint_ports_health_test.go
  internal/cmd/cicd/lint_ports/lint_ports_host_ranges.go
  internal/cmd/cicd/lint_ports/lint_ports_host_ranges_test.go
  internal/cmd/cicd/lint_ports/lint_ports_test.go
Due: golangci-lint, golangci-lint-full, check-todo-severity, format-go, format-go-test, go-build

docs: mark V9 complete - all phases done
  docs/fixes-needed-plan-tasks-v9/plan.md
  docs/fixes-needed-plan-tasks-v9/tasks.md
  internal/cmd/demo/jose.go
  internal/identity/config/magic.go
  internal/identity/magic/magic_oauth.go
  internal/shared/magic/magic_identity.go
Due: golangci-lint, golangci-lint-full, check-todo-severity, format-go, go-build

fix(lint-ports): resolve all health path and port violations
  cmd/cipher-im/docker-compose.yml
  deployments/identity/compose.advanced.yml
  deployments/pki-ca/compose/compose.yml
  docs/fixes-needed-plan-tasks-v9/plan.md
  internal/cmd/cicd/lint_ports/lint_ports_health.go
Due: golangci-lint, golangci-lint-full, lint-compose, check-todo-severity, format-go, go-build

docs(v10): create implementation plan for critical regressions and completion fixes
  docs/fixes-needed-plan-tasks-v10/plan.md
  docs/fixes-needed-plan-tasks-v10/quizme-v1.md
  docs/fixes-needed-plan-tasks-v10/tasks.md
Due: none

refactor(agents): apply V8/V9/V10 lessons - pre-flight checks, GAP tasks, quality enforcement
  .github/agents/beast-mode-custom.agent.md
  .github/agents/fix-github-workflows.agent.md
  .github/agents/plan-tasks-implement.agent.md
  .github/agents/plan-tasks-quizme.agent.md
Due: none

docs(v10): add quality mandate + E2E comparative analysis
  docs/fixes-needed-plan-tasks-v10/plan.md
  docs/fixes-needed-plan-tasks-v10/tasks.md
Due: none

docs(v10): process quizme-v1 answers, create quizme-v2 with enhanced questions
  docs/fixes-needed-plan-tasks-v10/quizme-v1.md
  docs/fixes-needed-plan-tasks-v10/quizme-v2.md
Due: none

docs(agent): fix plan-tasks-quizme format requirements
  .github/agents/plan-tasks-quizme.agent.md
  docs/fixes-needed-plan-tasks-v10/quizme-v2.md
Due: none

docs(v10): merge quizme-v2 answers into plan and tasks
  docs/fixes-needed-plan-tasks-v10/plan.md
  docs/fixes-needed-plan-tasks-v10/quizme-v2.md
  docs/fixes-needed-plan-tasks-v10/tasks.md
Due: none

feat(v10): complete Phase 0 Task 0.1 - reproduce cipher-im E2E timeout
  docs/fixes-needed-plan-tasks-v10/tasks.md
Due: none

feat(v10): complete Phase 0 Task 0.2 - multi-service E2E survey
  docs/fixes-needed-plan-tasks-v10/tasks.md
Due: none

feat(v10): complete Task 0.3 - docker-compose health config audit
  docs/fixes-needed-plan-tasks-v10/tasks.md
Due: none

feat(v10): complete Task 0.5 - CRITICAL V8 completion analysis
  docs/fixes-needed-plan-tasks-v10/tasks.md
Due: none

feat(v10): complete Task 0.7 - import path breakage verification
  docs/fixes-needed-plan-tasks-v10/tasks.md
Due: none

feat(v10): complete Task 0.8 - KMS client import audit
  docs/fixes-needed-plan-tasks-v10/tasks.md
Due: none

feat(v10): complete Task 0.9 - unsealkeysservice location verification
  docs/fixes-needed-plan-tasks-v10/tasks.md
Due: none

feat(v10): complete Task 0.10 - unsealkeysservice duplication audit - NO duplication found, architecture correct
  docs/fixes-needed-plan-tasks-v10/tasks.md
Due: none

feat(v10): complete Task 1.1 - service health endpoint audit - sm-kms non-standard, cipher-im drift risk, jose-ja CORRECT
  docs/fixes-needed-plan-tasks-v10/tasks.md
Due: none

feat(v10): complete Task 1.2 - Docker Compose health check standardization
  docs/fixes-needed-plan-tasks-v10/tasks.md
Due: none
