Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-build, golangci-lint-full, golangci-lint, go-mod-tidy, check-todo-severity

go-build:
  name: go build
  entry: go
  args:
  - build
  - ./...
  language: system
  pass_filenames: false
  require_serial: true
  stages:
  - pre-push

golangci-lint-full:
  name: golangci-lint (full validation)
  entry: golangci-lint
  args:
  - run
  - --timeout=30m
  language: system
  pass_filenames: false
  stages:
  - pre-push

golangci-lint:
  name: golangci-lint (incremental auto-fix)
  entry: golangci-lint
  args:
  - run
  - --fix
  - --timeout=30m
  - --new-from-rev=HEAD~1
  language: system
  pass_filenames: false
  require_serial: false
  stages:
  - pre-commit

go-mod-tidy:
  name: go mod tidy
  entry: go
  args:
  - mod
  - tidy
  language: system
  pass_filenames: false

check-todo-severity:
  name: Check TODO/FIXME severity (block CRITICAL/HIGH)
  entry: bash
  args:
  - -c
  ...

docs(framework-v11): add phase lessons and propagate PKI cert knowledge
  docs/ENG-HANDBOOK.md
  docs/framework-v11/lessons.md
  docs/framework-v11/tasks.md
Due: none

docs(tls-structure): update Required logical layout naming convention
  docs/framework-v11/tasks.md
  docs/tls-structure.md
Due: none

feat(pki-init): apply protocol-first dir naming convention
  docs/ENG-HANDBOOK.md
  docs/tls-structure.md
  internal/apps/framework/tls/generator.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(pki-init): restructure truststore as subdirectory of keystore dir
  docs/tls-structure.md
  internal/apps/framework/tls/generator.go
  internal/apps/framework/tls/generator_helpers.go
  internal/apps/framework/tls/generator_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(pki-init): propagate Required logical layout patterns to code and docs
  docs/tls-structure.md
  internal/apps/framework/tls/generator.go
  internal/apps/framework/tls/generator_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(pki-init): propagate updated Required logical layout patterns
  docs/tls-structure.md
  internal/apps/framework/tls/generator.go
  internal/apps/framework/tls/generator_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(pki-init): propagate Cat5 pattern order from Required logical layout
  docs/tls-structure.md
  internal/apps/framework/tls/generator.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(framework-v12): apply quizme-v1 answers (D1=grafana.ini, D2=YAML-cert-paths) and create quizme-v2
  docs/framework-v12/plan.md
  docs/framework-v12/quizme-v1.md
  docs/framework-v12/quizme-v2.md
  docs/framework-v12/tasks.md
Due: none

feat(pki-init): add Cat9 infra entity and restrict Cat14 to postgres instances
  internal/apps/framework/tls/generator.go
  internal/apps/framework/tls/generator_test.go
  internal/apps/framework/tls/tier.go
  internal/shared/magic/magic_pkiinit.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(tls-structure): update Cat9 infra and Cat14 postgres-only counts and examples
  docs/tls-structure.md
Due: none

docs(framework-v12): apply quizme-v2 answers into plan D3-D6 and Phase 0
  docs/framework-v12/plan.md
  docs/framework-v12/quizme-v2.md
  docs/framework-v12/tasks.md
Due: none

docs(eng-handbook): update pki-init cert structure for Cat9 infra and Cat14 postgres-only
  docs/ENG-HANDBOOK.md
Due: none

docs(target-structure): update pki-init cert dir count 82->90, remove stale plan.md reference
  docs/target-structure.md
Due: none

docs(framework-v12): split scope to PostgreSQL mTLS and private app mTLS
  docs/framework-v12/lessons.md
  docs/framework-v12/plan.md
  docs/framework-v12/tasks.md
Due: none

docs(framework-v13): create new plan for OTel/Grafana/public app mTLS
  docs/framework-v13/lessons.md
  docs/framework-v13/pki-init-order.md
  docs/framework-v13/plan.md
  docs/framework-v13/tasks.md
Due: none

feat(postgres-tls): configure PostgreSQL server TLS for leader and follower
  api/cryptosuite-registry/templates/deployments/shared-postgres/compose.yml
  api/cryptosuite-registry/templates/deployments/shared-postgres/pg_hba.conf
  api/cryptosuite-registry/templates/deployments/shared-postgres/postgresql-follower.conf
  api/cryptosuite-registry/templates/deployments/shared-postgres/postgresql-leader.conf
  deployments/shared-postgres/compose.yml
  deployments/shared-postgres/pg_hba.conf
  deployments/shared-postgres/postgresql-follower.conf
  deployments/shared-postgres/postgresql-leader.conf
  docs/framework-v12/tasks.md
Due: none

fix(config): update profile names from dev to local in error message and test
  internal/apps/framework/service/config/config_factory_test.go
  internal/apps/framework/service/config/config_parse.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(framework-v12): add PostgreSQL mTLS SSL config fields (Task 4.2)
  internal/apps/framework/service/config/config.go
  internal/apps/framework/service/config/config_parse.go
  internal/apps/framework/service/config/config_settings_b.go
  internal/apps/framework/service/server/application/application_core_db.go
  internal/apps/framework/service/server/application/application_listener_db_test.go
  internal/apps/framework/service/server/application/application_listener_shutdown_test.go
  internal/apps/tools/cicd_lint/lint_deployments/validate_schema.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(framework-v12): Phase 11 knowledge propagation - ENG-HANDBOOK TLS sections + lessons
  docs/ENG-HANDBOOK.md
  docs/framework-v12/lessons.md
  docs/framework-v12/tasks.md
Due: none

chore(deps): upgrade modernc.org/sqlite v1.48.2 -> v1.49.1 and modernc.org/libc v1.70.0 -> v1.72.0
  go.mod
  go.sum
Due: go-build, go-mod-tidy

fix(test): use magic.DefaultHTTPServerTimeoutSeconds for context timeout in TestStartCore_DatabaseProvisionFailure
  internal/apps/framework/service/server/application/application_listener_sqlite_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

chore(tooling): auto-update pre-commit hooks ruff v0.15.10->v0.15.11, pyproject-fmt v2.21.0->v2.21.1
  .pre-commit-config.yaml
Due: none

feat(lint-go): add leftover-coverage sub-linter to detect banned test file names
  .gitignore
  internal/apps/tools/cicd_lint/lint_go/leftover_coverage/leftover_coverage.go
  internal/apps/tools/cicd_lint/lint_go/leftover_coverage/leftover_coverage_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(deploy): fix healthcheck and volume mounts in all PS-ID compose files
  api/cryptosuite-registry/templates/deployments/__PS_ID__/compose.yml
  api/cryptosuite-registry/templates/deployments/shared-postgres/compose.yml
  api/cryptosuite-registry/templates/deployments/shared-telemetry/compose.yml
  deployments/identity-authz/compose.yml
  deployments/identity-idp/compose.yml
  deployments/identity-rp/compose.yml
  deployments/identity-rs/compose.yml
  deployments/identity-spa/compose.yml
  deployments/jose-ja/compose.yml
  deployments/pki-ca/compose.yml
  deployments/shared-postgres/compose.yml
  deployments/shared-telemetry/compose.yml
  deployments/skeleton-template/compose.yml
  deployments/sm-im/compose.yml
  deployments/sm-kms/compose.yml
Due: none

fix(e2e): switch E2E HTTP client to InsecureSkipVerify; remove stale TLS config keys
  api/cryptosuite-registry/templates/deployments/__PS_ID__/config/__PS_ID__-app-framework-common.yml
  deployments/identity-authz/config/identity-authz-app-framework-common.yml
  deployments/identity-idp/config/identity-idp-app-framework-common.yml
  deployments/identity-rp/config/identity-rp-app-framework-common.yml
  deployments/identity-rs/config/identity-rs-app-framework-common.yml
  deployments/identity-spa/config/identity-spa-app-framework-common.yml
  deployments/jose-ja/config/jose-ja-app-framework-common.yml
  deployments/pki-ca/config/pki-ca-app-framework-common.yml
  deployments/skeleton-template/config/skeleton-template-app-framework-common.yml
  deployments/sm-im/config/sm-im-app-framework-common.yml
  deployments/sm-kms/config/sm-kms-app-framework-common.yml
  internal/apps/jose-ja/e2e/testmain_e2e_test.go
  internal/apps/skeleton-template/e2e/testmain_e2e_test.go
  internal/apps/sm-im/e2e/testmain_e2e_test.go
  internal/apps/sm-kms/e2e/testmain_e2e_test.go
  internal/apps/tools/cicd_lint/lint_fitness/config_rules/config_rules.go
  internal/shared/magic/magic_jose.go
  internal/shared/magic/magic_skeleton.go
  internal/shared/magic/magic_sm.go
  internal/shared/magic/magic_sm_im.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(config): remove extra blank line left by stale TLS key removal in framework-common configs
  deployments/identity-authz/config/identity-authz-app-framework-common.yml
  deployments/identity-idp/config/identity-idp-app-framework-common.yml
  deployments/identity-rp/config/identity-rp-app-framework-common.yml
  deployments/identity-rs/config/identity-rs-app-framework-common.yml
  deployments/identity-spa/config/identity-spa-app-framework-common.yml
  deployments/jose-ja/config/jose-ja-app-framework-common.yml
  deployments/pki-ca/config/pki-ca-app-framework-common.yml
  deployments/skeleton-template/config/skeleton-template-app-framework-common.yml
  deployments/sm-im/config/sm-im-app-framework-common.yml
  deployments/sm-kms/config/sm-kms-app-framework-common.yml
Due: none

fix(lint): fix pre-existing test permission bug (0o600→CICDTempDirPermissions) in pki_ca_profile_schema test
  internal/apps/tools/cicd_lint/lint_fitness/pki_ca_profile_schema/pki_ca_profile_schema_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(lint): fix Windows backslash path normalization in isExcludedFromContentRules
  internal/apps/tools/cicd_lint/lint_fitness/test_file_suffix_structure/test_file_suffix_structure.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(lint): replace literal permission values with magic constants in leftover_coverage_test
  internal/apps/tools/cicd_lint/lint_go/leftover_coverage/leftover_coverage_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(lint): apply golangci-lint v2.11.4 auto-fixes (prealloc, gofumpt, wsl, errcheck, nolint)
  internal/apps/framework/service/config/tls_generator/tls_generator_test.go
  internal/apps/framework/service/testing/contract/auth_contracts_test.go
  internal/apps/framework/service/testing/e2e_infra/compose_manager.go
  internal/apps/pki-ca/compliance/compliance.go
  internal/apps/pki-ca/server/cmd/commands.go
  internal/apps/sm-kms/server/businesslogic/elastic_key_status_state_machine.go
  internal/apps/tools/cicd_lint/docs_validation/agent_drift.go
  internal/apps/tools/cicd_lint/docs_validation/check_chunk_verification.go
  internal/apps/tools/cicd_lint/docs_validation/propagation_coverage.go
  internal/apps/tools/cicd_lint/docs_validation/skill_command_drift.go
  internal/apps/tools/cicd_lint/docs_validation/validate_chunks.go
  internal/apps/tools/cicd_lint/docs_validation/validate_coverage.go
  internal/apps/tools/cicd_lint/docs_validation/validate_propagation.go
  internal/apps/tools/cicd_lint/format_go/copyloopvar/copyloopvar.go
  internal/apps/tools/cicd_lint/format_gotest/thelper/thelper.go
  internal/apps/tools/cicd_lint/lint_deployments/validate_admin.go
  internal/apps/tools/cicd_lint/lint_deployments/validate_all.go
  internal/apps/tools/cicd_lint/lint_deployments/validate_config.go
  internal/apps/tools/cicd_lint/lint_deployments/validate_deployments.go
  internal/apps/tools/cicd_lint/lint_deployments/validate_mirror.go
  internal/apps/tools/cicd_lint/lint_deployments/validate_ports.go
  internal/apps/tools/cicd_lint/lint_deployments/validate_secrets.go
  internal/apps/tools/cicd_lint/lint_deployments/validate_telemetry.go
  internal/apps/tools/cicd_lint/lint_deployments/validate_template_pattern.go
  internal/apps/tools/cicd_lint/lint_fitness/cicd_coverage/cicd_coverage.go
  internal/apps/tools/cicd_lint/lint_fitness/cicd_coverage/cicd_coverage_test.go
  internal/apps/tools/cicd_lint/lint_fitness/compose_entrypoint_uniformity/compose_entrypoint_uniformity_test.go
  internal/apps/tools/cicd_lint/lint_fitness/config_rules/config_rules_error_test.go
  internal/apps/tools/cicd_lint/lint_fitness/config_rules/config_rules_test.go
  internal/apps/tools/cicd_lint/lint_fitness/migration_numbering/migration_numbering_test.go
  internal/apps/tools/cicd_lint/lint_fitness/registry/loader.go
  internal/apps/tools/cicd_lint/lint_fitness/template_drift/template_drift.go
  internal/apps/tools/cicd_lint/lint_workflow/github_actions/github_actions_error_paths_test.go
  internal/apps/tools/cicd_workflow/workflow_executor.go
  internal/shared/crypto/keygenpooltest/keygenpool_test.go
  internal/shared/crypto/tls/storage.go
  internal/shared/pool/pool_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(deploy): remove PostgreSQL SSL config to fix container startup
  api/cryptosuite-registry/templates/deployments/__PS_ID__/postgresql-follower.conf
  api/cryptosuite-registry/templates/deployments/__PS_ID__/postgresql-leader.conf
  api/cryptosuite-registry/templates/deployments/shared-postgres/compose.yml
  api/cryptosuite-registry/templates/deployments/shared-postgres/postgresql-follower.conf
  api/cryptosuite-registry/templates/deployments/shared-postgres/postgresql-leader.conf
  deployments/identity-authz/postgresql-follower.conf
  deployments/identity-authz/postgresql-leader.conf
  deployments/identity-idp/postgresql-follower.conf
  deployments/identity-idp/postgresql-leader.conf
  deployments/identity-rp/postgresql-follower.conf
  deployments/identity-rp/postgresql-leader.conf
  deployments/identity-rs/postgresql-follower.conf
  deployments/identity-rs/postgresql-leader.conf
  deployments/identity-spa/postgresql-follower.conf
  deployments/identity-spa/postgresql-leader.conf
  deployments/jose-ja/postgresql-follower.conf
  deployments/jose-ja/postgresql-leader.conf
  deployments/pki-ca/postgresql-follower.conf
  deployments/pki-ca/postgresql-leader.conf
  deployments/shared-postgres/compose.yml
  deployments/shared-postgres/postgresql-follower.conf
  deployments/shared-postgres/postgresql-leader.conf
  deployments/skeleton-template/postgresql-follower.conf
  deployments/skeleton-template/postgresql-leader.conf
  deployments/sm-im/postgresql-follower.conf
  deployments/sm-im/postgresql-leader.conf
  deployments/sm-kms/postgresql-follower.conf
  deployments/sm-kms/postgresql-leader.conf
Due: none

feat(cli): implement validate-secrets subcommand in service framework
  internal/apps/framework/service/cli/service_router.go
  internal/apps/framework/service/cli/validate_secrets_command.go
  internal/apps/framework/service/cli/validate_secrets_command_test.go
  internal/shared/magic/magic_cli.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(tls): fallback to defaultRealms when registry.yaml not found in container
  internal/apps/framework/tls/generator_test.go
  internal/apps/framework/tls/registry_reader.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(tls): make pki-init cert generation idempotent when target dir exists
  internal/apps/framework/tls/generator.go
  internal/apps/framework/tls/generator_helpers.go
  internal/apps/framework/tls/init_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(tls): pki-init cleans and regenerates certs on every run
  internal/apps/framework/tls/generator.go
  internal/apps/framework/tls/generator_helpers.go
  internal/apps/framework/tls/init_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(deploy): add shared-postgres-leader network alias to postgres-leader
  api/cryptosuite-registry/templates/deployments/shared-postgres/compose.yml
  deployments/shared-postgres/compose.yml
Due: none

feat(postgres): enable mTLS SSL on postgres-leader for all PS-IDs
  api/cryptosuite-registry/templates/deployments/__PS_ID__/compose.yml
  api/cryptosuite-registry/templates/deployments/__PS_ID__/postgresql-leader.conf
  api/cryptosuite-registry/templates/deployments/shared-postgres/pg_hba.conf
  deployments/identity-authz/compose.yml
  deployments/identity-authz/postgresql-leader.conf
  deployments/identity-idp/compose.yml
  deployments/identity-idp/postgresql-leader.conf
  deployments/identity-rp/compose.yml
  deployments/identity-rp/postgresql-leader.conf
  deployments/identity-rs/compose.yml
  deployments/identity-rs/postgresql-leader.conf
  deployments/identity-spa/compose.yml
  deployments/identity-spa/postgresql-leader.conf
  deployments/jose-ja/compose.yml
  deployments/jose-ja/postgresql-leader.conf
  deployments/pki-ca/compose.yml
  deployments/pki-ca/postgresql-leader.conf
  deployments/shared-postgres/pg_hba.conf
  deployments/skeleton-template/compose.yml
  deployments/skeleton-template/postgresql-leader.conf
  deployments/sm-im/compose.yml
  deployments/sm-im/postgresql-leader.conf
  deployments/sm-kms/compose.yml
  deployments/sm-kms/postgresql-leader.conf
Due: none

fix(postgres): escape $SSL variable in compose entrypoint to prevent Docker interpolation
  api/cryptosuite-registry/templates/deployments/__PS_ID__/compose.yml
  deployments/identity-authz/compose.yml
  deployments/identity-idp/compose.yml
  deployments/identity-rp/compose.yml
  deployments/identity-rs/compose.yml
  deployments/identity-spa/compose.yml
  deployments/jose-ja/compose.yml
  deployments/pki-ca/compose.yml
  deployments/skeleton-template/compose.yml
  deployments/sm-im/compose.yml
  deployments/sm-kms/compose.yml
Due: none

Path conditions:
  go-build: any of: \.go$|go\.mod$|go\.sum$
  golangci-lint-full: any of: \.go$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.mod$
  check-todo-severity: any of: \.go$
