Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-build, golangci-lint-full, golangci-lint, go-mod-tidy, check-todo-severity

Path conditions:
  go-build: any of: \.go$|go\.mod$|go\.sum$
  golangci-lint-full: any of: \.go$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.mod$
  check-todo-severity: any of: \.go$

chore(workspace): checkpoint baseline before agent updates
  internal/apps-tools/cicd_lint/lint_fitness/service_structure/service_structure.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(agents): enforce baseline clean-worktree gate
  .claude/agents/beast-mode.md
  .claude/agents/fix-workflows.md
  .claude/agents/implementation-execution.md
  .claude/agents/implementation-planning.md
  .github/agents/beast-mode.agent.md
  .github/agents/fix-workflows.agent.md
  .github/agents/implementation-execution.agent.md
  .github/agents/implementation-planning.agent.md
Due: none

docs(tls): expand mode inventory by semantic domain
  test-outputs/FILES.txt
Due: none

docs(tls): add draft split enums to FILES review
  test-outputs/FILES.txt
Due: none

docs(tls): refine client policy literals and validation notes
  test-outputs/FILES.txt
Due: none

docs(tls): add pop and authn-ident-authz annotations
  test-outputs/FILES.txt
Due: none

docs(tls): clarify off and verify policy wording
  test-outputs/FILES.txt
Due: none

revert(docs): remove tracked files inventory draft
  test-outputs/FILES.txt
Due: none

docs(framework-v20): add tls split migration plan
  docs/framework-v20/lessons.md
  docs/framework-v20/plan.md
  docs/framework-v20/tasks.md
Due: none

docs(tls): split provisioning and client policy guidance
  .github/instructions/02-01.architecture.instructions.md
  .github/instructions/02-05.security.instructions.md
  docs/ENG-HANDBOOK.md
  docs/required-propagations.yaml
  docs/tls-structure.md
Due: none

fix(tls): fix lint-fitness allowlist and literal-use violations for v20 policy keys
  docs/ENG-HANDBOOK.md
  docs/framework-v20/lessons.md
  docs/framework-v20/tasks.md
  internal/apps-tools/cicd_lint/lint_fitness/config_rules/config_rules.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

chore(deps): upgrade kin-openapi v0.136.0 -> v0.137.0
  go.mod
  go.sum
Due: go-build, go-mod-tidy

style(fmt): gofumpt format all v20-touched files
  internal/apps-tools/cicd_lint/lint_fitness/config_rules/config_rules.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(lint-fitness): enforce tls ca-policy coupling and source header policy
  docs/framework-v20/lessons.md
  internal/apps-tools/cicd_lint/lint_fitness/cmd_product_template/cmd_product_template_test.go
  internal/apps-tools/cicd_lint/lint_fitness/cmd_ps_id_template/cmd_ps_id_template_test.go
  internal/apps-tools/cicd_lint/lint_fitness/cmd_suite_template/cmd_suite_template_test.go
  internal/apps-tools/cicd_lint/lint_fitness/config_rules/config_rules.go
  internal/apps-tools/cicd_lint/lint_fitness/config_rules/config_rules_test.go
  internal/apps-tools/cicd_lint/lint_fitness/lint-fitness-registry.yaml
  internal/apps-tools/cicd_lint/lint_fitness/lint_fitness.go
  internal/apps-tools/cicd_lint/lint_fitness/source_header_policy/source_header_policy.go
  internal/apps-tools/cicd_lint/lint_fitness/source_header_policy/source_header_policy_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(cicd): enforce bulk hook architecture; migrate source-header-policy to lint-go
  .claude/agents/beast-mode.md
  .github/agents/beast-mode.agent.md
  .github/instructions/03-05.linting.instructions.md
  .github/instructions/04-01.deployment.instructions.md
  .pre-commit-config.yaml
  docs/ENG-HANDBOOK.md
  docs/required-propagations.yaml
  internal/apps-tools/cicd_lint/cicd.go
  internal/apps-tools/cicd_lint/lint_fitness/lint-fitness-registry.yaml
  internal/apps-tools/cicd_lint/lint_fitness/lint_fitness.go
  internal/apps-tools/cicd_lint/lint_fitness/precommit_cicd_architecture/precommit_cicd_architecture.go
  internal/apps-tools/cicd_lint/lint_fitness/precommit_cicd_architecture/precommit_cicd_architecture_test.go
  internal/apps-tools/cicd_lint/lint_go/lint_go.go
  internal/apps-tools/cicd_lint/lint_go/source_header_policy/source_header_policy.go
  internal/apps-tools/cicd_lint/lint_go/source_header_policy/source_header_policy_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(dev-setup): document git core.autocrlf and line ending policy
  docs/DEV-SETUP.md
Due: none

docs(agents): propagate platform-line-ending-operations chunk to beast-mode and git instructions
  .claude/agents/beast-mode.md
  .claude/settings.local.json
  .github/agents/beast-mode.agent.md
  .github/instructions/05-02.git.instructions.md
Due: none

fix(templates): add trailing newline to PS-ID instance overlay templates
  api/cryptosuite-registry/templates/deployments/__PS_ID__/config/__PS_ID__-app-framework-postgresql-1.yml
  api/cryptosuite-registry/templates/deployments/__PS_ID__/config/__PS_ID__-app-framework-postgresql-2.yml
  api/cryptosuite-registry/templates/deployments/__PS_ID__/config/__PS_ID__-app-framework-sqlite-1.yml
  api/cryptosuite-registry/templates/deployments/__PS_ID__/config/__PS_ID__-app-framework-sqlite-2.yml
Due: none

docs(config): document default TLSClientPolicy=none in framework config template and all PS-ID instances
  api/cryptosuite-registry/templates/configs/__PS_ID__/__PS_ID__-framework.yml
  configs/identity-authz/identity-authz-framework.yml
  configs/identity-idp/identity-idp-framework.yml
  configs/identity-rp/identity-rp-framework.yml
  configs/identity-rs/identity-rs-framework.yml
  configs/identity-spa/identity-spa-framework.yml
  configs/jose-ja/jose-ja-framework.yml
  configs/pki-ca/pki-ca-framework.yml
  configs/skeleton-template/skeleton-template-framework.yml
  configs/sm-im/sm-im-framework.yml
  configs/sm-kms/sm-kms-framework.yml
Due: none

docs(skills): add two-axis TLS model guidance to new-service skill
  .claude/skills/new-service/SKILL.md
  .github/skills/new-service/SKILL.md
Due: none

docs(lessons): mark framework-v20 actions 1, 2, 4 as applied
  docs/framework-v20/lessons.md
Due: none

fix(git): pin Go files to LF in .gitattributes to prevent gofumpt working-tree churn
  .editorconfig
  .gitattributes
Due: none

docs(agents): sync beast-mode Claude agent with Copilot agent line-ending policy update
  .claude/agents/beast-mode.md
  .github/agents/beast-mode.agent.md
  .github/instructions/05-02.git.instructions.md
  docs/ENG-HANDBOOK.md
Due: none

docs(planning): create framework-v21 plan from v16-v20 incomplete work analysis
  docs/framework-v16/lessons.md
  docs/framework-v16/plan.md
  docs/framework-v16/tasks.md
  docs/framework-v17/lessons.md
  docs/framework-v17/plan.md
  docs/framework-v17/tasks.md
  docs/framework-v18/lessons.md
  docs/framework-v18/plan.md
  docs/framework-v18/tasks.md
  docs/framework-v19/lessons.md
  docs/framework-v19/plan.md
  docs/framework-v19/tasks.md
  docs/framework-v20/lessons.md
  docs/framework-v20/plan.md
  docs/framework-v20/tasks.md
  docs/framework-v21/lessons.md
  docs/framework-v21/plan.md
  docs/framework-v21/quizme-v1.md
  docs/framework-v21/tasks.md
Due: none

chore(workspace): checkpoint baseline before agent execution
  docs/framework-v21/quizme-v1.md
Due: none

docs(framework-v21): apply quizme answers and add structure follow-up
  docs/framework-v21/plan.md
  docs/framework-v21/quizme-v1.md
  docs/framework-v21/quizme-v2.md
  docs/framework-v21/tasks.md
Due: none

docs(framework-v21): add full recursive ps-id dir and file csv inventories
  docs/framework-v21/quizme-v2.md
Due: none

docs(framework-v21): collapse inventories into two parameterized supersets
  docs/framework-v21/quizme-v2.md
Due: none

chore(workspace): checkpoint baseline before agent execution
  docs/framework-v21/quizme-v2.md
Due: none

chore(pre-commit): update checkov hook and format identity server tests
  .pre-commit-config.yaml
Due: none

chore(workspace): checkpoint baseline before agent execution
  internal/apps/sm-im/im.go
  internal/apps/sm-im/server/http_test.go
  internal/apps/sm-im/server/registration_test.go
  internal/apps/sm-im/server/server.go
  internal/apps/sm-im/server/server_test.go
  internal/apps/sm-im/testing/testmain_helper.go
  internal/apps/sm-kms/client/client_test.go
  internal/apps/sm-kms/kms.go
  internal/apps/sm-kms/server/kms_lifecycle_test.go
  internal/apps/sm-kms/server/kms_port_conflict_test.go
  internal/apps/sm-kms/server/server.go
  internal/apps/sm-kms/server/server_test.go
  internal/apps/sm-kms/server/testmain_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(service-cli): unify service server start path
  internal/apps-framework/service/cli/server_start.go
  internal/apps-framework/service/cli/server_start_test.go
  internal/apps/sm-im/im.go
  internal/apps/sm-kms/kms.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(cli): centralize client placeholder output and flagset constants
  internal/apps-framework/service/cli/constants_test.go
  internal/apps-framework/service/cli/service_router.go
  internal/apps/sm-im/im.go
  internal/apps/sm-kms/kms.go
  internal/shared/magic/magic_sm.go
  internal/shared/magic/magic_sm_im.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(service-cli): align remaining ps-id server entrypoints
  internal/apps/identity-authz/authz.go
  internal/apps/identity-idp/idp.go
  internal/apps/identity-rp/rp.go
  internal/apps/identity-rs/rs.go
  internal/apps/identity-spa/spa.go
  internal/apps/jose-ja/ja.go
  internal/apps/pki-ca/ca.go
  internal/apps/skeleton-template/template.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(apps-template): enforce PS-ID root service template alignment
  .pre-commit-config.yaml
  api/cryptosuite-registry/templates/internal/apps/__PS_ID__/__SERVICE__.go
  api/cryptosuite-registry/templates/internal/apps/__PS_ID__/__SERVICE___cli_commands_test.go
  api/cryptosuite-registry/templates/internal/apps/__PS_ID__/__SERVICE___cli_test.go
  api/cryptosuite-registry/templates/internal/apps/__PS_ID__/__SERVICE___cli_url_test.go
  api/cryptosuite-registry/templates/internal/apps/__PS_ID__/__SERVICE___contract_test.go
  api/cryptosuite-registry/templates/internal/apps/__PS_ID__/__SERVICE___lifecycle_test.go
  api/cryptosuite-registry/templates/internal/apps/__PS_ID__/__SERVICE___port_conflict_test.go
  api/cryptosuite-registry/templates/internal/apps/__PS_ID__/__SERVICE___usage.go
  api/cryptosuite-registry/templates/internal/apps/__PS_ID__/testmain_test.go
  go.mod
  go.sum
  internal/apps-framework/service/cli/server_flagset.go
  internal/apps-tools/cicd_lint/lint_fitness/apps_ps_id_template/apps_ps_id_template.go
  internal/apps-tools/cicd_lint/lint_fitness/apps_ps_id_template/apps_ps_id_template_service_template.go
  internal/apps-tools/cicd_lint/lint_fitness/apps_ps_id_template/apps_ps_id_template_test.go
  internal/apps/identity-authz/authz.go
  internal/apps/identity-idp/idp.go
  internal/apps/identity-rp/rp.go
  internal/apps/identity-rs/rs.go
  internal/apps/identity-spa/spa.go
  internal/apps/jose-ja/ja.go
  internal/apps/pki-ca/ca.go
  internal/apps/skeleton-template/template.go
  internal/apps/sm-im/im.go
  internal/apps/sm-kms/kms.go
  internal/apps/sm-kms/server/testmain_integration_test.go
Due: go-build, golangci-lint-full, golangci-lint, go-mod-tidy, check-todo-severity

refactor(cli): move fmt.Fprintln into IsHelpRequest via UsageText field
  api/cryptosuite-registry/templates/internal/apps/__PS_ID__/__SERVICE__.go
  internal/apps-framework/service/cli/constants_test.go
  internal/apps-framework/service/cli/service_router.go
  internal/apps/identity-authz/authz.go
  internal/apps/identity-idp/idp.go
  internal/apps/identity-rp/rp.go
  internal/apps/identity-rs/rs.go
  internal/apps/identity-spa/spa.go
  internal/apps/jose-ja/ja.go
  internal/apps/pki-ca/ca.go
  internal/apps/skeleton-template/template.go
  internal/apps/sm-im/im.go
  internal/apps/sm-kms/kms.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity
