Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, go-mod-tidy, go-build, cspell

Path conditions:
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.mod$
  go-build: any of: \.go$|go\.mod$|go\.sum$
  cspell: any of: \.(md|txt|go|yaml|yml|json|js|ts|py|sh|ps1)$, but not: ^(test/|vendor/|\.git/|node_modules/|\.cache/)

chore: allow git push
  .vscode/settings.json
Due: cspell

fix(identity): replace generateRandomString with UUIDv7 to prevent authorization code race conditions
  internal/identity/idp/random.go
Due: golangci-lint, go-build, cspell

fix(identity): pre-generate authorization codes in GET/POST authorize handlers
  internal/identity/authz/handlers_authorize.go
Due: golangci-lint, go-build, cspell

fix(identity): resolve database migration state cache pollution in authz tests
  internal/identity/authz/cleanup_migration_test.go
  internal/identity/authz/client_authentication_flow_test.go
  internal/identity/authz/handlers_authorize_comprehensive_test.go
  internal/identity/authz/handlers_authorize_pkce_test.go
  internal/identity/authz/handlers_authz_code_additional_test.go
  internal/identity/authz/handlers_client_credentials_test.go
  internal/identity/authz/handlers_client_rotation_test.go
  internal/identity/authz/handlers_introspect_revoke_edge_cases_test.go
  internal/identity/authz/handlers_introspect_revoke_error_paths_test.go
  internal/identity/authz/handlers_introspect_revoke_flow_test.go
  internal/identity/authz/handlers_refresh_token_grant_test.go
  internal/identity/authz/handlers_refresh_token_test.go
  internal/identity/authz/handlers_token_comprehensive_test.go
  internal/identity/authz/handlers_uncovered_paths_test.go
  internal/identity/authz/service_test.go
  internal/identity/repository/migrations.go
Due: golangci-lint, go-build, cspell

docs(identity): update P5.10 post-mortem with complete resolution
  docs/02-identityV2/passthru5/P5.10-POSTMORTEM.md
Due: cspell

fix(identity): add missing token config fields
  configs/identity/authz.yml
  configs/identity/idp.yml
  configs/identity/rs.yml
Due: cspell

docs(identity): add comprehensive working demo documentation
  docs/02-identityV2/IDENTITY-V2-DEMO.md
Due: cspell

docs(identity): update demo with swagger endpoint investigation
  docs/02-identityV2/IDENTITY-V2-DEMO.md
Due: cspell

docs(identityV2): Add Passthru6 gap analysis and master plan
  docs/02-identityV2/06-PASSTHRU6-GAP-ANALYSIS.md
  docs/02-identityV2/07-PASSTHRU6-MASTER-PLAN.md
Due: cspell

docs(passthru6): add template v3.0 with evidence-based validation and E2E requirements
  docs/02-identityV2/passthru5/PASSTHRU5-POSTMORTEM.md
  docs/02-identityV2/passthru6/GAP-ANALYSIS.md
  docs/02-identityV2/passthru6/MASTER-PLAN.md
Due: cspell

docs(copilot): eliminate PowerShell script requirements to avoid manual authorization
  .github/copilot-instructions.md
  .github/instructions/03-02.cross-platform.instructions.md
Due: cspell

feat(identity): implement production key generator and initialize token issuers
  cmd/identity/authz/main.go
  cmd/identity/idp/main.go
  internal/identity/issuer/production_key_generator.go
  internal/identity/issuer/production_key_generator_test.go
  internal/identity/magic/magic_timeouts.go
Due: golangci-lint, go-build, cspell

feat(identity): implement P6.01.01-P6.01.04 production key generator and bootstrap
  cmd/identity/authz/main.go
  cmd/identity/idp/main.go
  docs/02-identityV2/06-PASSTHRU6-GAP-ANALYSIS.md
  docs/02-identityV2/07-PASSTHRU6-MASTER-PLAN.md
  internal/identity/bootstrap/demo_client.go
  internal/identity/bootstrap/demo_client_test.go
Due: golangci-lint, go-build, cspell

fix(authz): add warning log for OpenAPI spec generation failures (P6.01.05)
  internal/identity/authz/routes.go
Due: golangci-lint, go-build, cspell

wip(authz): P6.02.01 token endpoint testing - CSRF configuration issue identified
  deployments/compose/cryptoutil/cryptoutil-common.yml
  docs/02-identityV2/P6.02.01-token-endpoint-client-credentials.md
  scripts/test-token-client-credentials.ps1
  scripts/test-token-client-credentials.sh
Due: cspell

feat(authz): initialize key rotation manager for token signing
  .github/copilot-instructions.md
  cmd/identity/authz/main.go
  configs/identity/authz-docker.yml
  deployments/compose/identity-compose.yml
  go.mod
  internal/cmd/cryptoutil/cryptoutil.go
  internal/identity/authz/clientauth/secret_hasher.go
  internal/identity/authz/middleware.go
  internal/identity/bootstrap/demo_client.go
  internal/identity/bootstrap/demo_client_test.go
  internal/identity/domain/client.go
  internal/identity/domain/key_rotation_event.go
  internal/identity/domain/session.go
  internal/identity/idp/handlers_login.go
  internal/identity/idp/middleware.go
  internal/identity/repository/factory.go
  internal/identity/repository/migrations.go
  internal/identity/repository/migrations/0001_init.up.sql
  internal/identity/repository/migrations/0004_client_secret_versioning.up.sql
  internal/identity/repository/orm/client_repository.go
  internal/identity/repository/orm/session_repository_test.go
  internal/identity/rotation/secret_rotation_service.go
  internal/identity/storage/fixtures/fixtures.go
  internal/identity/test/testutils/database_setup.go
  internal/server/application/application_listener.go
  scripts/test-token-client-credentials.ps1
Due: golangci-lint, go-mod-tidy, go-build, cspell

docs(authz): mark P6.02.01 token endpoint testing complete
  docs/02-identityV2/P6.02.01-token-endpoint-client-credentials.md
Due: cspell

feat(authz): add OAuth discovery and JWKS endpoints
  .vscode/settings.json
  internal/identity/authz/handlers_discovery.go
  internal/identity/authz/routes.go
  internal/identity/issuer/key_rotation.go
  internal/identity/issuer/service.go
Due: golangci-lint, go-build, cspell

feat(authz): implement real JWT signing and signature verification
  internal/identity/authz/handlers_introspect_revoke.go
  internal/identity/issuer/jws.go
  internal/identity/issuer/key_rotation.go
  internal/identity/magic/magic_keys.go
Due: golangci-lint, go-build, cspell

fix(tests): update mock key generators to use real RSA keys
  .vscode/settings.json
  internal/identity/issuer/jws_test.go
  internal/identity/issuer/service_test.go
Due: golangci-lint, go-build, cspell

chore(copilot): switch from Invoke-WebRequest to curl
  .github/instructions/03-02.cross-platform.instructions.md
Due: cspell

chore(copilot): update chat.tools.terminal.autoApprove to document mandatory safety overrides
  .vscode/settings.json
Due: cspell

docs: update HTTP command instructions to prefer curl over Invoke-WebRequest
  .github/instructions/03-02.cross-platform.instructions.md
Due: cspell

fix: convert bool literals to *bool pointers in domain.Client test fixtures
  internal/identity/authz/clientauth/basic_test.go
  internal/identity/authz/clientauth/integration_test.go
  internal/identity/authz/clientauth/post_test.go
  internal/identity/authz/clientauth/secret_hasher_test.go
  internal/identity/authz/clientauth/self_signed_auth_test.go
  internal/identity/authz/clientauth/test_helpers_test.go
  internal/identity/authz/clientauth/tls_client_auth_test.go
  internal/identity/authz/handlers_authorize_comprehensive_test.go
  internal/identity/authz/handlers_cleanup_comprehensive_test.go
  internal/identity/authz/handlers_introspect_revoke_edge_cases_test.go
  internal/identity/authz/handlers_token_comprehensive_test.go
  internal/identity/authz/handlers_uncovered_paths_test.go
  internal/identity/authz/test_helpers_test.go
Due: golangci-lint, go-build, cspell

refactor: use ProductionKeyGenerator in refresh token grant test
  internal/identity/authz/handlers_refresh_token_grant_test.go
Due: golangci-lint, go-build, cspell

docs(copilot): strengthen continuous work directive and add Claude Opus 4.5 throttling guidance
  .github/copilot-instructions.md
Due: cspell

fix: use RS256 instead of unsupported HS256 in refresh token grant test
  internal/identity/authz/handlers_refresh_token_grant_test.go
Due: golangci-lint, go-build, cspell

fix: handle nil client in authenticators and use ProductionKeyGenerator in tests
  internal/identity/authz/client_authentication_flow_test.go
  internal/identity/authz/clientauth/basic.go
  internal/identity/authz/clientauth/basic_test.go
  internal/identity/authz/clientauth/integration_test.go
  internal/identity/authz/clientauth/post.go
  internal/identity/authz/clientauth/post_test.go
  internal/identity/authz/clientauth/registry_test.go
Due: golangci-lint, go-build, cspell

fix(identity): migrate bool to *bool for domain model pointer fields - partial
  internal/identity/authz/clientauth/secret_hasher_test.go
  internal/identity/authz/handlers_uncovered_paths_test.go
  internal/identity/domain/key_rotation_event_test.go
  internal/identity/domain/session_test.go
  internal/identity/domain/test_helpers_external_test.go
  internal/identity/domain/test_helpers_test.go
  internal/identity/idp/test_helpers_external_test.go
  internal/identity/idp/test_helpers_test.go
  internal/identity/jobs/cleanup_integration_test.go
  internal/identity/jobs/scheduled_rotation_test.go
  internal/identity/jobs/test_helpers_test.go
  internal/identity/repository/orm/client_repository_test.go
  internal/identity/repository/orm/session_repository_test.go
  internal/identity/repository/orm/test_helpers_test.go
  internal/identity/storage/tests/crud_test.go
  internal/identity/storage/tests/test_helpers_test.go
  internal/identity/test/e2e/mfa_concurrency_test.go
  internal/identity/test/e2e/oidc_core_endpoints_test.go
  internal/identity/test/e2e/test_helpers_test.go
  internal/identity/test/integration/repository_integration_test.go
  internal/identity/test/integration/test_helpers_test.go
  internal/identity/test/load/mfa_stress_test.go
  internal/identity/test/load/test_helpers_test.go
Due: golangci-lint, go-build, cspell

fix(identity): complete bool to *bool migration for domain model pointer fields
  .vscode/settings.json
  internal/identity/idp/handlers_logout_test.go
  internal/identity/idp/handlers_oidc_e2e_test.go
  internal/identity/idp/handlers_postgres_test.go
  internal/identity/idp/handlers_security_attacks_test.go
  internal/identity/idp/handlers_security_validation_test.go
  internal/identity/idp/handlers_userinfo_test.go
  internal/identity/integration/integration_test.go
  internal/identity/integration/test_helpers_test.go
  internal/identity/jobs/scheduled_rotation_test.go
  internal/identity/repository/orm/session_repository_test.go
Due: golangci-lint, go-build, cspell

fix(identity): resolve test flakiness from migration cache conflicts
  internal/identity/authz/clientauth/integration_test.go
  internal/identity/repository/migrations.go
Due: golangci-lint, go-build, cspell

fix(identity/e2e): resolve redeclared symbols in e2e test package
  internal/identity/test/e2e/constants.go
  internal/identity/test/e2e/identity_e2e_test.go
  internal/identity/test/e2e/mock_services.go
  internal/identity/test/e2e/oauth_flows_test.go
  internal/identity/test/e2e/orchestration_failover_test.go
Due: golangci-lint, go-build, cspell

feat(identity/authz): add discovery endpoint tests and fix nil tokenSvc handling
  internal/identity/authz/handlers_discovery.go
  internal/identity/authz/handlers_discovery_test.go
Due: golangci-lint, go-build, cspell

feat(identity): add identity-demo command and fix nil tokenSvc handling
  cmd/identity-demo/main.go
  internal/identity/authz/handlers_token.go
Due: golangci-lint, go-build, cspell

fix(identity-demo): correct step numbering (1-8)
  cmd/identity-demo/main.go
Due: golangci-lint, go-build, cspell

feat(identity-demo): use KeyRotationManager for full JWKS endpoint support
  cmd/identity-demo/main.go
Due: golangci-lint, go-build, cspell

feat(identity-demo): enhance demo with real token flow, introspection before/after revocation
  cmd/identity-demo/main.go
Due: golangci-lint, go-build, cspell

fix(identity): token revocation and introspection
  internal/identity/authz/handlers_introspect_revoke.go
  internal/identity/authz/handlers_token.go
  internal/identity/repository/orm/token_repository.go
Due: golangci-lint, go-build, cspell

fix(identity): fix test isolation issues in authz and integration tests
  internal/identity/authz/client_authentication_flow_test.go
  internal/identity/integration/integration_test.go
Due: golangci-lint, go-build, cspell

fix(identity): fix JWS legacy issuer public key extraction and integration test synchronization
  internal/identity/integration/integration_test.go
  internal/identity/issuer/jws.go
Due: golangci-lint, go-build, cspell
