Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofumpt, goimports, go-mod-tidy, golangci-lint

.pre-commit-config.yaml:

# Pre-commit hooks configuration for automatic code formatting
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Generic file checks (lightweight and reliable)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      # Ensure files end with newline
      - id: end-of-file-fixer
        name: Fix end of files
        exclude: '\.(exe|dll|so|dylib|key|crt)$'

      # Remove trailing whitespace
      - id: trailing-whitespace
        name: Remove trailing whitespace
        args: [--markdown-linebreak-ext=md]

      # Check YAML syntax
      - id: check-yaml
        name: Check YAML syntax

      # Check JSON syntax (excluding VS Code JSONC files with comments)
      - id: check-json
        name: Check JSON syntax
        exclude: '\.vscode/.*\.json$'

      # Prevent large files from being committed
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1024']

      # Prevent merge conflict markers
      - id: check-merge-conflict
        name: Check for merge conflict markers

  # Go formatting using local commands (more reliable)
  - repo: local
    hooks:
      - id: gofumpt
        name: gofumpt (Go formatting)
        entry: gofumpt
        args: [-w]
        language: system
        files: '\.go$'
        exclude: '_gen\.go$|vendor/'

      - id: goimports
        name: goimports (Go import organization)
        entry: goimports
        args: [-w]
        language: system
        files: '\.go$'
        exclude: '_gen\.go$|vendor/'

      - id: go-mod-tidy
        name: go mod tidy
        entry: go
        args: [mod, tidy]
        language: system
        pass_filenames: false
        files: go\.mod$

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker

  # Comprehensive Go linting (runs on pre-push due to performance)
  - repo: local
    hooks:
      - id: golangci-lint
        name: golangci-lint
        entry: golangci-lint
        args: [run, --timeout=5m]
        language: system
        files: '\.go$'
        exclude: '_gen\.go$|vendor/'
        stages: [pre-push]

  # GitHub Actions workflow linting
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint

# Global configuration
default_stages: [pre-commit]
minimum_pre_commit_version: '2.20.0'

refactor: remove JSON parsing errcheck exclusion
  scripts/errcheck_excludes.txt
Due: none

refactor: remove database operations errcheck exclusions
  scripts/errcheck_excludes.txt
Due: none

docs: mark CQ2 errcheck exclusions review as completed
  docs/todos.md
Due: none

feat: add SendServerListenerReadinessCheck function and test
  internal/server/application/application_listener.go
  internal/server/application/application_test.go
Due: gofumpt, goimports, golangci-lint

feat: add live and ready sub-commands for server health checks
  deployments/Dockerfile
  internal/cmd/cmd_test.go
  internal/cmd/server.go
Due: gofumpt, goimports, golangci-lint

docs: add terminal command guidelines to copilot customization instructions
  .github/instructions/copilot-customization.instructions.md
Due: none

docs: add authorized commands reference to copilot customization instructions
  .github/instructions/copilot-customization.instructions.md
Due: none

feat: add live/ready health check sub-commands and update container health monitoring
  .github/instructions/copilot-customization.instructions.md
  deployments/Dockerfile
  deployments/compose/compose.yml
  internal/common/config/config.go
Due: gofumpt, goimports, golangci-lint

docs: add Set-Location to unauthorized commands in copilot instructions
  .github/instructions/copilot-customization.instructions.md
Due: none

docs: update authorized commands reference
  .github/instructions/copilot-customization.instructions.md
Due: none

feat: enable OpenTelemetry integration for cryptoutil services
  deployments/compose/compose.yml
  deployments/compose/cryptoutil/cryptoutil-postgresql.yml
  deployments/compose/cryptoutil/cryptoutil-sqlite.yml
  deployments/compose/otel/cryptoutil-otel.yml
  deployments/compose/otel/otel-collector-config.yaml
Due: none

docs: add curl.exe to unauthorized commands list
  .github/instructions/copilot-customization.instructions.md
Due: none

fix: optimize OTEL volume mounts to mount specific config file
  deployments/compose/compose.yml
Due: none

fix: resolve golangci-lint issues in cicd-utils_test.go
  scripts/cicd-utils_test.go
Due: gofumpt, goimports, golangci-lint

docs: update README with observability stack documentation
  README.md
Due: none

docs: clarify dual telemetry flows in README architecture section
  README.md
Due: none

docs: clarify dual telemetry flows in observability instructions
  .github/instructions/observability.instructions.md
Due: none

docs: update outdated hostnames in observability instructions
  .github/instructions/observability.instructions.md
Due: none

refactor: update compose configuration and restructure grafana directories
  deployments/compose/compose.yml
  deployments/compose/grafana-otel-lgtm/dashboards/cryptoutil.json
  deployments/compose/grafana-otel-lgtm/prometheus/prometheus.yml
  deployments/compose/grafana-otel-lgtm/provisioning/dashboards/dashboards.yaml
  deployments/compose/grafana-otel-lgtm/provisioning/datasources/prometheus.yaml
  deployments/compose/otel/cryptoutil-otel.yml
  deployments/compose/otel/otel-collector-config.yaml
  docs/todos.md
Due: none

docs: add OTLP protocol support to copilot customization instructions
  .github/instructions/copilot-customization.instructions.md
Due: none

refactor: update OTLPEndpoint to include protocol prefix (grpc:// or http://)
  internal/common/config/config.go
  internal/common/config/config_test.go
Due: gofumpt, goimports, golangci-lint

feat: add HTTP OTLP protocol support to telemetry service
  deployments/compose/otel/cryptoutil-otel.yml
  go.mod
  go.sum
  internal/common/telemetry/telemetry_service.go
Due: gofumpt, goimports, go-mod-tidy, golangci-lint

docs: update README and todos for HTTP OTLP protocol support
  README.md
  docs/todos.md
Due: none

fix: strip grpc:// prefix from OTLP endpoints for gRPC exporters
  internal/common/telemetry/telemetry_service.go
  internal/server/application/fiber_middleware_otel_request_logger.go
Due: gofumpt, goimports, golangci-lint

fix: correct OTLP protocol handling in telemetry service
  docs/todos.md
  internal/common/pool/pool.go
  internal/common/telemetry/telemetry_service.go
  scripts/errcheck_excludes.txt
Due: gofumpt, goimports, golangci-lint

refactor: remove unnecessary errcheck exclusions
  internal/common/crypto/certificate/certificates_server_test_util.go
  scripts/errcheck_excludes.txt
Due: gofumpt, goimports, golangci-lint

refactor: remove close() exclusion by adding nolint comments
  internal/common/crypto/jose/jwe_jwk_test_util.go
  internal/common/crypto/jose/jws_jwk_test_util.go
  internal/common/pool/pool.go
  internal/common/util/sysinfo/sysinfo_all.go
  internal/common/util/thread/chan.go
  scripts/errcheck_excludes.txt
Due: gofumpt, goimports, golangci-lint

docs: improve errcheck exclusions documentation
  scripts/errcheck_excludes.txt
Due: none

docs: clean up outdated recent completions section in todos.md
  docs/todos.md
Due: none

docs: remove obsolete health check TODOs - middleware approach is sufficient
  docs/todos.md
  internal/server/application/application_listener.go
Due: gofumpt, goimports, golangci-lint

docs: remove obsolete health check TODOs
  docs/todos.md
Due: none

docs: finalize Grafana dashboard expansion documentation
  docs/todos.md
Due: none

build: update Go dependencies
  .github/copilot-instructions.md
  .github/instructions/go-dependencies.instructions.md
  go.mod
  go.sum
Due: go-mod-tidy

test: adjust timeouts for robust concurrent testing
  internal/client/client_test.go
  internal/client/client_test_util.go
  internal/server/application/application_test.go
  internal/server/repository/sqlrepository/sql_provider.go
Due: gofumpt, goimports, golangci-lint

ci: improve pre-commit setup and documentation
  README.md
  scripts/README.md
  scripts/setup-pre-commit.bat
  scripts/setup-pre-commit.ps1
Due: none

ci: separate SAST workflow for concurrent execution
  .github/workflows/ci.yml
  .github/workflows/sast.yml
Due: none

ci: add dedicated test workflow with concurrency, fuzz, and race detection
  .github/workflows/test.yml
Due: none

docs: add testing infrastructure improvement tasks
  docs/todos.md
Due: none

feat(scripts): support multiple commands in cicd_utils.go
  .pre-commit-config.yaml
  scripts/cicd-utils_test.go
  scripts/cicd_utils.go
Due: gofumpt, goimports, golangci-lint

docs(scripts): update cicd_utils.go documentation for multiple commands
  scripts/README.md
Due: none
