Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: github-workflow-lint, golangci-lint, go-mod-tidy, check-todo-severity, go-fix-all, go-build, cspell

github-workflow-lint:
  name: GitHub workflow lint
  entry: go
  args:
  - run
  - cmd/cicd/main.go
  - github-workflow-lint
  language: system
  pass_filenames: false
  stages:
  - pre-push

golangci-lint:
  name: golangci-lint (incremental auto-fix)
  entry: golangci-lint
  args:
  - run
  - --fix
  - --timeout=30m
  - --new-from-rev=HEAD~1
  language: system
  pass_filenames: false
  stages:
  - pre-commit

go-mod-tidy:
  name: go mod tidy
  entry: go
  args:
  - mod
  - tidy
  language: system
  pass_filenames: false

check-todo-severity:
  name: Check TODO/FIXME severity (block CRITICAL/HIGH)
  entry: bash
  args:
  - -c
  ...

go-fix-all:
  name: Auto-fix Go issues (staticcheck, copyloopvar, thelper)
  entry: go
  args:
  - run
  - cmd/cicd/main.go
  - go-fix-all
  language: system
  pass_filenames: false
  stages:
  - pre-commit

go-build:
  name: go build
  entry: go
  args:
  - build
  - ./...
  language: system
  pass_filenames: false
  stages:
  - pre-push

cspell:
  name: Check spelling
  entry: cspell
  args:
  - --no-progress
  - --cache
  language: system

docs: complete speckit 001-cryptoutil ALL phases (76 tasks) - session summary
  specs/001-cryptoutil/implement/DETAILED.md
Due: cspell

docs: update EXECUTIVE.md with complete speckit status for stakeholders
  specs/001-cryptoutil/implement/EXECUTIVE.md
Due: cspell

fix(cicd): restore enforce_any.go from self-modification regression
  internal/cmd/cicd/format_go/enforce_any.go
  internal/cmd/cicd/format_go/format_go_test.go
  internal/cmd/cicd/format_go/self_modification_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(format_go): correct interface{} to any replacement logic and tests
  internal/cmd/cicd/format_go/enforce_any.go
  internal/cmd/cicd/format_go/format_go_test.go
  internal/cmd/cicd/format_go/self_modification_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(format_go): complete interface{} replacement - fix ALL remaining comments
  internal/cmd/cicd/format_go/enforce_any.go
  internal/cmd/cicd/format_go/format_go_test.go
  internal/cmd/cicd/format_go/self_modification_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

Revert 'fix(format_go): complete interface{} replacement - fix ALL remaining comments'
  internal/cmd/cicd/format_go/enforce_any.go
  internal/cmd/cicd/format_go/format_go_test.go
  internal/cmd/cicd/format_go/self_modification_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(format_go): restore test data and assertions after bad revert
  internal/cmd/cicd/format_go/self_modification_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(format_go): update self_modification_test assertions for interface{}
  internal/cmd/cicd/format_go/self_modification_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(postmortem): format_go self-modification issue
  docs/P0.10-format_go-self-modification-postmortem.md
Due: cspell

fix(format_go): add defensive check and post-mortem for self-modification
  docs/P0.10-format_go-self-modification-postmortem.md
  internal/cmd/cicd/format_go/enforce_any.go
  internal/cmd/cicd/format_go/format_go_test.go
  internal/cmd/cicd/format_go/self_modification_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(format_go): complete self-modification fix with clean test data
  internal/cmd/cicd/format_go/enforce_any.go
  internal/cmd/cicd/format_go/format_go_test.go
  internal/cmd/cicd/format_go/self_modification_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(tests): increase timeouts in flaky tests (application_test.go, certificates_test.go)
  internal/kms/server/application/application_test.go
  internal/shared/crypto/certificate/certificates_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: comprehensive lessons learned from regression prevention
  docs/LESSONS-LEARNED-REGRESSIONS.md
Due: cspell

docs: clarify bind address pattern for unit/integration tests vs docker
  .github/instructions/01-01.architecture.instructions.md
Due: cspell

docs: update TestMutualTLS flaky test analysis with intermittent behavior
  docs/LESSONS-LEARNED-REGRESSIONS.md
Due: cspell

refactor(tests): consolidate jwk_coverage_test.go to table-driven patterns with probability execution
  internal/jose/crypto/jwk_coverage_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(instructions): extract critical patterns from LESSONS-LEARNED to copilot instructions
  .github/instructions/01-03.coding.instructions.md
  .github/instructions/03-03.git.instructions.md
Due: cspell

docs(instructions): add timeout and coverage enforcement patterns
  .github/instructions/01-04.testing.instructions.md
Due: cspell

docs(instructions): add Windows Firewall exception prevention pattern
  .github/instructions/01-07.security.instructions.md
Due: cspell

refactor(instructions): consolidate copilot examples and reduce duplication
  .github/copilot-instructions.md
Due: cspell

docs: remove redundant regression docs (patterns extracted to copilot instructions)
  docs/LESSONS-LEARNED-REGRESSIONS.md
  docs/P0.10-format_go-self-modification-postmortem.md
Due: cspell

docs(gremlins): add mutation testing howto and task list
  docs/gremlins/MUTATIONS-HOWTO.md
  docs/gremlins/MUTATIONS-TASKS.md
Due: cspell

docs(gremlins): add known limitations section
  docs/gremlins/MUTATIONS-HOWTO.md
Due: cspell

fix(deps): move github.com/shirou/gopsutil/v4 to direct dependencies
  go.mod
Due: go-mod-tidy, go-build

docs(gremlins): remove all C:\Temp references from mutation testing guides
  docs/gremlins/MUTATIONS-HOWTO.md
  docs/gremlins/MUTATIONS-TASKS.md
Due: cspell

docs(gremlins): update mutation testing threshold from 80% to 98% project-wide
  .github/copilot-instructions.md
  .github/instructions/01-03.coding.instructions.md
  .github/instructions/01-04.testing.instructions.md
  docs/PRODUCT-REFACTOR-TASKS.md
  docs/gremlins/MUTATIONS-HOWTO.md
  docs/gremlins/MUTATIONS-TASKS.md
  specs/000-cryptoutil-template/README.md
  specs/000-cryptoutil-template/plan.md
  specs/000-cryptoutil-template/spec.md
  specs/001-cryptoutil/spec.md
Due: cspell

fix(identity): replace hardcoded UUID with NewV7() in consent error test
  internal/identity/idp/handlers_consent_errors_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(ci): correct fuzz test package paths from internal/common to internal/shared
  .github/workflows/ci-fuzz.yml
Due: github-workflow-lint, cspell

docs(specs): add 2025-12-17 session to implement/DETAILED.md timeline
  specs/001-cryptoutil/implement/DETAILED.md
Due: cspell

refactor(specs): create 002-cryptoutil with clean MVP-focused structure
  specs/002-cryptoutil/TASKS.md
  specs/002-cryptoutil/implement/DETAILED.md
  specs/002-cryptoutil/implement/EXECUTIVE.md
Due: cspell

refactor(specs): add comprehensive PLAN.md for 002-cryptoutil
  specs/002-cryptoutil/PLAN.md
Due: cspell

refactor(specs): create comprehensive analyze.md for 002-cryptoutil
  specs/002-cryptoutil/analyze.md
Due: cspell

refactor(specs): regenerate clarify.md for 002-cryptoutil
  specs/002-cryptoutil/clarify.md
Due: cspell

feat(specs): create CLARIFY-QA.md with 100 validation questions
  specs/002-cryptoutil/CLARIFY-QA.md
Due: cspell

docs(specs): update DETAILED.md with spec refactoring completion
  specs/002-cryptoutil/implement/DETAILED.md
Due: cspell

test(timing): establish P1.1 baseline for 002-cryptoutil
  scripts/parse-timing.ps1
  specs/002-cryptoutil/implement/DETAILED.md
Due: cspell

docs(specs): complete 001 archive and regenerate 002 CLARIFY-QA
  specs/001-cryptoutil-archived-2025-12-17/implement/DETAILED.md
  specs/002-cryptoutil/CLARIFY-QA.md
Due: cspell

docs(specs): complete 001 archive and rename 002 speckit files
  specs/001-cryptoutil-archived-2025-12-17/PLAN-possibly-out-of-date.md
  specs/001-cryptoutil-archived-2025-12-17/TASKS-possibly-out-of-date.md
  specs/001-cryptoutil-archived-2025-12-17/analyze-possibly-out-of-date.md
  specs/001-cryptoutil-archived-2025-12-17/clarify-possibly-out-of-date.md
  specs/001-cryptoutil-archived-2025-12-17/implement/EXECUTIVE.md
  specs/001-cryptoutil-archived-2025-12-17/other/IMPLEMENTATION-GUIDE.md
  specs/001-cryptoutil-archived-2025-12-17/other/MUTATION-TESTING-BASELINE.md
  specs/001-cryptoutil-archived-2025-12-17/other/SESSION-SUMMARY.md
  specs/001-cryptoutil-archived-2025-12-17/other/SLOW-TEST-PACKAGES.md
  specs/001-cryptoutil-archived-2025-12-17/other/SPEC-KIT-FILE-ANALYSIS.md
  specs/001-cryptoutil-archived-2025-12-17/spec.md
  specs/001-cryptoutil/implement/DETAILED.md
  specs/001-cryptoutil/implement/archived/DETAILED-archived.md
  specs/001-cryptoutil/implement/archived/EXECUTIVE-archived.md
  specs/002-cryptoutil/analyze-possibly-out-of-date.md
  specs/002-cryptoutil/clarify-possibly-out-of-date.md
  specs/002-cryptoutil/other/IMPLEMENTATION-GUIDE.md
  specs/002-cryptoutil/other/MUTATION-TESTING-BASELINE.md
  specs/002-cryptoutil/other/SESSION-SUMMARY.md
  specs/002-cryptoutil/other/SLOW-TEST-PACKAGES.md
  specs/002-cryptoutil/other/SPEC-KIT-FILE-ANALYSIS.md
  specs/002-cryptoutil/plan-possibly-out-of-date.md
  specs/002-cryptoutil/spec.md
  specs/002-cryptoutil/tasks-possibly-out-of-date.md
Due: cspell

docs(specs): backport Phase 5-7 architecture to spec.md
  specs/002-cryptoutil/spec.md
Due: cspell

docs(specs): regenerate clarify.md from updated spec.md with Phase 5-7
  specs/002-cryptoutil/clarify.md
Due: cspell

Path conditions:
  github-workflow-lint: any of: \.github/workflows/.*\.(yml|yaml)$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.mod$
  check-todo-severity: any of: \.go$
  go-fix-all: any of: \.go$
  go-build: any of: \.go$|go\.mod$|go\.sum$
  cspell: any of: \.(md|txt|go|yaml|yml|json|js|ts|py|sh|ps1)$, but not: ^(test/|vendor/|\.git/|node_modules/|\.cache/)
