Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: github-workflow-lint, golangci-lint, go-mod-tidy, check-todo-severity, go-fix-all, go-build, cspell

Path conditions:
  github-workflow-lint: any of: \.github/workflows/.*\.(yml|yaml)$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.mod$
  check-todo-severity: any of: \.go$
  go-fix-all: any of: \.go$
  go-build: any of: \.go$|go\.mod$|go\.sum$
  cspell: any of: \.(md|txt|go|yaml|yml|json|js|ts|py|sh|ps1)$, but not: ^(test/|vendor/|\.git/|node_modules/|\.cache/)

docs(tasks): update Task 0.6.2 status - 91.2% coverage achieved, document gap
  docs/fixes-needed-plan-tasks-v4/tasks.md
Due: cspell

test(config): improve coverage to 86.9% (95.7% main code)
  internal/apps/template/service/config/config_envvars_test.go
  internal/apps/template/service/config/config_gaps_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(template/businesslogic): add database error path tests
  internal/apps/template/service/config/config_gaps_test.go
  internal/apps/template/service/server/businesslogic/session_manager_service_test.go
  internal/apps/template/service/server/businesslogic/tenant_registration_service_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(specs): add businesslogic coverage improvement entry to DETAILED.md
  specs/002-cryptoutil/implement/DETAILED.md
Due: cspell

fix(identity): flatten E2E config YAML structure to fix bind address defaults
  deployments/identity/config/authz-e2e.yml
  deployments/identity/config/idp-e2e.yml
  deployments/identity/config/rp-e2e.yml
  deployments/identity/config/rs-e2e.yml
  deployments/identity/config/spa-e2e.yml
Due: cspell

docs(identity): document Phase 6.2.1 E2E health check breakthrough
  specs/002-cryptoutil/implement/DETAILED.md
Due: cspell

feat(identity): implement minimal E2E endpoints for RS, IdP, and AuthZ
  internal/apps/identity/authz/server/public_server.go
  internal/apps/identity/idp/server/public_server.go
  internal/apps/identity/rs/server/public_server.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(identity): mark Phase 6.2.1 E2E tests as COMPLETE
  specs/002-cryptoutil/implement/DETAILED.md
Due: cspell

docs(identity): update Phase 6.2.1 status to COMPLETE and unblock Phase 7
  specs/002-cryptoutil/implement/DETAILED.md
Due: cspell

feat(mfa): implement TOTP RFC 6238 domain models and service layer
  internal/identity/mfa/backup_code.go
  internal/identity/mfa/totp.go
  internal/identity/mfa/totp_secret.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(mfa): add TOTP API endpoint handlers, error constants, and route registration
  internal/identity/apperr/errors.go
  internal/identity/authz/handlers_totp.go
  internal/identity/authz/routes.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(mfa): add TOTP handler unit tests
  internal/identity/authz/handlers_totp_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(mfa): add TOTP integration tests and fix bugs
  internal/identity/authz/handlers_totp.go
  internal/identity/authz/handlers_totp_integration_test.go
  internal/identity/authz/service.go
  internal/identity/mfa/totp.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(openapi): add TOTP MFA endpoints to authz spec
  api/identity/openapi_spec_authz.yaml
Due: cspell

feat(db): add TOTP MFA database migrations
  internal/identity/repository/migrations/0008_totp_secrets.down.sql
  internal/identity/repository/migrations/0008_totp_secrets.up.sql
  internal/identity/repository/migrations/0009_backup_codes.down.sql
  internal/identity/repository/migrations/0009_backup_codes.up.sql
Due: none

docs(identity): add TOTP MFA documentation
  docs/identity/mfa-totp.md
Due: cspell

docs(tasks): mark Phase 7.1.1 TOTP MFA complete
  specs/002-cryptoutil/tasks.md
Due: cspell

style: normalize whitespace in MFA and identity files
  internal/apps/identity/rs/server/public_server.go
  internal/identity/authz/handlers_totp_integration_test.go
  internal/identity/mfa/email_otp_generator.go
  specs/002-cryptoutil/implement/DETAILED.md
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(identity-webauthn): add WebAuthn HTTP handlers with proper API integration
  internal/identity/apperr/errors.go
  internal/identity/authz/handlers_webauthn.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(identity-webauthn): register WebAuthn HTTP routes
  internal/identity/authz/routes.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(identity-webauthn): add WebAuthn service layer with credential management
  internal/identity/mfa/webauthn_credential.go
  internal/identity/mfa/webauthn_service.go
  internal/identity/mfa/webauthn_service_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

refactor(identity-mfa): improve MFA constants and TOTP verification
  internal/identity/magic/magic_mfa.go
  internal/identity/mfa/backup_code.go
  internal/identity/mfa/totp.go
  internal/identity/mfa/totp_secret.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(db): add WebAuthn database migrations
  internal/identity/repository/migrations/0010_webauthn_credentials.down.sql
  internal/identity/repository/migrations/0010_webauthn_credentials.up.sql
  internal/identity/repository/migrations/0011_webauthn_sessions.down.sql
  internal/identity/repository/migrations/0011_webauthn_sessions.up.sql
Due: none

docs(openapi): add WebAuthn MFA endpoints to authz spec
  api/identity/openapi_spec_authz.yaml
Due: cspell

style(identity): fix formatting alignment in WebAuthn components
  internal/identity/apperr/errors.go
  internal/identity/authz/handlers_webauthn.go
  internal/identity/mfa/webauthn_service.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(tasks): mark Phase 7.1.1 TOTP and Phase 7.2.1 WebAuthn as complete
  specs/002-cryptoutil/tasks.md
Due: cspell

feat(database): add multi-tenancy and sharding support
  internal/shared/database/errors.go
  internal/shared/database/sharding.go
  internal/shared/database/sharding_test.go
  internal/shared/database/tenant.go
  internal/shared/database/tenant_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(database): improve sharding test coverage and mark Phase 8.1.1 complete
  internal/shared/database/sharding_test.go
  specs/002-cryptoutil/tasks.md
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(security): add SAST/DAST audit and penetration test reports
  docs/security/AUDIT-REPORT.md
  docs/security/PENTEST-REPORT.md
  internal/cmd/demo/script.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(tasks): mark P9.1.1 Security Audit as complete
  specs/002-cryptoutil/tasks.md
Due: cspell

feat(monitoring): add Grafana dashboards, alerts, and runbooks for production
  deployments/telemetry/alerts/cryptoutil.yml
  deployments/telemetry/grafana-otel-lgtm/dashboards/database.json
  deployments/telemetry/grafana-otel-lgtm/dashboards/health.json
  docs/runbooks/README.md
  docs/runbooks/auth-failures.md
  docs/runbooks/cert-expiry.md
  docs/runbooks/db-connections.md
  docs/runbooks/db-errors.md
  docs/runbooks/db-latency.md
  docs/runbooks/goroutine-leak.md
  docs/runbooks/health-check.md
  docs/runbooks/high-cpu.md
  docs/runbooks/high-error-rate.md
  docs/runbooks/high-latency.md
  docs/runbooks/high-memory.md
  docs/runbooks/service-down.md
Due: cspell

docs(tasks): mark P9.2.1 Observability Enhancement complete
  specs/002-cryptoutil/tasks.md
Due: cspell

style: fix linting issues and add exclusions
  .golangci.yml
  internal/apps/template/service/config/config_gaps_test.go
  internal/apps/template/service/server/barrier/gorm_barrier_repository_test.go
  internal/apps/template/service/server/barrier/key_services_test.go
  internal/apps/template/service/server/barrier/rotation_service_test.go
  internal/identity/authz/handlers_totp_integration_test.go
  internal/identity/authz/handlers_webauthn.go
  internal/identity/mfa/totp.go
  internal/shared/database/sharding.go
  internal/shared/database/sharding_test.go
  internal/shared/database/tenant.go
  internal/shared/database/tenant_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: add v6 analysis for copilot instructions and service template
  docs/fixes-needed-plan-tasks-v6/01-copilot-instructions-analysis.md
  docs/fixes-needed-plan-tasks-v6/02-service-template-analysis.md
  docs/fixes-needed-plan-tasks-v6/03-implementation-plan.md
Due: cspell

docs: fix instruction file issues and add cicd-enforceable directive analysis
  .github/instructions/02-02.service-template.instructions.md
  .github/instructions/02-07.cryptography.instructions.md
  .github/instructions/03-08.server-builder.instructions.md
  docs/fixes-needed-plan-tasks-v6/01-copilot-instructions-analysis.md
  docs/fixes-needed-plan-tasks-v6/02-cicd-enforceable-directives.md
  docs/fixes-needed-plan-tasks-v6/02-service-template-analysis.md
  docs/fixes-needed-plan-tasks-v6/03-implementation-plan.md
  internal/identity/mfa/totp.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: add test conformance analysis for service-template, cipher-im, jose-ja, sm-kms
  docs/fixes-needed-plan-tasks-v6/02-code-issues.md
Due: cspell

docs: add sm-kms deep analysis
  docs/fixes-needed-plan-tasks-v6/02-sm-kms-analysis.md
Due: cspell

docs: add sm-kms migration plan to service template
  docs/fixes-needed-plan-tasks-v6/02-sm-kms-migrate-to-service-template.md
Due: cspell

docs(arch): consolidate architecture docs into single source of truth
  docs/arch/ARCHITECTURE.md
  docs/arch/SERVICE-TEMPLATE-APPLICATION-LISTENER-GUIDE.md
  docs/arch/SERVICE-TEMPLATE-REUSABILITY.md
  docs/arch/SERVICE-TEMPLATE-v4.md
  docs/arch/SERVICE-TEMPLATE.md
Due: cspell

docs: save in-progress fixes-needed-plan-tasks-v6 updates
  docs/DEV-SETUP.md
  docs/fixes-needed-plan-tasks-v6/02-cicd-enforceable-directives.md
Due: cspell
