Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-build, golangci-lint-full, golangci-lint, go-mod-tidy, check-todo-severity

go-build:
  name: go build
  entry: go
  args:
  - build
  - ./...
  language: system
  pass_filenames: false
  require_serial: true
  stages:
  - pre-push

golangci-lint-full:
  name: golangci-lint (full validation)
  entry: golangci-lint
  args:
  - run
  - --timeout=30m
  language: system
  pass_filenames: false
  stages:
  - pre-push

golangci-lint:
  name: golangci-lint (incremental auto-fix)
  entry: golangci-lint
  args:
  - run
  - --fix
  - --timeout=30m
  - --new-from-rev=HEAD~1
  language: system
  pass_filenames: false
  require_serial: false
  stages:
  - pre-commit

go-mod-tidy:
  name: go mod tidy
  entry: go
  args:
  - mod
  - tidy
  language: system
  pass_filenames: false

check-todo-severity:
  name: Check TODO/FIXME severity (block CRITICAL/HIGH)
  entry: bash
  args:
  - -c
  ...

chore(framework-v23): close analysis - leave FOLLOWUP.md for Task 4.2 e2e blocker
  docs/framework-v23/.meta/base-commit.txt
  docs/framework-v23/DETAIL-SUMMARY.md
  docs/framework-v23/EXEC-SUMMARY.md
  docs/framework-v23/FOLLOWUP.md
  docs/framework-v23/lessons.md
  docs/framework-v23/plan.md
  docs/framework-v23/tasks.md
Due: none

docs(framework-v23): clarify followup blocker and closure criteria
  docs/framework-v23/FOLLOWUP.md
Due: none

fix(deployments): replace bash entrypoint in distroless otel-collector-contrib with Alpine init container
  api/cryptosuite-registry/templates/deployments/__PS_ID__/compose.yml
  deployments/identity-authz/compose.yml
  deployments/identity-idp/compose.yml
  deployments/identity-rp/compose.yml
  deployments/identity-rs/compose.yml
  deployments/identity-spa/compose.yml
  deployments/jose-ja/compose.yml
  deployments/pki-ca/compose.yml
  deployments/skeleton-template/compose.yml
  deployments/sm-im/compose.yml
  deployments/sm-kms/compose.yml
Due: none

docs(v23): update FOLLOWUP.md with bash/distroless root cause and fix
  docs/framework-v23/FOLLOWUP.md
Due: none

fix(e2e): sync runtime cert tree before CA client setup
  api/cryptosuite-registry/templates/deployments/__PS_ID__/compose.yml
  deployments/identity-authz/certs/tls-config.yml
  deployments/identity-authz/compose.yml
  deployments/identity-idp/certs/tls-config.yml
  deployments/identity-idp/compose.yml
  deployments/identity-rp/certs/tls-config.yml
  deployments/identity-rp/compose.yml
  deployments/identity-rs/certs/tls-config.yml
  deployments/identity-rs/compose.yml
  deployments/identity-spa/certs/tls-config.yml
  deployments/identity-spa/compose.yml
  deployments/jose-ja/certs/tls-config.yml
  deployments/jose-ja/compose.yml
  deployments/pki-ca/certs/tls-config.yml
  deployments/pki-ca/compose.yml
  deployments/skeleton-template/certs/tls-config.yml
  deployments/skeleton-template/compose.yml
  deployments/sm-im/certs/tls-config.yml
  deployments/sm-im/compose.yml
  deployments/sm-kms/certs/tls-config.yml
  deployments/sm-kms/compose.yml
  internal/apps-framework/service/testing/e2e_infra/compose_manager.go
  internal/apps-framework/service/testing/e2e_infra/compose_manager_test.go
  internal/apps-framework/service/testing/e2e_infra/testmain_factory.go
  internal/apps-framework/service/testing/e2e_infra/testmain_factory_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(deployments): restore compose template compliance and lint fitness
  api/cryptosuite-registry/templates/deployments/__PS_ID__/compose.yml
  deployments/identity-authz/compose.yml
  deployments/identity-idp/compose.yml
  deployments/identity-rp/compose.yml
  deployments/identity-rs/compose.yml
  deployments/identity-spa/compose.yml
  deployments/jose-ja/compose.yml
  deployments/pki-ca/compose.yml
  deployments/skeleton-template/compose.yml
  deployments/sm-im/compose.yml
  deployments/sm-kms/compose.yml
  internal/apps-framework/service/testing/e2e_infra/testmain_factory_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

chore(tooling): update pre-commit hooks and direct deps
  .pre-commit-config.yaml
  go.mod
  go.sum
Due: go-build, go-mod-tidy

fix(policy): enforce UTF-16 and CRLF bans in lint and docs
  .claude/agents/beast-mode.md
  .claude/agents/fix-workflows.md
  .claude/agents/implementation-execution.md
  .claude/agents/implementation-planning.md
  .github/agents/beast-mode.agent.md
  .github/agents/fix-workflows.agent.md
  .github/agents/implementation-execution.agent.md
  .github/agents/implementation-planning.agent.md
  .github/instructions/03-05.linting.instructions.md
  .github/instructions/05-02.git.instructions.md
  docs/ENG-HANDBOOK.md
  internal/apps-tools/cicd_lint/lint_docs/lint_doc_file_encoding/lint_doc_file_encoding.go
  internal/apps-tools/cicd_lint/lint_docs/lint_doc_file_encoding/lint_doc_file_encoding_test.go
  internal/apps-tools/cicd_lint/lint_docs/lint_docs.go
  internal/apps-tools/cicd_lint/lint_text/utf8/utf8.go
  internal/apps-tools/cicd_lint/lint_text/utf8/utf8_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(lint-docs): enforce encoding policy across all agent tooling files
  internal/apps-tools/cicd_lint/lint_docs/lint_doc_file_encoding/lint_doc_file_encoding.go
  internal/apps-tools/cicd_lint/lint_docs/lint_doc_file_encoding/lint_doc_file_encoding_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(framework-v23): retain only unresolved followup blocker
  docs/framework-v23/FOLLOWUP.md
Due: none

docs: record phase 2 handbook decisions
  docs/ENG-HANDBOOK-NEW.md
  docs/ENG-HANDBOOK-PHASE2-IDEAS.md
Due: none

docs: restructure phase 2 ideas
  docs/ENG-HANDBOOK-PHASE2-IDEAS.md
Due: none

docs: mark phase 2 active slice
  docs/ENG-HANDBOOK-PHASE2-IDEAS.md
Due: none

docs: implement phase 2 slice one through five
  docs/ENG-HANDBOOK-PHASE2-IDEAS.md
Due: none

chore(workspace): checkpoint baseline before agent execution
  docs/ENG-HANDBOOK-PHASE2-IDEAS.md
Due: none

feat(docs-validation): add appendix propagation model pilot
  .github/instructions/01-01.terminology.instructions.md
  .github/instructions/06-02.agent-format.instructions.md
  docs/ENG-HANDBOOK.md
  internal/apps-tools/cicd_lint/docs_validation/agent_drift.go
  internal/apps-tools/cicd_lint/docs_validation/agent_drift_test.go
  internal/apps-tools/cicd_lint/docs_validation/skill_command_drift.go
  internal/apps-tools/cicd_lint/docs_validation/skill_command_drift_test.go
  internal/apps-tools/cicd_lint/docs_validation/validate_chunks.go
  internal/apps-tools/cicd_lint/docs_validation/validate_chunks_extraction_test.go
  internal/apps-tools/cicd_lint/docs_validation/validate_coverage.go
  internal/apps-tools/cicd_lint/docs_validation/validate_test.go
  internal/apps-tools/cicd_lint/lint_docs/lint_agent_drift/lint_agent_drift.go
  internal/apps-tools/cicd_lint/lint_docs/lint_skill_command_drift/lint_skill_command_drift.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(docs-validation): enforce appendix propagation for skill rules
  .claude/skills/copilot-customization/SKILL.md
  .claude/skills/openapi-codegen/SKILL.md
  .claude/skills/propagation-check/SKILL.md
  .claude/skills/sync-copilot-claude/SKILL.md
  .claude/skills/test-table-driven/SKILL.md
  .github/skills/copilot-customization/SKILL.md
  .github/skills/openapi-codegen/SKILL.md
  .github/skills/propagation-check/SKILL.md
  .github/skills/sync-copilot-claude/SKILL.md
  .github/skills/test-table-driven/SKILL.md
  docs/ENG-HANDBOOK.md
  docs/required-propagations.yaml
  internal/apps-tools/cicd_lint/docs_validation/validate_coverage.go
  internal/apps-tools/cicd_lint/docs_validation/validate_coverage_report.go
  internal/apps-tools/cicd_lint/docs_validation/validate_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(tests): stabilize shuffled sm-im and cleanup task behavior
  internal/apps-framework/service/server/businesslogic/session_manager_session.go
  internal/apps/sm-im/server/http_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

test(server): extract shared http harness
  internal/apps-framework/service/server/testutil/http_test_helpers.go
  internal/apps/sm-im/server/http_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

test(server): add factory-based http server harness
  internal/apps-framework/service/server/testutil/http_test_helpers.go
  internal/apps/sm-im/server/http_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(services): add sm-kms consolidation analysis
  docs/SERVICE-ANALYSIS.md
Due: none

docs(framework): remove framework-v24 docs
  docs/framework-v24/lessons.md
  docs/framework-v24/plan.md
  docs/framework-v24/quizme-v2.md
  docs/framework-v24/tasks.md
Due: none

docs(framework): remove framework-v23 docs
  docs/framework-v23/FOLLOWUP.md
Due: none

docs(framework-v24): create 10-to-8 PS-ID consolidation implementation plan
  docs/framework-v24/lessons.md
  docs/framework-v24/plan.md
  docs/framework-v24/tasks.md
Due: none

docs(framework-v25): create implementation plan for pki-ca merge into sm-kms
  docs/framework-v25/lessons.md
  docs/framework-v25/plan.md
  docs/framework-v25/tasks.md
Due: none

docs(instructions): add @local-glue and @handbook-derived-body markers to 18 instruction files
  .github/instructions/01-02.beast-mode.instructions.md
  .github/instructions/02-01.architecture.instructions.md
  .github/instructions/02-02.versions.instructions.md
  .github/instructions/02-03.observability.instructions.md
  .github/instructions/02-04.openapi.instructions.md
  .github/instructions/02-05.security.instructions.md
  .github/instructions/02-06.authn.instructions.md
  .github/instructions/03-01.coding.instructions.md
  .github/instructions/03-02.testing.instructions.md
  .github/instructions/03-03.golang.instructions.md
  .github/instructions/03-04.data-infrastructure.instructions.md
  .github/instructions/03-05.linting.instructions.md
  .github/instructions/04-01.deployment.instructions.md
  .github/instructions/05-01.cross-platform.instructions.md
  .github/instructions/05-02.git.instructions.md
  .github/instructions/06-01.evidence-based.instructions.md
  .github/instructions/06-02.agent-format.instructions.md
  .github/instructions/06-03.tool-efficiency.instructions.md
Due: none

docs(handbook): update NEW.md v0.2 with corrected marker taxonomy and §7.2-7.4
  docs/ENG-HANDBOOK-NEW.md
Due: none

docs(phase2): mark items 1-5 as fully implemented with evidence in PHASE2-IDEAS.md
  docs/ENG-HANDBOOK-PHASE2-IDEAS.md
Due: none

docs(instructions): remove @local-glue/@handbook-derived-body structural markers from all 19 instruction files
  .github/instructions/01-01.terminology.instructions.md
  .github/instructions/01-02.beast-mode.instructions.md
  .github/instructions/02-01.architecture.instructions.md
  .github/instructions/02-02.versions.instructions.md
  .github/instructions/02-03.observability.instructions.md
  .github/instructions/02-04.openapi.instructions.md
  .github/instructions/02-05.security.instructions.md
  .github/instructions/02-06.authn.instructions.md
  .github/instructions/03-01.coding.instructions.md
  .github/instructions/03-02.testing.instructions.md
  .github/instructions/03-03.golang.instructions.md
  .github/instructions/03-04.data-infrastructure.instructions.md
  .github/instructions/03-05.linting.instructions.md
  .github/instructions/04-01.deployment.instructions.md
  .github/instructions/05-01.cross-platform.instructions.md
  .github/instructions/05-02.git.instructions.md
  .github/instructions/06-01.evidence-based.instructions.md
  .github/instructions/06-02.agent-format.instructions.md
  .github/instructions/06-03.tool-efficiency.instructions.md
Due: none

docs(handbook): migrate execution-agent-behavior chunks to two-layer appendix propagation
  docs/ENG-HANDBOOK.md
Due: none

docs(handbook): migrate architecture-service-template chunks to two-layer appendix propagation
  docs/ENG-HANDBOOK.md
Due: none

docs(handbook): migrate security-authn-authz chunks to two-layer appendix propagation
  docs/ENG-HANDBOOK.md
Due: none

docs(handbook): migrate api-openapi-contracts chunks to two-layer appendix propagation
  docs/ENG-HANDBOOK.md
Due: none

chore(handbook): remove d5 temp file and normalize line endings
  docs/ENG-HANDBOOK.md
Due: none

chore(handbook): remove d6 temp file and normalize line endings
  docs/ENG-HANDBOOK.md
Due: none

style(instructions): demote duplicate H1 headings to H2 in evidence-based and versions files
  .github/instructions/02-02.versions.instructions.md
  .github/instructions/06-01.evidence-based.instructions.md
  docs/ENG-HANDBOOK-PHASE2-IDEAS.md
Due: none

feat(lint-docs): add @local-glue and @handbook-derived-body structural markers to all 19 instruction files
  .github/instructions/01-01.terminology.instructions.md
  .github/instructions/01-02.beast-mode.instructions.md
  .github/instructions/02-01.architecture.instructions.md
  .github/instructions/02-02.versions.instructions.md
  .github/instructions/02-03.observability.instructions.md
  .github/instructions/02-04.openapi.instructions.md
  .github/instructions/02-05.security.instructions.md
  .github/instructions/02-06.authn.instructions.md
  .github/instructions/03-01.coding.instructions.md
  .github/instructions/03-02.testing.instructions.md
  .github/instructions/03-03.golang.instructions.md
  .github/instructions/03-04.data-infrastructure.instructions.md
  .github/instructions/03-05.linting.instructions.md
  .github/instructions/04-01.deployment.instructions.md
  .github/instructions/05-01.cross-platform.instructions.md
  .github/instructions/05-02.git.instructions.md
  .github/instructions/06-01.evidence-based.instructions.md
  .github/instructions/06-02.agent-format.instructions.md
  .github/instructions/06-03.tool-efficiency.instructions.md
Due: none

docs(phase2-ideas): mark items 1-6 as implemented, 7-8 as future Phase 2+ work
  docs/ENG-HANDBOOK-PHASE2-IDEAS.md
Due: none

refactor(lint-docs): move ExtractSourceChunks to validate_coverage_report.go (reduce file below 500-line hard limit)
  internal/apps-tools/cicd_lint/docs_validation/validate_coverage.go
  internal/apps-tools/cicd_lint/docs_validation/validate_coverage_report.go
  internal/apps-tools/cicd_lint/docs_validation/validate_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(docs): merge @appendix-why into @appendix-propagate inline, move Pilot sections to Appendix D
  docs/ENG-HANDBOOK-NEW.md
  docs/ENG-HANDBOOK.md
  internal/apps-tools/cicd_lint/docs_validation/validate_coverage.go
  internal/apps-tools/cicd_lint/docs_validation/validate_test.go
  internal/shared/magic/magic_cicd.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

Path conditions:
  go-build: any of: \.go$|go\.mod$|go\.sum$
  golangci-lint-full: any of: \.go$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.mod$
  check-todo-severity: any of: \.go$
