Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-build, golangci-lint-full, golangci-lint, go-mod-tidy, check-todo-severity

Path conditions:
  go-build: any of: \.go$|go\.mod$|go\.sum$
  golangci-lint-full: any of: \.go$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.mod$
  check-todo-severity: any of: \.go$

fix(tls): add MinVersion TLS1.3 to sm-kms test client and gosec exclusion for identity e2e test (Task 2.10)
  .golangci.yml
  internal/apps/sm/kms/server/application/application_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(tls): Phase 2 validation and post-mortem (Task 2.10)
  docs/framework-v3/lessons.md
  docs/framework-v3/tasks.md
Due: none

feat(builder): implement DomainConfig API and migrate all 10 services (Tasks 3.1-3.4)
  internal/apps/identity/authz/server/server.go
  internal/apps/identity/idp/server/server.go
  internal/apps/identity/rp/server/server.go
  internal/apps/identity/rs/server/server.go
  internal/apps/identity/spa/server/server.go
  internal/apps/jose/ja/server/server.go
  internal/apps/pki/ca/server/server.go
  internal/apps/skeleton/template/server/server.go
  internal/apps/sm/im/server/server.go
  internal/apps/sm/kms/server/server.go
  internal/apps/template/service/server/builder/domain_config.go
  internal/apps/template/service/server/builder/domain_config_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(framework-v3): Phase 3 post-mortem and task completion (Task 3.5)
  docs/framework-v3/lessons.md
  docs/framework-v3/tasks.md
Due: none

refactor(cicd): inject io.Writer into PrintExecutionSummary/PrintCommandSeparator (Task 4.2)
  internal/apps/cicd/cicd.go
  internal/apps/cicd/common/summary.go
  internal/apps/cicd/common/summary_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(tenant): per-test pgDriver registration eliminates 11 Sequential exemptions (Task 4.3)
  internal/apps/template/service/server/tenant/tenant_postgres_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(cicd): eliminate os.Chdir via CheckInDir pattern in github_actions (Task 4.5)
  internal/apps/cicd/lint_workflow/github_actions/github_actions.go
  internal/apps/cicd/lint_workflow/github_actions/lint_workflow_test.go
  internal/apps/cicd/lint_workflow/github_actions/workflow_actions_test.go
  internal/apps/cicd/lint_workflow/github_actions/workflow_coverage_test.go
  internal/apps/cicd/lint_workflow/github_actions/workflow_lint_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(config): use viper.New() per ParseWithFlagSet + fs.GetX() in services (Task 4.6)
  docs/framework-v3/tasks.md
  internal/apps/cicd/lint_fitness/cmd_main_pattern/cmd_main_pattern_test.go
  internal/apps/cicd/lint_fitness/crypto_rand/crypto_rand_test.go
  internal/apps/cicd/lint_fitness/insecure_skip_verify/insecure_skip_verify_test.go
  internal/apps/cicd/lint_fitness/migration_numbering/migration_numbering_test.go
  internal/apps/cicd/lint_fitness/no_local_closed_db_helper/no_local_closed_db_helper_test.go
  internal/apps/cicd/lint_fitness/product_structure/product_structure_test.go
  internal/apps/cicd/lint_fitness/product_wiring/product_wiring_test.go
  internal/apps/cicd/lint_fitness/service_structure/service_structure_test.go
  internal/apps/cicd/lint_go/test_presence/test_presence_test.go
  internal/apps/cicd/lint_go_mod/outdated_deps/outdated_deps.go
  internal/apps/cicd/lint_go_mod/outdated_deps/outdated_deps_test.go
  internal/apps/jose/ja/server/config/config.go
  internal/apps/jose/ja/server/config/config_coverage_test.go
  internal/apps/jose/ja/server/config/config_validation_test.go
  internal/apps/pki/ca/server/config/config_test.go
  internal/apps/skeleton/template/server/config/config_test.go
  internal/apps/sm/im/server/config/config.go
  internal/apps/sm/im/server/config/config_errorpaths_test.go
  internal/apps/template/service/config/config.go
  internal/apps/template/service/config/config_coverage_test.go
  internal/apps/template/service/config/config_envvars_test.go
  internal/apps/template/service/config/config_gaps_parse_test.go
  internal/apps/template/service/config/config_gaps_test.go
  internal/apps/template/service/config/config_parse.go
  internal/apps/template/service/config/config_parse_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(config): remove redundant viper.Reset() from lifecycle/port/config tests + update Sequential comments (Task 4.7)
  docs/framework-v3/tasks.md
  internal/apps/jose/ja/ja_cli_test.go
  internal/apps/jose/ja/ja_lifecycle_test.go
  internal/apps/jose/ja/ja_port_conflict_test.go
  internal/apps/pki/ca/ca_cli_test.go
  internal/apps/pki/ca/ca_lifecycle_test.go
  internal/apps/pki/ca/ca_port_conflict_test.go
  internal/apps/skeleton/template/template_cli_test.go
  internal/apps/skeleton/template/template_lifecycle_test.go
  internal/apps/skeleton/template/template_port_conflict_test.go
  internal/apps/sm/im/im_lifecycle_test.go
  internal/apps/sm/im/im_port_conflict_test.go
  internal/apps/sm/im/im_server_lifecycle_test.go
  internal/apps/sm/kms/kms_cli_test.go
  internal/apps/sm/kms/kms_lifecycle_test.go
  internal/apps/sm/kms/kms_port_conflict_test.go
  internal/apps/template/service/config/config_gaps_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(lessons): add Phase 4 post-mortem, mark Task 4.8 DONE (Sequential 173->95)
  docs/framework-v3/lessons.md
  docs/framework-v3/tasks.md
Due: none

feat(lint-fitness): register no-local-closed-db-helper fitness check (Task 6.4)
  internal/apps/cicd/lint_fitness/lint_fitness.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(lint-fitness): add no-unit-test-real-server and no-unit-test-real-db fitness checks (Task 6.4)
  docs/framework-v3/checklist.md
  docs/framework-v3/tasks.md
  internal/apps/cicd/lint_fitness/lint_fitness.go
  internal/apps/cicd/lint_fitness/no_local_closed_db_helper/no_local_closed_db_helper.go
  internal/apps/cicd/lint_fitness/no_local_closed_db_helper/no_local_closed_db_helper_test.go
  internal/apps/cicd/lint_fitness/no_unit_test_real_db/no_unit_test_real_db.go
  internal/apps/cicd/lint_fitness/no_unit_test_real_db/no_unit_test_real_db_test.go
  internal/apps/cicd/lint_fitness/no_unit_test_real_server/no_unit_test_real_server.go
  internal/apps/cicd/lint_fitness/no_unit_test_real_server/no_unit_test_real_server_test.go
  internal/apps/sm/im/server/apis/messages_dberror_test.go
  internal/apps/template/service/server/repository/migrations_db_postgres_integration_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

style(lint-fitness): apply gofumpt formatting to no_unit_test_real_db and no_unit_test_real_server tests
  internal/apps/cicd/lint_fitness/no_unit_test_real_db/no_unit_test_real_db_test.go
  internal/apps/cicd/lint_fitness/no_unit_test_real_server/no_unit_test_real_server.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(sm-kms): Phase 5B.1 - extract application layer, remove legacy listener infrastructure
  docs/framework-v3/tasks.md
  internal/apps/demo/health_util.go
  internal/apps/demo/integration.go
  internal/apps/demo/integration_health.go
  internal/apps/demo/kms.go
  internal/apps/sm/kms/client/client_test.go
  internal/apps/sm/kms/server/application/application_core.go
  internal/apps/sm/kms/server/application/application_listener.go
  internal/apps/sm/kms/server/application/application_listener_browser.go
  internal/apps/sm/kms/server/application/application_listener_middleware.go
  internal/apps/sm/kms/server/application/application_middleware_test.go
  internal/apps/sm/kms/server/application/application_request_test.go
  internal/apps/sm/kms/server/application/application_shutdown_test.go
  internal/apps/sm/kms/server/application/application_test.go
  internal/apps/sm/kms/server/application/fiber_middleware_otel_request_logger.go
  internal/apps/sm/kms/server/server.go
  internal/apps/sm/kms/server/server_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(sm-kms): migrate KMS middleware to template session middleware
  internal/apps/sm/kms/server/middleware/claims.go
  internal/apps/sm/kms/server/middleware/claims_test.go
  internal/apps/sm/kms/server/middleware/errors.go
  internal/apps/sm/kms/server/middleware/errors_edge_test.go
  internal/apps/sm/kms/server/middleware/errors_test.go
  internal/apps/sm/kms/server/middleware/introspection.go
  internal/apps/sm/kms/server/middleware/introspection_error_test.go
  internal/apps/sm/kms/server/middleware/introspection_test.go
  internal/apps/sm/kms/server/middleware/jwt.go
  internal/apps/sm/kms/server/middleware/jwt_middleware_test.go
  internal/apps/sm/kms/server/middleware/jwt_revocation.go
  internal/apps/sm/kms/server/middleware/jwt_revocation_check_test.go
  internal/apps/sm/kms/server/middleware/jwt_revocation_unit_test.go
  internal/apps/sm/kms/server/middleware/jwt_test.go
  internal/apps/sm/kms/server/middleware/jwt_validate_test.go
  internal/apps/sm/kms/server/middleware/middleware_coverage_test.go
  internal/apps/sm/kms/server/middleware/realm_context.go
  internal/apps/sm/kms/server/middleware/realm_context_test.go
  internal/apps/sm/kms/server/middleware/scopes.go
  internal/apps/sm/kms/server/middleware/scopes_middleware_test.go
  internal/apps/sm/kms/server/middleware/scopes_test.go
  internal/apps/sm/kms/server/middleware/service_auth.go
  internal/apps/sm/kms/server/middleware/service_auth_edge_test.go
  internal/apps/sm/kms/server/middleware/service_auth_test.go
  internal/apps/sm/kms/server/middleware/session.go
  internal/apps/sm/kms/server/middleware/session_realm_test.go
  internal/apps/sm/kms/server/middleware/session_test.go
  internal/apps/sm/kms/server/middleware/tenant.go
  internal/apps/sm/kms/server/middleware/tenant_test.go
  internal/apps/sm/kms/server/server.go
  internal/apps/sm/kms/server/server_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

test(sm-kms): add property/fuzz/bench tests + fix SQLite nested-tx deadlock (Task 5B.3)
  docs/framework-v3/tasks.md
  internal/apps/demo/integration.go
  internal/apps/sm/kms/server/businesslogic/businesslogic.go
  internal/apps/sm/kms/server/businesslogic/businesslogic_coverage_test.go
  internal/apps/sm/kms/server/businesslogic/businesslogic_crud_errorpaths2_test.go
  internal/apps/sm/kms/server/businesslogic/businesslogic_crud_successpaths_test.go
  internal/apps/sm/kms/server/businesslogic/businesslogic_crud_test.go
  internal/apps/sm/kms/server/businesslogic/businesslogic_crypto.go
  internal/apps/sm/kms/server/businesslogic/businesslogic_crypto_roundtrip_test.go
  internal/apps/sm/kms/server/businesslogic/businesslogic_fuzz_test.go
  internal/apps/sm/kms/server/businesslogic/businesslogic_property_test.go
  internal/apps/sm/kms/server/middleware/realm_context.go
  internal/apps/sm/kms/server/server_test.go
  internal/shared/magic/magic_crypto.go
  internal/shared/magic/magic_testing.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(framework-v3): mark Task 5B.4 done, add Phase 5B lessons (Task 5B.4)
  docs/framework-v3/lessons.md
  docs/framework-v3/tasks.md
Due: none

test(lint-fitness): add TestCheck_Integration to all 25 sub-linters (Task 6.1)
  docs/framework-v3/tasks.md
  internal/apps/cicd/lint_fitness/admin_bind_address/admin_bind_address_test.go
  internal/apps/cicd/lint_fitness/bind_address_safety/bind_address_safety_test.go
  internal/apps/cicd/lint_fitness/cgo_free_sqlite/cgo_module_test.go
  internal/apps/cicd/lint_fitness/check_skeleton_placeholders/check_skeleton_placeholders_test.go
  internal/apps/cicd/lint_fitness/cmd_main_pattern/cmd_main_pattern_test.go
  internal/apps/cicd/lint_fitness/cross_service_import_isolation/cross_service_import_isolation_test.go
  internal/apps/cicd/lint_fitness/crypto_rand/crypto_rand_test.go
  internal/apps/cicd/lint_fitness/domain_layer_isolation/domain_layer_isolation_test.go
  internal/apps/cicd/lint_fitness/file_size_limits/file_size_limits_test.go
  internal/apps/cicd/lint_fitness/health_endpoint_presence/health_endpoint_presence_test.go
  internal/apps/cicd/lint_fitness/insecure_skip_verify/insecure_skip_verify_test.go
  internal/apps/cicd/lint_fitness/migration_numbering/migration_numbering_test.go
  internal/apps/cicd/lint_fitness/migration_range_compliance/migration_range_compliance.go
  internal/apps/cicd/lint_fitness/migration_range_compliance/migration_range_compliance_test.go
  internal/apps/cicd/lint_fitness/no_hardcoded_passwords/no_hardcoded_passwords_test.go
  internal/apps/cicd/lint_fitness/no_local_closed_db_helper/no_local_closed_db_helper_test.go
  internal/apps/cicd/lint_fitness/no_unit_test_real_db/no_unit_test_real_db_test.go
  internal/apps/cicd/lint_fitness/no_unit_test_real_server/no_unit_test_real_server_test.go
  internal/apps/cicd/lint_fitness/non_fips_algorithms/nonfips_test.go
  internal/apps/cicd/lint_fitness/parallel_tests/parallel_tests_test.go
  internal/apps/cicd/lint_fitness/product_structure/product_structure_test.go
  internal/apps/cicd/lint_fitness/product_wiring/product_wiring_test.go
  internal/apps/cicd/lint_fitness/service_contract_compliance/service_contract_compliance_test.go
  internal/apps/cicd/lint_fitness/service_structure/service_structure_test.go
  internal/apps/cicd/lint_fitness/test_patterns/test_patterns_test.go
  internal/apps/cicd/lint_fitness/tls_minimum_version/tls_minimum_version_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(lint-fitness): replace magic literal with SkeletonTemplateServiceName constant
  internal/apps/cicd/lint_fitness/migration_range_compliance/migration_range_compliance_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(lint-fitness): add no-postgres-in-non-e2e linter enforcing D19 (Task 6.6)
  internal/apps/cicd/lint_fitness/lint_fitness.go
  internal/apps/cicd/lint_fitness/no_postgres_in_non_e2e/no_postgres_in_non_e2e.go
  internal/apps/cicd/lint_fitness/no_postgres_in_non_e2e/no_postgres_in_non_e2e_test.go
  internal/apps/template/service/server/repository/migrations_db_postgres_e2e_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

style(sm-kms): fix indentation in businesslogic test files (golangci-lint auto-fix)
  internal/apps/sm/kms/server/businesslogic/businesslogic_coverage_test.go
  internal/apps/sm/kms/server/businesslogic/businesslogic_property_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(framework-v3): complete Phase 6 post-mortem - tasks 6.1/6.2/6.6/6.7 DONE
  docs/framework-v3/lessons.md
  docs/framework-v3/tasks.md
Due: none

docs(architecture): update service migration status for Phase 7 archiving (Task 7.4)
  docs/ARCHITECTURE.md
Due: none

docs(framework-v3): Phase 7 post-mortem - all tasks 7.1-7.5 DONE
  docs/framework-v3/lessons.md
  docs/framework-v3/tasks.md
Due: none

fix(cicd): MagicShouldSkipPath dot-root bug causes entire project walk to be skipped
  internal/apps/cicd/lint_go/common/common.go
  internal/apps/cicd/lint_go/common/common_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(sm): add OpenAPI-generated models for sm-im handler DTOs (Task 8.5)
  api/sm/im/client/client.gen.go
  api/sm/im/generate.go
  api/sm/im/models/models.gen.go
  api/sm/im/openapi-gen_config_client.yaml
  api/sm/im/openapi-gen_config_models.yaml
  api/sm/im/openapi-gen_config_server.yaml
  api/sm/im/openapi_spec.yaml
  api/sm/im/server/server.gen.go
  docs/framework-v3/tasks.md
  internal/apps/pki/ca/server/cmd/commands_test.go
  internal/apps/sm/im/server/apis/messages.go
  internal/apps/sm/im/server/apis/messages_dberror_test.go
  internal/apps/sm/im/server/apis/messages_errorpaths_test.go
  internal/apps/sm/im/server/apis/messages_receive_test.go
  internal/apps/sm/im/server/apis/messages_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs: Phase 8 validation and post-mortem (Task 8.6)
  docs/framework-v3/lessons.md
  docs/framework-v3/tasks.md
Due: none

docs: mark Task 8.6 complete in tasks.md
  docs/framework-v3/tasks.md
Due: none

chore: update pyproject-fmt pre-commit hook to v2.19.0
  .pre-commit-config.yaml
Due: none

chore(deps): upgrade modernc.org/sqlite v1.46.1 -> v1.46.2
  go.mod
  go.sum
Due: go-build, go-mod-tidy

fix(agents): add root cause analysis for early termination and strengthen termination conditions
  .github/agents/implementation-execution.agent.md
  docs/framework-v3/lessons.md
Due: none

feat(pkiinit): add pki-init CLI, magic constants, TLS test util, and 95%+ coverage tests
  internal/apps/cryptoutil/cryptoutil.go
  internal/apps/pkiinit/export_test.go
  internal/apps/pkiinit/pkiinit.go
  internal/apps/pkiinit/pkiinit_test.go
  internal/shared/crypto/tls/tls_test_util.go
  internal/shared/magic/magic_jose.go
  internal/shared/magic/magic_pkiinit.go
  internal/shared/magic/magic_skeleton.go
  internal/shared/magic/magic_sm.go
  internal/shared/magic/magic_sm_im.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(pkiinit): integrate pki-init into 4 compose files and update E2E test clients to use CA cert
  deployments/jose/compose.yml
  deployments/skeleton/compose.yml
  deployments/sm-im/compose.yml
  deployments/sm-kms/compose.yml
  internal/apps/jose/ja/e2e/testmain_e2e_test.go
  internal/apps/skeleton/template/e2e/testmain_e2e_test.go
  internal/apps/sm/im/e2e/testmain_e2e_test.go
  internal/apps/sm/kms/e2e/testmain_e2e_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity
