Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-build, golangci-lint-full, golangci-lint, go-mod-tidy, check-todo-severity

go-build:
  name: go build
  entry: go
  args:
  - build
  - ./...
  language: system
  pass_filenames: false
  require_serial: true
  stages:
  - pre-push

golangci-lint-full:
  name: golangci-lint (full validation)
  entry: golangci-lint
  args:
  - run
  - --timeout=30m
  language: system
  pass_filenames: false
  stages:
  - pre-push

golangci-lint:
  name: golangci-lint (incremental auto-fix)
  entry: golangci-lint
  args:
  - run
  - --fix
  - --timeout=30m
  - --new-from-rev=HEAD~1
  language: system
  pass_filenames: false
  require_serial: false
  stages:
  - pre-commit

go-mod-tidy:
  name: go mod tidy
  entry: go
  args:
  - mod
  - tidy
  language: system
  pass_filenames: false

check-todo-severity:
  name: Check TODO/FIXME severity (block CRITICAL/HIGH)
  entry: bash
  args:
  - -c
  ...

refactor(framework): add disk-writing TLS cert generation functions
  internal/apps/framework/service/server/application/application_tls.go
  internal/apps/framework/service/server/application/application_tls_disk_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(sm-kms): delete application/ package — callers use framework directly
  internal/apps/sm-kms/server/application/application_init.go
  internal/apps/sm-kms/server/application/application_init_test.go
  internal/apps/sm-kms/server/application/application_listener.go
  internal/apps/sm-kms/server/application/application_shutdown_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

test(framework): add Basic.Shutdown nil-components test to framework application tests
  internal/apps/framework/service/server/application/application_tls_disk_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(apperr): extract MapGormError from sm-kms OrmTransaction.toAppErr
  .golangci.yml
  internal/apps/sm-kms/server/repository/orm/business_entities_operations.go
  internal/shared/apperr/gorm_error_mapper.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

test(apperr): add unit tests for MapGormError GORM error mapping
  internal/shared/apperr/gorm_error_mapper_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(framework): move RealmContext/RealmContextKey/GetRealmContext to framework middleware
  internal/apps/framework/service/server/middleware/realm_context.go
  internal/apps/framework/service/server/middleware/realm_context_test.go
  internal/apps/sm-kms/server/businesslogic/businesslogic.go
  internal/apps/sm-kms/server/businesslogic/businesslogic_crud_keyops_test.go
  internal/apps/sm-kms/server/businesslogic/businesslogic_crud_test.go
  internal/apps/sm-kms/server/businesslogic/businesslogic_crypto_roundtrip_test.go
  internal/apps/sm-kms/server/businesslogic/businesslogic_operations_test.go
  internal/apps/sm-kms/server/businesslogic/businesslogic_tenantid_test.go
  internal/apps/sm-kms/server/middleware/realm_context.go
  internal/apps/sm-kms/server/server.go
  internal/apps/sm-kms/server/server_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(sm-kms): generalize CleanupDatabase to accept injected table list
  internal/apps/sm-kms/server/repository/orm/barrier_entities_errors_test.go
  internal/apps/sm-kms/server/repository/orm/barrier_entities_get_delete_errors_test.go
  internal/apps/sm-kms/server/repository/orm/barrier_entities_operations_content_test.go
  internal/apps/sm-kms/server/repository/orm/barrier_entities_operations_test.go
  internal/apps/sm-kms/server/repository/orm/barrier_operations_test.go
  internal/apps/sm-kms/server/repository/orm/business_entities_db_errors_test.go
  internal/apps/sm-kms/server/repository/orm/business_entities_error_paths_test.go
  internal/apps/sm-kms/server/repository/orm/business_entities_filter_pagination_test.go
  internal/apps/sm-kms/server/repository/orm/business_entities_material_key_test.go
  internal/apps/sm-kms/server/repository/orm/business_entities_mutation_errors_test.go
  internal/apps/sm-kms/server/repository/orm/business_entities_operations_test.go
  internal/apps/sm-kms/server/repository/orm/business_entities_versioning_filter_test.go
  internal/apps/sm-kms/server/repository/orm/orm_repository_test_util.go
  internal/apps/sm-kms/server/repository/orm/orm_transaction_autocommit_test.go
  internal/apps/sm-kms/server/repository/orm/orm_transaction_verbose_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(framework): add AssertOpenAPISpecHandler test helper for OpenAPI spec serving
  internal/apps/framework/service/server/testutil/helpers.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(sm-kms): use framework AssertOpenAPISpecHandler in swagger tests
  internal/apps/sm-kms/swagger_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(lint-fitness): add if-else-chain fitness linter
  internal/apps/tools/cicd_lint/lint_fitness/if_else_chain/if_else_chain.go
  internal/apps/tools/cicd_lint/lint_fitness/if_else_chain/if_else_chain_test.go
  internal/apps/tools/cicd_lint/lint_fitness/lint-fitness-registry.yaml
  internal/apps/tools/cicd_lint/lint_fitness/lint_fitness.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(lint): resolve if-else-chain and magic-usage violations found by new linters
  internal/apps/identity-idp/userauth/totp_hotp_auth.go
  internal/apps/identity/mfa/totp.go
  internal/apps/jose-ja/server/config/config.go
  internal/apps/jose-ja/server/repository/audit_repository_test.go
  internal/apps/tools/cicd_lint/lint_deployments/validate_deployments.go
  internal/apps/tools/cicd_lint/lint_deployments/validate_structure.go
  internal/apps/tools/cicd_lint/lint_fitness/pki_ca_profile_schema/pki_ca_profile_schema.go
  internal/shared/apperr/gorm_error_mapper_test.go
  internal/shared/crypto/certificate/certificates_main_test.go
  internal/shared/magic/magic_identity_mfa.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(sm-kms): move OrmRepository/OrmTransaction to framework, delete barrier dead code
  internal/apps/framework/service/server/repository/orm/orm_repository.go
  internal/apps/framework/service/server/repository/orm/orm_transaction.go
  internal/apps/sm-kms/server/businesslogic/businesslogic.go
  internal/apps/sm-kms/server/businesslogic/businesslogic_crypto.go
  internal/apps/sm-kms/server/repository/orm/barrier_entities.go
  internal/apps/sm-kms/server/repository/orm/barrier_entities_errors_test.go
  internal/apps/sm-kms/server/repository/orm/barrier_entities_get_delete_errors_test.go
  internal/apps/sm-kms/server/repository/orm/barrier_entities_operations.go
  internal/apps/sm-kms/server/repository/orm/barrier_entities_operations_content_test.go
  internal/apps/sm-kms/server/repository/orm/barrier_entities_operations_test.go
  internal/apps/sm-kms/server/repository/orm/barrier_operations_test.go
  internal/apps/sm-kms/server/repository/orm/business_entities_db_errors_test.go
  internal/apps/sm-kms/server/repository/orm/business_entities_error_paths_test.go
  internal/apps/sm-kms/server/repository/orm/business_entities_filter_pagination_test.go
  internal/apps/sm-kms/server/repository/orm/business_entities_material_key_test.go
  internal/apps/sm-kms/server/repository/orm/business_entities_mutation_errors_test.go
  internal/apps/sm-kms/server/repository/orm/business_entities_operations.go
  internal/apps/sm-kms/server/repository/orm/business_entities_operations_test.go
  internal/apps/sm-kms/server/repository/orm/business_entities_validation_test.go
  internal/apps/sm-kms/server/repository/orm/business_entities_versioning_filter_test.go
  internal/apps/sm-kms/server/repository/orm/orm_framework_types.go
  internal/apps/sm-kms/server/repository/orm/orm_repository_test_util.go
  internal/apps/sm-kms/server/repository/orm/orm_transaction_autocommit_test.go
  internal/apps/sm-kms/server/repository/orm/orm_transaction_test.go
  internal/apps/sm-kms/server/repository/orm/orm_transaction_verbose_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(framework/stubs): extract PS-ID server stubs into shared testing package
  internal/apps/framework/service/testing/stubs/stubs.go
  internal/apps/framework/service/testing/stubs/stubs_test.go
  internal/apps/tools/cicd_lint/lint_fitness/no_local_ps_id_server_stubs/no_local_ps_id_server_stubs.go
  internal/apps/tools/cicd_lint/lint_fitness/no_local_ps_id_server_stubs/no_local_ps_id_server_stubs_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(sm-kms): use shared stubs package, fix wrong JoseJAAdminPort constant
  internal/apps/sm-kms/server/server_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(lint-fitness): add duplicate-ps-id-test-func-names informational linter
  internal/apps/tools/cicd_lint/lint_fitness/duplicate_ps_id_test_func_names/duplicate_ps_id_test_func_names.go
  internal/apps/tools/cicd_lint/lint_fitness/duplicate_ps_id_test_func_names/duplicate_ps_id_test_func_names_test.go
  internal/apps/tools/cicd_lint/lint_fitness/lint-fitness-registry.yaml
  internal/apps/tools/cicd_lint/lint_fitness/lint_fitness.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

test(framework/orm): add OrmRepository/OrmTransaction test suite with SQLite TestMain
  internal/apps/framework/service/server/repository/orm/orm_test.go
  internal/apps/framework/service/server/repository/orm/testmain_test.go
  internal/apps/tools/cicd_lint/lint_fitness/duplicate_ps_id_test_func_names/duplicate_ps_id_test_func_names.go
  internal/apps/tools/cicd_lint/lint_fitness/duplicate_ps_id_test_func_names/duplicate_ps_id_test_func_names_test.go
  internal/apps/tools/cicd_lint/lint_fitness/no_local_ps_id_server_stubs/no_local_ps_id_server_stubs.go
  internal/apps/tools/cicd_lint/lint_fitness/no_local_ps_id_server_stubs/no_local_ps_id_server_stubs_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

style(framework/orm): replace interface{} with any per golangci-lint auto-fix
  internal/apps/framework/service/server/repository/orm/orm_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(layout): update stale path references after framework/tools promotion
  .claude/agents/implementation-execution.md
  .claude/skills/contract-test-gen/SKILL.md
  .claude/skills/coverage-analysis/SKILL.md
  .claude/skills/fitness-function-gen/SKILL.md
  .claude/skills/migration-create/SKILL.md
  .claude/skills/new-service/SKILL.md
  .github/agents/implementation-execution.agent.md
  .github/instructions/02-01.architecture.instructions.md
  .github/instructions/03-02.testing.instructions.md
  .github/instructions/03-04.data-infrastructure.instructions.md
  .github/instructions/04-01.deployment.instructions.md
  .github/instructions/05-01.cross-platform.instructions.md
  .github/skills/contract-test-gen/SKILL.md
  .github/skills/coverage-analysis/SKILL.md
  .github/skills/fitness-function-gen/SKILL.md
  .github/skills/migration-create/SKILL.md
  .github/skills/new-service/SKILL.md
  docs/ENG-HANDBOOK.md
  docs/INVESTIGATION.md
  docs/README.md
  docs/claude-structure-suggestions.md
  docs/claude-structure.md
  docs/deployment-templates.md
  docs/target-structure.md
Due: none

docs(framework-v17): create implementation plan for internal/apps/ structure fitness linters
  docs/framework-v17/lessons.md
  docs/framework-v17/plan.md
  docs/framework-v17/tasks.md
Due: none

feat(templates): add cmd/ and internal/apps/ structural manifest templates
  api/cryptosuite-registry/templates/cmd/__PRODUCT__/main.go
  api/cryptosuite-registry/templates/cmd/__PS_ID__/main.go
  api/cryptosuite-registry/templates/cmd/__SUITE__/main.go
  api/cryptosuite-registry/templates/internal/apps/__PRODUCT__/MANIFEST.yaml
  api/cryptosuite-registry/templates/internal/apps/__PS_ID__/MANIFEST.yaml
  api/cryptosuite-registry/templates/internal/apps/__SUITE__/MANIFEST.yaml
  internal/apps-tools/cicd_lint/lint_fitness/template_drift/template_drift.go
  internal/apps-tools/cicd_lint/lint_fitness/template_drift/template_drift_test.go
  internal/shared/magic/magic_template.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(framework-v17): add Phases 4-6 tasks, rigid structure tables, and open questions
  docs/framework-v17/plan.md
  docs/framework-v17/quizme-v1.md
  docs/framework-v17/tasks.md
  docs/target-structure.md
Due: none

docs(framework-v17): define PS-ID root=CLI-only rule and expand Phase 5 file-move tasks
  api/cryptosuite-registry/templates/internal/apps/__PS_ID__/MANIFEST.yaml
  docs/framework-v17/plan.md
  docs/framework-v17/tasks.md
  docs/target-structure.md
Due: none

docs: framework-v17 quizme answers, v18 plan, suggestion docs cleanup
  docs/claude-structure-suggestions.md
  docs/deployment-templates-suggestions.md
  docs/framework-v17/plan.md
  docs/framework-v17/quizme-v1.md
  docs/framework-v17/tasks.md
  docs/framework-v18/lessons.md
  docs/framework-v18/plan.md
  docs/framework-v18/tasks.md
  docs/pki-init-order.md
  docs/target-structure-suggestions.md
  docs/tls-structure-suggestions.md
Due: none

chore(deps): update outdated Go dependencies
  go.mod
  go.sum
Due: go-build, go-mod-tidy

docs(framework-v19): create V19 plan for prescriptive MANIFEST + identity conformance migration
  api/cryptosuite-registry/templates/internal/apps/__PS_ID__/MANIFEST.yaml
  docs/framework-v19/lessons.md
  docs/framework-v19/plan.md
  docs/framework-v19/tasks.md
Due: none

docs(framework-v18): merge V18+V19 plans into single implementation plan
  docs/framework-v18/lessons.md
  docs/framework-v18/plan.md
  docs/framework-v18/tasks.md
  docs/framework-v19/lessons.md
  docs/framework-v19/plan.md
  docs/framework-v19/tasks.md
Due: none

docs(framework-v18): remove version labels, consolidate phases 1-5, add token tracking to agents
  .claude/agents/implementation-planning.md
  .github/agents/implementation-planning.agent.md
  docs/framework-v18/lessons.md
  docs/framework-v18/plan.md
  docs/framework-v18/tasks.md
Due: none

docs(handbook): add v18 Phase 1 documentation propagation
  docs/ENG-HANDBOOK.md
  docs/framework-v18/lessons.md
  docs/framework-v18/tasks.md
Due: none

feat(lint): extend apps-ps-id-template linter with server-dir, config, repository, and e2e checks
  docs/framework-v18/lessons.md
  docs/framework-v18/tasks.md
  internal/apps-tools/cicd_lint/lint_fitness/apps_ps_id_template/apps_ps_id_template.go
  internal/apps-tools/cicd_lint/lint_fitness/apps_ps_id_template/apps_ps_id_template_test.go
  internal/apps-tools/cicd_lint/lint_fitness/apps_ps_id_template/export_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(framework-v18): fix phase 5-9 task status markers and task 8.2 numbering
  docs/framework-v18/tasks.md
Due: none

docs(framework-v19): create plan tasks lessons quizme
  docs/framework-v19/lessons.md
  docs/framework-v19/plan.md
  docs/framework-v19/quizme-v1.md
  docs/framework-v19/tasks.md
Due: none

fix(agents): harden execution completion and ambiguity triage
  .claude/agents/implementation-execution.md
  .github/agents/implementation-execution.agent.md
Due: none

docs(framework-v19): apply quiz answers to plan and tasks
  docs/framework-v19/plan.md
  docs/framework-v19/quizme-v1.md
  docs/framework-v19/tasks.md
Due: none

feat(framework-v19): execute reconciliation plan with evidence and exclusion cleanup
  .claude/skills/fitness-function-gen/SKILL.md
  .github/instructions/06-01.evidence-based.instructions.md
  .github/skills/fitness-function-gen/SKILL.md
  docs/ENG-HANDBOOK.md
  docs/framework-v17/plan.md
  docs/framework-v17/tasks.md
  docs/framework-v18/plan.md
  docs/framework-v18/tasks.md
  docs/framework-v19/lessons.md
  docs/framework-v19/plan.md
  docs/framework-v19/tasks.md
  internal/apps-tools/cicd_lint/lint_fitness/apps_ps_id_swagger_presence/apps_ps_id_swagger_presence.go
  internal/apps-tools/cicd_lint/lint_fitness/apps_ps_id_test_patterns/apps_ps_id_test_patterns.go
  internal/apps-tools/cicd_lint/lint_fitness/service_structure/service_structure.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(deployments): align ps-id dockerfile model
  .github/workflows/ci-quality.yml
  .github/workflows/release.yml
  docs/ENG-HANDBOOK.md
  docs/deployment-templates.md
  docs/framework-v18/plan.md
  docs/target-structure.md
  internal/apps-framework/service/testing/e2e_infra/compose_manager.go
  internal/apps-framework/service/testing/e2e_infra/docker_health.go
  internal/apps-framework/service/testing/e2e_infra/docker_health_test.go
  internal/apps-tools/cicd_lint/lint_fitness/dockerfile_healthcheck/dockerfile_healthcheck.go
  internal/apps-tools/cicd_lint/lint_fitness/dockerfile_healthcheck/dockerfile_healthcheck_test.go
  internal/apps-tools/cicd_lint/lint_fitness/dockerfile_labels/dockerfile_labels.go
  internal/apps-tools/cicd_lint/lint_fitness/dockerfile_labels/dockerfile_labels_parsing_test.go
  internal/apps-tools/cicd_lint/lint_fitness/dockerfile_labels/dockerfile_labels_test.go
  internal/shared/magic/magic_docker.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(tls): add legacy mode inventory
  test-outputs/FILES.txt
Due: none

Path conditions:
  go-build: any of: \.go$|go\.mod$|go\.sum$
  golangci-lint-full: any of: \.go$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.mod$
  check-todo-severity: any of: \.go$
