Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-workflow, golangci-lint, golangci-lint-full, lint-compose, go-mod-tidy, check-todo-severity, format-go, format-go-test, format-go-self-modification-check, go-build

lint-workflow:
  name: GitHub workflow lint
  entry: go
  args:
  - run
  - cmd/cicd/main.go
  - lint-workflow
  language: system
  pass_filenames: false
  require_serial: false
  stages:
  - pre-push

golangci-lint:
  name: golangci-lint (incremental auto-fix)
  entry: golangci-lint
  args:
  - run
  - --fix
  - --timeout=30m
  - --new-from-rev=HEAD~1
  language: system
  pass_filenames: false
  require_serial: false
  stages:
  - pre-commit

golangci-lint-full:
  name: golangci-lint (full validation)
  entry: golangci-lint
  args:
  - run
  - --timeout=30m
  language: system
  pass_filenames: false
  stages:
  - pre-push

lint-compose:
  name: Detect admin port 9090 exposure in Docker Compose files
  entry: go
  args:
  - run
  - cmd/cicd/main.go
  - lint-compose
  language: system
  pass_filenames: false
  require_serial: false
  stages:
  - pre-commit

go-mod-tidy:
  name: go mod tidy
  entry: go
  args:
  - mod
  - tidy
  language: system
  pass_filenames: false

check-todo-severity:
  name: Check TODO/FIXME severity (block CRITICAL/HIGH)
  entry: bash
  args:
  - -c
  ...

format-go:
  name: Auto-fix Go files (any, copyloopvar)
  entry: go
  args:
  - run
  - cmd/cicd/main.go
  - format-go
  language: system
  pass_filenames: false
  stages:
  - pre-push

format-go-test:
  name: Auto-fix Go test files (t.Helper)
  entry: go
  args:
  - run
  - cmd/cicd/main.go
  - format-go-test
  language: system
  pass_filenames: false
  stages:
  - pre-push

format-go-self-modification-check:
  name: Verify format_go files not self-modified
  entry: python
  language: system
  pass_filenames: false
  stages:
  - pre-push
  args:
  - -c
  ...

go-build:
  name: go build
  entry: go
  args:
  - build
  - ./...
  language: system
  pass_filenames: false
  require_serial: false
  stages:
  - pre-push

style: remove trailing space in Task 10.6 commits line
  docs/fixes-needed-plan-tasks-v10/tasks.md
Due: none

refactor(workflow): relocate internal/cmd/workflow to internal/apps/workflow
  cmd/workflow/main.go
  internal/apps/workflow/workflow.go
  internal/apps/workflow/workflow_test.go
  internal/apps/workflow/workflow_utility_test.go
Due: golangci-lint, golangci-lint-full, check-todo-severity, format-go, format-go-test, go-build

refactor(demo): relocate internal/cmd/demo to internal/apps/demo
  cmd/demo/main.go
  internal/apps/demo/ca.go
  internal/apps/demo/demo.go
  internal/apps/demo/errors.go
  internal/apps/demo/identity.go
  internal/apps/demo/integration.go
  internal/apps/demo/jose.go
  internal/apps/demo/kms.go
  internal/apps/demo/progress.go
  internal/apps/demo/script.go
Due: golangci-lint, golangci-lint-full, check-todo-severity, format-go, go-build

refactor(cipher): remove duplicate cipher package in internal/cmd
  internal/cmd/cipher/cipher.go
  internal/cmd/cipher/cipher_test.go
  internal/cmd/cryptoutil/cryptoutil.go
Due: golangci-lint, golangci-lint-full, check-todo-severity, format-go, format-go-test, go-build

refactor(identity): relocate internal/cmd/identity subpackages to internal/apps/identity
  cmd/identity-compose/main.go
  cmd/identity-demo/main.go
  internal/apps/identity/compose/compose.go
  internal/apps/identity/demo/demo.go
Due: golangci-lint, golangci-lint-full, check-todo-severity, format-go, go-build

refactor(cryptoutil): distribute internal/cmd/cryptoutil subpackages to product locations
  cmd/identity-unified/main.go
  cmd/pki-ca/main.go
  internal/apps/identity/authz/unified/authz.go
  internal/apps/identity/idp/unified/idp.go
  internal/apps/identity/rp/unified/rp.go
  internal/apps/identity/rs/unified/rs.go
  internal/apps/identity/spa/unified/spa.go
  internal/apps/identity/unified/identity.go
  internal/apps/jose/unified/jose.go
  internal/apps/pki/ca/unified/ca.go
  internal/cmd/cryptoutil/cryptoutil.go
Due: golangci-lint, golangci-lint-full, check-todo-severity, format-go, go-build

refactor: relocate cryptoutil router to internal/apps/ and delete internal/cmd/
  cmd/cryptoutil/main.go
  internal/apps/cryptoutil/cryptoutil.go
  internal/apps/cryptoutil/cryptoutil_test.go
Due: golangci-lint, golangci-lint-full, check-todo-severity, format-go, format-go-test, go-build

fix: correct comment reference to internal/test/e2e path
  internal/apps/cicd/format_go/enforce_any.go
  internal/apps/cicd/format_go/format_go_test.go
  internal/apps/cicd/format_go/self_modification_test.go
  internal/test/e2e/docker_utils.go
Due: golangci-lint, golangci-lint-full, check-todo-severity, format-go, format-go-test, go-build

docs(phase11): complete Phase 11 - ALL internal/cmd/ relocated to internal/apps/
  docs/fixes-needed-plan-tasks-v10/tasks.md
Due: none

Phase 12: Quality gates and compliance verification complete
  cmd/identity-compose/main.go
  cmd/identity-demo/main.go
  internal/apps/cicd/format_go/self_modification_test.go
  internal/apps/identity/compose/compose.go
  internal/apps/identity/demo/demo.go
  internal/cmd/cryptoutil/cryptoutil.go
  internal/shared/magic/magic_cicd.go
Due: golangci-lint, golangci-lint-full, check-todo-severity, format-go, format-go-test, go-build

docs(v10): Phase 12 complete - all quality gates and ARCHITECTURE.md compliance verified
  docs/fixes-needed-plan-tasks-v10/plan.md
  docs/fixes-needed-plan-tasks-v10/tasks.md
  internal/apps/cryptoutil/cryptoutil.go
  internal/apps/identity/compose/compose.go
  internal/apps/identity/demo/demo.go
  internal/cmd/cryptoutil/cryptoutil.go
Due: golangci-lint, golangci-lint-full, check-todo-severity, format-go, go-build

refactor: update format_go package for interface{} to any enforcement
  internal/apps/cicd/format_go/enforce_any.go
  internal/apps/cicd/format_go/format_go_test.go
  internal/apps/cicd/format_go/self_modification_test.go
  internal/cmd/cicd/format_go/enforce_any.go
Due: golangci-lint, golangci-lint-full, check-todo-severity, format-go, format-go-test, format-go-self-modification-check, go-build

docs: expand suite overview with comprehensive port reference and design principles
  docs/arch/ARCHITECTURE.md
Due: none

docs: update various documentation and config files
  .github/instructions/02-01.architecture.instructions.md
  .github/workflows/ci-e2e.yml
  .vscode/cspell.json
  .vscode/launch.json
  configs/ca/ca-server.yml
  configs/jose/jose-server.yml
  deployments/jose/Dockerfile
  deployments/jose/compose.yml
  deployments/jose/config/jose.yml
  deployments/kms/compose.yml
  docs/arch/ARCHITECTURE.md
  docs/archive/v8/plan.md
  docs/archive/v8/tasks.md
  docs/docker-health-checks.md
  docs/fixes-needed-plan-tasks-v8/analysis-overview.md
  docs/fixes-needed-plan-tasks-v8/analysis-thorough.md
  docs/fixes-needed-plan-tasks-v8/plan.md
  docs/fixes-needed-plan-tasks-v8/tasks.md
  docs/jose-ja/DEPLOYMENT.md
  docs/runbooks/cert-expiry.md
  internal/apps/template/service/config/config.go
  internal/apps/template/service/config/config_coverage_test.go
  internal/apps/template/service/config/config_gaps_test.go
  internal/ca/server/cmd/commands.go
  internal/ca/server/server.go
  specs/002-cryptoutil/implement/DETAILED.md
  specs/002-cryptoutil/spec.md
Due: lint-workflow, golangci-lint, golangci-lint-full, lint-compose, check-todo-severity, format-go, format-go-test, go-build

docs: remove SERVICE-TEMPLATE.md and update references, content moved to ARCHITECTURE.md
  .github/agents/doc-sync.agent.md
  .github/agents/plan-tasks-implement.agent.md
  docs/arch/ARCHITECTURE.md
  docs/arch/SERVICE-TEMPLATE.md
  docs/archive/v8/plan.md
  docs/archive/v8/tasks.md
  docs/fixes-needed-plan-tasks-v8/analysis-overview.md
  docs/fixes-needed-plan-tasks-v8/analysis-thorough.md
  docs/fixes-needed-plan-tasks-v8/archive/v7/archive/v6/comparison-table.md
  docs/fixes-needed-plan-tasks-v8/archive/v7/comparison-table.md
  docs/fixes-needed-plan-tasks-v8/plan.md
  docs/fixes-needed-plan-tasks-v8/tasks.md
Due: none

docs: update architecture and agent files
  .github/agents/doc-sync.agent.md
  docs/ARCHITECTURE.md
  docs/archive/v8/plan.md
  docs/archive/v8/tasks.md
Due: none

docs(agents): consolidate workflow testing guide into fix-github-workflows agent
  .github/agents/fix-github-workflows.agent.md
  docs/WORKFLOW-TEST-GUIDELINE.md
Due: none

fix(cicd): remove orphaned enforce_any.go from old directory structure
  internal/cmd/cicd/format_go/enforce_any.go
Due: golangci-lint, golangci-lint-full, check-todo-severity, format-go, format-go-self-modification-check, go-build

style: fix linting issues (errcheck + wsl_v5) in identity demo
  api/model/openapi_gen_model.go
  api/server/openapi_gen_server.go
  docs/fixes-needed-plan-tasks-v10/tasks.md
  internal/apps/cicd/format_go/enforce_any.go
  internal/apps/identity/compose/compose.go
  internal/apps/identity/demo/demo.go
  internal/identity/authz/handlers_totp_integration_test.go
  internal/shared/magic/magic_cicd.go
Due: golangci-lint, golangci-lint-full, check-todo-severity, format-go, format-go-test, go-build

docs(v10): document completion with infrastructure test blockers
  docs/fixes-needed-plan-tasks-v10/plan.md
Due: none

ci(pre-commit): update and deduplicate pre-commit hooks config
  .pre-commit-config.yaml
  internal/apps/cicd/cicd.go
Due: golangci-lint, golangci-lint-full, check-todo-severity, format-go, go-build

docs(architecture): update quality gates and workflow commands
  docs/ARCHITECTURE.md
Due: none

chore(agent): add fix-github-workflows handoff to plan-tasks-implement.agent.md
  .github/agents/plan-tasks-implement.agent.md
Due: none

fix(agents): add YAML frontmatter closure and enhance autonomous execution in beast-mode-custom agent
  .github/agents/beast-mode-custom.agent.md
Due: none

fix(agents): integrate ARCHITECTURE.md workflow commands and enhance fix-github-workflows agent effectiveness
  .github/agents/fix-github-workflows.agent.md
Due: none

docs(agents): fix Evidence Collection Pattern directory references
  .github/agents/fix-github-workflows.agent.md
Due: none

docs(agents): remove duplicate Local Workflow Testing Methods section
  .github/agents/fix-github-workflows.agent.md
Due: none

docs(agents): update Testing Strategy and Quality Gates
  .github/agents/fix-github-workflows.agent.md
Due: none

docs(agents): add elite security-first and checklist sections
  .github/agents/fix-github-workflows.agent.md
Due: none

docs(agents): add URL References section - 9 research sources
  .github/agents/fix-github-workflows.agent.md
Due: none

docs(agents): replace remaining act local references with cmd/workflow
  .github/agents/fix-github-workflows.agent.md
Due: none

docs(agents): condense sections to meet 30K character limit
  .github/agents/fix-github-workflows.agent.md
Due: none

fix(pre-commit): correct gitleaks repo nesting
  .pre-commit-config.yaml
Due: none

chore: apply pre-commit auto-fixes
  .github/agents/fix-github-workflows.agent.md
  .pre-commit-config.yaml
  go.mod
  go.sum
Due: go-mod-tidy, go-build

chore(docs): remove obsolete CA documentation files
  docs/archive/README.md
  docs/archive/v8/plan.md
  docs/archive/v8/tasks.md
  docs/archive/v9/plan.md
  docs/archive/v9/tasks.md
  docs/ca/charter.md
  docs/ca/threat-model.md
Due: none

docs(arch): create ARCHITECTURE-v2.md skeleton structure
  ARCHITECTURE-v2.md
Due: none

docs(arch): enhance ARCHITECTURE-v2.md skeleton with reference file analysis
  ARCHITECTURE-v2.md
Due: none

docs(arch): enhance ARCHITECTURE-v2.md with subsection details for product suite, system arch, service patterns, cryptography, multi-tenancy, and API design
  ARCHITECTURE-v2.md
Due: none

Path conditions:
  lint-workflow: any of: \.github/workflows/.*\.(yml|yaml)$
  golangci-lint: any of: \.go$
  golangci-lint-full: any of: \.go$
  lint-compose: any of: (compose.*\.ya?ml|docker-compose.*\.ya?ml)$
  go-mod-tidy: any of: go\.mod$
  check-todo-severity: any of: \.go$
  format-go: any of: \.go$
  format-go-test: any of: _test\.go$
  format-go-self-modification-check: any of: internal/cmd/cicd/format_go/.*\.go$
  go-build: any of: \.go$|go\.mod$|go\.sum$
