Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-build, golangci-lint-full, golangci-lint, go-mod-tidy, check-todo-severity

go-build:
  name: go build
  entry: go
  args:
  - build
  - ./...
  language: system
  pass_filenames: false
  require_serial: true
  stages:
  - pre-push

golangci-lint-full:
  name: golangci-lint (full validation)
  entry: golangci-lint
  args:
  - run
  - --timeout=30m
  language: system
  pass_filenames: false
  stages:
  - pre-push

golangci-lint:
  name: golangci-lint (incremental auto-fix)
  entry: golangci-lint
  args:
  - run
  - --fix
  - --timeout=30m
  - --new-from-rev=HEAD~1
  language: system
  pass_filenames: false
  require_serial: false
  stages:
  - pre-commit

go-mod-tidy:
  name: go mod tidy
  entry: go
  args:
  - mod
  - tidy
  language: system
  pass_filenames: false

check-todo-severity:
  name: Check TODO/FIXME severity (block CRITICAL/HIGH)
  entry: bash
  args:
  - -c
  ...

feat(workflow): move to tools/workflow, add run+cleanup subcommands (task 2.9)
  .golangci.yml
  cmd/workflow/main.go
  internal/apps/cryptoutil/cryptoutil.go
  internal/apps/framework/suite/cli/suite_router_test.go
  internal/apps/tools/workflow/workflow.go
  internal/apps/tools/workflow/workflow_coverage_test.go
  internal/apps/tools/workflow/workflow_executor.go
  internal/apps/tools/workflow/workflow_executor_coverage_test.go
  internal/apps/tools/workflow/workflow_report_coverage_test.go
  internal/apps/tools/workflow/workflow_test.go
  internal/apps/tools/workflow/workflow_utility_test.go
  internal/shared/magic/magic_workflows.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

chore(cleanup): delete dead code profile.go in identity/config (task 2.10 quality gate)
  docs/framework-v5/tasks.md
  internal/apps/identity/config/profile.go
  internal/apps/identity/config/profile_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(framework-v5): design configs canonical structure (task 3.1)
  docs/framework-v5/tasks.md
Due: none

refactor(configs): rename pki-ca configs to PS-ID prefix (task 3.2)
  configs/pki/ca/pki-ca-config-schema.yaml
  configs/pki/ca/pki-ca-server.yml
  docs/framework-v5/tasks.md
  internal/apps/tools/cicd_lint/lint_deployments/generate_listings_test.go
  internal/apps/tools/cicd_lint/lint_deployments/validate_all.go
  internal/apps/tools/cicd_lint/lint_deployments/validate_all_runners_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(configs): rename SM configs to PS-ID prefix, update fitness linters (task 3.3)
  configs/sm/im/sm-im-pg-1.yml
  configs/sm/im/sm-im-pg-2.yml
  configs/sm/im/sm-im-sqlite.yml
  configs/sm/kms/sm-kms-pg-1.yml
  configs/sm/kms/sm-kms-pg-2.yml
  configs/sm/kms/sm-kms-sqlite.yml
  docs/framework-v5/tasks.md
  internal/apps/tools/cicd_lint/lint_deployments/validate_all.go
  internal/apps/tools/cicd_lint/lint_deployments/validate_all_runners_test.go
  internal/apps/tools/cicd_lint/lint_fitness/otlp_service_name_pattern/otlp_service_name_pattern.go
  internal/apps/tools/cicd_lint/lint_fitness/otlp_service_name_pattern/otlp_service_name_pattern_test.go
  internal/apps/tools/cicd_lint/lint_fitness/standalone_config_otlp_names/standalone_config_otlp_names.go
  internal/apps/tools/cicd_lint/lint_fitness/standalone_config_otlp_names/standalone_config_otlp_names_test.go
  internal/apps/tools/cicd_lint/lint_fitness/standalone_config_presence/standalone_config_presence.go
  internal/apps/tools/cicd_lint/lint_fitness/standalone_config_presence/standalone_config_presence_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(configs): rename jose/skeleton configs to PS-ID prefix (tasks 3.4-3.5)
  configs/jose/ja/jose-ja-server.yml
  configs/skeleton/template/skeleton-template-server.yml
  docs/framework-v5/tasks.md
  internal/apps/tools/cicd_lint/lint_deployments/validate_all_runners_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(architecture): rewrite Section 12.5 Config File Architecture with canonical naming (task 3.6)
  docs/ARCHITECTURE.md
  docs/framework-v5/tasks.md
Due: none

chore(quality): Phase 3 quality gate - fix wsl lint, verify mirror mapping (tasks 3.7-3.8)
  docs/framework-v5/tasks.md
  internal/apps/tools/cicd_lint/lint_fitness/standalone_config_presence/standalone_config_presence.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(secrets): remove dead product-prefixed hash-pepper secrets, standardize suite secret naming (task 4.1)
  deployments/cryptoutil-suite/compose.yml
  deployments/cryptoutil-suite/secrets/hash-pepper-v3.secret
  deployments/identity/secrets/identity-hash-pepper.secret
  deployments/jose/secrets/jose-hash-pepper.secret
  deployments/pki/secrets/pki-hash-pepper.secret
  deployments/skeleton/secrets/skeleton-hash-pepper.secret
  docs/framework-v5/tasks.md
Due: none

docs(deployments): document template vs skeleton-template distinction (task 4.2)
  deployments/template/README.md
  docs/ARCHITECTURE.md
  docs/framework-v5/tasks.md
Due: none

docs(deployments): audit suite compose size and delegation chain (task 4.3)
  docs/framework-v5/tasks.md
Due: none

chore(quality): Phase 4 quality gate - all validators pass (task 4.4)
  docs/framework-v5/tasks.md
Due: none

build(deps): upgrade pgx/v5 v5.9.0 to v5.9.1
  go.mod
  go.sum
Due: go-build, go-mod-tidy

docs(architecture): merge ARCHITECTURE-COMPOSE-MULTIDEPLOY.md into Section 12.3.4 (task 5.1)
  docs/ARCHITECTURE-COMPOSE-MULTIDEPLOY.md
  docs/ARCHITECTURE-INDEX.md
  docs/ARCHITECTURE.md
  docs/framework-v5/tasks.md
  internal/apps/tools/cicd_lint/lint_deployments/lint_required_contents_deployments.go
  internal/apps/tools/cicd_lint/lint_deployments/validate_structure.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(architecture): add Section 13.9 Archive and Dead Code Policy (task 5.3)
  docs/ARCHITECTURE.md
  docs/framework-v5/tasks.md
Due: none

docs(architecture): add Section 1.5 Architecture at a Glance and Section 13.9 Dead Code Policy (tasks 5.3-5.4)
  docs/ARCHITECTURE.md
  docs/framework-v5/tasks.md
Due: none

docs(architecture): sync ARCHITECTURE.md with Decisions 5-11 (task 5.5)
  docs/ARCHITECTURE.md
  internal/apps/tools/cicd_lint/lint_deployments/lint_deployments.go
  internal/apps/tools/cicd_lint/lint_deployments/lint_required_contents_deployments.go
  internal/apps/tools/cicd_lint/lint_deployments/lint_required_contents_test.go
  internal/apps/tools/cicd_lint/lint_deployments/validate_all_test.go
  internal/apps/tools/cicd_lint/lint_deployments/validate_deployments.go
  internal/apps/tools/cicd_lint/lint_deployments/validate_mirror.go
  internal/apps/tools/cicd_lint/lint_deployments/validate_mirror_test.go
  internal/shared/magic/magic_cicd.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

ci(workflows): merge ci-cicd-lint.yml into ci-quality.yml (task 5.6)
  .github/workflows/ci-cicd-lint.yml
  .github/workflows/ci-quality.yml
  docs/ARCHITECTURE.md
  docs/framework-v5/tasks.md
  internal/apps/tools/cicd_lint/lint_fitness/cicd_coverage/cicd_coverage.go
  internal/apps/tools/cicd_lint/lint_fitness/cicd_coverage/cicd_coverage_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

chore(quality): Phase 5 quality gate - all validators pass (task 5.7)
  docs/framework-v5/tasks.md
Due: none

feat(lint-fitness): add archive-detector linter for archived/orphaned dirs (task 6.1)
  internal/apps/tools/cicd_lint/lint_fitness/archive_detector/archive_detector.go
  internal/apps/tools/cicd_lint/lint_fitness/archive_detector/archive_detector_test.go
  internal/apps/tools/cicd_lint/lint_fitness/cicd_coverage/cicd_coverage.go
  internal/apps/tools/cicd_lint/lint_fitness/cicd_coverage/cicd_coverage_test.go
  internal/apps/tools/cicd_lint/lint_fitness/lint_fitness.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(lint-fitness): add configs-naming linter for configs/ structure validation (task 6.2)
  internal/apps/tools/cicd_lint/lint_fitness/configs_naming/configs_naming.go
  internal/apps/tools/cicd_lint/lint_fitness/configs_naming/configs_naming_test.go
  internal/apps/tools/cicd_lint/lint_fitness/lint_fitness.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(lint-fitness): add cmd-anti-pattern linter for cmd/ directory validation (task 6.3)
  internal/apps/tools/cicd_lint/lint_fitness/cmd_anti_pattern/cmd_anti_pattern.go
  internal/apps/tools/cicd_lint/lint_fitness/cmd_anti_pattern/cmd_anti_pattern_test.go
  internal/apps/tools/cicd_lint/lint_fitness/configs_naming/configs_naming.go
  internal/apps/tools/cicd_lint/lint_fitness/lint_fitness.go
  internal/apps/tools/workflow/workflow.go
  internal/apps/tools/workflow/workflow_coverage_test.go
  internal/shared/magic/magic_cicd.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(lint-fitness): add configs-empty-dir linter for empty directory detection (task 6.4)
  docs/framework-v5/tasks.md
  internal/apps/tools/cicd_lint/lint_deployments/e2e_test.go
  internal/apps/tools/cicd_lint/lint_deployments/pipeline_integration_test.go
  internal/apps/tools/cicd_lint/lint_deployments/validate_mirror.go
  internal/apps/tools/cicd_lint/lint_deployments/validate_mirror_test.go
  internal/apps/tools/cicd_lint/lint_deployments/validate_secrets.go
  internal/apps/tools/cicd_lint/lint_deployments/validate_secrets_extra_test.go
  internal/apps/tools/cicd_lint/lint_deployments/validate_secrets_test.go
  internal/apps/tools/cicd_lint/lint_deployments/validate_telemetry_test.go
  internal/apps/tools/cicd_lint/lint_fitness/archive_detector/archive_detector_test.go
  internal/apps/tools/cicd_lint/lint_fitness/configs_empty_dir/configs_empty_dir.go
  internal/apps/tools/cicd_lint/lint_fitness/configs_empty_dir/configs_empty_dir_test.go
  internal/apps/tools/cicd_lint/lint_fitness/configs_empty_dir/seam_test.go
  internal/apps/tools/cicd_lint/lint_fitness/configs_naming/configs_naming.go
  internal/apps/tools/cicd_lint/lint_fitness/configs_naming/configs_naming_test.go
  internal/apps/tools/cicd_lint/lint_fitness/entity_registry_completeness/entity_registry_completeness.go
  internal/apps/tools/cicd_lint/lint_fitness/entity_registry_completeness/entity_registry_completeness_test.go
  internal/apps/tools/cicd_lint/lint_fitness/legacy_dir_detection/legacy_dir_detection.go
  internal/apps/tools/cicd_lint/lint_fitness/legacy_dir_detection/legacy_dir_detection_test.go
  internal/apps/tools/cicd_lint/lint_fitness/lint_fitness.go
  internal/apps/tools/cicd_lint/lint_fitness/otlp_service_name_pattern/otlp_service_name_pattern.go
  internal/apps/tools/cicd_lint/lint_fitness/otlp_service_name_pattern/otlp_service_name_pattern_test.go
  internal/apps/tools/cicd_lint/lint_fitness/standalone_config_otlp_names/standalone_config_otlp_names.go
  internal/apps/tools/cicd_lint/lint_fitness/standalone_config_otlp_names/standalone_config_otlp_names_test.go
  internal/apps/tools/cicd_lint/lint_fitness/standalone_config_presence/standalone_config_presence.go
  internal/apps/tools/cicd_lint/lint_fitness/standalone_config_presence/standalone_config_presence_test.go
  internal/apps/tools/workflow/workflow_coverage_test.go
  internal/shared/magic/magic_cicd.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(lint-fitness): add configs-deployments-consistency linter (task 6.5)
  docs/framework-v5/tasks.md
  internal/apps/tools/cicd_lint/lint_fitness/configs_deployments_consistency/configs_deployments_consistency.go
  internal/apps/tools/cicd_lint/lint_fitness/configs_deployments_consistency/configs_deployments_consistency_test.go
  internal/apps/tools/cicd_lint/lint_fitness/configs_deployments_consistency/seam_test.go
  internal/apps/tools/cicd_lint/lint_fitness/legacy_dir_detection/legacy_dir_detection.go
  internal/apps/tools/cicd_lint/lint_fitness/lint_fitness.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

chore(quality): Phase 6 quality gate verification (task 6.6)
  docs/framework-v5/tasks.md
Due: none

docs(lessons): consolidate Phase 1-6 lessons into lessons.md (task 7.1)
  docs/framework-v5/lessons.md
  docs/framework-v5/tasks.md
Due: none

docs(instructions): update fitness linter count 43→49 and fix propagation references (task 7.2)
  .github/instructions/02-01.architecture.instructions.md
  .github/skills/fitness-function-gen/SKILL.md
  docs/ARCHITECTURE.md
  docs/framework-v5/tasks.md
Due: none

docs(skills): audit 14 skills for framework-v5 compliance, fix configs path in new-service (task 7.3)
  .github/skills/new-service/SKILL.md
  docs/framework-v5/tasks.md
Due: none

docs(agents): audit 5 agent files for framework-v5 compliance (task 7.4)
  docs/framework-v5/tasks.md
Due: none

docs(deferred): verify all deferred work documented (task 7.5)
  docs/framework-v5/tasks.md
Due: none

chore(quality): final propagation verification and cross-cutting gate (task 7.6)
  docs/framework-v5/tasks.md
Due: none

docs(lessons): add Phase 7 Knowledge Propagation lessons
  docs/framework-v5/lessons.md
Due: none

docs(framework-v6): create plan-tasks with confirmed decisions
  docs/framework-v6/lessons.md
  docs/framework-v6/plan.md
  docs/framework-v6/tasks.md
Due: none

chore(agents): apply 24-tool list to all 5 agents and expand UPDATE-TOOLS.md
  .github/agents/beast-mode.agent.md
  .github/agents/doc-sync.agent.md
  .github/agents/fix-workflows.agent.md
  .github/agents/implementation-execution.agent.md
  .github/agents/implementation-planning.agent.md
  docs/UPDATE-TOOLS.md
Due: none

chore(agents): sync agents to current UPDATE-TOOLS.md tool matrix (add 3 search tools)
  .github/agents/beast-mode.agent.md
  .github/agents/doc-sync.agent.md
  .github/agents/fix-workflows.agent.md
  .github/agents/implementation-execution.agent.md
  .github/agents/implementation-planning.agent.md
Due: none

chore(agents): add missing tools (todos, newWorkspace, selection, vscode/listCodeUsages, vscode/renameSymbol)
  .github/agents/beast-mode.agent.md
  .github/agents/doc-sync.agent.md
  .github/agents/fix-workflows.agent.md
  .github/agents/implementation-execution.agent.md
  .github/agents/implementation-planning.agent.md
  docs/UPDATE-TOOLS.md
Due: none

docs(agents): add extension tool sections to UPDATE-TOOLS.md (Java, Mermaid, Python)
  docs/UPDATE-TOOLS.md
Due: none

chore(agents): apply tool matrix updates (selection, Mermaid, Python tools)
  .github/agents/beast-mode.agent.md
  .github/agents/doc-sync.agent.md
  .github/agents/fix-workflows.agent.md
  .github/agents/implementation-execution.agent.md
  .github/agents/implementation-planning.agent.md
Due: none

docs(agents): add section 2.1.6 agent tool discovery methodology + 9 new tool rows in matrix
  .github/instructions/06-02.agent-format.instructions.md
  docs/ARCHITECTURE-INDEX.md
  docs/ARCHITECTURE.md
  docs/UPDATE-TOOLS.md
Due: none

fix(agents): correct outdated references in doc-sync and add UPDATE-TOOLS.md to doc reference table
  .github/agents/doc-sync.agent.md
Due: none

Path conditions:
  go-build: any of: \.go$|go\.mod$|go\.sum$
  golangci-lint-full: any of: \.go$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.mod$
  check-todo-severity: any of: \.go$
