Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-build, golangci-lint-full, golangci-lint, go-mod-tidy, check-todo-severity

Path conditions:
  go-build: any of: \.go$|go\.mod$|go\.sum$
  golangci-lint-full: any of: \.go$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.mod$
  check-todo-severity: any of: \.go$

fix(sm-im): remove invalid Preload(Sender) from FindByRecipientID
  internal/apps/sm/im/repository/message_repository.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(sm-im): migrate closed-DB helpers to testdb.NewClosedSQLiteDB
  docs/framework-v2/tasks.md
  internal/apps/sm/im/repository/error_returns_test.go
  internal/apps/sm/im/server/apis/messages_dberror_test.go
  internal/apps/sm/im/server/apis/messages_errorpaths_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(sm-im): merge error_returns_test.go into error_paths_test.go
  docs/framework-v2/tasks.md
  internal/apps/jose/ja/repository/elastic_jwk_repository_edge_test.go
  internal/apps/jose/ja/repository/material_jwk_repository_edge_test.go
  internal/apps/sm/im/repository/error_paths_test.go
  internal/apps/sm/im/repository/error_returns_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(sm-im): rename domain/ to model/ (GORM-tagged structs)
  docs/framework-v2/tasks.md
  internal/apps/sm/im/model/message.go
  internal/apps/sm/im/model/message_test.go
  internal/apps/sm/im/model/recipient_message_jwk.go
  internal/apps/sm/im/model/recipient_message_jwk_test.go
  internal/apps/sm/im/repository/concurrent_access_test.go
  internal/apps/sm/im/repository/error_paths_test.go
  internal/apps/sm/im/repository/message_recipient_jwk_repository.go
  internal/apps/sm/im/repository/message_recipient_jwk_repository_test.go
  internal/apps/sm/im/repository/message_repository.go
  internal/apps/sm/im/repository/message_repository_test.go
  internal/apps/sm/im/server/apis/messages.go
  internal/apps/sm/im/server/apis/messages_dberror_test.go
  internal/apps/sm/im/server/apis/messages_errorpaths_test.go
  internal/apps/sm/im/server/apis/messages_receive_test.go
  internal/apps/sm/im/server/apis/messages_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(framework-v2): Phase 3 quality gate + post-mortem
  docs/framework-v2/lessons.md
  docs/framework-v2/tasks.md
Due: none

docs(sm-kms): audit server/application/ and middleware/ packages
  docs/framework-v2/tasks.md
  docs/framework-v3/tasks.md
Due: none

refactor(sm-kms): merge 10 fragmented error-path test files into 4 thematic groups
  docs/framework-v2/tasks.md
  internal/apps/sm/kms/server/repository/orm/business_entities_additional_errors_test.go
  internal/apps/sm/kms/server/repository/orm/business_entities_coverage_gaps_test.go
  internal/apps/sm/kms/server/repository/orm/business_entities_db_errors_test.go
  internal/apps/sm/kms/server/repository/orm/business_entities_dead_code_test.go
  internal/apps/sm/kms/server/repository/orm/business_entities_error_mapping_test.go
  internal/apps/sm/kms/server/repository/orm/business_entities_error_paths_test.go
  internal/apps/sm/kms/server/repository/orm/business_entities_get_errors_test.go
  internal/apps/sm/kms/server/repository/orm/business_entities_gorm_errors_test.go
  internal/apps/sm/kms/server/repository/orm/business_entities_materialkey_errors_test.go
  internal/apps/sm/kms/server/repository/orm/business_entities_mutation_errors_test.go
  internal/apps/sm/kms/server/repository/orm/business_entities_postgres_errors_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(framework-v2): Phase 4 quality gate + post-mortem
  docs/framework-v2/lessons.md
  docs/framework-v2/tasks.md
Due: none

docs(architecture): propagate framework-v2 patterns to ARCHITECTURE.md and instructions
  .github/instructions/02-04.openapi.instructions.md
  .github/instructions/03-02.testing.instructions.md
  .github/instructions/03-03.golang.instructions.md
  docs/ARCHITECTURE.md
Due: none

docs(framework-v2): Phase 5 quality gate + final post-mortem (23/23 tasks complete)
  docs/framework-v2/lessons.md
  docs/framework-v2/tasks.md
Due: none

docs(framework-v2): save user annotations on lessons.md and pending edits
  docs/framework-v2/lessons.md
  docs/framework-v2/tasks.md
  internal/apps/sm/im/model/message_test.go
  internal/apps/sm/im/repository/error_paths_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(framework-v2): mark all phases COMPLETE, propagate lessons to ARCHITECTURE.md and instructions
  .github/instructions/03-01.coding.instructions.md
  .github/instructions/03-02.testing.instructions.md
  docs/ARCHITECTURE.md
  docs/framework-v2/plan.md
  docs/framework-v2/tasks.md
Due: none

docs(framework-v3): enrich plan with framework-v2 lessons and quiz questions
  docs/framework-v3/lessons.md
  docs/framework-v3/plan.md
  docs/framework-v3/quizme-v3.md
  docs/framework-v3/tasks.md
Due: none

chore(docs): delete docs/framework-v2/ (all work complete, lessons propagated to framework-v3)
  docs/framework-v2/lessons.md
  docs/framework-v2/plan.md
  docs/framework-v2/tasks.md
Due: none

chore(docs): delete docs/framework-v1/ (48/48 tasks complete, superseded by framework-v2 and v3)
  docs/framework-v1/lessons.md
  docs/framework-v1/plan.md
  docs/framework-v1/review.md
  docs/framework-v1/tasks.md
Due: none

chore(docs): delete docs/fixes-v9/ (162/162 items complete)
  docs/fixes-v9/memory.md
  docs/fixes-v9/plan.md
  docs/fixes-v9/tasks.md
Due: none

chore(docs): delete docs/fixes-v8/ (220/220 items complete)
  docs/fixes-v8/RESEARCH.md
  docs/fixes-v8/plan.md
  docs/fixes-v8/tasks.md
Due: none

chore(docs): delete docs/optimize-ignore-v1/ (18/35 done, remaining 17 are optional VS Code/ignore optimizations)
  docs/optimize-ignore-v1/optimizations.md
Due: none

docs(framework-v3): deep analysis fixes — phase consistency, date, cross-references
  docs/framework-v3/lessons.md
  docs/framework-v3/plan.md
  docs/framework-v3/tasks.md
Due: none

build(deps): update kin-openapi v0.133.0 -> v0.134.0
  go.mod
  go.sum
Due: go-build, go-mod-tidy

docs: add multi-project Copilot sharing strategy document
  docs/COPILOT-MULTI-PROJECT.md
Due: none

docs(framework-v3): record quizme-v3 answers Q1=E Q2=C Q3=E Q4=A Q5=E Q6=A
  docs/framework-v3/quizme-v3.md
Due: none

docs(framework-v3): apply quizme-v3 answers, create quizme-v4, add agent mitigations
  .github/agents/implementation-execution.agent.md
  docs/framework-v3/plan.md
  docs/framework-v3/quizme-v4.md
  docs/framework-v3/tasks.md
Due: none

docs(framework-v3): apply quizme-v4 answers and add new decisions D19-D26
  .github/agents/implementation-planning.agent.md
  docs/framework-v3/plan.md
  docs/framework-v3/quizme-v3.md
  docs/framework-v3/quizme-v4.md
  docs/framework-v3/tasks.md
Due: none

fix(crypto): Go 1.24+ stdlib ignores rand reader -- use function-level seams for error injection
  internal/shared/crypto/keygen/keygen.go
  internal/shared/crypto/keygen/keygen_error_paths_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(test): close OS file handle before injecting error to prevent Windows file-lock on TempDir cleanup
  internal/shared/util/files/files_injectable_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(test): add Windows skip guards for syscall.SIGINT, os.Chmod, /bin/echo incompatibilities
  internal/apps/jose/ja/ja_lifecycle_test.go
  internal/apps/pki/ca/ca_lifecycle_test.go
  internal/apps/skeleton/template/template_lifecycle_test.go
  internal/apps/sm/im/im_lifecycle_test.go
  internal/apps/sm/kms/kms_lifecycle_test.go
  internal/apps/template/service/server/realm/realm_coverage_test.go
  internal/apps/workflow/workflow_coverage_test.go
  internal/apps/workflow/workflow_executor_coverage_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(database): normalize SQLite named in-memory URL to modernc.org/sqlite format
  internal/apps/template/service/server/application/application_core.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(lint): remove 26 magic-aliases const violations in config package
  internal/apps/template/service/config/config.go
  internal/apps/template/service/config/config_parse.go
  internal/apps/template/service/config/config_settings_a.go
  internal/apps/template/service/config/config_settings_b.go
  internal/apps/template/service/config/config_test_helper.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(lint): remove remaining 7 magic-aliases const violations across 6 files
  internal/apps/cicd/lint_fitness/service_structure/service_structure_test.go
  internal/apps/identity/repository/orm/device_authorization_repository_test.go
  internal/apps/identity/repository/orm/email_otp_repository_test.go
  internal/apps/identity/repository/orm/pushed_authorization_request_repository_test.go
  internal/apps/identity/repository/orm/recovery_code_repository_test.go
  internal/apps/identity/repository/orm/test_constants_test.go
  internal/apps/sm/im/im.go
  internal/apps/sm/im/im_usage.go
  internal/apps/sm/im/testmain_test.go
  internal/apps/sm/kms/server/application/application_init.go
  internal/shared/crypto/hash/hash_high_fixed_provider.go
  internal/shared/crypto/hash/hash_low_fixed_provider.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(framework-v3): complete Phase 1 post-mortem and mark Task 1.12 DONE
  docs/framework-v3/checklist.md
  docs/framework-v3/lessons.md
  docs/framework-v3/tasks.md
Due: none

feat(testserver): add TLSRootCAPool accessor and TestTLSBundle for secure test clients -- Task 2.1
  internal/apps/identity/authz/server/server.go
  internal/apps/identity/idp/server/server.go
  internal/apps/identity/rp/server/server.go
  internal/apps/identity/rs/server/server.go
  internal/apps/identity/spa/server/server.go
  internal/apps/jose/ja/server/server.go
  internal/apps/pki/ca/server/server.go
  internal/apps/skeleton/template/server/server.go
  internal/apps/sm/im/server/server.go
  internal/apps/sm/kms/server/server.go
  internal/apps/template/service/server/application.go
  internal/apps/template/service/server/contract.go
  internal/apps/template/service/server/public_server_base.go
  internal/apps/template/service/testing/testserver/testserver_test.go
  internal/apps/template/service/testing/testserver/testserver_tls.go
  internal/apps/template/service/testing/testserver/testserver_tls_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(tls): add AdminTLSRootCAPool to remaining mock stubs -- Task 2.2
  internal/apps/identity/authz/server/server.go
  internal/apps/identity/idp/server/server.go
  internal/apps/identity/rp/server/server.go
  internal/apps/identity/rs/server/server.go
  internal/apps/identity/spa/server/server.go
  internal/apps/jose/ja/server/server.go
  internal/apps/pki/ca/server/server.go
  internal/apps/skeleton/template/server/server.go
  internal/apps/sm/im/http_test.go
  internal/apps/sm/im/integration/concurrent_test.go
  internal/apps/sm/im/integration/testmain_integration_test.go
  internal/apps/sm/im/server/registration_test.go
  internal/apps/sm/im/server/server.go
  internal/apps/sm/im/testing/testmain_helper.go
  internal/apps/sm/im/testmain_test.go
  internal/apps/sm/kms/server/server.go
  internal/apps/sm/kms/server/server_test.go
  internal/apps/template/service/server/application.go
  internal/apps/template/service/server/application_test.go
  internal/apps/template/service/server/contract.go
  internal/apps/template/service/server/listener/admin.go
  internal/apps/template/service/server/listener/application_listener_test.go
  internal/apps/template/service/server/server_coverage_test.go
  internal/apps/template/service/server/testutil/helpers.go
  internal/apps/template/service/server/testutil/mocks.go
  internal/apps/template/service/testing/testserver/testserver_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(tls): migrate jose-ja away from InsecureSkipVerify -- Task 2.3
  internal/apps/jose/ja/server/testmain_test.go
  internal/apps/jose/ja/testmain_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(tls): migrate sm-kms away from InsecureSkipVerify -- Task 2.4
  internal/apps/sm/kms/client/client_test_util.go
  internal/apps/sm/kms/server/testmain_integration_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(tls): migrate pki-ca away from InsecureSkipVerify -- Task 2.5
  internal/apps/pki/ca/server/testmain_test.go
  internal/apps/pki/ca/testmain_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(tls): migrate identity services away from InsecureSkipVerify (Task 2.6)
  internal/apps/identity/authz/server/admin.go
  internal/apps/identity/authz/server/admin_test.go
  internal/apps/identity/authz/server/server_integration_test.go
  internal/apps/identity/demo/demo.go
  internal/apps/identity/idp/server/admin.go
  internal/apps/identity/idp/server/admin_test.go
  internal/apps/identity/idp/server/server_integration_test.go
  internal/apps/identity/rp/server/server_integration_test.go
  internal/apps/identity/rp/server/testmain_test.go
  internal/apps/identity/rs/server/admin.go
  internal/apps/identity/rs/server/admin_test.go
  internal/apps/identity/rs/server/server_integration_test.go
  internal/apps/identity/spa/server/server_integration_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(tls): migrate template/skeleton infrastructure away from InsecureSkipVerify (Task 2.7)
  internal/apps/skeleton/template/server/server_integration_test.go
  internal/apps/skeleton/template/server/testmain_test.go
  internal/apps/template/service/server/listener/admin_concurrent_test.go
  internal/apps/template/service/server/listener/admin_health_shutdown_test.go
  internal/apps/template/service/server/listener/admin_shutdown_test.go
  internal/apps/template/service/server/listener/admin_test.go
  internal/apps/template/service/server/listener/public_shutdown_test.go
  internal/apps/template/service/server/listener/public_test.go
  internal/apps/template/service/server/repository/public_table_test.go
  internal/apps/template/service/testing/contract/auth_contracts_test.go
  internal/apps/template/service/testing/e2e_helpers/http_helpers.go
  internal/apps/template/service/testutil/http_test_helpers.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(tls): remove G402 exclusion and activate no-tls-insecure-skip-verify semgrep rule (Task 2.8)
  .golangci.yml
  .semgrep/rules/go-testing.yml
Due: none

docs(tls): fix all 6 ARCHITECTURE.md TLS documentation gaps (Task 2.9)
  docs/ARCHITECTURE.md
Due: none
