Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, go-mod-tidy, go-build, cspell

Path conditions:
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.mod$
  go-build: any of: \.go$|go\.mod$|go\.sum$
  cspell: any of: \.(md|txt|go|yaml|yml|json|js|ts|py|sh|ps1)$, but not: ^(test/|vendor/|\.git/|node_modules/|\.cache/)

feat(identity): add MFA concurrency and replay attack tests
  internal/identity/test/e2e/mfa_concurrency_test.go
Due: golangci-lint, go-build, cspell

feat(identity): add client MFA chain tests and policy enforcement
  internal/identity/test/e2e/client_mfa_test.go
Due: golangci-lint, go-build, cspell

docs(identity): add MFA state diagrams and flow documentation
  docs/02-identityV2/mfa-state-diagrams.md
Due: cspell

test(identity): add MFA load and stress tests for scalability validation
  internal/identity/test/load/mfa_stress_test.go
Due: golangci-lint, go-build, cspell

feat(identity): implement TOTP/OTP validation using pquerna/otp library
  go.mod
  go.sum
  internal/identity/idp/auth/mfa.go
  internal/identity/idp/auth/mfa_otp.go
Due: golangci-lint, go-mod-tidy, go-build, cspell

test(identity): add OTP validation integration tests
  internal/identity/test/e2e/client_mfa_test.go
  internal/identity/test/e2e/mfa_otp_test.go
Due: golangci-lint, go-build, cspell

docs(identity): Task 11 completion summary - Client MFA Stabilization
  docs/02-identityV2/11-client-mfa-stabilization-COMPLETE.md
Due: cspell

feat(identity): add mock SMS and email providers for testing
  internal/identity/idp/userauth/mocks/delivery_service.go
Due: golangci-lint, go-build, cspell

test(identity): add comprehensive mock provider tests
  internal/identity/idp/userauth/mocks/delivery_service_test.go
Due: golangci-lint, go-build, cspell

feat(identity): add input validation and contract tests for mock providers
  internal/identity/idp/userauth/mocks/delivery_service.go
  internal/identity/test/contract/delivery_service_test.go
Due: golangci-lint, go-build, cspell

feat(identity): implement per-user rate limiting with database storage
  internal/common/magic/magic_database.go
  internal/identity/idp/userauth/rate_limiter.go
  internal/identity/idp/userauth/rate_limiter_test.go
Due: golangci-lint, go-build, cspell

feat(identity): implement per-IP rate limiting and IP extraction
  internal/identity/idp/userauth/rate_limiter.go
  internal/identity/idp/userauth/rate_limiter_test.go
Due: golangci-lint, go-build, cspell

feat(identity): implement audit logging with PII protection
  internal/identity/idp/userauth/audit.go
  internal/identity/idp/userauth/audit_test.go
Due: golangci-lint, go-build, cspell

fix(instructions): resolve contradiction causing agent to stop after commits
  .github/copilot-instructions.md
Due: cspell

feat(identity): implement bcrypt token hashing for OTP/magic link tokens
  internal/identity/idp/userauth/token_hashing.go
  internal/identity/idp/userauth/token_hashing_test.go
Due: golangci-lint, go-build, cspell

feat(identity): integrate bcrypt token hashing in SMS OTP and magic link authenticators
  internal/identity/idp/userauth/magic_link.go
  internal/identity/idp/userauth/sms_otp.go
Due: golangci-lint, go-build, cspell

docs(identity): create comprehensive token rotation runbook
  docs/02-identityV2/token-rotation-runbook.md
Due: cspell

docs(identity): create comprehensive incident response runbook
  docs/02-identityV2/incident-response-runbook.md
Due: cspell

test(identity): add OTP/magic link flow tests with SHA256 pre-hash support
  internal/identity/idp/userauth/token_hashing.go
  internal/identity/test/e2e/identity_e2e_test.go
  internal/identity/test/unit/otp_flows_test.go
Due: golangci-lint, go-build, cspell

docs(identity): Task 12 completion - OTP and Magic Link Services
  docs/02-identityV2/task-12-otp-magic-link-COMPLETE.md
Due: cspell

feat(identity): implement PolicyLoader with YAML hot-reload
  configs/identity/policies/adaptive_auth.yml
  configs/identity/policies/risk_scoring.yml
  configs/identity/policies/step_up.yml
  docs/02-identityV2/11-client-mfa-stabilization-COMPLETE.md
  docs/02-identityV2/incident-response-runbook.md
  docs/02-identityV2/task-12-otp-magic-link-COMPLETE.md
  internal/identity/domain/mfa_factor.go
  internal/identity/idp/auth/mfa_otp.go
  internal/identity/idp/auth/mfa_telemetry.go
  internal/identity/idp/userauth/audit.go
  internal/identity/idp/userauth/policy_loader.go
  internal/identity/idp/userauth/policy_loader_test.go
  internal/identity/idp/userauth/rate_limiter_test.go
  internal/identity/idp/userauth/sms_otp.go
  internal/identity/test/load/mfa_stress_test.go
Due: golangci-lint, go-build, cspell

feat(identity): refactor BehavioralRiskEngine with PolicyLoader
  internal/identity/idp/userauth/risk_engine.go
  internal/identity/idp/userauth/risk_engine_test.go
Due: golangci-lint, go-build, cspell

feat(identity): refactor StepUpAuthenticator with PolicyLoader
  internal/identity/idp/userauth/step_up_auth.go
  internal/identity/idp/userauth/step_up_auth_test.go
Due: golangci-lint, go-build, cspell

feat(identity): add OpenTelemetry instrumentation for adaptive auth
  internal/identity/idp/userauth/risk_engine.go
  internal/identity/idp/userauth/telemetry.go
  internal/identity/idp/userauth/telemetry_test.go
Due: golangci-lint, go-build, cspell

feat(identity): add comprehensive risk scoring scenario tests
  internal/cmd/cicd/adaptive-sim/adaptive_sim_test.go
  internal/identity/idp/userauth/risk_scenarios_test.go
  internal/identity/idp/userauth/telemetry.go
Due: golangci-lint, go-build, cspell

feat(identity): add adaptive auth E2E tests integrating Task 12 OTP
  internal/identity/idp/userauth/adaptive_e2e_test.go
  internal/identity/idp/userauth/risk_scenarios_test.go
Due: golangci-lint, go-build, cspell

feat(identity): add Grafana dashboards and Prometheus alerts for adaptive auth
  configs/observability/grafana/adaptive-auth-dashboard.json
  configs/observability/prometheus/adaptive-auth-alerts.yml
  internal/identity/idp/userauth/adaptive_e2e_test.go
Due: golangci-lint, go-build, cspell

docs(identity): add comprehensive adaptive auth operations runbook
  docs/runbooks/adaptive-auth-operations.md
Due: cspell

docs(identity): add Task 13 adaptive engine completion documentation
  docs/02-identityV2/task-13-adaptive-engine-COMPLETE.md
  docs/runbooks/adaptive-auth-operations.md
Due: cspell

feat(identity): add go-webauthn dependency for Task 14
  go.mod
Due: go-mod-tidy, go-build

docs: fix copilot instructions to eliminate text response anti-pattern (34th violation fix)
  .github/copilot-instructions.md
Due: cspell

feat(identity): implement WebAuthnAuthenticator with go-webauthn library (Task 14 Todo 2-3)
  go.mod
  go.sum
  internal/identity/idp/userauth/webauthn_authenticator.go
  internal/identity/idp/userauth/webauthn_authenticator_test.go
  internal/identity/idp/userauth/webauthn_biometric.go
Due: golangci-lint, go-mod-tidy, go-build, cspell

feat(identity): implement WebAuthn credential repository with GORM
  internal/identity/apperr/errors.go
  internal/identity/process/manager.go
  internal/identity/process/manager_windows.go
  internal/identity/repository/orm/test_helpers_test.go
  internal/identity/repository/orm/webauthn_credential_repository.go
  internal/identity/repository/orm/webauthn_credential_repository_test.go
Due: golangci-lint, go-build, cspell

feat(identity): add WebAuthn integration tests for registration, authentication, lifecycle, and replay attack prevention
  internal/identity/idp/userauth/webauthn_integration_test.go
Due: golangci-lint, go-build, cspell

docs(identity): add comprehensive WebAuthn browser and platform compatibility documentation
  docs/webauthn/browser-compatibility.md
Due: cspell

docs(identity): complete Task 14 WebAuthn/FIDO2 implementation documentation with architecture, flows, security analysis, compliance validation
  docs/02-identityV2/task-14-webauthn-COMPLETE.md
Due: cspell

test(identity): add comprehensive CLI tests for hardware credential enrollment tool (Task 15 Todo 1)
  cmd/identity/hardware-cred/main_test.go
Due: golangci-lint, go-build, cspell

feat(identity): add hardware credential lifecycle management CLI with renewal and inventory commands (Task 15 Todo 2)
  cmd/identity/hardware-cred/lifecycle_test.go
  cmd/identity/hardware-cred/main.go
Due: golangci-lint, go-build, cspell
