Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: github-workflow-lint, golangci-lint, go-mod-tidy, check-todo-severity, go-fix-all, go-build, cspell

github-workflow-lint:
  name: GitHub workflow lint
  entry: go
  args:
  - run
  - cmd/cicd/main.go
  - github-workflow-lint
  language: system
  pass_filenames: false
  stages:
  - pre-push

golangci-lint:
  name: golangci-lint (incremental auto-fix)
  entry: golangci-lint
  args:
  - run
  - --fix
  - --timeout=30m
  - --new-from-rev=HEAD~1
  language: system
  pass_filenames: false
  stages:
  - pre-commit

go-mod-tidy:
  name: go mod tidy
  entry: go
  args:
  - mod
  - tidy
  language: system
  pass_filenames: false

check-todo-severity:
  name: Check TODO/FIXME severity (block CRITICAL/HIGH)
  entry: bash
  args:
  - -c
  ...

go-fix-all:
  name: Auto-fix Go issues (staticcheck, copyloopvar, thelper)
  entry: go
  args:
  - run
  - cmd/cicd/main.go
  - go-fix-all
  language: system
  pass_filenames: false
  stages:
  - pre-commit

go-build:
  name: go build
  entry: go
  args:
  - build
  - ./...
  language: system
  pass_filenames: false
  stages:
  - pre-push

cspell:
  name: Check spelling
  entry: cspell
  args:
  - --no-progress
  - --cache
  language: system

fix(docs): rebuild plan.md/tasks.md/DETAILED.md/EXECUTIVE.md with corrected phases and learn-im service name
  .specify/memory/constitution.md
  specs/002-cryptoutil/clarify.md
  specs/002-cryptoutil/implement/DETAILED.md
  specs/002-cryptoutil/implement/EXECUTIVE.md
  specs/002-cryptoutil/plan.md
  specs/002-cryptoutil/tasks.md
Due: cspell

docs(review): deep analysis of SpecKit workflow failures and documentation contradictions
  docs/review/EXECUTIVE.md
  docs/review/SUMMARY.md
  docs/review/YET-ANOTHER-REVIEW-AGAIN-0001.md
  docs/review/YET-ANOTHER-REVIEW-AGAIN-0002.md
  docs/review/YET-ANOTHER-REVIEW-AGAIN-0003.md
  docs/review/YET-ANOTHER-REVIEW-AGAIN-0004.md
  docs/review/YET-ANOTHER-REVIEW-AGAIN-0005.md
Due: cspell

fix(docs): systematic SpecKit documentation fixes - service naming, admin ports, multi-tenancy, CRLDP
  .github/instructions/01-02.continuous-work.instructions.md
  .github/instructions/02-01.architecture.instructions.md
  .github/instructions/02-02.service-template.instructions.md
  .specify/memory/architecture.md
  .specify/memory/constitution.md
  .specify/memory/service-template.md
  specs/002-cryptoutil/analyze-probably-out-of-date.md
  specs/002-cryptoutil/analyze.md
  specs/002-cryptoutil/clarify.md
  specs/002-cryptoutil/implement/DETAILED.md
  specs/002-cryptoutil/implement/EXECUTIVE.md
  specs/002-cryptoutil/plan.md
  specs/002-cryptoutil/plan.md.backup
  specs/002-cryptoutil/spec.md
  test/load/README.md
Due: cspell

docs(review): comprehensive deep analysis with root cause and solution
  docs/review/EXECUTIVE.md
  docs/review/SUMMARY.md
  docs/review/WORK-TRACKING-2025-12-24.md
  docs/review/YET-ANOTHER-REVIEW-AGAIN-0006.md
  docs/review/YET-ANOTHER-REVIEW-AGAIN-0007.md
  docs/review/YET-ANOTHER-REVIEW-AGAIN-0008.md
  docs/review/YET-ANOTHER-REVIEW-AGAIN-0009.md
  docs/review/YET-ANOTHER-REVIEW-AGAIN-0010.md
  docs/review/YET-ANOTHER-REVIEW-AGAIN-0011.md
  docs/review/YET-ANOTHER-REVIEW-AGAIN-0012.md
  docs/review/YET-ANOTHER-REVIEW-AGAIN-0013.md
  docs/review/YET-ANOTHER-REVIEW-AGAIN-0014.md
  docs/review/YET-ANOTHER-REVIEW-AGAIN-0015.md
  docs/review/YET-ANOTHER-REVIEW-AGAIN-0016.md
  docs/review/YET-ANOTHER-REVIEW-AGAIN-0017.md
  specs/002-cryptoutil/implement/DETAILED.md
  specs/002-cryptoutil/implement/EXECUTIVE.md
Due: cspell

docs: add memory→instructions merge report
  docs/MEMORY-INSTRUCTIONS-MERGE-REPORT.md
Due: cspell

docs: add comprehensive SpecKit downstream document reviews (0020-0023)
  docs/review/YET-ANOTHER-REVIEW-AGAIN-0020.md
  docs/review/YET-ANOTHER-REVIEW-AGAIN-0021.md
  docs/review/YET-ANOTHER-REVIEW-AGAIN-0022.md
  docs/review/YET-ANOTHER-REVIEW-AGAIN-0023.md
Due: cspell

docs(review): post-merge comprehensive deep analysis complete (Reviews 0018-0025)
  docs/review/EXECUTIVE.md
  docs/review/SUMMARY.md
  docs/review/YET-ANOTHER-REVIEW-AGAIN-0018.md
  docs/review/YET-ANOTHER-REVIEW-AGAIN-0019.md
  docs/review/YET-ANOTHER-REVIEW-AGAIN-0024.md
  docs/review/YET-ANOTHER-REVIEW-AGAIN-0025.md
Due: cspell

refactor(docs): optimize continuous-work and anti-patterns instructions
  .github/copilot-instructions.md
  .github/instructions/01-02.continuous-work.instructions.md
  .github/instructions/06-02.anti-patterns.instructions.md
  .github/instructions/06-03.anti-patterns.instructions.md
  .specify/memory/continuous-work.md
  docs/review/YET-ANOTHER-REVIEW-AGAIN-0018.md
  docs/review/YET-ANOTHER-REVIEW-AGAIN-0020.md
  docs/review/YET-ANOTHER-REVIEW-AGAIN-0021.md
  docs/review/YET-ANOTHER-REVIEW-AGAIN-0022.md
  docs/review/YET-ANOTHER-REVIEW-AGAIN-0023.md
  docs/review/YET-ANOTHER-REVIEW-AGAIN-0024.md
  docs/review/YET-ANOTHER-REVIEW-AGAIN-0025.md
Due: cspell

refactor(docs): optimize testing.instructions.md - remove duplicates, preserve patterns
  .github/instructions/03-02.testing.instructions.md
Due: cspell

refactor(docs): optimize coding.instructions.md - remove duplicates
  .github/instructions/03-01.coding.instructions.md
Due: cspell

refactor(docs): batch remove duplicate YAML frontmatter from 21 instruction files
  .github/instructions/02-01.architecture.instructions.md
  .github/instructions/02-02.service-template.instructions.md
  .github/instructions/02-03.https-ports.instructions.md
  .github/instructions/02-04.versions.instructions.md
  .github/instructions/02-05.observability.instructions.md
  .github/instructions/02-06.openapi.instructions.md
  .github/instructions/02-07.cryptography.instructions.md
  .github/instructions/02-08.hashes.instructions.md
  .github/instructions/02-09.pki.instructions.md
  .github/instructions/02-10.authn.instructions.md
  .github/instructions/03-03.golang.instructions.md
  .github/instructions/03-04.database.instructions.md
  .github/instructions/03-05.sqlite-gorm.instructions.md
  .github/instructions/03-06.security.instructions.md
  .github/instructions/03-07.linting.instructions.md
  .github/instructions/04-01.github.instructions.md
  .github/instructions/04-02.docker.instructions.md
  .github/instructions/05-01.cross-platform.instructions.md
  .github/instructions/05-02.git.instructions.md
  .github/instructions/05-03.dast.instructions.md
  .github/instructions/06-01.evidence-based.instructions.md
Due: cspell

refactor(docs): optimize constitution.md - strategic principles only
  .specify/memory/constitution.md
Due: cspell

chore: delete archived spec 001-cryptoutil-archived-2025-12-17
  docs/ARCHIVED-SPEC-001-DELETION-RECOMMENDATION.md
  specs/001-cryptoutil-archived-2025-12-17/PLAN-possibly-out-of-date.md
  specs/001-cryptoutil-archived-2025-12-17/TASKS-possibly-out-of-date.md
  specs/001-cryptoutil-archived-2025-12-17/analyze-possibly-out-of-date.md
  specs/001-cryptoutil-archived-2025-12-17/clarify-possibly-out-of-date.md
  specs/001-cryptoutil-archived-2025-12-17/implement/DETAILED.md
  specs/001-cryptoutil-archived-2025-12-17/implement/EXECUTIVE.md
  specs/001-cryptoutil-archived-2025-12-17/other/IMPLEMENTATION-GUIDE.md
  specs/001-cryptoutil-archived-2025-12-17/other/MUTATION-TESTING-BASELINE.md
  specs/001-cryptoutil-archived-2025-12-17/other/SESSION-SUMMARY.md
  specs/001-cryptoutil-archived-2025-12-17/other/SLOW-TEST-PACKAGES.md
  specs/001-cryptoutil-archived-2025-12-17/other/SPEC-KIT-FILE-ANALYSIS.md
  specs/001-cryptoutil-archived-2025-12-17/spec.md
Due: cspell

fix(docs): resolve 5 contradictions from Review-0018
  .github/instructions/02-01.architecture.instructions.md
  .github/instructions/02-05.observability.instructions.md
  .github/instructions/03-04.database.instructions.md
  .github/instructions/06-02.anti-patterns.instructions.md
Due: cspell

docs: generate CLARIFY-QUIZME-006 after optimization tasks 1-7
  docs/SPECKIT-CLARIFY-QUIZME-006.md
Due: cspell

chore(specs): backup existing SpecKit files before regeneration
  specs/002-cryptoutil/analyze.md.old
  specs/002-cryptoutil/implement/DETAILED.md.old
  specs/002-cryptoutil/implement/EXECUTIVE.md.old
  specs/002-cryptoutil/plan.md.old
  specs/002-cryptoutil/tasks.md.old
Due: none

feat(specs): reset DETAILED.md and EXECUTIVE.md for Phase 2 implementation tracking
  specs/002-cryptoutil/implement/DETAILED.md
  specs/002-cryptoutil/implement/EXECUTIVE.md
Due: cspell

docs(specs): mark P2.1.1 as IN PROGRESS and add timeline entry
  specs/002-cryptoutil/implement/DETAILED.md
  specs/002-cryptoutil/implement/EXECUTIVE.md
Due: cspell

docs(specs): update P2.1.1 timeline with code archaeology findings
  specs/002-cryptoutil/implement/DETAILED.md
Due: cspell

feat(template): add Application template with dual HTTPS server pattern
  internal/template/server/application.go
  internal/template/server/application_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(template): update DETAILED.md with Application template completion
  specs/002-cryptoutil/implement/DETAILED.md
Due: cspell

refactor(template): AdminServer configurable port - MANDATORY port 0 for tests
  .github/instructions/02-03.https-ports.instructions.md
  internal/template/server/admin.go
  internal/template/server/admin_test.go
  internal/template/server/application.go
  internal/template/server/application_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(template): add nolint directive for nil context test
  internal/template/server/application_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(specs): document AdminServer port refactor and Windows TIME_WAIT lessons
  specs/002-cryptoutil/implement/DETAILED.md
  specs/002-cryptoutil/implement/EXECUTIVE.md
Due: cspell

feat(template): add SetReady method and improve AdminServer coverage
  internal/template/server/admin.go
  internal/template/server/admin_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(docs): add missing YAML frontmatter to continuous-work instructions
  .github/instructions/01-02.continuous-work.instructions.md
Due: cspell

docs(spec): add SetReady() timeline entry to DETAILED.md Section 2
  specs/002-cryptoutil/implement/DETAILED.md
Due: cspell

test(template): add TimeoutsConfigured test for AdminServer
  internal/template/server/admin_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(spec): add mutation testing results timeline entry
  specs/002-cryptoutil/implement/DETAILED.md
Due: cspell

feat(template): add PublicHTTPServer implementation and tests
  internal/template/server/public.go
  internal/template/server/public_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(spec): add PublicHTTPServer timeline entry to DETAILED.md
  specs/002-cryptoutil/implement/DETAILED.md
Due: cspell

test(template): add PublicHTTPServer double shutdown test
  internal/template/server/public_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(template): align PublicServer interface with implementation
  internal/template/server/application.go
  internal/template/server/application_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(spec): mark P2.1.1 template extraction COMPLETE
  specs/002-cryptoutil/implement/DETAILED.md
Due: cspell

feat(learn): initial learn-im skeleton with template integration
  internal/learn/domain/message.go
  internal/learn/domain/user.go
  internal/learn/repository/message_repository.go
  internal/learn/repository/user_repository.go
  internal/learn/server/public.go
  internal/learn/server/server.go
  internal/template/server/admin.go
  internal/template/server/admin_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(spec): add P1.1 (move JOSE crypto) and P1.2 (refactor TLS) course corrections
  specs/002-cryptoutil/analyze.md
  specs/002-cryptoutil/clarify.md
  specs/002-cryptoutil/implement/DETAILED.md
  specs/002-cryptoutil/plan.md
  specs/002-cryptoutil/spec.md
  specs/002-cryptoutil/tasks.md
Due: cspell

docs(detailed): mark P1.1.1.1 complete with timeline entry
  specs/002-cryptoutil/implement/DETAILED.md
Due: cspell

Path conditions:
  github-workflow-lint: any of: \.github/workflows/.*\.(yml|yaml)$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.mod$
  check-todo-severity: any of: \.go$
  go-fix-all: any of: \.go$
  go-build: any of: \.go$|go\.mod$|go\.sum$
  cspell: any of: \.(md|txt|go|yaml|yml|json|js|ts|py|sh|ps1)$, but not: ^(test/|vendor/|\.git/|node_modules/|\.cache/)
