Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-build, golangci-lint-full, golangci-lint, go-mod-tidy, check-todo-severity

Path conditions:
  go-build: any of: \.go$|go\.mod$|go\.sum$
  golangci-lint-full: any of: \.go$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.mod$
  check-todo-severity: any of: \.go$

docs(arch): enhance ARCHITECTURE-v2.md quality gates with Go version consistency, CGO ban, import aliases, magic values, file size limits, code patterns
  ARCHITECTURE-v2.md
Due: none

docs: update deep nesting threshold from >4 to >8 levels
  docs/ARCHITECTURE-v2.md
Due: none

docs: additional architecture documentation updates
  .github/instructions/03-03.golang.instructions.md
  ARCHITECTURE-v2.md
  docs/ARCHITECTURE-v2.md
Due: none

docs: correct template line count from 260+ to 48,000+ lines
  .github/instructions/03-08.server-builder.instructions.md
  docs/ARCHITECTURE-v2.md
  internal/apps/template/service/server/builder/server_builder.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs: replace service-template variations with internal/apps/template/service/ reference
  docs/ARCHITECTURE-v2.md
Due: none

docs: add missing address fields to ARCHITECTURE-v2.md service catalog
  docs/ARCHITECTURE-v2.md
Due: none

docs: add PostgreSQL Ports table to ARCHITECTURE-v2.md
  docs/ARCHITECTURE-v2.md
Due: none

docs: add telemetry ports table to ARCHITECTURE-v2.md
  docs/ARCHITECTURE-v2.md
Due: none

docs: update ARCHITECTURE-v2.md with database compatibility rules and migration table
  docs/ARCHITECTURE-v2.md
Due: none

docs: synchronize ARCHITECTURE-v2.md with detailed sections from ARCHITECTURE.md
  docs/ARCHITECTURE-v2.md
Due: none

docs: update authentication realms section
  docs/ARCHITECTURE-v2.md
Due: none

docs: reorganize data architecture sections - move schema patterns to 7.1, renumber multi-tenancy to 7.2, remove empty 7.4
  docs/ARCHITECTURE-v2.md
Due: none

docs: move merged migrations content to migration strategy section
  docs/ARCHITECTURE-v2.md
Due: none

docs: update architecture documentation
  docs/ARCHITECTURE-v2.md
Due: none

docs: populate Quality Gates section in ARCHITECTURE-v2.md
  docs/ARCHITECTURE-v2.md
Due: none

docs: populate executive summary and strategic sections in ARCHITECTURE-v2.md
  docs/ARCHITECTURE-v2.md
Due: none

docs(architecture): create ARCHITECTURE-v2.md as hierarchical superset
  .github/instructions/02-01.architecture.instructions.md
  docs/ARCHITECTURE-v2-VERIFICATION-REPORT.md
  docs/ARCHITECTURE-v2.md
Due: none

docs(architecture): revert to ARCHITECTURE.md, remove v2 and verification report
  docs/ARCHITECTURE-v2-VERIFICATION-REPORT.md
  docs/ARCHITECTURE-v2.md
  docs/ARCHITECTURE.md
Due: none

refactor(agent): clarify quality checks and remove speckit patterns in beast-mode-custom
  .github/agents/beast-mode-custom.agent.md
  .github/agents/fix-github-workflows.agent.md
Due: none

docs: add speckit archive delta analysis (summary.md, details.md)
  docs/speckit/details.md
  docs/speckit/summary.md
Due: none

fix(docs): resolve 53 ARCHITECTURE.md lint errors, fix broken cross-references, remove stale speckit instruction
  .github/instructions/02-05.observability.instructions.md
  .github/instructions/02-06.openapi.instructions.md
  .github/instructions/05-02.git.instructions.md
  docs/ARCHITECTURE.md
  docs/speckit/details.md
  docs/speckit/summary.md
Due: none

build: update Go dependencies and pre-commit hook versions
  .pre-commit-config.yaml
  go.mod
  go.sum
Due: go-build, go-mod-tidy

feat: remove beast-mode-3.1 agent and prompt files
  .github/agents/beast-mode-3.1.agent.md
  .github/prompts/beast-mode-3.1.prompt.md
Due: none

Update files
  .github/agents/beast-mode-custom.agent.md
  .github/agents/fix-github-workflows.agent.md
  .github/agents/plan-tasks-implement.agent.md
  .github/agents/plan-tasks-quizme.agent.md
  .github/instructions/01-02.beast-mode.instructions.md
  .github/instructions/06-01.evidence-based.instructions.md
  .github/instructions/06-02.agent-format.instructions.md
  docs/ARCHITECTURE.md
Due: none

Update files
  .github/agents/fix-github-workflows.agent.md
Due: none

chore: remove unused prompt files
  .github/prompts/beast-mode-custom.prompt.md
  .github/prompts/fix-github-workflows.prompt.md
  .github/prompts/fix-tool-names.prompt.md
  .github/prompts/plan-tasks-implement.prompt.md
  .github/prompts/plan-tasks-quizme.prompt.md
  .github/prompts/update-docs.prompt.md
Due: none

feat: add beast-mode agent and update documentation
  .github/agents/beast-mode.agent.md
  .github/agents/doc-sync.agent.md
  docs/ARCHITECTURE.md
Due: none

chore: remove deprecated fix-tool-names agent
  .github/agents/fix-tool-names.agent.md
Due: none

docs: update documentation files
  .github/agents/doc-sync.agent.md
  .github/agents/fix-workflows.agent.md
  .github/agents/implementation-execution.agent.md
  .github/agents/implementation-planning.agent.md
  .github/instructions/06-02.agent-format.instructions.md
  docs/ARCHITECTURE.md
Due: none

fix: replace remaining hardcoded 'password' literals with UUIDv7 in realm and crypto tests
  internal/apps/cipher/im/client/message_test.go
  internal/apps/sm/kms/server/application/application_middleware_test.go
  internal/apps/template/service/server/builder/swagger_ui_test.go
  internal/identity/repository/orm/client_repository_test.go
  internal/infra/realm/authenticator_test.go
  internal/infra/realm/db_realm_test.go
  internal/shared/crypto/digests/pbkdf2_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix: replace t.Errorf/t.Fatalf with require.* and hardcoded UUIDs with uuid.NewV7() in test files
  internal/apps/jose/ja/server/config/config_validation_test.go
  internal/apps/template/service/client/user_auth_test.go
  internal/identity/authz/handlers_totp_test.go
  internal/shared/database/sharding_test.go
  internal/shared/database/tenant_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix: replace hardcoded 0.0.0.0 strings with cryptoutilSharedMagic.IPv4AnyAddress in test files
  internal/apps/template/service/config/config_gaps_test.go
  internal/apps/template/service/config/config_loading_test.go
  internal/apps/template/service/server/application/application_listener_test.go
  internal/identity/server/application/application_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix: replace assert.* with require.* for fail-fast testing in 8 test files
  internal/apps/template/service/server/listener/public_test.go
  internal/apps/template/service/server/listener/servers_test.go
  internal/apps/template/service/server/repository/application_table_test.go
  internal/apps/template/service/server/repository/public_table_test.go
  internal/apps/workflow/workflow_test.go
  internal/identity/authz/handlers_client_rotation_test.go
  internal/identity/test/integration/repository_integration_test.go
  internal/shared/crypto/jose/jwk_util_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix: remove stale assert imports, fix swagger credential mismatch, use unique SQLite DBs for parallel tests
  internal/apps/template/service/server/builder/swagger_ui_test.go
  internal/apps/template/service/server/listener/public_test.go
  internal/apps/template/service/server/listener/servers_test.go
  internal/apps/template/service/server/repository/application_table_test.go
  internal/apps/template/service/server/repository/client_role_repository_test.go
  internal/apps/template/service/server/repository/public_table_test.go
  internal/apps/template/service/server/repository/tenant_repository_test.go
  internal/apps/template/service/server/repository/user_role_repository_test.go
  internal/apps/workflow/workflow_test.go
  internal/identity/authz/handlers_client_rotation_test.go
  internal/identity/test/integration/repository_integration_test.go
  internal/shared/crypto/jose/jwk_util_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

style: fix wsl whitespace issues in listener tests
  internal/apps/template/service/server/listener/servers_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

style: fix wsl whitespace issues in cipher-im, kms businesslogic, and asn1 tests
  internal/apps/cipher/im/http_test.go
  internal/apps/cipher/im/server/apis/messages_test.go
  internal/apps/sm/kms/server/businesslogic/elastic_key_status_state_machine_test.go
  internal/shared/crypto/asn1/demo_pkcs8_encode_bug_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

style: fix wsl whitespace issues in identity config, sysinfo, and thread tests
  internal/identity/config/config_test.go
  internal/shared/util/sysinfo/sysinfo_all_test.go
  internal/shared/util/thread/chan_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

style: fix wsl whitespace issues in jose repository and template businesslogic tests
  internal/apps/jose/ja/repository/migrations_test.go
  internal/apps/template/service/server/businesslogic/session_manager_integration_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity
