Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: github-workflow-lint, golangci-lint, go-mod-tidy, check-todo-severity, go-fix-all, go-build, cspell

Path conditions:
  github-workflow-lint: any of: \.github/workflows/.*\.(yml|yaml)$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.mod$
  check-todo-severity: any of: \.go$
  go-fix-all: any of: \.go$
  go-build: any of: \.go$|go\.mod$|go\.sum$
  cspell: any of: \.(md|txt|go|yaml|yml|json|js|ts|py|sh|ps1)$, but not: ^(test/|vendor/|\.git/|node_modules/|\.cache/)

test(jose): add DecryptBytesWithContext test for invalid JWE message bytes - 84.0% coverage sustained
  internal/jose/jwe_message_util_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(jose): add 6 SignBytes validation tests (nil/empty jwks, nil/empty clearBytes, non-sign JWK, multiple algs) - 84.0% coverage sustained
  internal/jose/jws_message_util_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(e2e): document P4.1/P4.3/P4.4 E2E workflow implementation requirements - OpenAPI client generation needed
  internal/test/e2e/ca_workflow_test.go
  internal/test/e2e/jose_workflow_test.go
  internal/test/e2e/oauth_workflow_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(jose/server): P0.2 HTTP→HTTPS client fix - resolves EOF errors
  internal/jose/server/server_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(identity): P3.5.3 Update cmd/identity-unified to use unified cmd
  cmd/identity-unified/main.go
  specs/001-cryptoutil/implement/DETAILED.md
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(jose): add 6 VerifyBytes validation tests (nil/empty jwks, nil/empty message, non-verify JWK, invalid message) - 84.0% coverage sustained
  internal/jose/jws_message_util_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(cicd/lint_go_mod): increase coverage 43.2%→67.6% for P3.6
  internal/cmd/cicd/lint_go_mod/lint_go_mod_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test: complete P4.7-P4.10 testing infrastructure
  specs/001-cryptoutil/implement/DETAILED.md
Due: cspell

test(e2e): P4.4 JOSE E2E test (BLOCKED - OpenAPI client needed) - 76/89 (85.4%)
  internal/test/e2e/jose_workflow_test.go
  specs/001-cryptoutil/implement/DETAILED.md
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(identity): discover Phase 2 I2 Features 7/8 complete
  specs/001-cryptoutil/implement/DETAILED.md
Due: cspell

feat(identity): P3.5.1-P3.5.2 Identity cmd integration - 61/89 (68.5%)
  internal/cmd/cryptoutil/identity/identity.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(jose): P3.5.7-P3.5.11 JOSE admin server and cmd - 69/89
  internal/cmd/cryptoutil/cryptoutil.go
  internal/cmd/cryptoutil/jose/jose.go
  internal/jose/server/admin.go
  internal/jose/server/application.go
  specs/001-cryptoutil/implement/DETAILED.md
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(jose): P3.5.12 Update cmd/jose-server unified cmd - 70/89 (78.7%)
  cmd/jose-server/main.go
  specs/001-cryptoutil/implement/DETAILED.md
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

chore: go mod tidy cleanup - remove unused jwx v2 dependency
  go.mod
  go.sum
  internal/cmd/cicd/format_go/format_go_test.go
  internal/jose/jws_jwk_util_test.go
Due: golangci-lint, go-mod-tidy, check-todo-severity, go-fix-all, go-build, cspell

docs: P3.5.5-P3.5.6 Identity integration complete (64/89, 71.9%)
  specs/001-cryptoutil/implement/DETAILED.md
Due: cspell

feat(ca): P3.5.13-P3.5.18 CA admin server + unified command - 76/89 (85.4%)
  cmd/ca-server/main.go
  deployments/ca/compose.yml
  internal/ca/server/admin.go
  internal/ca/server/application.go
  internal/cmd/cryptoutil/ca/ca.go
  internal/cmd/cryptoutil/cryptoutil.go
  specs/001-cryptoutil/implement/DETAILED.md
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(cicd/lint_go): increase coverage 47.4%→48.3% and fix failing test for P3.6
  internal/cmd/cicd/lint_go/lint_go_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

perf(jose): fix JWS/JWE benchmarks to use correct key types
  internal/jose/jose_bench_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(identity): P3.5.1-P3.5.2 Identity command integration
  internal/cmd/cryptoutil/cryptoutil.go
  internal/cmd/cryptoutil/identity/identity.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(identity): P3.5.4 Update Docker Compose for unified cmd
  deployments/identity/compose.advanced.yml
  deployments/identity/compose.yml
  specs/001-cryptoutil/implement/DETAILED.md
Due: cspell

test(baseline): add P0.0 baseline test timings and coverage metrics
  test-output/coverage_baseline_summary.txt
  test-output/coverage_baseline_timing.txt
Due: cspell

feat(load): P4.5 browser API load tests - OAuth 2.1 authorization code + PKCE flow
  test/load/src/test/java/cryptoutil/BrowserApiSimulation.java
  test/load/src/test/java/cryptoutil/GatlingHttpUtil.java
Due: none

docs(implement): P4.5 browser load tests complete - 59/71 tasks (83.1%)
  specs/001-cryptoutil/implement/DETAILED.md
Due: cspell

feat(benchmarks): add P4.7 benchmark tests for CA and JOSE - CA cert issuance (ECDSA/RSA/parallel), JOSE JWS sign/JWE encrypt/decrypt
  internal/ca/service/issuer/issuer_bench_test.go
  internal/jose/jose_bench_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(lint): add nolint:staticcheck for intentional nil context tests
  internal/common/config/config_test_helper.go
  internal/identity/authz/server/application_test.go
  internal/identity/idp/server/application_test.go
  internal/jose/jwe_jwk_util_test.go
  internal/jose/jwe_key_wrap_test.go
  internal/jose/jwe_message_util_test.go
  internal/jose/jwk_util.go
  internal/jose/jwk_util_test.go
  internal/jose/jwkgen_test.go
  internal/jose/jws_jwk_util_test.go
  internal/jose/jws_message_util_test.go
  internal/jose/server/server.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(cicd/lint_workflow): increase coverage 28.5%→87.0% for P3.6
  internal/cmd/cicd/lint_workflow/lint_workflow_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(cicd/format_go): add comprehensive tests for copyloopvar, enforce_any, and format functions for P3.6
  internal/cmd/cicd/format_go/format_go_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(implement): P3.1 jose coverage baseline - 84.0%, low-coverage functions identified
  specs/001-cryptoutil/implement/DETAILED.md
Due: cspell

chore(e2e): complete P4.6 E2E CI/CD workflow verification
  specs/001-cryptoutil/implement/DETAILED.md
Due: cspell

docs(detailed): add Dec 13 session timeline - 80.3% complete
  specs/001-cryptoutil/implement/DETAILED.md
Due: cspell

docs(spec): add Phase 3.5 - Server Architecture Unification (18 tasks, 16-24h, CRITICAL BLOCKER)
  specs/001-cryptoutil/PLAN.md
  specs/001-cryptoutil/TASKS.md
  specs/001-cryptoutil/implement/DETAILED.md
  specs/001-cryptoutil/spec.md
Due: cspell

feat(identity): implement DPoP (RFC 9449) - P2.7 complete
  internal/identity/authz/dpop/dpop.go
  internal/identity/authz/dpop/dpop_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(implement): document P2.7 DPoP completion - Phase 2 100%
  specs/001-cryptoutil/implement/DETAILED.md
Due: cspell

feat: update CA server, JOSE implementation, and E2E test enhancements
  internal/ca/server/admin.go
  internal/ca/server/application.go
  internal/cmd/cryptoutil/ca/ca.go
  internal/jose/$outFile
  internal/jose/jwk_coverage_test.go
  internal/test/e2e/docker_health.go
  internal/test/e2e/fixtures.go
  internal/test/e2e/infrastructure.go
  internal/test/e2e/jose_workflow_test.go
  internal/test/e2e/kms_workflow_test.go
  specs/001-cryptoutil/implement/DETAILED.md
  specs/001-cryptoutil/implement/EXECUTIVE.md
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(e2e): P4.11 - correct material key generation endpoint
  internal/test/e2e/kms_workflow_test.go
  specs/001-cryptoutil/implement/DETAILED.md
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(e2e): P4.11 - correct verify endpoint status code expectation (200→204)
  internal/jose/jwe_message_util_coverage_test.go
  internal/jose/jws_message_util.go
  internal/jose/jws_message_util_coverage_test.go
  internal/test/e2e/assertions.go
  internal/test/e2e/docker_utils.go
  internal/test/e2e/infrastructure.go
  internal/test/e2e/kms_workflow_test.go
  internal/test/e2e/test_suite.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(spec): P4.11 - update timeline with test verification (78/89 tasks, 87.6%)
  specs/001-cryptoutil/implement/DETAILED.md
Due: cspell

feat(ca): add OpenAPI client generation for E2E testing
  api/ca/client/openapi_gen_client.go
  api/ca/generate.go
  api/ca/openapi-gen_config_client.yaml
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(spec): P4.3 - document CA OpenAPI client generation readiness
  specs/001-cryptoutil/implement/DETAILED.md
Due: cspell

docs(spec): session completion summary - 78/89 tasks (87.6%), P4.11 complete, 11 tasks remaining
  specs/001-cryptoutil/implement/DETAILED.md
Due: cspell
