Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-build, golangci-lint-full, golangci-lint, go-mod-tidy, check-todo-severity

Path conditions:
  go-build: any of: \.go$|go\.mod$|go\.sum$
  golangci-lint-full: any of: \.go$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.mod$
  check-todo-severity: any of: \.go$

feat(test-framework): implement phase 1 v22 helper stubs and record postmortem
  docs/framework-v22/lessons.md
  docs/framework-v22/tasks.md
  internal/apps-framework/service/test_help_barrier/barrier.go
  internal/apps-framework/service/test_help_bootstrap/bootstrap.go
  internal/apps-framework/service/test_help_tls/tls.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

test(framework-v22): complete phase 2 helper self-tests
  docs/framework-v22/lessons.md
  docs/framework-v22/tasks.md
  internal/apps-framework/service/test_help_api/api_test.go
  internal/apps-framework/service/test_help_barrier/barrier.go
  internal/apps-framework/service/test_help_barrier/barrier_test.go
  internal/apps-framework/service/test_help_bootstrap/bootstrap_test.go
  internal/apps-framework/service/test_help_cli/cli_test.go
  internal/apps-framework/service/test_help_db/database.go
  internal/apps-framework/service/test_help_db/database_test.go
  internal/apps-framework/service/test_help_tls/tls.go
  internal/apps-framework/service/test_help_tls/tls_test.go
  internal/apps-framework/service/test_orch_e2e/tls_psid_spec_e2e.go
  internal/apps-framework/service/test_orch_integration/test_orch_integration_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

test(framework-v22): complete phase 3 linter seam coverage
  docs/framework-v22/lessons.md
  docs/framework-v22/tasks.md
  internal/apps-tools/cicd_lint/lint_fitness/testmain_integration_tag_policy/testmain_integration_tag_policy.go
  internal/apps-tools/cicd_lint/lint_fitness/testmain_integration_tag_policy/testmain_integration_tag_policy_internal_test.go
  internal/apps-tools/cicd_lint/lint_fitness/testmain_orchestration_policy/testmain_orchestration_policy.go
  internal/apps-tools/cicd_lint/lint_fitness/testmain_orchestration_policy/testmain_orchestration_policy_internal_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

test(framework-v22): fix phase 3 literal-use test constants
  internal/apps-tools/cicd_lint/lint_fitness/testmain_integration_tag_policy/testmain_integration_tag_policy_internal_test.go
  internal/apps-tools/cicd_lint/lint_fitness/testmain_orchestration_policy/testmain_orchestration_policy_internal_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

test(framework-v22): complete phase 4 mutation evidence
  docs/framework-v22/lessons.md
  docs/framework-v22/tasks.md
  internal/apps-tools/cicd_lint/lint_fitness/testmain_integration_tag_policy/testmain_integration_tag_policy_internal_test.go
  internal/apps-tools/cicd_lint/lint_fitness/testmain_orchestration_policy/testmain_orchestration_policy_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(testmain-e2e): enforce facade migration with policy linter
  docs/framework-v22/lessons.md
  docs/framework-v22/tasks.md
  internal/apps-framework/service/test_orch_e2e/testmain_e2e.go
  internal/apps-tools/cicd_lint/lint_fitness/lint-fitness-registry.yaml
  internal/apps-tools/cicd_lint/lint_fitness/lint_fitness.go
  internal/apps-tools/cicd_lint/lint_fitness/testmain_e2e_policy/testmain_e2e_policy.go
  internal/apps-tools/cicd_lint/lint_fitness/testmain_e2e_policy/testmain_e2e_policy_internal_test.go
  internal/apps-tools/cicd_lint/lint_fitness/testmain_e2e_policy/testmain_e2e_policy_register.go
  internal/apps-tools/cicd_lint/lint_fitness/testmain_e2e_policy/testmain_e2e_policy_test.go
  internal/apps/identity-authz/e2e/testmain_e2e_test.go
  internal/apps/identity-idp/e2e/testmain_e2e_test.go
  internal/apps/identity-rp/e2e/testmain_e2e_test.go
  internal/apps/identity-rs/e2e/testmain_e2e_test.go
  internal/apps/identity-spa/e2e/testmain_e2e_test.go
  internal/apps/jose-ja/e2e/testmain_e2e_test.go
  internal/apps/pki-ca/e2e/testmain_e2e_test.go
  internal/apps/skeleton-template/e2e/testmain_e2e_test.go
  internal/apps/sm-im/e2e/testmain_e2e_test.go
  internal/apps/sm-kms/e2e/testmain_e2e_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(framework-v22): complete phase 10 - TestMain inventory (54 instances, formula 10+10+8+10+8+8)
  docs/framework-v22/tasks.md
Due: none

docs(framework-v22): phase 11 complete - knowledge propagation and phase post-mortems
  .github/instructions/03-02.testing.instructions.md
  docs/ENG-HANDBOOK.md
  docs/framework-v22/lessons.md
  docs/framework-v22/tasks.md
Due: none

docs(framework-v22): update cross-cutting task status and phase 9 blocker notes
  docs/framework-v22/tasks.md
Due: none

fix(server-integration): isolate sqlite dsn per parallel test to remove migration races
  internal/apps-framework/service/server_integration/integration_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(framework-v22): record post-restart docker rerun and updated blockers
  docs/framework-v22/lessons.md
  docs/framework-v22/tasks.md
Due: none

fix(agents): sync implementation planning and execution pairs
  .claude/agents/implementation-execution.md
  .claude/agents/implementation-planning.md
  .github/agents/implementation-execution.agent.md
  .github/agents/implementation-planning.agent.md
Due: none

fix(sm-kms): avoid integration deadlock and document phase9 e2e blockers
  deployments/shared-telemetry/compose.yml
  docs/framework-v22/tasks.md
  internal/apps/sm-kms/client/testmain_test.go
  internal/apps/sm-kms/server/businesslogic/businesslogic_crypto.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix: complete framework-v22 integration test repairs and Phase 9 prep
  .claude/agents/implementation-execution.md
  .github/agents/implementation-execution.agent.md
  api/sm-kms/client/client.gen.go
  api/sm-kms/server/server.gen.go
  deployments/sm-kms/certs/tls-config.yml
  docs/ENG-HANDBOOK.md
  docs/IMPLEMENTATION-PLAN/EXEC-SUMMARY.md
  docs/framework-v22/EXEC-SUMMARY.md
  docs/framework-v22/lessons.md
  docs/framework-v22/tasks.md
  internal/apps/sm-im/client/rotation_integration_test.go
  internal/apps/sm-im/client/testmain_test.go
  internal/apps/sm-kms/client/client_oam_mapper.go
  internal/apps/sm-kms/client/client_test_util_test.go
  internal/apps/sm-kms/client/testmain_test.go
  internal/apps/sm-kms/server/handler/handler_methods_test.go
  internal/apps/sm-kms/server/handler/handler_query_params_test.go
  internal/apps/sm-kms/server/handler/handler_response_test.go
  internal/apps/sm-kms/server/handler/handler_test.go
  internal/apps/sm-kms/server/handler/oam_oas_mapper.go
  internal/apps/sm-kms/server/handler/oam_oas_mapper_material.go
  internal/apps/sm-kms/server/handler/oas_handlers.go
  internal/apps/sm-kms/server/repository/orm/orm_repository_test_util.go
  internal/apps/sm-kms/server/server.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(phase9): update Docker build and E2E blocker status
  deployments/sm-kms/certs/tls-config.yml
  docs/framework-v22/tasks.md
Due: none

fix(e2e): resolve framework-v22 docker phase blockers
  api/cryptosuite-registry/templates/deployments/__PS_ID__/.env.postgres
  api/cryptosuite-registry/templates/deployments/__PS_ID__/compose.yml
  api/cryptosuite-registry/templates/deployments/shared-postgres/compose.yml
  api/cryptosuite-registry/templates/deployments/shared-telemetry/compose.yml
  deployments/identity-authz/.env.postgres
  deployments/identity-authz/compose.yml
  deployments/identity-idp/.env.postgres
  deployments/identity-idp/compose.yml
  deployments/identity-rp/.env.postgres
  deployments/identity-rp/compose.yml
  deployments/identity-rs/.env.postgres
  deployments/identity-rs/compose.yml
  deployments/identity-spa/.env.postgres
  deployments/identity-spa/compose.yml
  deployments/jose-ja/.env.postgres
  deployments/jose-ja/compose.yml
  deployments/pki-ca/.env.postgres
  deployments/pki-ca/compose.yml
  deployments/shared-postgres/compose.yml
  deployments/skeleton-template/.env.postgres
  deployments/skeleton-template/compose.yml
  deployments/sm-im/.env.postgres
  deployments/sm-im/compose.yml
  deployments/sm-kms/.env.postgres
  deployments/sm-kms/compose.yml
  docs/framework-v22/EXEC-SUMMARY.md
  docs/framework-v22/lessons.md
  docs/framework-v22/plan.md
  docs/framework-v22/tasks.md
  internal/apps-framework/service/testing/e2e_infra/compose_manager.go
  internal/apps-framework/service/testing/e2e_infra/compose_manager_test.go
  internal/apps-framework/service/testing/e2e_infra/testmain_factory.go
  internal/apps-framework/service/testing/e2e_infra/testmain_factory_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(framework-v22): add detailed commit-range audit and reconcile plan artifacts
  .claude/agents/implementation-execution.md
  .github/agents/implementation-execution.agent.md
  docs/framework-v22/DETAIL-SUMMARY.md
  docs/framework-v22/EXEC-SUMMARY.md
  docs/framework-v22/plan.md
Due: none

chore(tooling): refresh hooks and update stale Go dependencies
  .pre-commit-config.yaml
  go.mod
  go.sum
Due: go-build, go-mod-tidy

docs(agents): add mandatory first-turn baseline and last-turn post-completion analysis workflow
  .claude/agents/implementation-execution.md
  .github/agents/implementation-execution.agent.md
Due: none

docs(agents): fix 11 critical/high issues in implementation-execution agent spec
  .claude/agents/implementation-execution.md
  .github/agents/implementation-execution.agent.md
Due: none

docs(agents): update implementation-execution agent and cspell config
  .claude/agents/implementation-execution.md
  .github/agents/implementation-execution.agent.md
  .vscode/cspell.json
Due: none

chore(workspace): checkpoint baseline before agent execution
  docs/framework-v22/tasks.md
Due: none

docs(agents): add essential execution guidance and recovery flows
  .claude/agents/implementation-execution.md
  .github/agents/implementation-execution.agent.md
Due: none

docs(agents): add execution flow diagram to implementation-execution
  .claude/agents/implementation-execution.md
  .github/agents/implementation-execution.agent.md
Due: none

fix(docs): reconcile framework-v22 Phase 9 with actual E2E completion evidence
  .gitattributes
  docs/framework-v22/tasks.md
Due: none

docs(analysis): deep analysis of sm-im E2E SKIP cases with evidence-based findings
  docs/framework-v22/tasks.md
Due: none

test(sm-im): enforce HTTPS Grafana URL and correct E2E skip rationale
  internal/apps/sm-im/e2e/e2e_registration_test.go
  internal/apps/sm-im/e2e/e2e_test.go
  internal/apps/sm-im/e2e/testmain_e2e_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

chore(workspace): checkpoint baseline before agent execution
  .pre-commit-config.yaml
  api/cryptosuite-registry/templates/deployments/shared-telemetry/compose.yml
  deployments/shared-telemetry/compose.yml
  docs/ENHANCEMENTS-BEAST-MODE-AGENT.md
  docs/ENHANCEMENTS-FIX-WORKFLOW-AGENT.md
  docs/ENHANCEMENTS-IMPLEMENTATION-EXECUTION-AGENT.md
  docs/ENHANCEMENTS-IMPLEMENTATION-PLANNING-AGENT.md
  docs/ENHANCEMENTS-SKILLS.md
  docs/TEST-PERFORMANCE.md
  internal/apps-framework/service/server/server_test.go
  internal/apps/sm-im/e2e/e2e_registration_test.go
  internal/apps/sm-im/e2e/e2e_test.go
  internal/apps/sm-im/server/http_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(mod): update grpc dependency
  go.mod
  go.sum
Due: go-build, go-mod-tidy

refactor(agents): compress repeated warnings in beast-mode agent
  .claude/agents/beast-mode.md
  .github/agents/beast-mode.agent.md
  docs/ENHANCEMENTS-BEAST-MODE-AGENT.md
Due: none

refactor(agents): separate contract from policy in beast-mode agents
  .claude/agents/beast-mode.md
  .github/agents/beast-mode.agent.md
  docs/ENHANCEMENTS-BEAST-MODE-AGENT-COMPLETED.md
  docs/ENHANCEMENTS-BEAST-MODE-AGENT.md
Due: none

docs: clarify beast mode enhancement draft
  docs/ENHANCEMENTS-BEAST-MODE-AGENT.md
Due: none

docs: refine beast mode framework guidance
  docs/ENHANCEMENTS-BEAST-MODE-AGENT.md
Due: none

docs: add beast mode concurrency guidance
  docs/ENHANCEMENTS-BEAST-MODE-AGENT.md
Due: none

docs: account for handbook test strategies
  docs/ENHANCEMENTS-BEAST-MODE-AGENT.md
Due: none

docs: reevaluate beast mode enhancement scope
  docs/ENHANCEMENTS-BEAST-MODE-AGENT.md
Due: none

refactor(agents): add first-edit hypothesis rule to beast mode
  .claude/agents/beast-mode.md
  .github/agents/beast-mode.agent.md
  docs/ENHANCEMENTS-BEAST-MODE-AGENT-COMPLETED.md
  docs/ENHANCEMENTS-BEAST-MODE-AGENT.md
Due: none

refactor(agents): reduce beast mode checklist weight
  .claude/agents/beast-mode.md
  .github/agents/beast-mode.agent.md
  docs/ENHANCEMENTS-BEAST-MODE-AGENT-COMPLETED.md
  docs/ENHANCEMENTS-BEAST-MODE-AGENT.md
Due: none

refactor(agents): make beast mode post-edit validation order explicit
  .claude/agents/beast-mode.md
  .github/agents/beast-mode.agent.md
  docs/ENHANCEMENTS-BEAST-MODE-AGENT-COMPLETED.md
  docs/ENHANCEMENTS-BEAST-MODE-AGENT.md
Due: none
