Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-build, golangci-lint-full, golangci-lint, go-mod-tidy, check-todo-severity

go-build:
  name: go build
  entry: go
  args:
  - build
  - ./...
  language: system
  pass_filenames: false
  require_serial: true
  stages:
  - pre-push

golangci-lint-full:
  name: golangci-lint (full validation)
  entry: golangci-lint
  args:
  - run
  - --timeout=30m
  language: system
  pass_filenames: false
  stages:
  - pre-push

golangci-lint:
  name: golangci-lint (incremental auto-fix)
  entry: golangci-lint
  args:
  - run
  - --fix
  - --timeout=30m
  - --new-from-rev=HEAD~1
  language: system
  pass_filenames: false
  require_serial: false
  stages:
  - pre-commit

go-mod-tidy:
  name: go mod tidy
  entry: go
  args:
  - mod
  - tidy
  language: system
  pass_filenames: false

check-todo-severity:
  name: Check TODO/FIXME severity (block CRITICAL/HIGH)
  entry: bash
  args:
  - -c
  ...

fix(pki-ca): fix dual database key, service names, profiles, CRLF, linter
  configs/pki-ca/profiles/kubernetes-workload.yaml
  configs/pki-ca/profiles/ssh-user.yaml
  deployments/pki-ca/config/pki-ca-app-postgresql-1.yml
  deployments/pki-ca/config/pki-ca-app-postgresql-2.yml
  deployments/pki-ca/config/pki-ca-app-sqlite-1.yml
  deployments/pki-ca/config/pki-ca-app-sqlite-2.yml
  docs/ARCHITECTURE.md
  docs/framework-v7/tasks.md
  internal/apps/tools/cicd_lint/lint_fitness/pki_ca_profile_schema/pki_ca_profile_schema.go
  internal/apps/tools/cicd_lint/lint_fitness/pki_ca_profile_schema/pki_ca_profile_schema_test.go
  internal/shared/util/random/usernames_passwords_test.go
  internal/shared/util/random/usernames_passwords_test_util.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(architecture): add variant offset formula to §3.4.1 (Task 0.2)
  docs/ARCHITECTURE.md
  docs/framework-v7/tasks.md
Due: none

feat(all-psids): define and apply canonical entrypoint pattern
  deployments/identity-authz/Dockerfile
  deployments/identity-authz/compose.yml
  deployments/identity-idp/Dockerfile
  deployments/identity-idp/compose.yml
  deployments/identity-rp/Dockerfile
  deployments/identity-rp/compose.yml
  deployments/identity-rs/Dockerfile
  deployments/identity-rs/compose.yml
  deployments/identity-spa/Dockerfile
  deployments/identity-spa/compose.yml
  deployments/jose-ja/compose.yml
  deployments/pki-ca/compose.yml
  deployments/skeleton-template/compose.yml
  deployments/sm-kms/Dockerfile
  deployments/sm-kms/compose.yml
  docs/ARCHITECTURE.md
  docs/framework-v7/tasks.md
Due: none

feat(lint-fitness): add compose-entrypoint-uniformity fitness linter
  docs/framework-v7/tasks.md
  internal/apps/tools/cicd_lint/lint_fitness/compose_entrypoint_uniformity/compose_entrypoint_uniformity.go
  internal/apps/tools/cicd_lint/lint_fitness/compose_entrypoint_uniformity/compose_entrypoint_uniformity_test.go
  internal/apps/tools/cicd_lint/lint_fitness/lint-fitness-registry.yaml
  internal/apps/tools/cicd_lint/lint_fitness/lint_fitness.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

chore(identity): delete unused legacy domain config files
  deployments/identity-authz/config/identity-authz-domain.yml
  deployments/identity-idp/config/identity-idp-domain.yml
Due: none

feat(lint-fitness): add database-key-uniformity fitness linter
  docs/framework-v7/tasks.md
  internal/apps/tools/cicd_lint/lint_fitness/database_key_uniformity/database_key_uniformity.go
  internal/apps/tools/cicd_lint/lint_fitness/database_key_uniformity/database_key_uniformity_test.go
  internal/apps/tools/cicd_lint/lint_fitness/lint-fitness-registry.yaml
  internal/apps/tools/cicd_lint/lint_fitness/lint_fitness.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(lint-fitness): hard-error on absent dirs (task 0.10)
  .github/instructions/02-01.architecture.instructions.md
  docs/ARCHITECTURE.md
  docs/framework-v7/lessons.md
  internal/apps/tools/cicd_lint/lint_fitness/cmd_main_pattern/cmd_main_pattern.go
  internal/apps/tools/cicd_lint/lint_fitness/cmd_main_pattern/cmd_main_pattern_test.go
  internal/apps/tools/cicd_lint/lint_fitness/config_overlay_freshness/config_overlay_freshness.go
  internal/apps/tools/cicd_lint/lint_fitness/config_overlay_freshness/config_overlay_freshness_test.go
  internal/apps/tools/cicd_lint/lint_fitness/database_key_uniformity/database_key_uniformity.go
  internal/apps/tools/cicd_lint/lint_fitness/database_key_uniformity/database_key_uniformity_test.go
  internal/apps/tools/cicd_lint/lint_fitness/migration_comment_headers/migration_comment_headers.go
  internal/apps/tools/cicd_lint/lint_fitness/migration_comment_headers/migration_comment_headers_test.go
  internal/apps/tools/cicd_lint/lint_fitness/migration_numbering/migration_numbering.go
  internal/apps/tools/cicd_lint/lint_fitness/migration_numbering/migration_numbering_test.go
  internal/apps/tools/cicd_lint/lint_fitness/migration_range_compliance/migration_range_compliance.go
  internal/apps/tools/cicd_lint/lint_fitness/migration_range_compliance/migration_range_compliance_test.go
  internal/apps/tools/cicd_lint/lint_fitness/otlp_service_name_pattern/otlp_service_name_pattern.go
  internal/apps/tools/cicd_lint/lint_fitness/otlp_service_name_pattern/otlp_service_name_pattern_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(seam): remove seam vars from Cat5 utilities (Category 5 complete)
  internal/apps/framework/service/server/apis/registration_handlers.go
  internal/apps/framework/service/server/apis/registration_handlers_error_paths_test.go
  internal/apps/framework/service/server/middleware/session.go
  internal/apps/framework/service/server/middleware/session_empty_token_test.go
  internal/apps/framework/service/server/realms/handlers.go
  internal/apps/framework/service/server/realms/realms_error_paths_test.go
  internal/apps/framework/service/server/realms/service.go
  internal/apps/sm-im/client/message.go
  internal/apps/sm-im/client/message_errorpaths_test.go
  internal/apps/tools/cicd_lint/format_gotest/thelper/thelper.go
  internal/apps/tools/cicd_lint/format_gotest/thelper/thelper_error_paths_test.go
  internal/apps/tools/cicd_lint/lint_go/no_unaliased_cryptoutil_imports/import_alias_test.go
  internal/apps/tools/cicd_lint/lint_go/no_unaliased_cryptoutil_imports/no_unaliased_cryptoutil_imports.go
  internal/apps/tools/cicd_lint/lint_go_mod/outdated_deps/dep_cache_test.go
  internal/apps/tools/cicd_lint/lint_go_mod/outdated_deps/lint_test.go
  internal/apps/tools/cicd_lint/lint_go_mod/outdated_deps/outdated_deps.go
  internal/apps/tools/cicd_lint/lint_go_mod/outdated_deps/outdated_deps_error_paths_test.go
  internal/apps/tools/cicd_lint/lint_go_mod/outdated_deps/outdated_deps_test.go
  internal/apps/tools/cicd_lint/lint_workflow/github_actions/github_actions.go
  internal/apps/tools/cicd_lint/lint_workflow/github_actions/github_actions_error_paths_test.go
  internal/apps/tools/cicd_workflow/workflow.go
  internal/apps/tools/cicd_workflow/workflow_coverage_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(seam): remove seam vars from certificate package (Category 2)
  internal/shared/crypto/asn1/der_pem.go
  internal/shared/crypto/asn1/der_pem_coverage_test.go
  internal/shared/crypto/certificate/certificate_mutation_test.go
  internal/shared/crypto/certificate/certificates.go
  internal/shared/crypto/certificate/serial_number.go
  internal/shared/crypto/certificate/serial_number_error_paths_test.go
  internal/shared/crypto/digests/hkdf.go
  internal/shared/crypto/digests/pbkdf2.go
  internal/shared/crypto/digests/pbkdf2_coverage_gaps_test.go
  internal/shared/crypto/hash/hash_error_paths_test.go
  internal/shared/crypto/hash/hash_high_fixed_provider.go
  internal/shared/crypto/hash/hash_high_random_provider.go
  internal/shared/crypto/hash/hash_low_fixed_provider.go
  internal/shared/crypto/hash/hash_parameter_sets.go
  internal/shared/crypto/keygen/keygen.go
  internal/shared/crypto/keygen/keygen_error_paths_test.go
  internal/shared/crypto/pbkdf2/pbkdf2.go
  internal/shared/crypto/pbkdf2/pbkdf2_error_paths_test.go
  internal/shared/crypto/tls/chain.go
  internal/shared/crypto/tls/config.go
  internal/shared/crypto/tls/storage.go
  internal/shared/crypto/tls/tls_error_paths_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(seam): remove seam vars from password, pool, pwdgen packages (Category 2/5)
  internal/shared/crypto/password/password.go
  internal/shared/crypto/password/password_error_paths_test.go
  internal/shared/pool/pool.go
  internal/shared/pool/pool_metric_test.go
  internal/shared/pwdgen/pwdgen.go
  internal/shared/pwdgen/pwdgen_coverage_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(seam): remove seam vars from application + service_framework packages (Category 3/5)
  internal/apps/framework/service/server/application/application_basic.go
  internal/apps/framework/service/server/application/application_core.go
  internal/apps/framework/service/server/application/application_coverage_test.go
  internal/apps/framework/service/server/application/application_errorpaths_test.go
  internal/apps/framework/service/server/application/application_listener.go
  internal/apps/framework/service/server/barrier/barrier_error_paths_test.go
  internal/apps/framework/service/server/barrier/barrier_service.go
  internal/apps/framework/service/server/barrier/intermediate_keys_service.go
  internal/apps/framework/service/server/barrier/unsealkeysservice/unseal_keys_service.go
  internal/apps/framework/service/server/barrier/unsealkeysservice/unseal_keys_service_from_settings.go
  internal/apps/framework/service/server/barrier/unsealkeysservice/unseal_keys_service_injectable_coverage_test.go
  internal/apps/framework/service/server/barrier/unsealkeysservice/unseal_keys_service_sharedsecrets.go
  internal/apps/framework/service/server/barrier/unsealkeysservice/unseal_keys_service_sysinfo.go
  internal/apps/framework/service/server/listener/admin.go
  internal/apps/framework/service/server/listener/listener_coverage_test.go
  internal/apps/framework/service/server/listener/listener_errorpaths_test.go
  internal/apps/framework/service/server/listener/public.go
  internal/apps/framework/service/server/listener/servers.go
  internal/apps/framework/service/server/public_server_base.go
  internal/apps/framework/service/server/repository/migrations.go
  internal/apps/framework/service/server/repository/migrations_db_error_paths_test.go
  internal/apps/framework/service/server/server_coverage_test.go
  internal/apps/framework/service/server/service_framework.go
  internal/shared/crypto/certificate/serial_number_error_paths_test.go
  internal/shared/pool/pool_metric_test.go
  internal/shared/pwdgen/pwdgen.go
  internal/shared/pwdgen/pwdgen_coverage_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(seam): remove seam vars from businesslogic/session_manager (Category 4/5)
  internal/apps/framework/service/server/application/application_errorpaths_test.go
  internal/apps/framework/service/server/businesslogic/session_manager.go
  internal/apps/framework/service/server/businesslogic/session_manager_errorpaths2_test.go
  internal/apps/framework/service/server/businesslogic/session_manager_errorpaths3_test.go
  internal/apps/framework/service/server/businesslogic/session_manager_errorpaths_test.go
  internal/apps/framework/service/server/businesslogic/session_manager_jwe.go
  internal/apps/framework/service/server/businesslogic/session_manager_jws.go
  internal/apps/framework/service/server/businesslogic/session_manager_session.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(seam): update ARCHITECTURE.md + instructions with function-param injection standard
  .claude/commands/test-table-driven.md
  .github/instructions/03-02.testing.instructions.md
  .github/skills/test-table-driven/SKILL.md
  docs/ARCHITECTURE.md
  docs/framework-v7/lessons.md
  docs/framework-v7/tasks.md
Due: none

chore(deps): update pre-commit ruff hook v0.15.8 -> v0.15.9
  .pre-commit-config.yaml
Due: none

refactor(application): split DB functions to application_core_db.go to fix file-size-limits
  internal/apps/framework/service/server/application/application_core.go
  internal/apps/framework/service/server/application/application_core_db.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(docs-validation): Task 1.1+1.3 - Claude command frontmatter and Key Rules drift validation
  .claude/commands/agent-scaffold.md
  .claude/commands/contract-test-gen.md
  .claude/commands/coverage-analysis.md
  .claude/commands/fips-audit.md
  .claude/commands/fitness-function-gen.md
  .claude/commands/instruction-scaffold.md
  .claude/commands/migration-create.md
  .claude/commands/new-service.md
  .claude/commands/openapi-codegen.md
  .claude/commands/propagation-check.md
  .claude/commands/skill-scaffold.md
  .claude/commands/test-benchmark-gen.md
  .claude/commands/test-fuzz-gen.md
  .claude/commands/test-table-driven.md
  .github/instructions/06-02.agent-format.instructions.md
  .github/skills/agent-scaffold/SKILL.md
  .github/skills/contract-test-gen/SKILL.md
  .github/skills/coverage-analysis/SKILL.md
  .github/skills/fips-audit/SKILL.md
  .github/skills/fitness-function-gen/SKILL.md
  .github/skills/instruction-scaffold/SKILL.md
  .github/skills/new-service/SKILL.md
  .github/skills/openapi-codegen/SKILL.md
  .github/skills/propagation-check/SKILL.md
  docs/ARCHITECTURE.md
  internal/apps/tools/cicd_lint/docs_validation/skill_command_drift.go
  internal/apps/tools/cicd_lint/docs_validation/skill_command_drift_test.go
  internal/shared/magic/magic_cicd.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(cicd-lint): add lint-java-test and lint-python-test commands (Task 1.2)
  .claude/commands/test-table-driven.md
  .github/instructions/04-01.deployment.instructions.md
  .github/skills/test-table-driven/SKILL.md
  .github/workflows/ci-quality.yml
  .pre-commit-config.yaml
  docs/ARCHITECTURE.md
  docs/framework-v7/tasks.md
  internal/apps/tools/cicd_lint/cicd.go
  internal/apps/tools/cicd_lint/lint_javatest/lint_javatest.go
  internal/apps/tools/cicd_lint/lint_javatest/lint_javatest_test.go
  internal/apps/tools/cicd_lint/lint_pythontest/lint_pythontest.go
  internal/apps/tools/cicd_lint/lint_pythontest/lint_pythontest_test.go
  internal/shared/magic/magic_cicd.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(architecture): add §14.11 Claude Code autonomous execution modes (Task 1.4)
  CLAUDE.md
  docs/ARCHITECTURE.md
  docs/framework-v7/tasks.md
Due: none

feat(lint-docs): add lint-agent-self-containment sub-linter (#25)
  docs/framework-v7/tasks.md
  internal/apps/tools/cicd_lint/lint_docs/lint_agent_self_containment/lint_agent_self_containment.go
  internal/apps/tools/cicd_lint/lint_docs/lint_agent_self_containment/lint_agent_self_containment_test.go
  internal/apps/tools/cicd_lint/lint_docs/lint_docs.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(lint-docs): add lint-architecture-links sub-linter
  internal/apps/tools/cicd_lint/lint_docs/lint_agent_self_containment/lint_agent_self_containment.go
  internal/apps/tools/cicd_lint/lint_docs/lint_agent_self_containment/lint_agent_self_containment_test.go
  internal/apps/tools/cicd_lint/lint_docs/lint_architecture_links/lint_architecture_links.go
  internal/apps/tools/cicd_lint/lint_docs/lint_architecture_links/lint_architecture_links_test.go
  internal/apps/tools/cicd_lint/lint_docs/lint_docs.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(lint-go-test): add hardcoded-uuid, real-http-server, test-sleep sub-linters
  docs/ARCHITECTURE.md
  docs/framework-v7/tasks.md
  internal/apps/tools/cicd_lint/lint_gotest/lint_gotest.go
  internal/apps/tools/cicd_lint/lint_gotest/lint_gotest_hardcoded_uuid/lint_gotest_hardcoded_uuid.go
  internal/apps/tools/cicd_lint/lint_gotest/lint_gotest_hardcoded_uuid/lint_gotest_hardcoded_uuid_test.go
  internal/apps/tools/cicd_lint/lint_gotest/lint_gotest_real_http_server/lint_gotest_real_http_server.go
  internal/apps/tools/cicd_lint/lint_gotest/lint_gotest_real_http_server/lint_gotest_real_http_server_test.go
  internal/apps/tools/cicd_lint/lint_gotest/lint_gotest_test_sleep/lint_gotest_test_sleep.go
  internal/apps/tools/cicd_lint/lint_gotest/lint_gotest_test_sleep/lint_gotest_test_sleep_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(tls): add InitForProduct/Suite, --signing-algorithm flag, PSIDPKIInit constant
  docs/framework-v7/tasks.md
  internal/apps/cryptoutil/cryptoutil.go
  internal/apps/framework/tls/init.go
  internal/apps/framework/tls/init_test.go
  internal/apps/identity/identity.go
  internal/apps/jose/jose.go
  internal/apps/pki/pki.go
  internal/apps/skeleton/skeleton.go
  internal/apps/sm/sm.go
  internal/shared/magic/magic_pkiinit.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(tls): replace literal strings with magic constants (literal-use linter)
  internal/apps/framework/tls/init.go
  internal/apps/framework/tls/init_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(seam): remove package-level seam vars from sysinfo and user_auth (Task 0.11 / Task 3.3)
  docs/framework-v7/tasks.md
  internal/apps/framework/service/client/user_auth.go
  internal/apps/framework/service/client/user_auth_error_paths_test.go
  internal/shared/util/sysinfo/sysinfo.go
  internal/shared/util/sysinfo/sysinfo_errors_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(seam): remove package-level seam vars from magic_aliases, magic_duplicates, legacy_ports (Task 3.4 pre-work)
  internal/apps/tools/cicd_lint/lint_go/magic_aliases/magic_aliases.go
  internal/apps/tools/cicd_lint/lint_go/magic_aliases/magic_aliases_test.go
  internal/apps/tools/cicd_lint/lint_go/magic_duplicates/magic_duplicates.go
  internal/apps/tools/cicd_lint/lint_go/magic_duplicates/magic_duplicates_test.go
  internal/apps/tools/cicd_lint/lint_go/magic_usage/magic_usage.go
  internal/apps/tools/cicd_lint/lint_go/magic_usage/magic_usage_error_paths_test.go
  internal/apps/tools/cicd_lint/lint_go/magic_usage/magic_usage_test.go
  internal/apps/tools/cicd_lint/lint_ports/legacy_ports/export_test.go
  internal/apps/tools/cicd_lint/lint_ports/legacy_ports/legacy_ports.go
  internal/apps/tools/cicd_lint/lint_ports/legacy_ports/legacy_ports_error_paths_test.go
  internal/apps/tools/cicd_lint/lint_ports/legacy_ports/legacy_ports_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(lint-go): add function-var-redeclaration sub-linter (Task 3.4)
  internal/apps/tools/cicd_lint/lint_go/function_var_redeclaration/function_var_redeclaration.go
  internal/apps/tools/cicd_lint/lint_go/function_var_redeclaration/function_var_redeclaration_test.go
  internal/apps/tools/cicd_lint/lint_go/lint_go.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(cli): consolidate health commands, use IsHelpRequest, fix formatting (Tasks 3.5/3.6/3.7)
  internal/apps/framework/product/cli/product_router_test.go
  internal/apps/framework/service/cli/health_commands.go
  internal/apps/framework/service/cli/service_router.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(framework-v7): mark Phase 3 complete, update lessons.md (Task 3.8)
  docs/framework-v7/lessons.md
  docs/framework-v7/tasks.md
Due: none

refactor(config): rename non-semantic config test files to semantic names (Task 4.1/4.2/4.3)
  docs/framework-v7/lessons.md
  docs/framework-v7/tasks.md
  internal/apps/framework/service/config/config_error_paths_test.go
  internal/apps/framework/service/config/config_factory_test.go
  internal/apps/framework/service/config/config_test_util_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(identity): remove duplicate product-level PS-ID usage files (Task 5.5/5.6/5.7)
  docs/framework-v7/lessons.md
  docs/framework-v7/tasks.md
  internal/apps/identity/authz/authz_usage.go
  internal/apps/identity/idp/idp_usage.go
  internal/apps/identity/rp/rp_usage.go
  internal/apps/identity/rs/rs_usage.go
  internal/apps/identity/spa/spa_usage.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(arch): update lint-go sub-linter tree and test file naming guidance (Task 6.1-6.4)
  docs/ARCHITECTURE.md
  docs/framework-v7/lessons.md
  docs/framework-v7/tasks.md
Due: none

chore(plan): mark all cross-cutting quality gates complete (tasks.md 48/48)
  docs/framework-v7/tasks.md
Due: none

chore(deps): update go modules to latest versions (webauthn v0.16.3, otel v1.43.0, grpc v1.80.0)
  go.mod
  go.sum
Due: go-build, go-mod-tidy

fix(lint): fix all string const-redefine violations and add magic imports
  docs/framework-v7/lessons.md
  internal/apps/framework/service/config/config.go
  internal/apps/framework/service/server/barrier/intermediate_keys_service.go
  internal/apps/framework/service/server/barrier/unsealkeysservice/unseal_keys_service_from_settings_test.go
  internal/apps/framework/service/server/barrier/unsealkeysservice/unseal_keys_service_injectable_coverage_test.go
  internal/apps/framework/service/server/middleware/session.go
  internal/apps/framework/service/server/realm/realm.go
  internal/apps/framework/service/server/realm/tenant.go
  internal/apps/framework/service/server/repository/migrations.go
  internal/apps/framework/service/server/service/realm_service.go
  internal/apps/framework/service/server/tenant/tenant.go
  internal/apps/identity-authz/clientauth/basic_test.go
  internal/apps/identity-idp/auth/mfa.go
  internal/apps/identity-idp/auth/otp.go
  internal/apps/identity-idp/handlers_discovery.go
  internal/apps/identity-idp/handlers_openapi_validation_test.go
  internal/apps/identity-idp/userauth/step_up_auth.go
  internal/apps/identity-idp/userauth/webauthn_authenticator.go
  internal/apps/identity-rs/server/config/config.go
  internal/apps/identity/domain/auth_flow.go
  internal/apps/identity/domain/auth_profile.go
  internal/apps/identity/domain/client.go
  internal/apps/identity/domain/key_rotation_event.go
  internal/apps/identity/domain/mfa_factor.go
  internal/apps/identity/domain/token.go
  internal/apps/identity/mfa/totp.go
  internal/apps/identity/repository/database.go
  internal/apps/identity/repository/orm/webauthn_credential_repository.go
  internal/apps/jose-ja/server/model/models.go
  internal/apps/pki-ca/api/handler/handler_ocsp.go
  internal/apps/pki-ca/crypto/provider.go
  internal/apps/pki-ca/crypto/provider_coverage_test.go
  internal/apps/pki-ca/service/timestamp/timestamp.go
  internal/apps/sm-kms/server/businesslogic/businesslogic_test.go
  internal/apps/tools/cicd_lint/lint_deployments/lint_deployments.go
  internal/apps/tools/cicd_lint/lint_deployments/main.go
  internal/apps/tools/cicd_lint/lint_go/common/common.go
  internal/apps/tools/cicd_lint/lint_go/magic_usage/magic_usage.go
  internal/apps/tools/cicd_lint/lint_go/magic_usage/magic_usage_test.go
  internal/shared/util/datetime/datetime.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(config): move ServerConfig/DatabaseConfig/SessionConfig/ObservabilityConfig to framework
  internal/apps/framework/service/config/shared_config.go
  internal/apps/framework/service/config/shared_config_test.go
  internal/apps/framework/service/server/barrier/unsealkeysservice/unseal_keys_service_from_settings_test.go
  internal/apps/identity-idp/handlers_discovery.go
  internal/apps/identity-idp/handlers_openapi_validation_test.go
  internal/apps/identity-rs/server/config/config.go
  internal/apps/identity/config/config.go
  internal/apps/identity/config/validation.go
  internal/apps/identity/domain/key_rotation_event.go
  internal/apps/identity/mfa/totp.go
  internal/apps/pki-ca/service/timestamp/timestamp.go
  internal/apps/sm-kms/server/businesslogic/businesslogic_test.go
  internal/apps/tools/cicd_lint/lint_go/magic_usage/magic_usage.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(ratelimit): move RateLimiter from identity to framework/service/ratelimit
  internal/apps/framework/service/ratelimit/rate_limiter.go
  internal/apps/framework/service/ratelimit/rate_limiter_test.go
  internal/apps/identity/mfa/email_otp_service.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

Path conditions:
  go-build: any of: \.go$|go\.mod$|go\.sum$
  golangci-lint-full: any of: \.go$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.mod$
  check-todo-severity: any of: \.go$
