Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: github-workflow-lint, golangci-lint, go-mod-tidy, check-todo-severity, go-fix-all, go-build, cspell

Path conditions:
  github-workflow-lint: any of: \.github/workflows/.*\.(yml|yaml)$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.mod$
  check-todo-severity: any of: \.go$
  go-fix-all: any of: \.go$
  go-build: any of: \.go$|go\.mod$|go\.sum$
  cspell: any of: \.(md|txt|go|yaml|yml|json|js|ts|py|sh|ps1)$, but not: ^(test/|vendor/|\.git/|node_modules/|\.cache/)

docs(spec): Mark MFA admin endpoints as implemented (10 tests passing)
  specs/001-cryptoutil/spec.md
Due: cspell

feat(kms): Implement ElasticKey Update and Delete endpoints
  api/client/openapi_gen_client.go
  api/identity/authz/openapi_gen_client.go
  api/identity/rs/openapi_gen_client.go
  api/jose/models/models.gen.go
  api/jose/server/server.gen.go
  api/model/openapi_gen_model.go
  api/openapi_spec_components.yaml
  api/openapi_spec_paths.yaml
  api/server/openapi_gen_server.go
  internal/identity/authz/handlers_mfa_admin_test.go
  internal/kms/server/businesslogic/businesslogic.go
  internal/kms/server/handler/handler_test.go
  internal/kms/server/handler/oam_oas_mapper.go
  internal/kms/server/handler/oas_handlers.go
  specs/001-cryptoutil/spec.md
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(kms): Implement MaterialKey Import and Revoke endpoints
  api/client/openapi_gen_client.go
  api/model/openapi_gen_model.go
  api/openapi_spec_components.yaml
  api/openapi_spec_paths.yaml
  api/server/openapi_gen_server.go
  internal/kms/server/businesslogic/businesslogic.go
  internal/kms/server/handler/handler_test.go
  internal/kms/server/handler/oam_oas_mapper.go
  internal/kms/server/handler/oas_handlers.go
  internal/kms/server/repository/orm/business_entities_operations.go
  specs/001-cryptoutil/spec.md
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(identity): Complete client_secret_jwt with JTI replay protection and assertion lifetime validation
  internal/identity/authz/clientauth/client_secret_jwt.go
  internal/identity/authz/clientauth/client_secret_jwt_test.go
  internal/identity/authz/clientauth/jwt_tls_test.go
  internal/identity/authz/clientauth/jwt_validator.go
  internal/identity/authz/clientauth/jwt_validator_test.go
  internal/identity/authz/clientauth/registry.go
  internal/identity/domain/jti_replay_cache.go
  internal/identity/magic/magic_oauth.go
  internal/identity/repository/factory.go
  internal/identity/repository/interfaces.go
  internal/identity/repository/jti_replay_cache_repository.go
  internal/identity/repository/jti_replay_cache_repository_test.go
  internal/identity/repository/migrations/0007_jti_replay_cache.down.sql
  internal/identity/repository/migrations/0007_jti_replay_cache.up.sql
  specs/001-cryptoutil/spec.md
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(identity): Complete private_key_jwt with JTI replay protection and assertion lifetime validation
  internal/identity/authz/clientauth/jwt_tls_test.go
  internal/identity/authz/clientauth/jwt_validator.go
  internal/identity/authz/clientauth/jwt_validator_test.go
  internal/identity/authz/clientauth/private_key_jwt.go
  internal/identity/authz/clientauth/private_key_jwt_test.go
  internal/identity/authz/clientauth/registry.go
  specs/001-cryptoutil/spec.md
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(spec): Update tls_client_auth and self_signed_tls_client_auth to 100% complete
  specs/001-cryptoutil/spec.md
Due: cspell

docs(spec): Update session_cookie authentication to 100% complete
  specs/001-cryptoutil/spec.md
Due: cspell

docs(spec): Update HOTP and Recovery Codes to 100% complete
  specs/001-cryptoutil/spec.md
Due: cspell

docs(spec): Update Hardware Security Keys to 100% complete
  specs/001-cryptoutil/spec.md
Due: cspell

docs(spec): Update Email OTP and SMS OTP to 100% complete
  specs/001-cryptoutil/spec.md
Due: cspell

feat(identity): Implement Push Notifications and Phone Call OTP authentication
  internal/identity/domain/user.go
  internal/identity/idp/userauth/interface.go
  internal/identity/idp/userauth/phone_call_otp.go
  internal/identity/idp/userauth/phone_call_otp_test.go
  internal/identity/idp/userauth/push_notification.go
  internal/identity/idp/userauth/push_notification_test.go
  internal/identity/idp/userauth/storage.go
  internal/identity/magic/magic_timeouts.go
  internal/identity/test/unit/otp_flows_test.go
  specs/001-cryptoutil/spec.md
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

chore: Fix linting violations in MFA tests and repositories
  api/identity/rs/openapi_gen_client.go
  api/jose/models/models.gen.go
  api/jose/server/server.gen.go
  docs/GAP-ANALYSIS-2025-01-10.md
  internal/identity/authz/clientauth/private_key_jwt_test.go
  internal/identity/authz/handlers_email_otp.go
  internal/identity/authz/handlers_mfa_admin_test.go
  internal/identity/authz/handlers_par.go
  internal/identity/authz/handlers_recovery_codes.go
  internal/identity/authz/request_uri_generator.go
  internal/identity/authz/request_uri_generator_test.go
  internal/identity/domain/email_otp.go
  internal/identity/domain/email_otp_test.go
  internal/identity/domain/pushed_authorization_request_test.go
  internal/identity/domain/recovery_code.go
  internal/identity/domain/recovery_code_test.go
  internal/identity/email/email_service.go
  internal/identity/email/email_service_test.go
  internal/identity/idp/userauth/phone_call_otp.go
  internal/identity/magic/magic_mfa.go
  internal/identity/mfa/email_otp_generator.go
  internal/identity/mfa/email_otp_generator_test.go
  internal/identity/mfa/email_otp_service.go
  internal/identity/mfa/email_otp_service_test.go
  internal/identity/mfa/recovery_code_generator.go
  internal/identity/mfa/recovery_code_generator_test.go
  internal/identity/mfa/recovery_code_service.go
  internal/identity/mfa/recovery_code_service_test.go
  internal/identity/ratelimit/rate_limiter.go
  internal/identity/ratelimit/rate_limiter_test.go
  internal/identity/repository/email_otp_repository.go
  internal/identity/repository/orm/email_otp_repository.go
  internal/identity/repository/orm/recovery_code_repository.go
  internal/identity/repository/recovery_code_repository.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(network): Improve utility package coverage to 96.8%
  docs/GAP-ANALYSIS-2025-01-10.md
  internal/common/util/network/http_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(mfa): Add edge case tests improving coverage from 83.0% to 87.2%
  docs/GAP-ANALYSIS-2025-01-10.md
  internal/identity/mfa/mfa_edge_cases_test.go
  mfa_coverage_new
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: Accept userauth 76.4% coverage with constitutional justification
  docs/GAP-ANALYSIS-2025-01-10.md
  specs/001-cryptoutil/PROGRESS.md
Due: cspell

docs: Clarify Phase 5 demo videos as OPTIONAL per constitution
  docs/GAP-ANALYSIS-2025-01-10.md
  specs/001-cryptoutil/PROGRESS.md
Due: cspell

docs: Update CI/CD workflow inventory - 10/12 verified passing
  docs/GAP-ANALYSIS-2025-01-10.md
Due: cspell

docs(kms/handler): Complete Task 7 coverage analysis - architectural constraint documented
  docs/SESSION-2025-12-10-TASK-7-KMS-HANDLER-ANALYSIS.md
Due: cspell

docs(progress): Update PROGRESS.md with session completion - all 42 tasks complete
  specs/001-cryptoutil/PROGRESS.md
Due: cspell

docs: update KMS handler analysis session
  docs/SESSION-2025-12-10-TASK-7-KMS-HANDLER-ANALYSIS.md
Due: cspell

fix(docs): correct markdown list numbering per MD029 linter rules
  .github/instructions/02-02.docker.instructions.md
  docs/MUTATION-TESTING-FIXES.md
  docs/SESSION-2025-12-08-RESTART3.md
  docs/SESSION-2025-12-09-TASK-3-FINAL-SUMMARY.md
  docs/SESSION-2025-12-09-TASK-3-IDENTITY-COVERAGE.md
  docs/SESSION-2025-12-09-WORKFLOW-FIXES.md
  docs/SESSION-MFA-COVERAGE-PROGRESS.md
  docs/SPECKIT-ITERATION-1-REVIEW.md
  docs/feature-template/EMAIL-OTP-COMPLETION.md
  docs/feature-template/EMAIL-OTP.md
  docs/feature-template/PUSHED-AUTHORIZATION-REQUESTS-RFC9126-COMPLETION.md
  docs/feature-template/PUSHED-AUTHORIZATION-REQUESTS-RFC9126.md
  docs/feature-template/RECOVERY-CODES-COMPLETION.md
  docs/feature-template/RECOVERY-CODES.md
  docs/speckit/passthru02/grooming/GROOMING-SESSION-02.md
  docs/speckit/passthru03/grooming/GROOMING-SESSION-03.md
  docs/workflow-analysis.md
  specs/000-cryptoutil-template/README.md
  specs/000-cryptoutil-template/plan.md
  specs/000-cryptoutil-template/tasks.md
  specs/001-cryptoutil/ANALYSIS.md
  specs/001-cryptoutil/CLARIFICATIONS.md
  specs/001-cryptoutil/COMPLETION-ROADMAP.md
  specs/001-cryptoutil/IMPLEMENTATION-GUIDE.md
  specs/001-cryptoutil/PHASE0-IMPLEMENTATION.md
  specs/001-cryptoutil/PLAN.md
  specs/001-cryptoutil/PROJECT-STATUS.md
  specs/001-cryptoutil/SLOW-TEST-PACKAGES.md
Due: cspell

fix(yaml): normalize line endings to LF for all YAML files
  .github/workflows/ci-benchmark.yml
  .github/workflows/ci-fuzz.yml
  .github/workflows/ci-gitleaks.yml
  .github/workflows/ci-identity-validation.yml
  .github/workflows/ci-quality.yml
  .github/workflows/ci-sast.yml
  .github/workflows/release.yml
  .golangci.yml
  api/identity/openapi-gen_config_authz.yaml
  api/identity/openapi-gen_config_idp.yaml
  api/identity/openapi-gen_config_models.yaml
  api/identity/openapi-gen_config_rs.yaml
  api/identity/openapi_spec_authz.yaml
  api/identity/openapi_spec_components.yaml
  api/identity/openapi_spec_idp.yaml
  configs/identity/authz-docker.yml
  configs/identity/authz.yml
  configs/identity/idp-docker.yml
  configs/identity/idp.yml
  configs/identity/policies/adaptive_auth.yml
  configs/identity/policies/risk_scoring.yml
  configs/identity/policies/step_up.yml
  configs/identity/profiles/authz-idp.yml
  configs/identity/profiles/authz-only.yml
  configs/identity/profiles/ci.yml
  configs/identity/profiles/demo.yml
  configs/identity/profiles/full-stack.yml
  configs/identity/rs-docker.yml
  configs/identity/rs.yml
  configs/observability/prometheus/adaptive-auth-alerts.yml
  deployments/identity/config/authz.yml
  deployments/identity/config/demo-seed.yml
  deployments/identity/config/idp.yml
  deployments/identity/config/rs.yml
  deployments/kms/compose.demo.yml
  deployments/kms/config/demo-seed.yml
  deployments/telemetry/compose.yml
Due: github-workflow-lint, cspell

fix(pre-commit): allow multiple YAML documents and exclude workflows from check-yaml
  .pre-commit-config.yaml
Due: cspell

fix(lint): add blank lines before err assignments per wsl_v5 rules
  internal/kms/server/application/application_listener.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(template): add comprehensive Spec Kit command-to-document checklist
  specs/000-cryptoutil-template/README.md
Due: cspell

docs(specs): add Spec Kit file analysis for 001-cryptoutil iteration
  specs/001-cryptoutil/SPEC-KIT-FILE-ANALYSIS.md
Due: cspell

docs(specs): prepend Spec Kit workflow checklist to PROGRESS.md for quick reference
  specs/001-cryptoutil/PROGRESS.md
Due: cspell

docs(specs): refresh SLOW-TEST-PACKAGES.md with current test times (keygen 202s, jose 84s)
  specs/001-cryptoutil/SLOW-TEST-PACKAGES.md
Due: cspell

docs(specs): add Docker Compose validation report - all 6 services healthy
  specs/001-cryptoutil/DOCKER-COMPOSE-VALIDATION.md
Due: cspell

docs(specs): add workflow validation report - 12 workflows available, tool functional
  specs/001-cryptoutil/WORKFLOW-VALIDATION.md
Due: cspell

docs(specs): add comprehensive session summary for 2025-01-10
  specs/001-cryptoutil/SESSION-2025-01-10-SUMMARY.md
Due: cspell

docs(template): propagate clarifications from Q&A - AES-HS 256 bits, implement/DETAILED.md structure
  specs/000-cryptoutil-template/CLARIFICATIONS-QA.md
  specs/000-cryptoutil-template/README.md
Due: cspell

docs(specs): create implement/ directory with DETAILED.md and EXECUTIVE.md structure
  specs/001-cryptoutil/SPEC-KIT-FILE-ANALYSIS.md
  specs/001-cryptoutil/implement/DETAILED.md
  specs/001-cryptoutil/implement/EXECUTIVE.md
Due: cspell

fix(ci-dast): correct heredoc indentation in YAML workflow file - lines 240-253 must be indented 8 spaces
  .github/workflows/ci-dast.yml
Due: github-workflow-lint, cspell

docs: consolidate and archive documentation - 13 files deleted, 21 archived, constitution/copilot updated
  .github/instructions/01-02.testing.instructions.md
  .specify/memory/constitution.md
  docs/archive/CGO-BAN-ENFORCEMENT.md
  docs/archive/MUTATION-TESTING-FIXES.md
  docs/archive/README.md
  docs/archive/sessions/SESSION-2025-01-08-LESSONS-LEARNED.md
  docs/archive/sessions/SESSION-2025-01-08-RACE-FIXES.md
  docs/archive/sessions/SESSION-2025-12-08-PHASE4.md
  docs/archive/sessions/SESSION-2025-12-08-RESTART3.md
  docs/archive/sessions/SESSION-2025-12-09-CI-FIXES.md
  docs/archive/sessions/SESSION-2025-12-09-TASK-3-FINAL-SUMMARY.md
  docs/archive/sessions/SESSION-2025-12-09-TASK-3-IDENTITY-COVERAGE.md
  docs/archive/sessions/SESSION-2025-12-09-WORKFLOW-FIXES.md
  docs/archive/sessions/SESSION-2025-12-10-TASK-7-KMS-HANDLER-ANALYSIS.md
  docs/archive/sessions/SESSION-COVERAGE-IMPROVEMENTS.md
  docs/archive/sessions/SESSION-MFA-COVERAGE-PROGRESS.md
  docs/archive/speckit/SPECKIT-ITERATION-1-REVIEW.md
  docs/archive/speckit/SPECKIT-PROGRESS.md
  docs/archive/workflow-analysis/WORKFLOW-OVERHEAD-ANALYSIS.md
  docs/archive/workflow-analysis/WORKFLOW-clientauth-TEST-TIMES.md
  docs/archive/workflow-analysis/WORKFLOW-jose-TEST-TIMES.md
  docs/archive/workflow-analysis/WORKFLOW-jose-server-TEST-TIMES.md
  docs/archive/workflow-analysis/WORKFLOW-sqlrepository-TEST-TIMES.md
  docs/archive/workflow-analysis/workflow-analysis.md
  specs/001-cryptoutil/COMPLETION-ROADMAP.md
  specs/001-cryptoutil/DOCKER-COMPOSE-VALIDATION.md
  specs/001-cryptoutil/PHASE0-IMPLEMENTATION.md
  specs/001-cryptoutil/PHASE1-IMPLEMENTATION.md
  specs/001-cryptoutil/PHASE2-IMPLEMENTATION.md
  specs/001-cryptoutil/PHASE3-IMPLEMENTATION.md
  specs/001-cryptoutil/PHASE4-IMPLEMENTATION.md
  specs/001-cryptoutil/PHASE5-IMPLEMENTATION.md
  specs/001-cryptoutil/PROGRESS.md
  specs/001-cryptoutil/PROJECT-STATUS-SUMMARY.md
  specs/001-cryptoutil/PROJECT-STATUS.md
  specs/001-cryptoutil/SESSION-2025-01-10-SUMMARY.md
  specs/001-cryptoutil/SPEC-KIT-FILE-ANALYSIS.md
  specs/001-cryptoutil/WORKFLOW-VALIDATION.md
Due: cspell

fix(identity,crypto): fix schema and HKDF property test
  internal/common/crypto/digests/digests_property_test.go
  internal/identity/repository/migrations/0001_init.up.sql
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(ci): increase ci-race timeout from 15m to 25m
  .github/workflows/ci-race.yml
Due: github-workflow-lint, cspell

docs(instructions): update copilot instructions to reference implement/ directory structure
  .github/copilot-instructions.md
  .github/instructions/05-01.evidence-based-completion.instructions.md
  .github/instructions/06-01.speckit.instructions.md
  docs/todos-gremlins.md
  specs/000-cryptoutil-template/plan.md
  specs/000-cryptoutil-template/spec.md
  specs/000-cryptoutil-template/tasks.md
Due: cspell

docs(archive): move historical analysis docs to archive
  docs/archive/session-analyses-2025-01/GAP-ANALYSIS-2025-01-10.md
  docs/archive/session-analyses-2025-01/TEST-PERFORMANCE-ANALYSIS.md
  docs/archive/session-analyses-2025-01/TIMEOUT-FIXES-ANALYSIS.md
Due: cspell

fix(ci-dast): expand shell variables in config.yml heredoc - PostgreSQL credential substitution
  .github/workflows/ci-dast.yml
Due: github-workflow-lint, cspell
