Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: github-workflow-lint, golangci-lint, go-mod-tidy, check-todo-severity, go-fix-all, go-build, cspell

Path conditions:
  github-workflow-lint: any of: \.github/workflows/.*\.(yml|yaml)$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.mod$
  check-todo-severity: any of: \.go$
  go-fix-all: any of: \.go$
  go-build: any of: \.go$|go\.mod$|go\.sum$
  cspell: any of: \.(md|txt|go|yaml|yml|json|js|ts|py|sh|ps1)$, but not: ^(test/|vendor/|\.git/|node_modules/|\.cache/)

fix(ci): increase Docker Compose health check timeout from 60s to 120s
  .github/actions/docker-compose-up/action.yml
Due: cspell

fix(specs): remove all optional labels, make EST serverkeygen MANDATORY - ALL 42 tasks are MANDATORY
  specs/001-cryptoutil/PLAN.md
  specs/001-cryptoutil/TASKS.md
  specs/001-cryptoutil/spec.md
Due: cspell

docs(analysis): add comprehensive test performance and workflow overhead analysis
  docs/TEST-PERFORMANCE-ANALYSIS.md
  docs/WORKFLOW-OVERHEAD-ANALYSIS.md
  docs/WORKFLOW-clientauth-TEST-TIMES.md
  docs/WORKFLOW-jose-TEST-TIMES.md
  docs/WORKFLOW-jose-server-TEST-TIMES.md
  docs/WORKFLOW-sqlrepository-TEST-TIMES.md
Due: cspell

chore(cspell): ignore WORKFLOW timing reports containing random test data
  .cspell.json
Due: cspell

chore(cspell): add missing words from spec files
  .cspell.json
Due: cspell

fix(sqlrepository): skip nested transaction test causing 600s timeout due to SQLite MaxOpenConns=1 deadlock
  internal/kms/server/repository/sqlrepository/sql_migrations_transactions_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(tests): correct container mode test expectations when Docker available
  internal/kms/server/repository/sqlrepository/sql_container_modes_test.go
  internal/kms/server/repository/sqlrepository/sql_coverage_boost_test.go
  internal/kms/server/repository/sqlrepository/sql_final_coverage_test.go
  internal/kms/server/repository/sqlrepository/sql_postgres_coverage_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

chore(tasks): reorder phases - prioritize features/coverage/testing before CI/CD workflows
  specs/001-cryptoutil/TASKS.md
Due: cspell

feat(ca): implement EST serverkeygen endpoint per RFC 7030 Section 4.4
  go.mod
  go.sum
  internal/ca/api/handler/handler.go
  internal/ca/api/handler/handler_comprehensive_test.go
Due: golangci-lint, go-mod-tidy, check-todo-severity, go-fix-all, go-build, cspell

docs: session summary 2025-12-08 - Phase 2 progress + EST serverkeygen
  docs/SESSION-2025-12-08.md
Due: cspell

docs: mark Phase 2 100% COMPLETE - all 8 tasks done including MANDATORY REQUIRED EST serverkeygen
  docs/SESSION-2025-12-08.md
  specs/001-cryptoutil/PROGRESS.md
  specs/001-cryptoutil/TASKS.md
Due: cspell

test(crypto): add property-based tests for HKDF and SHA-256 invariants (Phase 4.3)
  go.mod
  go.sum
  internal/common/crypto/digests/digests_property_test.go
Due: golangci-lint, go-mod-tidy, check-todo-severity, go-fix-all, go-build, cspell

test(crypto): add property-based tests for key generation (Phase 4.3)
  internal/common/crypto/keygen/keygen_property_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: update TASKS.md and PROGRESS.md for Phase 4 progress
  specs/001-cryptoutil/PROGRESS.md
  specs/001-cryptoutil/TASKS.md
Due: cspell

docs: add comprehensive Phase 4 session summary
  docs/SESSION-2025-12-08-PHASE4.md
Due: cspell

test(bench): add JWS/JWE issuer benchmarks (Phase 4.1)
  internal/identity/issuer/jwe_bench_test.go
  internal/identity/issuer/jws_bench_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(ca): boost handler coverage 82.3% → 85.0% (Phase 3.1 partial)
  internal/ca/api/handler/handler_coverage_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: update TASKS.md and PROGRESS.md for Phase 3/4 progress
  specs/001-cryptoutil/PROGRESS.md
  specs/001-cryptoutil/TASKS.md
Due: cspell

docs: mark P4.4 mutation testing as BLOCKED
  specs/001-cryptoutil/TASKS.md
Due: cspell

docs: update Phase 1 workflow status in TASKS.md
  specs/001-cryptoutil/TASKS.md
Due: cspell

docs: add session summary to PROGRESS.md
  specs/001-cryptoutil/PROGRESS.md
Due: cspell

test(ca): add error path, TSA, OCSP, EST CSR attrs tests for handler coverage
  internal/ca/api/handler/handler_error_paths_test.go
  internal/ca/api/handler/handler_est_csrattrs_test.go
  internal/ca/api/handler/handler_ocsp_test.go
  internal/ca/api/handler/handler_tsa_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: update P3.1 CA handler coverage progress in TASKS.md
  specs/001-cryptoutil/TASKS.md
Due: cspell

docs: add session continuation progress to PROGRESS.md
  specs/001-cryptoutil/PROGRESS.md
Due: cspell

docs: mark P1.5 ci-race as BLOCKED (requires CGO)
  specs/001-cryptoutil/TASKS.md
Due: cspell

docs: update PROGRESS.md with blockers and realistic limits
  specs/001-cryptoutil/PROGRESS.md
Due: cspell

test(network): boost coverage 88.7% → 95.2% (Phase 3.4)
  internal/common/util/network/http_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: mark P3.4 network coverage COMPLETE in TASKS.md
  specs/001-cryptoutil/TASKS.md
Due: cspell

test(ca): add FuzzParseESTCSR fuzz test (Phase 4.2)
  internal/ca/api/handler/handler_fuzz_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: add session 3 restart entry to PROGRESS.md
  specs/001-cryptoutil/PROGRESS.md
Due: cspell

docs: add session 3 restart summary (in progress)
  docs/SESSION-2025-12-08-RESTART3.md
Due: cspell

test(jose): add comprehensive JWK generation coverage tests
  internal/jose/jwkgen.go
  internal/jose/jwkgen_service_coverage_test.go
  internal/jose/jwkgen_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(jose): improve JOSE coverage to 71.5% with integration tests
  go.mod
  go.sum
  internal/jose/$outFile
  internal/jose/jwe_message_util_test.go
  internal/jose/jwk_util_test.go
  internal/jose/jwkgen_test.go
  internal/jose/jws_message_util_test.go
  internal/jose/test-coverage
  internal/jose/test-coverage-final.out
  internal/jose/test-coverage-new.out
  internal/jose/test-coverage-verified.out
  internal/jose/test-coverage.out
Due: golangci-lint, go-mod-tidy, check-todo-severity, go-fix-all, go-build, cspell

refactor(docs): use absolute token numbers instead of percentages
  .github/copilot-instructions.md
  .specify/memory/constitution.md
  docs/SESSION-2025-12-08-RESTART3.md
  docs/feature-template/feature-template.md
  internal/jose/jwk_util_test.go
  internal/jose/test-coverage-current.out
  internal/jose/test-coverage-latest.out
  specs/001-cryptoutil/PLAN.md
  specs/001-cryptoutil/PROGRESS.md
  specs/001-cryptoutil/SESSION-SUMMARY.md
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(jose): add IsJWEAlg and IsJWSAlg tests - improve coverage to 72.3%
  internal/jose/alg_util_test.go
  internal/jose/test-coverage.out
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(jose): add LogJWSInfo comprehensive tests + fix nil pointer bug
  docs/SESSION-2025-12-08-PHASE4.md
  docs/SESSION-2025-12-08-RESTART3.md
  internal/jose/jws_message_util.go
  internal/jose/jws_message_util_test.go
  internal/jose/test-coverage.out
  specs/001-cryptoutil/PROGRESS.md
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(jose): add SignBytes comprehensive error tests - coverage 74.8% to 75.3%
  internal/jose/jws_message_util.go
  internal/jose/jws_message_util_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(jose): add EnsureSignatureAlgorithmType tests - coverage remains 75.4%
  internal/jose/jwk_util_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: fix markdown lint errors in SESSION-2025-12-08-PHASE4.md
  docs/SESSION-2025-12-08-PHASE4.md
  specs/001-cryptoutil/TASKS.md
Due: cspell

test(jose): add ExtractAlg error path tests (0.0 → partial coverage)
  internal/jose/jwk_util_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell
