Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: github-workflow-lint, golangci-lint, go-mod-tidy, check-todo-severity, go-fix-all, go-build, cspell

github-workflow-lint:
  name: GitHub workflow lint
  entry: go
  args:
  - run
  - cmd/cicd/main.go
  - github-workflow-lint
  language: system
  pass_filenames: false
  stages:
  - pre-push

golangci-lint:
  name: golangci-lint (incremental auto-fix)
  entry: golangci-lint
  args:
  - run
  - --fix
  - --timeout=30m
  - --new-from-rev=HEAD~1
  language: system
  pass_filenames: false
  stages:
  - pre-commit

go-mod-tidy:
  name: go mod tidy
  entry: go
  args:
  - mod
  - tidy
  language: system
  pass_filenames: false

check-todo-severity:
  name: Check TODO/FIXME severity (block CRITICAL/HIGH)
  entry: bash
  args:
  - -c
  ...

go-fix-all:
  name: Auto-fix Go issues (staticcheck, copyloopvar, thelper)
  entry: go
  args:
  - run
  - cmd/cicd/main.go
  - go-fix-all
  language: system
  pass_filenames: false
  stages:
  - pre-commit

go-build:
  name: go build
  entry: go
  args:
  - build
  - ./...
  language: system
  pass_filenames: false
  stages:
  - pre-push

cspell:
  name: Check spelling
  entry: cspell
  args:
  - --no-progress
  - --cache
  language: system

docs(tasks): update Iteration 2 progress - JOSE 72%, CA 48% complete
  specs/001-cryptoutil/tasks.md
Due: cspell

feat(ca): implement OCSP responder endpoint (POST /ocsp)
  api/ca/models/models.gen.go
  api/ca/openapi_spec_enrollment.yaml
  api/ca/server/server.gen.go
  internal/ca/api/handler/handler.go
  internal/ca/magic/magic.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(ca): implement GetCRL handler with CRLService integration
  internal/ca/api/handler/handler.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(ca): add CA server entry point and scaffolding (CA-1, CA-2, CA-3)
  cmd/ca-server/main.go
  internal/ca/server/cmd/commands.go
  internal/ca/server/server.go
  internal/common/config/config_test_util.go
  internal/common/magic/magic_network.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(tasks): update Iteration 2 progress - OCSP, CRL, CA server entry point complete
  specs/001-cryptoutil/tasks.md
Due: cspell

feat(ca): add EST and TSA endpoint handlers (I2.2.14-17, I2.2.19)
  api/ca/models/models.gen.go
  api/ca/openapi_spec_enrollment.yaml
  api/ca/server/server.gen.go
  internal/ca/api/handler/handler.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(config): add JOSE and CA server configuration files (I2.3.2, I2.3.3)
  configs/ca/ca-server.yml
  configs/jose/jose-server.yml
  specs/001-cryptoutil/tasks.md
Due: cspell

docs(tasks): update Iteration 2 progress - 65% complete
  specs/001-cryptoutil/tasks.md
Due: cspell

feat(demo): add JOSE and CA demo scripts (I2.3.4, I2.3.5)
  internal/cmd/demo/ca.go
  internal/cmd/demo/demo.go
  internal/cmd/demo/jose.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(ca): add mTLS authentication middleware (I2.2.20)
  internal/ca/server/middleware/mtls.go
  internal/ca/server/middleware/mtls_test.go
  specs/001-cryptoutil/tasks.md
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(ca): integrate mTLS middleware into CA server
  internal/ca/server/middleware/mtls_test.go
  internal/ca/server/server.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(jose): add API key authentication middleware (I2.1.16)
  internal/jose/server/middleware/apikey.go
  internal/jose/server/middleware/apikey_test.go
  internal/jose/server/server.go
  specs/001-cryptoutil/tasks.md
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(iteration2): oapi-codegen + Docker Compose + coverage
  api/jose/generate.go
  api/jose/models/models.gen.go
  api/jose/openapi-gen_config_models.yaml
  api/jose/openapi-gen_config_server.yaml
  api/jose/server/server.gen.go
  deployments/ca/Dockerfile.ca-server
  deployments/ca/compose.simple.yml
  deployments/ca/config/ca.yml
  deployments/compose.integration.yml
  deployments/jose/Dockerfile.jose
  deployments/jose/compose.yml
  deployments/jose/config/jose.yml
  internal/ca/api/handler/handler_test.go
  internal/jose/server/keystore_test.go
  internal/jose/server/server_test.go
  specs/001-cryptoutil/tasks.md
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(businesslogic): add mapper tests for sort/algorithm/query params
  internal/ca/api/handler/handler_test.go
  internal/jose/server/server.go
  internal/kms/server/businesslogic/oam_orm_mapper_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(idp): add tests for client_secret, consent, userinfo
  internal/identity/idp/client_secret_test.go
  internal/identity/idp/handlers_consent_internal_test.go
  internal/identity/idp/handlers_userinfo_internal_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(issuer): add tests for UUID validation, key rotation, service
  internal/identity/issuer/key_rotation_test.go
  internal/identity/issuer/service_test.go
  internal/identity/issuer/uuid_internal_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(iteration2): add JOSE Authority and CA Server documentation to README (I2.3.6)
  README.md
  specs/001-cryptoutil/tasks.md
Due: cspell

test(coverage): improve apperr to 96.6%, unsealkeysservice to 78.2%
  internal/common/apperr/app_errors_test.go
  internal/common/apperr/http_errors_comprehensive_test.go
  internal/kms/server/barrier/unsealkeysservice/unseal_keys_service_from_settings_test.go
  internal/kms/server/barrier/unsealkeysservice/unseal_keys_service_sysinfo_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(coverage): network package from 22.6% to 88.7%
  internal/common/util/network/http_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(coverage): jose elastic_key_algorithm from 48.8% to 50.5%
  internal/jose/elastic_key_algorithm_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(coverage): CA API handler from 10.1% to 47.2%
  internal/ca/api/handler/handler_comprehensive_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(coverage): userauth from 37.1% to 42.6%
  internal/identity/idp/userauth/context_analyzer_test.go
  internal/identity/idp/userauth/hardware_stub_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(iteration): complete I2, create I3, bump coverage 85%->90%/90%->95%
  .github/copilot-instructions.md
  .github/instructions/01-02.testing.instructions.md
  .github/instructions/05-01.evidence-based-completion.instructions.md
  .github/workflows/ci-coverage.yml
  .github/workflows/ci-identity-validation.yml
  .specify/memory/constitution.md
  .specify/templates/commands/checklist.md
  .specify/templates/commands/constitution.md
  .specify/templates/commands/implement.md
  WORKFLOWS.md
  docs/DEMO-GUIDE.md
  docs/SPECKIT-PROGRESS.md
  docs/feature-template/agent-quick-reference.md
  docs/feature-template/feature-template-v1.0.md
  docs/feature-template/feature-template.md
  docs/feature-template/usage-example.md
  docs/runbooks/production-deployment-checklist.md
  internal/identity/authz/handlers_client_credentials_test.go
  internal/identity/authz/handlers_refresh_token_test.go
  internal/identity/integration/integration_test.go
  internal/identity/issuer/key_rotation_test.go
  internal/kms/server/barrier/unsealkeysservice/unseal_keys_service_sysinfo_test.go
  specs/001-cryptoutil/CHECKLIST-ITERATION-1.md
  specs/001-cryptoutil/CHECKLIST-ITERATION-2.md
  specs/001-cryptoutil/EXECUTIVE-SUMMARY.md
  specs/001-cryptoutil/PROGRESS.md
  specs/001-cryptoutil/spec.md
  specs/001-cryptoutil/tasks.md
Due: github-workflow-lint, golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(ca): implement EST/TSA endpoints and enrollment tracking
  internal/ca/api/handler/handler.go
  internal/ca/api/handler/handler_comprehensive_test.go
  internal/ca/service/timestamp/timestamp.go
  internal/ca/service/timestamp/timestamp_test.go
  specs/001-cryptoutil/CHECKLIST-ITERATION-2.md
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: update I3 progress tracking in tasks.md and SPECKIT-PROGRESS.md
  docs/SPECKIT-PROGRESS.md
  specs/001-cryptoutil/tasks.md
Due: cspell

docs: add CHECKLIST-ITERATION-3.md for I3 progress tracking
  internal/common/util/network/http_test.go
  internal/identity/idp/client_secret_test.go
  specs/001-cryptoutil/CHECKLIST-ITERATION-3.md
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(ca): add nil issuer checks and comprehensive handler tests
  internal/ca/api/handler/handler.go
  internal/ca/api/handler/handler_comprehensive_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: update I3 task progress for coverage improvement
  specs/001-cryptoutil/tasks.md
Due: cspell

test(ca): add SubmitEnrollment tests with real issuer
  internal/ca/api/handler/handler_comprehensive_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(ca): add EstSimpleEnroll tests with real issuer
  internal/ca/api/handler/handler_comprehensive_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(ca): add comprehensive handler tests for TSA/CRL/OCSP/NewHandler
  internal/ca/api/handler/handler.go
  internal/ca/api/handler/handler_comprehensive_test.go
  specs/001-cryptoutil/CHECKLIST-ITERATION-3.md
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: update I3 checklist with 85.8% CA handler coverage
  specs/001-cryptoutil/CHECKLIST-ITERATION-3.md
Due: cspell

fix: resolve goconst and errcheck lint issues across test files
  internal/ca/api/handler/handler_comprehensive_test.go
  internal/common/apperr/http_errors_comprehensive_test.go
  internal/common/util/network/http_test.go
  internal/jose/elastic_key_algorithm_test.go
  internal/kms/server/barrier/unsealkeysservice/unseal_keys_service_from_settings_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(authz): resolve flaky parallel test timeouts in client authentication flow tests
  internal/identity/authz/client_authentication_flow_test.go
  internal/identity/magic/magic_testing.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: update I3 checklist with flaky test fix and git commit history
  specs/001-cryptoutil/CHECKLIST-ITERATION-3.md
Due: cspell

test(userauth): add comprehensive storage, rate limiter, TOTP, and OTP generator tests (42.6% -> 51.6%)
  internal/identity/idp/userauth/sms_otp_test.go
  internal/identity/idp/userauth/storage_test.go
  internal/identity/idp/userauth/totp_hotp_auth_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: update I3 checklist with userauth coverage progress (51.6%)
  specs/001-cryptoutil/CHECKLIST-ITERATION-3.md
Due: cspell

test(userauth): add magic link, risk-based, mock delivery, and step-up tests (51.6% -> 54.9%)
  internal/identity/idp/userauth/magic_link_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: update I3 checklist with final userauth coverage (54.9%) and git commits
  specs/001-cryptoutil/CHECKLIST-ITERATION-3.md
Due: cspell

test(userauth): add username_password and HOTP authenticator tests
  internal/identity/idp/userauth/totp_hotp_auth_test.go
  internal/identity/idp/userauth/username_password_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

Path conditions:
  github-workflow-lint: any of: \.github/workflows/.*\.(yml|yaml)$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.mod$
  check-todo-severity: any of: \.go$
  go-fix-all: any of: \.go$
  go-build: any of: \.go$|go\.mod$|go\.sum$
  cspell: any of: \.(md|txt|go|yaml|yml|json|js|ts|py|sh|ps1)$, but not: ^(test/|vendor/|\.git/|node_modules/|\.cache/)
