Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-workflow, golangci-lint, golangci-lint-full, lint-compose, go-mod-tidy, check-todo-severity, format-go, format-go-test, format-go-self-modification-check, go-build

Path conditions:
  lint-workflow: any of: \.github/workflows/.*\.(yml|yaml)$
  golangci-lint: any of: \.go$
  golangci-lint-full: any of: \.go$
  lint-compose: any of: (compose.*\.ya?ml|docker-compose.*\.ya?ml)$
  go-mod-tidy: any of: go\.mod$
  check-todo-severity: any of: \.go$
  format-go: any of: \.go$
  format-go-test: any of: _test\.go$
  format-go-self-modification-check: any of: internal/cmd/cicd/format_go/.*\.go$
  go-build: any of: \.go$|go\.mod$|go\.sum$

fix(v10): correct Task 0.10 and Task 1.1 status tracking in tasks.md
  docs/fixes-needed-plan-tasks-v10/tasks.md
Due: none

feat(v10): complete Task 1.3 - E2E Test Health Check Pattern Analysis
  docs/fixes-needed-plan-tasks-v10/tasks.md
Due: none

feat(v10): complete Task 1.4 - Root Cause Determination
  docs/fixes-needed-plan-tasks-v10/plan.md
  docs/fixes-needed-plan-tasks-v10/tasks.md
Due: none

feat(v10): complete Task 1.5 - Fix cipher-im Health Checks
  cmd/cipher-im/docker-compose.yml
  docs/fixes-needed-plan-tasks-v10/tasks.md
Due: lint-compose

feat(v10): complete Task 1.6 - Standardize All Service Health Checks
  deployments/identity/compose.e2e.yml
  deployments/jose/compose.yml
  docs/fixes-needed-plan-tasks-v10/tasks.md
  internal/shared/magic/magic_identity.go
Due: golangci-lint, golangci-lint-full, lint-compose, check-todo-severity, format-go, go-build

fix(e2e): update KMS client import paths after V8 migration
  internal/test/e2e/assertions.go
  internal/test/e2e/fixtures.go
  internal/test/e2e/test_suite.go
Due: golangci-lint, golangci-lint-full, check-todo-severity, format-go, go-build

refactor(deploy): standardize Dockerfile/compose locations per Decision 1
  .github/workflows/ci-quality.yml
  cmd/cipher-im/.dockerignore
  cmd/cipher-im/API.md
  cmd/cipher-im/ENCRYPTION.md
  cmd/cipher-im/README.md
  cmd/cipher-im/secrets/postgres_database.secret
  cmd/cipher-im/secrets/postgres_password.secret
  cmd/cipher-im/secrets/postgres_url.secret
  cmd/cipher-im/secrets/postgres_username.secret
  deployments/cipher/Dockerfile
  deployments/cipher/compose.yml
  deployments/cipher/otel-collector-config.yaml
  deployments/cipher/secrets/postgres_database.secret
  deployments/cipher/secrets/postgres_password.secret
  deployments/cipher/secrets/postgres_url.secret
  deployments/cipher/secrets/postgres_username.secret
  deployments/compose/compose.yml
  deployments/identity/compose.advanced.yml
  deployments/jose/Dockerfile
  deployments/jose/compose.yml
  deployments/kms/Dockerfile
  deployments/kms/compose.demo.yml
  deployments/pki-ca/Dockerfile
  deployments/pki-ca/compose.yml
  deployments/template/compose.yml
  docs/docker-health-checks.md
  docs/fixes-needed-plan-tasks-v10/plan.md
  docs/jose-ja/DEPLOYMENT.md
  internal/shared/magic/magic_cipher.go
Due: lint-workflow, golangci-lint, golangci-lint-full, lint-compose, check-todo-severity, format-go, go-build

fix: Windows test compatibility and E2E build tags
  internal/apps/cipher/im/e2e/e2e_test.go
  internal/apps/cipher/im/e2e/testmain_e2e_test.go
  internal/apps/identity/e2e/e2e_test.go
  internal/apps/identity/e2e/testmain_e2e_test.go
  internal/apps/template/service/server/application/application_listener_test.go
  internal/cmd/cicd/adaptive-sim/adaptive_sim_test.go
  internal/cmd/cicd/lint_go/lint_go_test.go
  internal/cmd/cicd/lint_go_mod/lint_go_mod_test.go
  internal/cmd/cicd/lint_workflow/lint_workflow_test.go
  internal/shared/container/postgres.go
  internal/test/e2e/assertions.go
  internal/test/e2e/test_suite.go
Due: golangci-lint, golangci-lint-full, check-todo-severity, format-go, format-go-test, go-build

fix(kms): add e2e build tag to KMS client package for E2E test compatibility
  internal/apps/sm/kms/client/client_oam_mapper.go
  internal/apps/sm/kms/client/client_test.go
  internal/apps/sm/kms/client/client_test_util.go
Due: golangci-lint, golangci-lint-full, check-todo-severity, format-go, format-go-test, go-build

style(kms): fix import ordering in client_test.go
  internal/apps/sm/kms/client/client_test.go
Due: golangci-lint, golangci-lint-full, check-todo-severity, format-go, format-go-test, go-build

docs(v10): verification summary with phase completion status
  docs/v10-verification-summary.md
Due: none

docs(agent): enhance plan.md and tasks.md templates based on real-world usage patterns
  .github/agents/plan-tasks-quizme.agent.md
  docs/fixes-needed-plan-tasks-v10/tasks.md
Due: none

docs(agent): enhance plan.md template with high-priority patterns from v9/v10
  .github/agents/plan-tasks-quizme.agent.md
  docs/archive/README.md
  docs/archive/v8/plan.md
  docs/archive/v8/tasks.md
  docs/archive/v9/plan.md
  docs/archive/v9/tasks.md
  docs/template-analysis-tasks-plan-md.md
Due: none

docs(archive): document V8/V9 coverage gaps discovered during verification
  docs/archive/README.md
Due: none

refactor(agents): remove hardcoded model fields for flexible selection
  .github/agents/beast-mode-custom.agent.md
  .github/agents/doc-sync.agent.md
  .github/agents/fix-github-workflows.agent.md
  .github/agents/fix-tool-names.agent.md
  .github/agents/plan-tasks-implement.agent.md
  .github/agents/plan-tasks-quizme.agent.md
Due: none

fix(agents): restore Executive Decisions section to plan-tasks-quizme template
  .github/agents/plan-tasks-quizme.agent.md
Due: none

docs(instructions): add agent format standards documentation (06-02)
  .github/instructions/06-02.agent-format.instructions.md
Due: none

docs: add agent format documentation to instruction files reference
  .github/copilot-instructions.md
Due: none

docs: document Phase 0 as mandatory internal research in planning agents
  .github/agents/plan-tasks-quizme.agent.md
  .github/instructions/06-02.agent-format.instructions.md
Due: none

refactor: rename Phase 0 to Step 3, integrate into sequential workflow
  .github/agents/plan-tasks-quizme.agent.md
Due: none

docs(agents): align quality terminology in plan-tasks-quizme.agent.md
  .github/agents/plan-tasks-quizme.agent.md
Due: none

docs(agents): standardize hyphenation de-prioritize to deprioritize
  .github/agents/beast-mode-custom.agent.md
  .github/agents/plan-tasks-implement.agent.md
  .github/agents/plan-tasks-quizme.agent.md
Due: none

docs(v10): create quizme-v1.md and correct tasks.md completion status to 14/47 (29.8%)
  docs/arch/ARCHITECTURE.md
  docs/fixes-needed-plan-tasks-v10/quizme-v1.md
  docs/fixes-needed-plan-tasks-v10/tasks.md
Due: none

docs: remove quizme-v1.md
  docs/fixes-needed-plan-tasks-v10/quizme-v1.md
Due: none

docs(v10): mark Phase 2 tasks complete - import migration verified done
  docs/fixes-needed-plan-tasks-v10/tasks.md
Due: none

docs(v10): complete Phase 1 (except E2E blocked on Docker), add lessons learned
  docs/fixes-needed-plan-tasks-v10/plan.md
  docs/fixes-needed-plan-tasks-v10/tasks.md
Due: none

docs(v8,v10): complete Phase 3 - V8 status verified 94.5% (276/292)
  docs/fixes-needed-plan-tasks-v10/tasks.md
  docs/fixes-needed-plan-tasks-v8/tasks.md
Due: none

docs(v10): complete Phase 5 - no structural gap in sm-kms cmd (all N/A)
  docs/fixes-needed-plan-tasks-v10/tasks.md
Due: none

docs(v10): complete Phase 6 - unsealkeysservice audit shows zero duplication
  docs/fixes-needed-plan-tasks-v10/tasks.md
Due: none

docs(v10): complete Phase 7 - all quality gates pass
  .gitignore
  docs/fixes-needed-plan-tasks-v10/plan.md
  docs/fixes-needed-plan-tasks-v10/tasks.md
Due: none

docs(v10): complete Phase 8 - Dockerfile/compose already standardized
  docs/fixes-needed-plan-tasks-v10/plan.md
  docs/fixes-needed-plan-tasks-v10/tasks.md
Due: none

docs: update agent files and copilot instructions
  .github/agents/plan-tasks-implement.agent.md
  .github/agents/plan-tasks-quizme.agent.md
  .github/copilot-instructions.md
Due: none

docs(v10): acknowledge false completion claims, add Phases 9-12 with ACTUAL refactoring work
  docs/fixes-needed-plan-tasks-v10/plan.md
  docs/fixes-needed-plan-tasks-v10/tasks.md
Due: none

feat(phase9): complete Task 9.1 - analyze unsealkeysservice migration
  docs/fixes-needed-plan-tasks-v10/tasks.md
  test-output/phase9-unsealkeys-migration/migration-analysis.md
Due: none

refactor(template): move UnsealKeysService from shared to template barrier
  docs/fixes-needed-plan-tasks-v10/tasks.md
  internal/apps/cipher/im/repository/testmain_test.go
  internal/apps/cipher/im/server/apis/messages_test.go
  internal/apps/jose/ja/service/testmain_test.go
  internal/apps/sm/kms/server/application/application_basic.go
  internal/apps/template/service/server/apis/registration_integration_test.go
  internal/apps/template/service/server/application/application_basic.go
  internal/apps/template/service/server/barrier/barrier_service.go
  internal/apps/template/service/server/barrier/barrier_service_test.go
  internal/apps/template/service/server/barrier/key_services_test.go
  internal/apps/template/service/server/barrier/root_keys_service.go
  internal/apps/template/service/server/barrier/rotation_handlers_test.go
  internal/apps/template/service/server/barrier/rotation_service.go
  internal/apps/template/service/server/barrier/rotation_service_test.go
  internal/apps/template/service/server/barrier/unsealkeysservice/unseal_keys_service.go
  internal/apps/template/service/server/barrier/unsealkeysservice/unseal_keys_service_additional_coverage_test.go
  internal/apps/template/service/server/barrier/unsealkeysservice/unseal_keys_service_comprehensive_test.go
  internal/apps/template/service/server/barrier/unsealkeysservice/unseal_keys_service_edge_cases_test.go
  internal/apps/template/service/server/barrier/unsealkeysservice/unseal_keys_service_error_paths_test.go
  internal/apps/template/service/server/barrier/unsealkeysservice/unseal_keys_service_from_settings.go
  internal/apps/template/service/server/barrier/unsealkeysservice/unseal_keys_service_from_settings_additional_test.go
  internal/apps/template/service/server/barrier/unsealkeysservice/unseal_keys_service_from_settings_test.go
  internal/apps/template/service/server/barrier/unsealkeysservice/unseal_keys_service_sharedsecrets.go
  internal/apps/template/service/server/barrier/unsealkeysservice/unseal_keys_service_sharedsecrets_test.go
  internal/apps/template/service/server/barrier/unsealkeysservice/unseal_keys_service_simple.go
  internal/apps/template/service/server/barrier/unsealkeysservice/unseal_keys_service_simple_test.go
  internal/apps/template/service/server/barrier/unsealkeysservice/unseal_keys_service_simple_test_util.go
  internal/apps/template/service/server/barrier/unsealkeysservice/unseal_keys_service_sysinfo.go
  internal/apps/template/service/server/barrier/unsealkeysservice/unseal_keys_service_sysinfo_test.go
  internal/apps/template/service/server/barrier/unsealkeysservice/unseal_keys_service_sysinfo_test_util.go
  internal/apps/template/service/server/builder/server_builder.go
  internal/apps/template/service/server/businesslogic/session_manager_service_test.go
Due: golangci-lint, golangci-lint-full, check-todo-severity, format-go, format-go-test, go-build

feat(phase10): complete Task 10.1 - audit all cmd/ directories for ARCHITECTURE.md compliance
  docs/fixes-needed-plan-tasks-v10/tasks.md
Due: none

refactor(identity): extract identity-demo logic from cmd/ to internal/cmd/identity/demo
  cmd/identity-demo/main.go
  internal/cmd/identity/demo/demo.go
Due: golangci-lint, golangci-lint-full, check-todo-severity, format-go, go-build

refactor(identity): extract identity-compose logic from cmd/ to internal/cmd/identity/compose
  cmd/identity-compose/main.go
  internal/cmd/identity/compose/compose.go
Due: golangci-lint, golangci-lint-full, check-todo-severity, format-go, go-build

docs(phase10): document Tasks 10.2-10.5 as N/A (already compliant), Task 10.6 identity-demo/compose COMPLETE
  docs/fixes-needed-plan-tasks-v10/tasks.md
Due: none

docs(phase10): complete Task 10.7 - verify all cmd/ ARCHITECTURE.md compliance - Phase 10 COMPLETE
  docs/fixes-needed-plan-tasks-v10/tasks.md
Due: none
