Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: github-workflow-lint, golangci-lint, go-mod-tidy, check-todo-severity, go-fix-all, go-build, cspell

github-workflow-lint:
  name: GitHub workflow lint
  entry: go
  args:
  - run
  - cmd/cicd/main.go
  - github-workflow-lint
  language: system
  pass_filenames: false
  stages:
  - pre-push

golangci-lint:
  name: golangci-lint (incremental auto-fix)
  entry: golangci-lint
  args:
  - run
  - --fix
  - --timeout=30m
  - --new-from-rev=HEAD~1
  language: system
  pass_filenames: false
  stages:
  - pre-commit

go-mod-tidy:
  name: go mod tidy
  entry: go
  args:
  - mod
  - tidy
  language: system
  pass_filenames: false

check-todo-severity:
  name: Check TODO/FIXME severity (block CRITICAL/HIGH)
  entry: bash
  args:
  - -c
  ...

go-fix-all:
  name: Auto-fix Go issues (staticcheck, copyloopvar, thelper)
  entry: go
  args:
  - run
  - cmd/cicd/main.go
  - go-fix-all
  language: system
  pass_filenames: false
  stages:
  - pre-commit

go-build:
  name: go build
  entry: go
  args:
  - build
  - ./...
  language: system
  pass_filenames: false
  stages:
  - pre-push

cspell:
  name: Check spelling
  entry: cspell
  args:
  - --no-progress
  - --cache
  language: system

test(template/repository): add database initialization error tests
  internal/apps/template/service/server/repository/migrations_db_errors_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(template/server): add Application.Start context cancellation test
  internal/apps/template/service/server/server_coverage_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(template/repository): add ApplyMigrationsFromFS tests
  internal/apps/template/service/server/repository/migrations_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(template/barrier): add GormBarrierRepository coverage tests
  cov_barrier.out
  cov_barrier2.out
  cov_businesslogic.out
  cov_listener.out
  cov_repo
  cov_repo.out
  cov_repo2.out
  cov_server.html
  cov_server.out
  internal/apps/template/service/server/barrier/gorm_barrier_repository_test.go
  internal/apps/template/service/server/service/register_client_errors_test.go
  internal/apps/template/service/server/service/update_realm_errors_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(template/listener): add nil parameter validation tests
  cov_middleware
  internal/apps/template/service/server/listener/admin_test.go
  internal/apps/template/service/server/listener/public_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(template/businesslogic): add tenant not found test
  internal/apps/template/service/server/businesslogic/tenant_registration_service_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(DETAILED): add Phase X.1 service template coverage session summary
  specs/002-cryptoutil/implement/DETAILED.md
Due: cspell

test(cipher-im/apis): add sessions tests and improve message handler coverage
  internal/apps/cipher/im/server/apis/messages_test.go
  internal/apps/cipher/im/server/apis/sessions_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(cipher-im/client): add error path tests for browser and service methods
  internal/apps/cipher/im/client/message_test.go
  internal/apps/cipher/im/server/apis/sessions_test.go
  internal/apps/cipher/im/server/config/config_test.go
  internal/apps/template/service/server/server_coverage_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(cipher-im/server): add nil parameter tests for NewPublicServer (74.7% -> 85.6%)
  internal/apps/cipher/im/server/public_server_test.go
  internal/apps/cipher/im/server/server.go
  internal/apps/cipher/im/server/server_test.go
  internal/apps/template/service/server/application.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(DETAILED): add Phase X.2 cipher-im high coverage testing results
  specs/002-cryptoutil/implement/DETAILED.md
Due: cspell

test(jose): fix race condition in server test setup by polling for port
  internal/jose/server/server_newpaths_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(DETAILED): add Phase 3/4 verification status and jose test fix
  specs/002-cryptoutil/implement/DETAILED.md
Due: cspell

test(identity): fix race conditions in admin server tests
  internal/identity/authz/server/admin_test.go
  internal/identity/idp/server/admin_test.go
  internal/identity/rs/server/admin_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(ca): migrate CA admin server to service template builder pattern
  internal/apps/ca/server/config/config.go
  internal/apps/ca/server/config/config_test.go
  internal/apps/ca/server/public_server.go
  internal/apps/ca/server/server.go
  internal/apps/ca/server/server_integration_test.go
  internal/apps/ca/server/testmain_test.go
  internal/cmd/cryptoutil/ca/ca.go
  internal/shared/magic/magic_pki.go
  specs/002-cryptoutil/implement/DETAILED.md
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(identity): add identity-rp server with template builder pattern
  internal/apps/identity/rp/server/config/config.go
  internal/apps/identity/rp/server/config/config_test.go
  internal/apps/identity/rp/server/public_server.go
  internal/apps/identity/rp/server/server.go
  internal/apps/identity/rp/server/server_integration_test.go
  internal/apps/identity/rp/server/testmain_test.go
  internal/cmd/cryptoutil/cryptoutil.go
  internal/cmd/cryptoutil/rp/rp.go
  internal/shared/magic/magic_identity.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(identity): add identity-spa server with template builder pattern
  internal/apps/identity/spa/server/config/config.go
  internal/apps/identity/spa/server/config/config_test.go
  internal/apps/identity/spa/server/public_server.go
  internal/apps/identity/spa/server/server.go
  internal/apps/identity/spa/server/server_integration_test.go
  internal/apps/identity/spa/server/testmain_test.go
  internal/cmd/cryptoutil/cryptoutil.go
  internal/cmd/cryptoutil/spa/spa.go
  specs/002-cryptoutil/implement/DETAILED.md
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(identity): add identity-authz, identity-idp, identity-rs servers with template builder pattern
  internal/apps/identity/authz/server/config/config.go
  internal/apps/identity/authz/server/config/config_test.go
  internal/apps/identity/authz/server/public_server.go
  internal/apps/identity/authz/server/server.go
  internal/apps/identity/authz/server/server_integration_test.go
  internal/apps/identity/authz/server/testmain_test.go
  internal/apps/identity/idp/server/config/config.go
  internal/apps/identity/idp/server/config/config_test.go
  internal/apps/identity/idp/server/public_server.go
  internal/apps/identity/idp/server/server.go
  internal/apps/identity/idp/server/server_integration_test.go
  internal/apps/identity/idp/server/testmain_test.go
  internal/apps/identity/rs/server/config/config.go
  internal/apps/identity/rs/server/config/config_test.go
  internal/apps/identity/rs/server/public_server.go
  internal/apps/identity/rs/server/server.go
  internal/apps/identity/rs/server/server_integration_test.go
  internal/apps/identity/rs/server/testmain_test.go
  internal/shared/magic/magic_identity.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(identity): add CLI commands for identity-authz, identity-idp, identity-rs
  internal/cmd/cryptoutil/authz/authz.go
  internal/cmd/cryptoutil/cryptoutil.go
  internal/cmd/cryptoutil/idp/idp.go
  internal/cmd/cryptoutil/rs/rs.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(identity): update Dockerfiles to use cryptoutil binary pattern
  deployments/identity/Dockerfile.authz
  deployments/identity/Dockerfile.idp
  deployments/identity/Dockerfile.rp
  deployments/identity/Dockerfile.rs
Due: none

feat(identity): add E2E compose and config files
  deployments/identity/compose.e2e.yml
  deployments/identity/config/authz-e2e.yml
  deployments/identity/config/rp-e2e.yml
  deployments/identity/config/rs-e2e.yml
  deployments/identity/config/spa-e2e.yml
Due: cspell

feat(identity): add E2E test infrastructure
  internal/apps/identity/e2e/e2e_test.go
  internal/apps/identity/e2e/testmain_e2e_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(identity): add E2E magic constants
  internal/shared/magic/magic_identity.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

style(identity): fix import ordering and formatting
  internal/apps/identity/idp/server/config/config.go
  internal/apps/identity/idp/server/config/config_test.go
  internal/apps/identity/rp/server/config/config.go
  internal/apps/identity/rs/server/config/config.go
  internal/apps/identity/spa/server/config/config.go
  internal/apps/identity/spa/server/public_server.go
  internal/apps/identity/spa/server/server.go
  internal/cmd/cryptoutil/authz/authz.go
  internal/cmd/cryptoutil/ca/ca.go
  internal/cmd/cryptoutil/idp/idp.go
  internal/cmd/cryptoutil/rp/rp.go
  internal/cmd/cryptoutil/rs/rs.go
  internal/cmd/cryptoutil/spa/spa.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

style(ca): fix import ordering and formatting
  internal/apps/ca/server/config/config.go
  internal/apps/ca/server/public_server.go
  internal/apps/ca/server/server.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(identity): update DETAILED.md with Phase 6.3 progress
  specs/002-cryptoutil/implement/DETAILED.md
Due: cspell

docs(identity): update DETAILED.md to reflect Phase 6 completion status
  specs/002-cryptoutil/implement/DETAILED.md
Due: cspell

test(cipher): add entry point test for 100% coverage
  internal/apps/cipher/cipher_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(jose): add accessor method tests for 80% server coverage
  internal/apps/jose/ja/server/server_integration_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(cipher): add message handler tests for 82% apis coverage
  internal/apps/cipher/im/server/apis/messages_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(template): add validation tests for barrier and sessionmanager services
  internal/apps/template/service/server/barrier/barrier_service_test.go
  internal/apps/template/service/server/businesslogic/session_manager_service_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(template): add mixed TLS mode tests and GenerateTestCA helper
  internal/apps/template/service/config/tls_generator/tls_generator.go
  internal/apps/template/service/server/listener/servers_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(template): add GenerateTestCA tests for tls_generator package
  internal/apps/template/service/config/tls_generator/tls_generator_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(template): add key services validation and shutdown tests
  internal/apps/template/service/server/barrier/key_services_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(template): add rotation service validation tests
  internal/apps/template/service/server/barrier/key_services_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(template): add GORM repository nil validation tests
  internal/apps/template/service/server/barrier/key_services_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(jose-ja): add NewPublicServer nil validation tests (89.2% coverage)
  internal/apps/jose/ja/server/public_server_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(jose-ja): add NewFromConfig nil validation tests (91.2% coverage)
  internal/apps/jose/ja/server/server_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(jose-ja): add NewFromConfig builder error test (92.6% coverage)
  internal/apps/jose/ja/server/server_test.go
  jose_server.out
  jose_server2.out
  template_svc.out
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

chore: remove coverage output files
  jose_server.out
  jose_server2.out
  template_svc.out
Due: none

Path conditions:
  github-workflow-lint: any of: \.github/workflows/.*\.(yml|yaml)$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.mod$
  check-todo-severity: any of: \.go$
  go-fix-all: any of: \.go$
  go-build: any of: \.go$|go\.mod$|go\.sum$
  cspell: any of: \.(md|txt|go|yaml|yml|json|js|ts|py|sh|ps1)$, but not: ^(test/|vendor/|\.git/|node_modules/|\.cache/)
