Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-build, golangci-lint-full, golangci-lint, go-mod-tidy, check-todo-severity

Path conditions:
  go-build: any of: \.go$|go\.mod$|go\.sum$
  golangci-lint-full: any of: \.go$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.mod$
  check-todo-severity: any of: \.go$

docs(framework-v4): mark Phase 6 complete and add lessons
  docs/framework-v4/lessons.md
  docs/framework-v4/plan.md
  docs/framework-v4/tasks.md
Due: none

feat(lint-fitness): add standalone config presence and OTLP name checks (Phase 7)
  internal/apps/cicd/lint_fitness/lint_fitness.go
  internal/apps/cicd/lint_fitness/standalone_config_otlp_names/standalone_config_otlp_names.go
  internal/apps/cicd/lint_fitness/standalone_config_otlp_names/standalone_config_otlp_names_test.go
  internal/apps/cicd/lint_fitness/standalone_config_presence/standalone_config_presence.go
  internal/apps/cicd/lint_fitness/standalone_config_presence/standalone_config_presence_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(framework-v4): mark Phase 7 complete and add lessons
  docs/framework-v4/lessons.md
  docs/framework-v4/plan.md
  docs/framework-v4/tasks.md
Due: none

feat(lint-fitness): add migration comment header check and fix all violations (Phase 8)
  internal/apps/cicd/lint_fitness/lint_fitness.go
  internal/apps/cicd/lint_fitness/migration_comment_headers/migration_comment_headers.go
  internal/apps/cicd/lint_fitness/migration_comment_headers/migration_comment_headers_test.go
  internal/apps/jose/ja/repository/migrations/2001_elastic_jwks.down.sql
  internal/apps/jose/ja/repository/migrations/2001_elastic_jwks.up.sql
  internal/apps/jose/ja/repository/migrations/2002_material_jwks.down.sql
  internal/apps/jose/ja/repository/migrations/2002_material_jwks.up.sql
  internal/apps/jose/ja/repository/migrations/2003_audit_config.down.sql
  internal/apps/jose/ja/repository/migrations/2003_audit_config.up.sql
  internal/apps/jose/ja/repository/migrations/2004_audit_log.down.sql
  internal/apps/jose/ja/repository/migrations/2004_audit_log.up.sql
  internal/apps/pki/ca/repository-v2/migrations/2001_ca_items.down.sql
  internal/apps/pki/ca/repository-v2/migrations/2001_ca_items.up.sql
  internal/apps/skeleton/template/repository/migrations/2001_template_items.down.sql
  internal/apps/skeleton/template/repository/migrations/2001_template_items.up.sql
  internal/apps/skeleton/template/repository/migrations/2002_template_items_add_fields.down.sql
  internal/apps/skeleton/template/repository/migrations/2002_template_items_add_fields.up.sql
  internal/apps/sm/im/repository/migrations/2001_init.down.sql
  internal/apps/sm/im/repository/migrations/2001_init.up.sql
  internal/apps/sm/kms/server/repository/migrations/2001_kms_business_tables.down.sql
  internal/apps/sm/kms/server/repository/migrations/2001_kms_business_tables.up.sql
  internal/apps/sm/kms/server/repository/migrations/2002_add_tenant_id.down.sql
  internal/apps/sm/kms/server/repository/migrations/2002_add_tenant_id.up.sql
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(framework-v4): mark Phase 8 complete and add post-mortem lessons
  docs/framework-v4/lessons.md
  docs/framework-v4/plan.md
  docs/framework-v4/tasks.md
Due: none

docs(framework-v4): update Phase 8 tasks with lessons commit hash
  docs/framework-v4/tasks.md
Due: none

docs(architecture): update Section 9.11 fitness catalog to 43 checks and add entity registry section (Phase 9)
  docs/ARCHITECTURE.md
Due: none

docs(framework-v4): mark Phase 9 complete, add naming convention catalog and post-mortem lessons
  docs/ARCHITECTURE.md
  docs/framework-v4/lessons.md
  docs/framework-v4/plan.md
  docs/framework-v4/tasks.md
Due: none

docs(framework-v4): update Phase 9 tasks with lessons commit hash
  docs/framework-v4/tasks.md
Due: none

docs(framework-v4): mark Phase 10 and all phases COMPLETE, add Phase 10 post-mortem
  docs/framework-v4/lessons.md
  docs/framework-v4/plan.md
  docs/framework-v4/tasks.md
Due: none

chore(deps): upgrade github.com/jackc/pgx/v5 v5.8.0 -> v5.9.0
  go.mod
  go.sum
Due: go-build, go-mod-tidy

chore(format): fixed indent
  internal/apps/cicd/lint_fitness/banned_product_names/banned_product_names.go
  internal/shared/magic/magic_cicd.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(framework-v5): create plan, tasks, lessons, and quizme-v1
  docs/framework-v5/lessons.md
  docs/framework-v5/plan.md
  docs/framework-v5/quizme-v1.md
  docs/framework-v5/tasks.md
Due: none

docs(framework-v5): merge quizme-v1 answers into plan/tasks, delete quizme-v1
  docs/framework-v5/plan.md
  docs/framework-v5/quizme-v1.md
  docs/framework-v5/tasks.md
Due: none

docs(framework-v5): add parameterized target-structure.md (791 lines)
  docs/framework-v5/plan.md
  docs/framework-v5/target-structure.md
Due: none

fix(configs): restructure configs/ca/ to configs/pki/ca/ and configs/jose/jose-server.yml to configs/jose/ja/ to match entity registry layout
  configs/jose/ja/jose-server.yml
  configs/pki/ca/ca-config-schema.yaml
  configs/pki/ca/ca-server.yml
  configs/pki/ca/profiles/code-signing.yaml
  configs/pki/ca/profiles/database-server.yaml
  configs/pki/ca/profiles/device.yaml
  configs/pki/ca/profiles/document-signing.yaml
  configs/pki/ca/profiles/ev-code-signing.yaml
  configs/pki/ca/profiles/intermediate-ca.yaml
  configs/pki/ca/profiles/internal-tls.yaml
  configs/pki/ca/profiles/kernel-code-signing.yaml
  configs/pki/ca/profiles/kubernetes-workload.yaml
  configs/pki/ca/profiles/load-balancer.yaml
  configs/pki/ca/profiles/message-queue-server.yaml
  configs/pki/ca/profiles/mtls-client.yaml
  configs/pki/ca/profiles/ocsp-responder.yaml
  configs/pki/ca/profiles/root-ca.yaml
  configs/pki/ca/profiles/smartcard-logon.yaml
  configs/pki/ca/profiles/smime-encryption.yaml
  configs/pki/ca/profiles/smime-signing.yaml
  configs/pki/ca/profiles/ssh-host.yaml
  configs/pki/ca/profiles/ssh-user.yaml
  configs/pki/ca/profiles/timestamp.yaml
  configs/pki/ca/profiles/tls-client.yaml
  configs/pki/ca/profiles/tls-server.yaml
  configs/pki/ca/profiles/vpn-client.yaml
  configs/pki/ca/profiles/vpn-server.yaml
  internal/apps/cicd/lint_deployments/validate_all_runners_test.go
  internal/apps/cicd/lint_deployments/validate_mirror.go
  internal/apps/cicd/lint_deployments/validate_mirror_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(lint-fitness): add cicd-coverage fitness check validating all cicd commands appear in action, pre-commit config, and CI workflow
  .gitignore
  internal/apps/cicd/lint_fitness/cicd_coverage/cicd_coverage.go
  internal/apps/cicd/lint_fitness/cicd_coverage/cicd_coverage_test.go
  internal/apps/cicd/lint_fitness/lint_fitness.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(ci): remove duplicate custom-cicd-lint step from ci-quality workflow
  .github/workflows/ci-quality.yml
Due: none

fix(ci): update custom-cicd-lint action with all 11 linters and 2 formatters
  .github/actions/custom-cicd-lint/action.yml
Due: none

feat(ci): add parallel ci-cicd-lint workflow with 5-phase structure and 16 jobs
  .github/workflows/ci-cicd-lint.yml
Due: none

chore(deps): update markdownlint-cli2 pre-commit hook from v0.21.0 to v0.22.0
  .pre-commit-config.yaml
Due: none

style(lint): fix import ordering in lint_deployments (golangci-lint auto-fix)
  .github/actions/custom-cicd-lint/action.yml
  .github/workflows/cicd-lint-deployments.yml
  internal/apps/cicd/lint_deployments/validate_all_runners_test.go
  internal/apps/cicd/lint_deployments/validate_mirror.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(lint-fitness): update cicd-coverage to check 2 files (pre-commit + workflow) after removing custom-cicd-lint action
  internal/apps/cicd/lint_fitness/cicd_coverage/cicd_coverage.go
  internal/apps/cicd/lint_fitness/cicd_coverage/cicd_coverage_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(ci): extract download-cicd composite action; remove Phase prefixes from job names in ci-cicd-lint.yml
  .github/actions/download-cicd/action.yml
  .github/workflows/ci-cicd-lint.yml
Due: none

docs(framework-v5): rewrite target-structure.md with user edits, add quizme-v2
  docs/framework-v5/quizme-v2.md
  docs/framework-v5/target-structure.md
Due: none

docs(framework-v5): apply quizme-v2 answers Q1/Q2/Q3/Q5, create quizme-v3
  docs/framework-v5/quizme-v2.md
  docs/framework-v5/quizme-v3.md
  docs/framework-v5/target-structure.md
Due: none

docs(framework-v5): apply Decisions 5-11 to plan/tasks, expand phases, delete quizme-v3
  docs/framework-v5/lessons.md
  docs/framework-v5/plan.md
  docs/framework-v5/quizme-v3.md
  docs/framework-v5/target-structure.md
  docs/framework-v5/tasks.md
Due: none

docs(framework-v5): mark Phase 1 tasks 1.1-1.8 complete with evidence and notes
  .vscode/cspell.json
  docs/framework-v5/tasks.md
Due: none

docs(architecture): add anti-patterns and infrastructure tools to ARCHITECTURE.md section 4.4.7
  docs/ARCHITECTURE.md
  docs/framework-v5/tasks.md
Due: none

docs(framework-v5): mark task 2.2 complete in tasks.md
  docs/framework-v5/tasks.md
Due: none

chore(cleanup): archive identity-compose anti-pattern binary (cmd/identity-compose, internal/apps/identity/compose)
  cmd/identity-compose/main.go
  internal/apps/identity/compose/compose.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

chore(cleanup): archive identity-demo anti-pattern binary (cmd/identity-demo, internal/apps/identity/demo)
  cmd/identity-demo/main.go
  internal/apps/identity/demo/demo.go
  internal/apps/identity/demo/demo_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

chore(cleanup): archive demo standalone binary and dead exclusion stubs
  cmd/demo/main.go
  internal/apps/demo/_identity.go
  internal/apps/demo/_identity_servers.go
  internal/apps/demo/_integration.go
  internal/apps/demo/_integration_health.go
  internal/apps/demo/ca.go
  internal/apps/demo/demo.go
  internal/apps/demo/demo_test.go
  internal/apps/demo/errors.go
  internal/apps/demo/errors_test.go
  internal/apps/demo/health_util.go
  internal/apps/demo/identity_stub.go
  internal/apps/demo/jose.go
  internal/apps/demo/kms.go
  internal/apps/demo/progress.go
  internal/apps/demo/progress_test.go
  internal/apps/demo/script.go
  internal/apps/demo/script_test.go
  internal/apps/tools/cicd_lint/lint_fitness/crypto_rand/crypto_rand.go
  internal/apps/tools/cicd_lint/lint_fitness/insecure_skip_verify/insecure_skip_verify.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(pkiinit): move internal/apps/pkiinit to internal/apps/framework/tls
  .golangci.yml
  internal/apps/cryptoutil/cryptoutil.go
  internal/apps/framework/tls/export_test.go
  internal/apps/framework/tls/init.go
  internal/apps/framework/tls/init_test.go
  internal/apps/pkiinit/pkiinit.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

chore(cleanup): delete docs/demo-brainstorm per Decision 2
  docs/demo-brainstorm/DEMO-BRAINSTORM.md
  docs/demo-brainstorm/README.md
  docs/demo-brainstorm/deployments/sm-kms/compose.demo.yml
Due: none

docs(framework-v5): mark tasks 2.3-2.7 complete in tasks.md (17/49)
  docs/framework-v5/tasks.md
Due: none

refactor(cli): add framework tier routing (product/cli, suite/cli)
  .golangci.yml
  internal/apps/cryptoutil/cryptoutil.go
  internal/apps/cryptoutil/cryptoutil_test.go
  internal/apps/framework/product/cli/product_router.go
  internal/apps/framework/product/cli/product_router_test.go
  internal/apps/framework/service/cli/constants.go
  internal/apps/framework/service/cli/product_router.go
  internal/apps/framework/service/cli/product_router_test.go
  internal/apps/framework/suite/cli/suite_router.go
  internal/apps/framework/suite/cli/suite_router_test.go
  internal/apps/identity/identity.go
  internal/apps/jose/jose.go
  internal/apps/pki/pki.go
  internal/apps/skeleton/skeleton.go
  internal/apps/sm/sm.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(framework-v5): mark task 2.8 complete in tasks.md (18/49)
  docs/framework-v5/tasks.md
Due: none
