Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: github-workflow-lint, golangci-lint, go-mod-tidy, check-todo-severity, go-fix-all, go-build, cspell

github-workflow-lint:
  name: GitHub workflow lint
  entry: go
  args:
  - run
  - cmd/cicd/main.go
  - github-workflow-lint
  language: system
  pass_filenames: false
  stages:
  - pre-push

golangci-lint:
  name: golangci-lint (incremental auto-fix)
  entry: golangci-lint
  args:
  - run
  - --fix
  - --timeout=30m
  - --new-from-rev=HEAD~1
  language: system
  pass_filenames: false
  stages:
  - pre-commit

go-mod-tidy:
  name: go mod tidy
  entry: go
  args:
  - mod
  - tidy
  language: system
  pass_filenames: false

check-todo-severity:
  name: Check TODO/FIXME severity (block CRITICAL/HIGH)
  entry: bash
  args:
  - -c
  ...

go-fix-all:
  name: Auto-fix Go issues (staticcheck, copyloopvar, thelper)
  entry: go
  args:
  - run
  - cmd/cicd/main.go
  - go-fix-all
  language: system
  pass_filenames: false
  stages:
  - pre-commit

go-build:
  name: go build
  entry: go
  args:
  - build
  - ./...
  language: system
  pass_filenames: false
  stages:
  - pre-push

cspell:
  name: Check spelling
  entry: cspell
  args:
  - --no-progress
  - --cache
  language: system

docs: archive cicd refactoring documentation
  docs/archive/cicd-refactoring-nov2025/COMPLETION-SUMMARY.md
  docs/archive/cicd-refactoring-nov2025/README.md
  docs/archive/cicd-refactoring-nov2025/planning/alignment-analysis.md
  docs/archive/cicd-refactoring-nov2025/planning/cicd-refactoring-plan.md
Due: cspell

docs: archive codecov documentation
  docs/archive/codecov-nov2025/COMPLETION-SUMMARY.md
  docs/archive/codecov-nov2025/README.md
  docs/archive/codecov-nov2025/tracking/completed.txt
  docs/archive/codecov-nov2025/tracking/dont_stop.txt
  docs/archive/codecov-nov2025/tracking/prompt.txt
Due: cspell

docs: archive golangci v2 migration documentation
  docs/archive/golangci-v2-migration-nov2025/MIGRATION-COMPLETE.md
  docs/archive/golangci-v2-migration-nov2025/archive/README.md
  docs/archive/golangci-v2-migration-nov2025/archive/migrate-v2-completed.md
  docs/archive/golangci-v2-migration-nov2025/archive/migrate-v2-functionality.md
  docs/archive/golangci-v2-migration-nov2025/archive/migrate-v2-performance.md
  docs/archive/golangci-v2-migration-nov2025/archive/migrate-v2-problems.md
  docs/archive/golangci-v2-migration-nov2025/archive/migrate-v2-summary.md
  docs/archive/golangci-v2-migration-nov2025/archive/migrate-v2-todos.md
  docs/archive/golangci-v2-migration-nov2025/archive/session-summary-nov19-2025.md
  docs/archive/golangci-v2-migration-nov2025/auto-fix-integration-plan.md
  docs/archive/golangci-v2-migration-nov2025/remaining-issues-tracker.md
Due: cspell

docs: archive identity v1 legacy documentation
  docs/archive/identityV1-legacy/01_foundation_setup.md
  docs/archive/identityV1-legacy/02_storage_interfaces.md
  docs/archive/identityV1-legacy/03_token_operations.md
  docs/archive/identityV1-legacy/04_authz_server_core.md
  docs/archive/identityV1-legacy/05_client_auth_basic.md
  docs/archive/identityV1-legacy/06_client_auth_mtls.md
  docs/archive/identityV1-legacy/07_oidc_identity_provider.md
  docs/archive/identityV1-legacy/08_http_servers_apis.md
  docs/archive/identityV1-legacy/09_spa_relying_party.md
  docs/archive/identityV1-legacy/10_integration_testing.md
  docs/archive/identityV1-legacy/11_client_mfa_chains.md
  docs/archive/identityV1-legacy/12_user_auth_sms_magic.md
  docs/archive/identityV1-legacy/13_user_auth_adaptive.md
  docs/archive/identityV1-legacy/14_user_auth_biometric.md
  docs/archive/identityV1-legacy/15_user_auth_hardware.md
  docs/archive/identityV1-legacy/16_gap_analysis.md
  docs/archive/identityV1-legacy/17_18_19_summary.md
  docs/archive/identityV1-legacy/e2e_coverage.html
  docs/archive/identityV1-legacy/e2e_coverage_report.md
  docs/archive/identityV1-legacy/identity_master.md
  docs/archive/identityV1-legacy/task-07-client-auth-cli.md
  docs/archive/identityV1-legacy/task-08-key-rotation-ops.md
Due: cspell

docs: archive refactor documentation
  docs/01-refactor/PLANS-INDEX.md
  docs/01-refactor/README.md
  docs/01-refactor/blueprint.md
  docs/01-refactor/ca-preparation.md
  docs/01-refactor/cli-compatibility.md
  docs/01-refactor/cli-help.md
  docs/01-refactor/cli-restructure.md
  docs/01-refactor/cli-strategy.md
  docs/01-refactor/dependency-analysis.md
  docs/01-refactor/documentation.md
  docs/01-refactor/identity-extraction.md
  docs/01-refactor/import-aliases.md
  docs/01-refactor/importas-migration.md
  docs/01-refactor/kms-extraction.md
  docs/01-refactor/observability-updates.md
  docs/01-refactor/pipeline-impact.md
  docs/01-refactor/service-groups.md
  docs/01-refactor/shared-utilities.md
  docs/01-refactor/testing-validation.md
  docs/01-refactor/tooling.md
  docs/01-refactor/workflow-updates.md
Due: cspell

docs: archive identity v2 documentation
  docs/02-identityV2/IDENTITY-V2-DEMO.md
  docs/02-identityV2/P5.08-EVIDENCE.md
  docs/02-identityV2/PROJECT-STATUS.md
  docs/02-identityV2/REQUIREMENTS-COVERAGE.md
Due: cspell

docs: archive general stuff documentation
  docs/04-general-stuff/COMPLETION-ASSESSMENT.md
  docs/04-general-stuff/archive/task-17-gap-analysis-progress-HISTORICAL.md
  docs/04-general-stuff/archive/todos-database-schema-RESOLVED.md
  docs/04-general-stuff/config-priority-analysis.md
  docs/04-general-stuff/todos-development.md
  docs/04-general-stuff/todos-infrastructure.md
  docs/04-general-stuff/todos-observability.md
  docs/04-general-stuff/todos-quality.md
  docs/04-general-stuff/todos-security.md
  docs/04-general-stuff/todos-testing.md
  docs/04-general-stuff/transaction-rollback-investigation.md
Due: cspell

docs: archive ca documentation
  docs/ca/README.md
  docs/ca/charter.md
  docs/ca/threat-model.md
Due: cspell

docs: remove archive list
  docs/ARCHIVE-LIST.md
Due: cspell

docs: archive sprint documentation
  docs/sprints/2025-12-02-refactoring-sprint.md
  docs/sprints/2025-12-03-phase2-3-completion.md
Due: cspell

docs: move docker compose strategy
  docs/DOCKER-COMPOSE-STRATEGY.doc
Due: none

docs: archive speckit documentation
  docs/speckit/BEST-PRACTICES.md
  docs/speckit/passthru01/grooming/GROOMING-SESSION-01.md
  docs/speckit/passthru01/grooming/GROOMING-SESSION-02.md
  docs/speckit/passthru01/grooming/GROOMING-SESSION-03.md
  docs/speckit/passthru01/grooming/GROOMING-SESSION-04.md
  docs/speckit/passthru01/grooming/GROOMING-SESSION-05.md
  docs/speckit/passthru02/grooming/GROOMING-SESSION-01.md
  docs/speckit/passthru02/grooming/GROOMING-SESSION-02.md
  docs/speckit/passthru02/grooming/GROOMING-SESSION-03.md
  docs/speckit/passthru02/grooming/GROOMING-SESSION-04.md
  docs/speckit/passthru03/grooming/GROOMING-SESSION-01.md
  docs/speckit/passthru03/grooming/GROOMING-SESSION-02.md
  docs/speckit/passthru03/grooming/GROOMING-SESSION-03.md
  docs/speckit/passthru03/grooming/GROOMING-SESSION-04.md
  docs/speckit/passthru03/grooming/GROOMING-SESSION-05.md
  docs/speckit/passthru03/grooming/GROOMING-SESSION-06.md
Due: cspell

docs: remove completed ca tracking readme
  docs/ca/README.md
Due: cspell

docs: remove webauthn browser compatibility reference
  docs/webauthn/browser-compatibility.md
Due: cspell

docs(speckit): complete iteration 1 gap analysis and constitution improvements
  .specify/memory/constitution.md
  .specify/templates/commands/taskstoissues.md
  docs/REVIEW-TIME.md
  docs/SPECKIT-ITERATION-1-REVIEW.md
  docs/SPECKIT-PROGRESS.md
  internal/ca/api/handler/handler_test.go
  internal/kms/server/repository/sqlrepository/sql_comprehensive_coverage_test.go
  internal/kms/server/repository/sqlrepository/sql_settings_mapper_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(jose-server): add JOSE Authority Server skeleton and Iteration 2 specs
  .golangci.yml
  cmd/jose-server/main.go
  docs/SPECKIT-PROGRESS.md
  internal/common/config/config_test_util.go
  internal/common/magic/magic_network.go
  internal/identity/authz/client_authentication_flow_test.go
  internal/identity/authz/handlers_introspect_revoke_test.go
  internal/identity/authz/service.go
  internal/identity/authz/service_lifecycle_test.go
  internal/identity/integration/integration_test.go
  internal/jose/server/cmd/commands.go
  internal/jose/server/handlers.go
  internal/jose/server/keystore.go
  internal/jose/server/server.go
  specs/001-cryptoutil/ANALYSIS.md
  specs/001-cryptoutil/CHECKLIST-ITERATION-1.md
  specs/001-cryptoutil/CLARIFICATIONS.md
  specs/001-cryptoutil/plan.md
  specs/001-cryptoutil/spec.md
  specs/001-cryptoutil/tasks.md
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(jose-api): add OpenAPI 3.0.3 spec for JOSE Authority REST API
  api/jose/openapi_spec.yaml
Due: cspell

fix: update JOSE server components
  api/jose/openapi_spec.yaml
  internal/common/magic/magic_network.go
  internal/jose/server/cmd/commands.go
  internal/jose/server/handlers.go
  internal/jose/server/server.go
  internal/jose/server/server_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(jose): update JWK generation services and handlers
  internal/jose/jwkgen.go
  internal/jose/jwkgen_service.go
  internal/jose/jwkgen_service_test.go
  internal/jose/jws_jwk_util.go
  internal/jose/server/handlers.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

refactor(ca): move magic constants to dedicated magic package
  .vscode/cspell.json
  internal/ca/api/handler/handler_test.go
  internal/ca/bootstrap/bootstrap.go
  internal/ca/intermediate/intermediate.go
  internal/ca/magic/magic.go
  internal/ca/service/issuer/issuer.go
  internal/ca/service/revocation/revocation.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

chore: update cspell configuration
  .vscode/cspell.json
Due: cspell

fix: resolve cspell spelling errors and golangci-lint issues
  .vscode/cspell.json
  internal/identity/integration/test_helpers_test.go
  internal/jose/jwk_util.go
  internal/jose/jws_jwk_util.go
  internal/kms/server/businesslogic/businesslogic.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix: apply auto-formatting changes from pre-commit hooks
  internal/ca/api/handler/handler_test.go
  internal/ca/security/security.go
  internal/ca/security/security_test.go
  internal/identity/authz/handlers_multitenant_isolation_test.go
  internal/jose/server/handlers.go
  internal/jose/server/server_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix: disable cspell for base64 example in OpenAPI spec
  api/jose/openapi_spec.yaml
Due: cspell

chore(cspell): add missing word
  .vscode/cspell.json
Due: cspell

chore: update constitution
  .specify/memory/constitution.md
Due: cspell

chore(docs): slow packages
  docs/DELETE-ME-LATER-SLOW-TEST-PACKAGES.md
Due: cspell

docs: cross-reference analysis of speckit, copilot instructions, feature template
  docs/DELETE-ME-LATER-CROSS-REF-SPECKIT-COPILOT-TEMPLATE.md
Due: cspell

fix(ci): Fix ci-quality workflow failures
  .github/workflows/ci-quality.yml
  internal/ca/security/security_test.go
  internal/infra/realm/authenticator_test.go
  internal/infra/realm/realm_test.go
  internal/infra/realm/tenant_test.go
  internal/infra/tenant/tenant_test.go
  internal/kms/server/middleware/tenant_test.go
Due: github-workflow-lint, golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(speckit): Create Iteration 2 specs for JOSE Authority, CA Server, Unified Suite
  docs/SPECKIT-ITERATION-1-REVIEW.md
  specs/002-cryptoutil/plan.md
  specs/002-cryptoutil/spec.md
  specs/002-cryptoutil/tasks.md
Due: cspell

docs(speckit): Update Iteration 2 tasks with actual implementation status
  specs/002-cryptoutil/tasks.md
Due: cspell

feat(ca): implement certificate list, get, and chain handlers
  internal/ca/api/handler/handler.go
  internal/ca/api/handler/handler_test.go
  internal/ca/magic/magic.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(ca): implement CA-9 certificate revoke handler
  api/ca/models/models.gen.go
  api/ca/openapi_spec_enrollment.yaml
  api/ca/server/server.gen.go
  internal/ca/api/handler/handler.go
  internal/ca/api/handler/handler_test.go
  specs/002-cryptoutil/tasks.md
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(ca): implement CA-4/CA-5/CA-6 CA list, details, and CRL endpoints
  api/ca/models/models.gen.go
  api/ca/openapi_spec_enrollment.yaml
  api/ca/server/server.gen.go
  internal/ca/api/handler/handler.go
  internal/ca/magic/magic.go
  internal/ca/service/issuer/issuer.go
  specs/002-cryptoutil/tasks.md
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: update tasks.md with CA-4/CA-5/CA-6 status
  specs/002-cryptoutil/tasks.md
Due: cspell

test(ca): add handler tests for getKeyInfo, ptrString, ptrStringSlice
  internal/ca/api/handler/handler_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

Path conditions:
  github-workflow-lint: any of: \.github/workflows/.*\.(yml|yaml)$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.mod$
  check-todo-severity: any of: \.go$
  go-fix-all: any of: \.go$
  go-build: any of: \.go$|go\.mod$|go\.sum$
  cspell: any of: \.(md|txt|go|yaml|yml|json|js|ts|py|sh|ps1)$, but not: ^(test/|vendor/|\.git/|node_modules/|\.cache/)
