Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: github-workflow-lint, golangci-lint, go-mod-tidy, check-todo-severity, go-fix-all, go-build, cspell

Path conditions:
  github-workflow-lint: any of: \.github/workflows/.*\.(yml|yaml)$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.mod$
  check-todo-severity: any of: \.go$
  go-fix-all: any of: \.go$
  go-build: any of: \.go$|go\.mod$|go\.sum$
  cspell: any of: \.(md|txt|go|yaml|yml|json|js|ts|py|sh|ps1)$, but not: ^(test/|vendor/|\.git/|node_modules/|\.cache/)

test(jose-ja): add shutdown test for coverage (95.1%)
  internal/apps/jose/ja/server/server_integration_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: document Phase X coverage analysis and blockers
  specs/002-cryptoutil/implement/DETAILED.md
Due: cspell

docs: update DETAILED.md - Phase 3 & 4 marked complete
  specs/002-cryptoutil/implement/DETAILED.md
Due: cspell

style: fix errcheck, goconst, staticcheck, wsl, wrapcheck linting errors
  internal/apps/cipher/im/client/message_test.go
  internal/apps/cipher/im/server/apis/messages_test.go
  internal/apps/cipher/im/server/apis/sessions_test.go
  internal/apps/jose/ja/server/server_integration_test.go
  internal/apps/template/service/server/application.go
  internal/apps/template/service/server/barrier/barrier_service_test.go
  internal/apps/template/service/server/barrier/gorm_barrier_repository_test.go
  internal/apps/template/service/server/barrier/key_services_test.go
  internal/apps/template/service/server/server_coverage_test.go
  internal/apps/template/service/server/service/register_client_errors_test.go
  internal/apps/template/service/server/service/update_realm_errors_test.go
  internal/jose/server/server_newpaths_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: update EXECUTIVE.md with current phase status
  specs/002-cryptoutil/implement/EXECUTIVE.md
Due: cspell

docs: update DETAILED.md with phase verification status
  specs/002-cryptoutil/implement/DETAILED.md
Due: cspell

test: fix flaky tests by replacing time.Sleep with proper readiness polling
  internal/apps/cipher/im/http_test.go
  internal/apps/identity/rp/server/testmain_test.go
  internal/apps/template/service/server/public_server_base_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: add beast mode prompt and fix stopping behavior patterns
  .github/instructions/01-02.continuous-work.instructions.md
  .github/prompts/autonomous-execution.prompt.md
  .github/prompts/beast-mode-3.1.prompt.md
Due: cspell

docs(tasks): update status - Phase X incomplete, 4 test failures identified
  docs/fixes-needed-plan-tasks/fixes-needed-TASKS.md
Due: cspell

test(jose-repository): add comprehensive edge case tests for repository layer
  internal/apps/jose/ja/repository/additional_edge_cases_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(phase-x): document service coverage analysis and database error pattern
  specs/002-cryptoutil/implement/DETAILED.md
Due: cspell

docs(phase-x-y): update task status and document blockers
  docs/fixes-needed-plan-tasks/fixes-needed-TASKS.md
  specs/002-cryptoutil/implement/DETAILED.md
Due: cspell

docs(phase-x-y): comprehensive status verification and corrected blocker analysis
  specs/002-cryptoutil/implement/DETAILED.md
Due: cspell

docs(tasks): update X.2 cipher-im with Docker Desktop blocker details
  docs/fixes-needed-plan-tasks/fixes-needed-TASKS.md
Due: cspell

docs: document CA server test results - 13/19 passing (68% success)
  specs/002-cryptoutil/implement/DETAILED.md
Due: cspell

docs(docker): add Docker Desktop startup instructions for Windows and Linux
  .github/instructions/04-02.docker.instructions.md
Due: cspell

docs(tasks): remove Docker Desktop blocker, add workaround instructions
  docs/fixes-needed-plan-tasks/fixes-needed-TASKS.md
Due: cspell

docs(tasks): add Phase W for ServerBuilder bootstrap refactoring
  docs/fixes-needed-plan-tasks/fixes-needed-PLAN.md
  docs/fixes-needed-plan-tasks/fixes-needed-TASKS.md
Due: cspell

docs(architecture): add Phase W refactoring notes and UnsealKeysService
  .github/instructions/03-08.server-builder.instructions.md
  docs/arch/ARCHITECTURE.md
Due: cspell

refactor(service-template): move bootstrap logic to ApplicationCore
  internal/apps/ca/server/config/config_highcov_test.go
  internal/apps/ca/server/public_server_highcov_test.go
  internal/apps/ca/server/server_highcov_test.go
  internal/apps/cipher/im/test_03658b8c-823e-409d-b674-7440446dd7c6.db-journal
  internal/apps/cipher/im/test_d22ffc6a-9478-4a5c-bc73-16d06d330db7.db-journal
  internal/apps/template/service/server/application/application_core.go
  internal/apps/template/service/server/builder/server_builder.go
  specs/002-cryptoutil/implement/DETAILED.md
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(tasks): mark Phase W complete (9dc1641c)
  docs/fixes-needed-plan-tasks/fixes-needed-TASKS.md
Due: cspell

fix(template): correct migration ordering in ServerBuilder.Build()
  internal/apps/template/service/server/application/application_core.go
  internal/apps/template/service/server/builder/server_builder.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

refactor(kms): update application listener and template builder patterns
  cmd/cipher-im/docker-compose.yml
  docs/fixes-needed-plan-tasks/fixes-needed-TASKS.md
  internal/apps/template/service/server/application/application_core.go
  internal/apps/template/service/server/builder/server_builder.go
  internal/kms/server/application/application_listener.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(ca): fix CA server config tests for pflag global state limitations
  internal/apps/ca/server/config/config_highcov_test.go
  internal/apps/ca/server/server.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(ca): fix parallel execution race conditions and remove architecturally impossible test
  internal/apps/ca/server/config/config_highcov_test.go
  internal/apps/ca/server/public_server_highcov_test.go
  internal/apps/ca/server/server_highcov_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(jose): skip flaky rate limiting test due to shared server state
  internal/apps/ca/server/public_server_highcov_test.go
  internal/jose/server/server_newpaths_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

chore: remove coverage files and update ignore patterns
  .dockerignore
  .gitignore
  cipher_im_server_baseline
  cov
  cov_barrier.out
  cov_barrier2.out
  cov_businesslogic.out
  cov_config
  cov_integration_v9
  cov_listener.out
  cov_middleware
  cov_repo
  cov_repo.out
  cov_repo2.out
  cov_server
  cov_server.html
  cov_server.out
  cov_service
  cov_v9
  docs/DOCUMENTATION-META-ANALYSIS.md
  docs/PHASE-X-COMPREHENSIVE-ANALYSIS.md
  docs/PHASE-X-Y-BLOCKERS-SUMMARY.md
  docs/PHASE-X.1-COVERAGE-ANALYSIS.md
  docs/PHASE-X.1-FINAL-RESULTS.md
  v8
Due: cspell

build: optimize .dockerignore for faster Docker builds
  .dockerignore
Due: none

feat(cicd): add linter to reject unaliased cryptoutil imports
  internal/cmd/cicd/lint_go/lint_go.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(test): fix consent_expired test and Docker healthcheck
  .github/prompts/workflow-fixing.prompt.md
  deployments/identity/Dockerfile.idp
  internal/identity/repository/orm/consent_decision_repository.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: add maintenance session summary
  docs/maintenance-session-2026-01-23.md
Due: cspell

fix(ci): update .golangci.yml for v2.7.2 compatibility
  .golangci.yml
Due: cspell

fix: add package comment and rename unused parameter timeout to _
  internal/identity/process/manager.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix: resolve unused-parameter and staticcheck SA4010 issues
  internal/apps/jose/ja/repository/additional_edge_cases_test.go
  internal/apps/template/service/server/server_coverage_test.go
  internal/apps/template/service/server/service/approval_service_errors_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(format): replace interface{} with any per Go 1.18+ standard
  internal/apps/ca/server/public_server_highcov_test.go
  internal/apps/jose/ja/repository/material_jwk_repository.go
  internal/apps/jose/ja/server/apis/jwk_handler.go
  internal/apps/jose/ja/service/jwt_service.go
  internal/apps/jose/ja/service/jwt_service_test.go
  internal/apps/jose/ja/service/mapping_functions_test.go
  internal/apps/template/service/server/apis/registration_integration_test.go
  internal/apps/template/service/server/middleware/session_test.go
  internal/apps/template/service/server/middleware/session_uuid_parse_test.go
  internal/apps/template/service/server/realms/handlers_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(cicd): add exclusions for legitimate test patterns and bind addresses
  internal/cmd/cicd/lint_gotest/bindaddress.go
  internal/cmd/cicd/lint_gotest/testpatterns.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell
