Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: github-workflow-lint, golangci-lint, go-mod-tidy, check-todo-severity, go-fix-all, go-build, cspell

github-workflow-lint:
  name: GitHub workflow lint
  entry: go
  args:
  - run
  - cmd/cicd/main.go
  - github-workflow-lint
  language: system
  pass_filenames: false
  stages:
  - pre-push

golangci-lint:
  name: golangci-lint (incremental auto-fix)
  entry: golangci-lint
  args:
  - run
  - --fix
  - --timeout=30m
  - --new-from-rev=HEAD~1
  language: system
  pass_filenames: false
  stages:
  - pre-commit

go-mod-tidy:
  name: go mod tidy
  entry: go
  args:
  - mod
  - tidy
  language: system
  pass_filenames: false

check-todo-severity:
  name: Check TODO/FIXME severity (block CRITICAL/HIGH)
  entry: bash
  args:
  - -c
  ...

go-fix-all:
  name: Auto-fix Go issues (staticcheck, copyloopvar, thelper)
  entry: go
  args:
  - run
  - cmd/cicd/main.go
  - go-fix-all
  language: system
  pass_filenames: false
  stages:
  - pre-commit

go-build:
  name: go build
  entry: go
  args:
  - build
  - ./...
  language: system
  pass_filenames: false
  stages:
  - pre-push

cspell:
  name: Check spelling
  entry: cspell
  args:
  - --no-progress
  - --cache
  language: system

fix(ci): add postgres profile support to docker-compose-up action
  .github/actions/docker-compose-up/action.yml
  .github/workflows/ci-load.yml
Due: github-workflow-lint, cspell

docs: update progress tracking for P1.7 and P1.8 workflow fixes
  specs/001-cryptoutil/PROGRESS.md
  specs/001-cryptoutil/TASKS.md
Due: cspell

fix(lint): resolve critical linting errors before push
  internal/ca/api/handler/handler_error_paths_test.go
  internal/ca/api/handler/handler_tsa_test.go
  internal/common/crypto/digests/digests_property_test.go
  internal/common/crypto/keygen/keygen_property_test.go
  internal/common/util/network/http_test.go
  internal/identity/issuer/jwe_bench_test.go
  internal/identity/issuer/jws_bench_test.go
  internal/jose/alg_util_test.go
  internal/jose/jwe_message_util_test.go
  internal/jose/jwk_util_test.go
  internal/jose/jwkgen_service_coverage_test.go
  internal/jose/jwkgen_test.go
  internal/jose/jws_message_util_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(cspell): add missing technical terms to dictionary
  .cspell.json
Due: cspell

fix(lint): auto-fix wsl whitespace issues in jose tests
  internal/jose/alg_util_test.go
  internal/jose/jwk_util_test.go
  internal/jose/jws_message_util_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(lint): add nolint gosec G115 for property test modulo operations
  internal/common/crypto/keygen/keygen_property_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: update Session 3 progress with final commit summary
  specs/001-cryptoutil/PROGRESS.md
Due: cspell

fix(cspell): add goconst to dictionary
  .cspell.json
Due: cspell

chore: update docker-compose-up action
  .github/actions/docker-compose-up/action.yml
Due: cspell

chore: update .gitignore
  .gitignore
Due: none

chore: merge .cspell.json words into .vscode/cspell.json and remove root file
  .cspell.json
  .vscode/cspell.json
Due: cspell

test(kms): improve unsealkeysservice coverage 78.2 → 90.4% (P3.3)
  internal/kms/server/barrier/unsealkeysservice/unseal_keys_service_additional_coverage_test.go
  internal/kms/server/barrier/unsealkeysservice/unseal_keys_service_edge_cases_test.go
  internal/kms/server/barrier/unsealkeysservice/unseal_keys_service_error_paths_test.go
  internal/kms/server/barrier/unsealkeysservice/unseal_keys_service_from_settings_additional_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: update progress for P3.3 completion (unsealkeysservice 90.4%)
  specs/001-cryptoutil/PROGRESS.md
  specs/001-cryptoutil/TASKS.md
Due: cspell

test(identity): add audit comprehensive tests for userauth (P3.2 partial)
  internal/identity/idp/userauth/audit_comprehensive_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

chore(deps): sync go.mod dependencies (gopter direct, remove go-jose indirect)
  go.mod
  go.sum
Due: go-mod-tidy, go-build

docs(specs): update P3.2 partial progress and P1.8 go.mod drift resolution
  specs/001-cryptoutil/PROGRESS.md
  specs/001-cryptoutil/TASKS.md
Due: cspell

chore(lint): remove invalid audit test, add mofn to cspell dictionary
  .vscode/cspell.json
  internal/identity/idp/userauth/audit_comprehensive_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(specs): mark P1.8 ci-load complete (41/42 tasks, 97.6%)
  specs/001-cryptoutil/PROGRESS.md
  specs/001-cryptoutil/TASKS.md
Due: cspell

docs(specs): correct task count (32/42 not 41/42)
  specs/001-cryptoutil/PROGRESS.md
Due: cspell

docs(specs): session 3 final summary (P1.8 complete, P3.3 complete, 32/42 tasks)
  specs/001-cryptoutil/PROGRESS.md
Due: cspell

docs(cgo): enforce CGO ban except race detector (Go toolchain limitation)
  .github/copilot-instructions.md
  .github/instructions/01-03.golang.instructions.md
  .github/workflows/ci-race.yml
  .specify/memory/constitution.md
  docs/CGO-BAN-ENFORCEMENT.md
  internal/kms/server/barrier/unsealkeysservice/unseal_keys_service_additional_coverage_test.go
  specs/000-cryptoutil-template/spec.md
  specs/001-cryptoutil/PROGRESS.md
  specs/001-cryptoutil/TASKS.md
  specs/001-cryptoutil/spec.md
Due: github-workflow-lint, golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

Update dependencies
  go.mod
  go.sum
Due: go-mod-tidy, go-build

fix(ci): Fix ci-fuzz, ci-race, ci-e2e, ci-coverage workflow failures
  internal/common/crypto/keygen/keygen_property_test.go
  internal/common/magic/magic_testing.go
  internal/identity/idp/handlers_userinfo_claims_test.go
  internal/kms/server/repository/sqlrepository/sql_comprehensive_coverage_test.go
  internal/kms/server/repository/sqlrepository/sql_final_coverage_test.go
  internal/kms/server/repository/sqlrepository/sql_postgres_coverage_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(ci): Add comprehensive testing and Docker documentation
  .github/instructions/01-02.testing.instructions.md
  .github/instructions/02-02.docker.instructions.md
  docs/POSTGRES-TEST-STRATEGY-ANALYSIS.md
Due: cspell

fix(docs): Remove trailing whitespace from documentation files
  .github/instructions/02-02.docker.instructions.md
  docs/POSTGRES-TEST-STRATEGY-ANALYSIS.md
Due: cspell

fix(cicd): remove deprecated build tag format from property test
  internal/common/crypto/keygen/keygen_property_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(cicd): add -tags=fuzz flag to fuzz-test action
  .github/actions/fuzz-test/action.yml
Due: cspell

docs(session): comprehensive CI workflow fix session summary
  docs/SESSION-2025-12-09-CI-FIXES.md
Due: cspell

docs: Add CI fix session summary to SPECKIT-PROGRESS.md
  docs/SPECKIT-PROGRESS.md
Due: cspell

fix(cicd): correct PostgreSQL test expectations when connection succeeds
  internal/kms/server/repository/sqlrepository/sql_postgres_coverage_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(cicd): exclude cmd packages from coverage calculation (main packages without test requirements)
  .github/workflows/ci-coverage.yml
Due: github-workflow-lint, cspell

fix(cicd): lower coverage threshold to 75% temporarily (current state: 73.4%)
  .github/workflows/ci-coverage.yml
Due: github-workflow-lint, cspell

fix(cicd): lower coverage threshold to 73% (current: 73.4%)
  .github/workflows/ci-coverage.yml
Due: github-workflow-lint, cspell

fix(test): expect PostgreSQL connection errors in ci-race workflow
  docs/POSTGRES-TEST-STRATEGY-ANALYSIS.md
  docs/SESSION-2025-12-09-CI-FIXES.md
  internal/kms/server/repository/sqlrepository/sql_final_coverage_test.go
  internal/kms/server/repository/sqlrepository/sql_postgres_coverage_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(test): skip PostgreSQL tests when service unavailable
  internal/kms/server/repository/sqlrepository/sql_final_coverage_test.go
  internal/kms/server/repository/sqlrepository/sql_postgres_coverage_test.go
  specs/001-cryptoutil/PROGRESS.md
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(ca): eliminate race conditions in handler_comprehensive_test.go parallel tests
  internal/ca/api/handler/handler_comprehensive_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(progress): update P1.7 ci-race status - race conditions fixed
  specs/001-cryptoutil/PROGRESS.md
Due: cspell

docs(progress): mark P3.4 and P3.5 complete - already exceed targets
  specs/001-cryptoutil/PROGRESS.md
Due: cspell

docs(progress): mark Phase 1 COMPLETE - all 9 workflows passing
  specs/001-cryptoutil/PROGRESS.md
Due: cspell

feat(workflow): add ci-mutation workflow for gremlins testing on Linux
  .github/workflows/ci-mutation.yml
Due: github-workflow-lint, cspell

Path conditions:
  github-workflow-lint: any of: \.github/workflows/.*\.(yml|yaml)$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.mod$
  check-todo-severity: any of: \.go$
  go-fix-all: any of: \.go$
  go-build: any of: \.go$|go\.mod$|go\.sum$
  cspell: any of: \.(md|txt|go|yaml|yml|json|js|ts|py|sh|ps1)$, but not: ^(test/|vendor/|\.git/|node_modules/|\.cache/)
