Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-build, golangci-lint-full, golangci-lint, go-mod-tidy, check-todo-severity

Path conditions:
  go-build: any of: \.go$|go\.mod$|go\.sum$
  golangci-lint-full: any of: \.go$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.mod$
  check-todo-severity: any of: \.go$

docs: add AI training protection files (robots.txt, NOTICE, TERMS.md, TDM reservation)
  .well-known/tdm-reservation.txt
  NOTICE
  TERMS.md
  robots.txt
Due: none

chore(cspell): fix all 1432 lint errors, update ignorePaths and dictionaries
  .vscode/cspell.json
Due: none

style(digests): fix import grouping in pbkdf2 coverage test
  internal/shared/crypto/digests/pbkdf2_coverage_gaps_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

chore(cspell): remove 20 obsolete/typo words; fix 4 masked code typos (WebAauthn, initailize, proprietart, expecteded)
  .vscode/cspell.json
  internal/apps/identity-authz/handlers_webauthn.go
  internal/apps/sm-kms/server/application/application_basic.go
  internal/shared/apperr/http_status_line_and_code.go
  internal/shared/util/combinations/combinations_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(suggestions): refresh backlog — remove 17 completed, add 6 new findings from deep analysis
  docs/ARCHITECTURE-SUGGESTIONS.md
Due: none

fix(docs): fix stale section references after section 12 split
  .github/agents/fix-workflows.agent.md
  .github/agents/implementation-execution.agent.md
  .github/agents/implementation-planning.agent.md
  .github/instructions/02-01.architecture.instructions.md
  .github/instructions/02-05.security.instructions.md
  .github/instructions/03-01.coding.instructions.md
  .github/instructions/03-04.data-infrastructure.instructions.md
  .github/instructions/04-01.deployment.instructions.md
  .github/instructions/05-01.cross-platform.instructions.md
  .github/instructions/05-02.git.instructions.md
  .github/instructions/06-02.agent-format.instructions.md
  .github/skills/instruction-scaffold/SKILL.md
  .github/skills/propagation-check/SKILL.md
  docs/ARCHITECTURE-SUGGESTIONS.md
  docs/ARCHITECTURE.md
  docs/framework-v5/target-structure.md
  docs/framework-v6/plan.md
  docs/framework-v6/target-structure.md
  docs/framework-v6/tasks.md
  internal/apps/tools/cicd_lint/docs_validation/check_chunk_verification.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(propagation): add @propagate markers for SQLite-Barrier, test patterns, and update catalogs
  .github/instructions/03-02.testing.instructions.md
  .github/instructions/03-04.data-infrastructure.instructions.md
  docs/ARCHITECTURE.md
Due: none

fix(linter): enforce all 5 config overlay variants in deployment validation
  internal/apps/tools/cicd_lint/lint_deployments/lint_config_test.go
  internal/apps/tools/cicd_lint/lint_deployments/lint_deployments_test.go
  internal/apps/tools/cicd_lint/lint_deployments/validate_structure.go
  internal/apps/tools/cicd_lint/lint_deployments/validate_template_pattern.go
  internal/shared/magic/magic_cicd.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

test(magic): add regression tests for CICD cmd dir constants
  internal/shared/magic/magic_cicd_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(architecture): update action catalog, chunks table, anchor policy
  .github/instructions/02-01.architecture.instructions.md
  docs/ARCHITECTURE.md
Due: none

docs(architecture): categorize fitness catalog and fix admin linter docs
  docs/ARCHITECTURE.md
Due: none

docs(architecture): compress verbose sections for token savings
  docs/ARCHITECTURE.md
Due: none

docs(architecture): add cross-reference index for key topics
  docs/ARCHITECTURE.md
Due: none

feat(docs-validation): add multi-target @propagate syntax support
  docs/ARCHITECTURE.md
  internal/apps/tools/cicd_lint/docs_validation/validate_chunks.go
  internal/apps/tools/cicd_lint/docs_validation/validate_chunks_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(docs-validation): add display-text section number accuracy check
  internal/apps/tools/cicd_lint/docs_validation/validate_propagation.go
  internal/apps/tools/cicd_lint/docs_validation/validate_propagation_test.go
  internal/shared/magic/magic_cicd.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(docs-validation): add propagation-coverage sub-command
  .gitignore
  internal/apps/tools/cicd_lint/docs_validation/propagation_coverage.go
  internal/apps/tools/cicd_lint/docs_validation/propagation_coverage_test.go
  internal/apps/tools/cicd_lint/lint_docs/lint_docs.go
  internal/apps/tools/cicd_lint/lint_docs/propagation_coverage/propagation_coverage.go
  internal/apps/tools/cicd_lint/lint_docs/propagation_coverage/propagation_coverage_test.go
  internal/shared/magic/magic_percent.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(lint-fitness): add infra-tool-naming linter
  internal/apps/tools/cicd_lint/lint_fitness/infra_tool_naming/infra_tool_naming.go
  internal/apps/tools/cicd_lint/lint_fitness/infra_tool_naming/infra_tool_naming_test.go
  internal/apps/tools/cicd_lint/lint_fitness/lint_fitness.go
  internal/shared/magic/magic_cicd.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(lint-fitness): add magic-constant-location linter
  internal/apps/tools/cicd_lint/lint_fitness/lint_fitness.go
  internal/apps/tools/cicd_lint/lint_fitness/magic_constant_location/magic_constant_location.go
  internal/apps/tools/cicd_lint/lint_fitness/magic_constant_location/magic_constant_location_test.go
  internal/shared/magic/magic_cicd.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(agents): add security-audit, coverage-boost, dependency-update agents
  .github/agents/coverage-boost.agent.md
  .github/agents/dependency-update.agent.md
  .github/agents/security-audit.agent.md
  docs/ARCHITECTURE.md
Due: none

feat(skills): add deployment-gen, secret-gen, api-handler skills
  .github/copilot-instructions.md
  .github/skills/README.md
  .github/skills/api-handler/SKILL.md
  .github/skills/deployment-gen/SKILL.md
  .github/skills/secret-gen/SKILL.md
  docs/ARCHITECTURE.md
Due: none

chore(docs): remove ARCHITECTURE-SUGGESTIONS.md (all suggestions implemented)
  docs/ARCHITECTURE-SUGGESTIONS.md
Due: none

build(deps): update pre-commit hook versions (ruff, checkov, sqlfluff)
  .pre-commit-config.yaml
Due: none

build(deps): update modernc.org/sqlite v1.47.0 -> v1.48.0
  go.mod
  go.sum
Due: go-build, go-mod-tidy

revert: remove 3 agents and 3 skills added in error
  .github/agents/coverage-boost.agent.md
  .github/agents/dependency-update.agent.md
  .github/agents/security-audit.agent.md
  .github/copilot-instructions.md
  .github/skills/README.md
  .github/skills/api-handler/SKILL.md
  .github/skills/deployment-gen/SKILL.md
  .github/skills/secret-gen/SKILL.md
  docs/ARCHITECTURE.md
  internal/apps/tools/cicd_lint/lint_deployments/lint_config_test.go
  internal/apps/tools/cicd_lint/lint_deployments/lint_deployments_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(architecture): fix secret encoding notation and add browser/service credential patterns
  docs/ARCHITECTURE.md
Due: none

feat(tooling): add secret-content fitness sublinter for deployment secret validation
  internal/apps/tools/cicd_lint/lint_fitness/lint_fitness.go
  internal/apps/tools/cicd_lint/lint_fitness/secret_content/secret_content.go
  internal/apps/tools/cicd_lint/lint_fitness/secret_content/secret_content_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(secrets): standardize random bytes format to {base64-random-32-bytes}
  .github/instructions/02-05.security.instructions.md
  .github/instructions/04-01.deployment.instructions.md
  docs/ARCHITECTURE.md
  docs/framework-v6/plan.md
  docs/framework-v6/target-structure.md
  docs/framework-v6/tasks.md
Due: none

fix(security): update trivy-action from 0.33.1 to v0.35.0 (CVE-2026-26189)
  .github/actions/security-scan-trivy2/action.yml
Due: none

docs: consolidate ongoing docs into framework-v7, delete completed iterations
  docs/LESSONS/details.md
  docs/LESSONS/summary.md
  docs/framework-brainstorm/00-overview.md
  docs/framework-brainstorm/01-current-state-analysis.md
  docs/framework-brainstorm/02-cross-language-frameworks.md
  docs/framework-brainstorm/03-go-framework-patterns.md
  docs/framework-brainstorm/04-framework-design.md
  docs/framework-brainstorm/05-skeleton-scaffolding.md
  docs/framework-brainstorm/06-solo-developer-scaling.md
  docs/framework-brainstorm/07-fitness-functions.md
  docs/framework-brainstorm/08-recommendations.md
  docs/framework-brainstorm/lessons.md
  docs/framework-brainstorm/plan.md
  docs/framework-brainstorm/tasks.md
  docs/framework-v3/checklist.md
  docs/framework-v3/lessons.md
  docs/framework-v3/plan.md
  docs/framework-v3/tasks.md
  docs/framework-v4/lessons.md
  docs/framework-v4/plan.md
  docs/framework-v4/tasks.md
  docs/framework-v5/lessons.md
  docs/framework-v5/plan.md
  docs/framework-v5/target-structure.md
  docs/framework-v5/tasks.md
  docs/framework-v6/lessons.md
  docs/framework-v6/plan.md
  docs/framework-v6/tasks.md
  docs/framework-v7/README.md
  docs/framework-v7/gremlins/MUTATIONS-HOWTO.md
  docs/framework-v7/gremlins/MUTATIONS-TASKS.md
  docs/framework-v7/gremlins/mutation-analysis.md
  docs/framework-v7/gremlins/mutation-baseline-results.md
  docs/framework-v7/target-structure.md
  docs/framework-v7/workflow-runtimes/GITHUB-STORAGE-CLEANUP.md
  docs/framework-v7/workflow-runtimes/README.md
Due: none

feat(tooling): add lint-openapi and lint-security cicd-lint commands
  .github/workflows/ci-quality.yml
  .pre-commit-config.yaml
  api/identity-authz/openapi-gen_config.yaml
  api/identity-authz/openapi-gen_config_models.yaml
  api/identity-idp/openapi-gen_config.yaml
  api/identity-rs/openapi-gen_config.yaml
  api/jose-ja/openapi-gen_config_client.yaml
  api/jose-ja/openapi-gen_config_models.yaml
  api/pki-ca/openapi-gen_config_models.yaml
  api/skeleton-template/openapi-gen_config_client.yaml
  api/skeleton-template/openapi-gen_config_models.yaml
  api/sm-im/openapi-gen_config_client.yaml
  api/sm-im/openapi-gen_config_models.yaml
  internal/apps/jose-ja/repository/audit_repository.go
  internal/apps/tools/cicd_lint/cicd.go
  internal/apps/tools/cicd_lint/cicd_test.go
  internal/apps/tools/cicd_lint/lint_fitness/non_fips_algorithms/non_fips_algorithms.go
  internal/apps/tools/cicd_lint/lint_openapi/codegen_config/codegen_config.go
  internal/apps/tools/cicd_lint/lint_openapi/codegen_config/codegen_config_test.go
  internal/apps/tools/cicd_lint/lint_openapi/lint_openapi.go
  internal/apps/tools/cicd_lint/lint_openapi/lint_openapi_test.go
  internal/apps/tools/cicd_lint/lint_openapi/openapi_version/openapi_version.go
  internal/apps/tools/cicd_lint/lint_openapi/openapi_version/openapi_version_test.go
  internal/apps/tools/cicd_lint/lint_security/banned_imports/banned_imports.go
  internal/apps/tools/cicd_lint/lint_security/banned_imports/banned_imports_test.go
  internal/apps/tools/cicd_lint/lint_security/lint_security.go
  internal/apps/tools/cicd_lint/lint_security/lint_security_test.go
  internal/shared/magic/magic_cicd.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(tooling): standardize secret naming in deployment content validator
  internal/apps/tools/cicd_lint/lint_deployments/lint_required_contents_deployments.go
  internal/apps/tools/cicd_lint/lint_deployments/lint_required_contents_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(tooling): add yamlfmt YAML formatter and migrate pip to uvx
  .editorconfig
  .pre-commit-config.yaml
  .yamlfmt
  README.md
  docs/DEV-SETUP.md
Due: none

fix(docs): correct service counts and implementation status in compose.yml and ARCHITECTURE.md
  deployments/cryptoutil-suite/compose.yml
  docs/ARCHITECTURE.md
Due: none

docs: rewrite target-structure.md to remove completed work and sync with current state
  docs/framework-v7/target-structure.md
Due: none

fix(cicd): detect junk directories at project root in root-junk-detection fitness linter
  internal/apps/tools/cicd_lint/lint_fitness/root_junk_detection/root_junk_detection.go
  internal/apps/tools/cicd_lint/lint_fitness/root_junk_detection/root_junk_detection_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs: update gremlins mutation analysis — all HIGH mutations already killed
  docs/framework-v7/gremlins/mutation-analysis.md
  internal/apps/jose-ja/repository/audit_repository_list_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

ci: add scheduled GitHub Actions storage cleanup workflow
  .github/workflows/ci-github-cleanup.yml
Due: none

fix(tooling): improve cicd-lint error messages with file:line locations and remediation guidance
  internal/apps/tools/cicd_lint/lint_compose/docker_secrets/docker_secrets.go
  internal/apps/tools/cicd_lint/lint_go_mod/outdated_deps/outdated_deps.go
  internal/apps/tools/cicd_lint/lint_gotest/require_over_assert/require_over_assert.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor: standardize service/product ordering to canonical order
  .air.toml
  .github/workflows/ci-github-cleanup.yml
  .vscode/launch.json
  deployments/cryptoutil/compose.yml
  docs/framework-v7/target-structure.md
  internal/apps/sm/sm.go
  internal/apps/tools/cicd_lint/lint_deployments/lint_required_contents_test.go
  internal/apps/tools/cicd_lint/lint_deployments/validate_deployments.go
  internal/apps/tools/cicd_lint/lint_fitness/product_wiring/product_wiring.go
  internal/apps/tools/cicd_lint/lint_fitness/registry/registry.go
  internal/apps/tools/cicd_lint/lint_fitness/require_api_dir/require_api_dir.go
  internal/apps/tools/cicd_lint/lint_fitness/service_structure/service_structure.go
  internal/apps/tools/cicd_lint/lint_ports/common/common.go
  internal/apps/tools/cicd_lint/lint_ports/common/common_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity
