Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, go-mod-tidy, go-build, cspell

golangci-lint:
  name: golangci-lint (incremental auto-fix)
  entry: golangci-lint
  args:
  - run
  - --fix
  - --timeout=30m
  - --new-from-rev=HEAD~1
  language: system
  pass_filenames: false
  stages:
  - pre-commit

go-mod-tidy:
  name: go mod tidy
  entry: go
  args:
  - mod
  - tidy
  language: system
  pass_filenames: false

go-build:
  name: go build
  entry: go
  args:
  - build
  - ./...
  language: system
  pass_filenames: false
  stages:
  - pre-push

cspell:
  name: Check spelling
  entry: cspell
  args:
  - --no-progress
  - --cache
  language: system

feat(identity): complete task 10.5 - authz/idp core oauth 2.1 endpoints
  docs/02-identityV2/oauth-flow-implementation.md
  internal/identity/authz/handlers_authorize.go
Due: golangci-lint, go-build, cspell

docs(identity): update task 10.5 reflection with completion status
  docs/02-identityV2/task-10.5-authz-idp-endpoints.md
Due: cspell

docs(identity): mark task 10.5 complete in master plan
  docs/02-identityV2/identityV2_master.md
Due: cspell

fix(identity): add GORM column tags for schema compatibility
  internal/identity/domain/client_profile.go
  internal/identity/domain/user.go
Due: golangci-lint, go-build, cspell

docs(identity): document remaining database schema issues
  docs/03-mixed/todos-database-schema.md
Due: cspell

docs(copilot): strengthen anti-pattern rules to prevent stopping
  .github/copilot-instructions.md
Due: cspell

fix(identity): add column tag for MTLSDomains field
  internal/identity/domain/auth_profile.go
Due: golangci-lint, go-build, cspell

fix(identity): resolve database schema mismatches and test isolation issues
  internal/identity/domain/session.go
  internal/identity/repository/migrations/0001_init.up.sql
  internal/identity/storage/tests/crud_test.go
  internal/identity/storage/tests/transaction_test.go
Due: golangci-lint, go-build, cspell

test(identity): investigate transaction rollback behavior and shared in-memory database
  internal/identity/storage/tests/crud_test.go
  internal/identity/storage/tests/transaction_test.go
Due: golangci-lint, go-build, cspell

docs: update database schema issues status with transaction isolation investigation
  docs/03-mixed/todos-database-schema.md
Due: cspell

docs: fix markdown linting errors in todos-database-schema.md
  docs/03-mixed/todos-database-schema.md
Due: cspell

docs: add comprehensive transaction rollback investigation document
  docs/03-mixed/transaction-rollback-investigation.md
Due: cspell

fix(identity): resolve database pollution and test transaction rollback failure
  internal/identity/repository/database.go
  internal/identity/storage/tests/crud_test.go
Due: golangci-lint, go-build, cspell

feat(identity): identify root cause of SQLite transaction rollback failure
  docs/03-mixed/transaction-rollback-investigation.md
  internal/identity/domain/session.go
  internal/identity/repository/database.go
  internal/identity/repository/factory.go
  internal/identity/repository/orm/client_repository.go
  internal/identity/repository/orm/user_repository.go
  internal/identity/storage/tests/transaction_test.go
Due: golangci-lint, go-build, cspell

fix(identity): skip SQLite rollback test due to connection pool limitation
  internal/identity/storage/tests/transaction_test.go
Due: golangci-lint, go-build, cspell

docs(identity): mark task 10.5 complete with exit criteria checklist
  docs/02-identityV2/task-10.5-authz-idp-endpoints.md
Due: cspell

feat(identity): create unified identity CLI skeleton with Cobra
  cmd/identity/command_health.go
  cmd/identity/command_logs.go
  cmd/identity/command_start.go
  cmd/identity/command_status.go
  cmd/identity/command_stop.go
  cmd/identity/command_test_runner.go
  cmd/identity/main.go
  cmd/identity/mock_identity_services_BACKUP.go.txt
  go.mod
  go.sum
Due: golangci-lint, go-mod-tidy, go-build, cspell

feat(identity): add profile configurations for unified CLI
  configs/identity/profiles/authz-idp.yml
  configs/identity/profiles/authz-only.yml
  configs/identity/profiles/ci.yml
  configs/identity/profiles/demo.yml
  configs/identity/profiles/full-stack.yml
Due: cspell

fix(copilot): strengthen anti-pattern rules with specific violations
  .github/copilot-instructions.md
Due: cspell

feat(identity): add profile configuration loading with YAML parsing
  internal/identity/config/profile.go
  internal/identity/config/profile_test.go
Due: golangci-lint, go-build, cspell

feat(identity): integrate profile loading into start command
  cmd/identity/command_start.go
Due: golangci-lint, go-build, cspell

feat(identity): add process manager for service lifecycle
  internal/identity/process/manager.go
  internal/identity/process/manager_test.go
Due: golangci-lint, go-build, cspell

feat(identity): add health check poller with exponential backoff
  internal/identity/healthcheck/poller.go
  internal/identity/healthcheck/poller_test.go
Due: golangci-lint, go-build, cspell

feat(identity): implement service startup logic in start command
  cmd/identity/command_start.go
Due: golangci-lint, go-build, cspell

feat(identity): implement stop and status commands
  cmd/identity/command_status.go
  cmd/identity/command_stop.go
Due: golangci-lint, go-build, cspell

feat(identity): implement health, logs, and test commands
  cmd/identity/command_health.go
  cmd/identity/command_logs.go
  cmd/identity/command_start.go
  cmd/identity/command_test_runner.go
Due: golangci-lint, go-build, cspell

docs(identity): update task 10.6 exit criteria with progress
  docs/02-identityV2/task-10.6-unified-cli.md
Due: cspell

feat(identity): replace hard-coded configs with YAML loading in service binaries
  cmd/identity/authz/main.go
  cmd/identity/idp/main.go
  cmd/identity/rs/main.go
Due: golangci-lint, go-build, cspell

feat(identity): add individual service config files for standalone use
  configs/identity/authz.yml
  configs/identity/idp.yml
  configs/identity/rs.yml
Due: cspell

fix(identity): use service-specific config files in start command
  cmd/identity/command_start.go
Due: golangci-lint, go-build, cspell

docs(identity): update task 10.6 exit criteria and completion status
  docs/02-identityV2/task-10.6-unified-cli.md
Due: cspell

docs(identity): add unified-cli-guide and README quick start section
  README.md
  docs/02-identityV2/unified-cli-guide.md
Due: cspell

docs(identity): mark task 10.6 documentation complete
  docs/02-identityV2/task-10.6-unified-cli.md
Due: cspell

feat(identity): create OpenAPI specs for AuthZ, IdP, and RS services
  api/identity/openapi_spec_authz.yaml
  api/identity/openapi_spec_idp.yaml
  api/identity/rs/openapi.yaml
Due: cspell

feat(identity): configure oapi-codegen for identity service clients
  api/identity/authz/openapi_gen_client.go
  api/identity/generate.go
  api/identity/idp/openapi_gen_client.go
  api/identity/openapi-gen_config_authz.yaml
  api/identity/openapi-gen_config_idp.yaml
  api/identity/openapi-gen_config_models.yaml
  api/identity/openapi-gen_config_rs.yaml
  api/identity/openapi_spec_authz.yaml
  api/identity/openapi_spec_components.yaml
  api/identity/rs/openapi_gen_client.go
Due: golangci-lint, go-build, cspell

feat(identity): add Swagger UI OpenAPI spec endpoints for all services
  internal/identity/authz/routes.go
  internal/identity/authz/swagger.go
  internal/identity/idp/routes.go
  internal/identity/idp/swagger.go
  internal/identity/rs/service.go
  internal/identity/rs/swagger.go
Due: golangci-lint, go-build, cspell

feat(identity): add contract tests using kin-openapi validation
  internal/identity/authz/authz_contract_test.go
  internal/identity/idp/idp_contract_test.go
  internal/identity/rs/rs_contract_test.go
Due: golangci-lint, go-build, cspell

feat(identity): complete Task 10.7 - OpenAPI synchronization and validation
  README.md
  api/identity/openapi_spec_authz.yaml
  docs/02-identityV2/openapi-guide.md
  internal/identity/authz/authz_contract_test.go
  internal/identity/idp/idp_contract_test.go
  internal/identity/rs/rs_contract_test.go
Due: golangci-lint, go-build, cspell

feat(identity): add replay prevention to MFA factor validation
  internal/identity/domain/mfa_factor.go
  internal/identity/idp/auth/mfa.go
Due: golangci-lint, go-build, cspell

feat(identity): add OTLP telemetry to MFAOrchestrator
  internal/identity/idp/auth/mfa.go
  internal/identity/idp/auth/mfa_telemetry.go
Due: golangci-lint, go-build, cspell

Path conditions:
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.mod$
  go-build: any of: \.go$|go\.mod$|go\.sum$
  cspell: any of: \.(md|txt|go|yaml|yml|json|js|ts|py|sh|ps1)$, but not: ^(test/|vendor/|\.git/|node_modules/|\.cache/)
