Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: github-workflow-lint, golangci-lint, go-mod-tidy, check-todo-severity, go-fix-all, go-build, cspell

Path conditions:
  github-workflow-lint: any of: \.github/workflows/.*\.(yml|yaml)$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.mod$
  check-todo-severity: any of: \.go$
  go-fix-all: any of: \.go$
  go-build: any of: \.go$|go\.mod$|go\.sum$
  cspell: any of: \.(md|txt|go|yaml|yml|json|js|ts|py|sh|ps1)$, but not: ^(test/|vendor/|\.git/|node_modules/|\.cache/)

test(jose): Add JWT verify without KID (tests key loop) (86.1%→87.2% coverage)
  internal/jose/server/server_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(specs): Update P2.1 JOSE coverage 80.3%→87.2% (+6.9%, now need +7.8% for 95%)
  specs/001-cryptoutil/PROGRESS.md
Due: cspell

docs(specs): Update P2.1 final session status - 88.7% coverage (+19.8% total), need +6.3% for 95%
  specs/001-cryptoutil/PROGRESS.md
Due: cspell

fix(e2e): Create deployments/compose/compose.yml for E2E tests
  deployments/compose/compose.yml
Due: cspell

fix(e2e): Add --profile postgres to start all 3 KMS instances
  internal/test/e2e/docker_utils.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(specs): Update P1.5 ci-e2e complete, progress 29.5/42 (70.2%)
  specs/001-cryptoutil/PROGRESS.md
Due: cspell

fix(cicd): Fix cryptoutil binary name in ci-dast workflow
  .github/workflows/ci-dast.yml
Due: github-workflow-lint, cspell

docs(specs): Update P1.6 ci-dast complete, progress 30.5/42 (72.6%)
  specs/001-cryptoutil/PROGRESS.md
Due: cspell

fix(tests): Fix race detector issues in CA handler, CICD logger, and KMS transaction tests
  .cspell.json
  .specify/memory/constitution.md
  deployments/compose/compose.yml
  internal/ca/api/handler/handler_comprehensive_test.go
  internal/cmd/cicd/common/logger_test.go
  internal/jose/server/server_test.go
  internal/kms/server/repository/sqlrepository/sql_migrations_transactions_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(compose): correct Docker secret paths for load testing
  .cspell.json
  deployments/compose/compose.yml
Due: cspell

fix(P1.9): SAST workflow - fix jq alternative operator syntax
  .cspell.json
  .github/workflows/ci-sast.yml
  .specify/memory/constitution.md
Due: github-workflow-lint, cspell

fix(P1.10): coverage - fix negative tests to use invalid credentials
  .cspell.json
  internal/kms/server/repository/sqlrepository/sql_final_coverage_test.go
  internal/kms/server/repository/sqlrepository/sql_repository_errors_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

chore(ci): upgrade Go 1.25.4 → 1.25.5 to resolve crypto/x509 vulnerabilities
  .cspell.json
  .github/actions/go-setup/action.yml
  .github/actions/workflow-job-begin/action.yml
  .github/copilot-instructions.md
  .github/instructions/01-03.golang.instructions.md
  .github/workflows/ci-e2e.yml
  .github/workflows/ci-identity-validation.yml
  .github/workflows/ci-load.yml
  .github/workflows/release.yml
  go.mod
  internal/kms/server/repository/sqlrepository/sql_final_coverage_test.go
Due: github-workflow-lint, golangci-lint, go-mod-tidy, check-todo-severity, go-fix-all, go-build, cspell

fix(ci): update Dockerfiles Go 1.25.4 → 1.25.5
  deployments/ca/Dockerfile.ca-server
  deployments/ca/compose/Dockerfile.ca
  deployments/ca/compose/Dockerfile.ocsp
  deployments/identity/Dockerfile.authz
  deployments/identity/Dockerfile.idp
  deployments/identity/Dockerfile.rs
  deployments/identity/Dockerfile.spa
  deployments/jose/Dockerfile.jose
  deployments/kms/Dockerfile.kms
Due: none

fix(compose): use healthcheck sidecar for otel-collector dependencies
  deployments/compose.integration.yml
  deployments/compose/compose.yml
Due: cspell

fix(e2e): use COMPOSE_PROFILES env instead of --profile flag for Docker Compose v1 compat
  internal/test/e2e/docker_utils.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(e2e): increase Docker health check timeout 120s → 180s for otel sidecar
  internal/common/magic/magic_testing.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(e2e): add missing config volume mounts to compose.yml
  deployments/compose/compose.yml
Due: cspell

fix(e2e): use multi-line YAML command format
  deployments/compose/compose.yml
Due: cspell

fix(e2e): change server command to kms product
  deployments/compose/compose.yml
Due: cspell

docs (README.md): Add new Introduction and Background
  README.md
Due: cspell

fix(e2e): add telemetry-network to cryptoutil services for OTEL communication
  deployments/compose/compose.yml
Due: cspell

fix(copilot): add explicit token budget calculation examples to prevent math errors
  .github/copilot-instructions.md
Due: cspell

fix(e2e): correct health check path to /admin/v1/livez for all KMS services
  deployments/compose/compose.yml
Due: cspell

fix(e2e): disable ReadOnly transactions for PostgreSQL compatibility
  internal/kms/server/barrier/intermediatekeysservice/intermediate_keys_service.go
  internal/kms/server/barrier/rootkeysservice/root_keys_service.go
  internal/kms/server/repository/sqlrepository/sql_transaction.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

chore: add barrier service terms to cspell dictionary
  .cspell.json
Due: cspell

fix(e2e): handle ErrRecordNotFound in barrier initialization transactions
  internal/kms/server/barrier/intermediatekeysservice/intermediate_keys_service.go
  internal/kms/server/barrier/rootkeysservice/root_keys_service.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(e2e): add wget to Alpine runtime-deps and correct healthcheck binary path
  deployments/kms/Dockerfile.kms
Due: none

chore: update deps
  go.mod
  go.sum
Due: go-mod-tidy, go-build

fix: update Go version from 1.25.4 to 1.25.5, fix workflow syntax errors
  .github/workflows/ci-identity-validation.yml
  .github/workflows/release.yml
  .specify/templates/commands/plan.md
  README.md
  docs/DEMO-GUIDE.md
  docs/DEV-SETUP.md
  docs/feature-template/usage-example.md
  internal/cmd/cicd/format_go/copyloopvar.go
  internal/cmd/cicd/format_go/format_go_test.go
  internal/cmd/cicd/lint_go_mod/lint_go_mod_test.go
  specs/000-cryptoutil-template/README.md
  specs/000-cryptoutil-template/plan.md
Due: github-workflow-lint, golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix: restore HTTPS health checks for identity services (regression from HTTP)
  .github/workflows/ci-dast.yml
  deployments/identity/compose.simple.yml
  deployments/identity/compose.yml
Due: github-workflow-lint, cspell

docs: clarify dual HTTPS architecture for all services (public + private endpoints)
  .github/copilot-instructions.md
  .specify/memory/constitution.md
Due: cspell

chore: add cspell words for dual HTTPS architecture terms
  .cspell.json
Due: cspell

docs: add service architecture section to 001-cryptoutil plan
  specs/001-cryptoutil/PLAN.md
Due: cspell

chore: add cspell words
  .cspell.json
Due: cspell

fix(e2e): increase PostgreSQL KMS healthcheck start_period from 10s to 30s
  deployments/compose/compose.yml
Due: cspell

fix(dast): change private admin endpoint from HTTP to HTTPS
  .github/workflows/ci-dast.yml
Due: github-workflow-lint, cspell

perf(sqlrepository): add t.Parallel() to 7 transaction tests
  internal/kms/server/repository/sqlrepository/sql_provider_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

perf(sqlrepository): add t.Parallel() to 7 transaction tests
  .cspell.json
  internal/kms/server/repository/sqlrepository/sql_provider_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

perf(sqlrepository): add t.Parallel() to 21 test functions in 4 files
  internal/kms/server/repository/sqlrepository/sql_error_paths_test.go
  internal/kms/server/repository/sqlrepository/sql_provider_edge_cases_test.go
  internal/kms/server/repository/sqlrepository/sql_repository_errors_test.go
  internal/kms/server/repository/sqlrepository/sql_transaction_edge_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell
