Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-build, golangci-lint-full, golangci-lint, go-mod-tidy, check-todo-severity

go-build:
  name: go build
  entry: go
  args:
  - build
  - ./...
  language: system
  pass_filenames: false
  require_serial: true
  stages:
  - pre-push

golangci-lint-full:
  name: golangci-lint (full validation)
  entry: golangci-lint
  args:
  - run
  - --timeout=30m
  language: system
  pass_filenames: false
  stages:
  - pre-push

golangci-lint:
  name: golangci-lint (incremental auto-fix)
  entry: golangci-lint
  args:
  - run
  - --fix
  - --timeout=30m
  - --new-from-rev=HEAD~1
  language: system
  pass_filenames: false
  require_serial: false
  stages:
  - pre-commit

go-mod-tidy:
  name: go mod tidy
  entry: go
  args:
  - mod
  - tidy
  language: system
  pass_filenames: false

check-todo-severity:
  name: Check TODO/FIXME severity (block CRITICAL/HIGH)
  entry: bash
  args:
  - -c
  ...

docs(framework-v10): apply quizme-v2 answers, create quizme-v3
  docs/ENG-HANDBOOK.md
  docs/framework-v10/plan.md
  docs/framework-v10/quizme-v2.md
  docs/framework-v10/quizme-v3.md
  docs/framework-v10/tasks.md
Due: none

docs(framework-v10): apply quizme-v3 answers, create quizme-v4
  docs/framework-v10/plan.md
  docs/framework-v10/quizme-v3.md
  docs/framework-v10/quizme-v4.md
  docs/framework-v10/tasks.md
Due: none

docs(framework-v10): apply quizme-v4 answers to plan.md and tasks.md
  docs/framework-v10/plan.md
  docs/framework-v10/tasks.md
Due: none

fix(agents): add quizme quality gates and deployment invariants
  .claude/agents/implementation-planning.md
  .github/agents/implementation-planning.agent.md
  .github/instructions/04-01.deployment.instructions.md
Due: none

docs(framework-v10): fix consistency gaps and delete quizme-v4
  docs/framework-v10/plan.md
  docs/framework-v10/quizme-v4.md
  docs/framework-v10/tasks.md
Due: none

feat(registry): update entrypoints to tini-only, add init_ps_id/shared_services/infra_tools
  api/cryptosuite-registry/registry.yaml
  deployments/cryptoutil/Dockerfile
  deployments/identity-authz/Dockerfile
  deployments/identity-idp/Dockerfile
  deployments/identity-rp/Dockerfile
  deployments/identity-rs/Dockerfile
  deployments/identity-spa/Dockerfile
  deployments/jose-ja/Dockerfile
  deployments/pki-ca/Dockerfile
  deployments/skeleton-template/Dockerfile
  deployments/sm-im/Dockerfile
  deployments/sm-kms/Dockerfile
  docs/framework-v10/tasks.md
  internal/apps/tools/cicd_lint/lint_fitness/registry/derivations_test.go
  internal/apps/tools/cicd_lint/lint_fitness/template_drift/templates/Dockerfile.tmpl
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(tls): rewrite pki-init with pflag --domain/--output-dir flags
  docs/framework-v10/tasks.md
  internal/apps/framework/tls/init.go
  internal/apps/framework/tls/init_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(secrets): update all postgres-url.secret hostnames to shared-postgres-leader:5432
  deployments/cryptoutil/secrets/postgres-url.secret
  deployments/identity-authz/secrets/postgres-url.secret
  deployments/identity-idp/secrets/postgres-url.secret
  deployments/identity-rp/secrets/postgres-url.secret
  deployments/identity-rs/secrets/postgres-url.secret
  deployments/identity-spa/secrets/postgres-url.secret
  deployments/identity/secrets/postgres-url.secret
  deployments/jose-ja/secrets/postgres-url.secret
  deployments/jose/secrets/postgres-url.secret
  deployments/pki-ca/secrets/postgres-url.secret
  deployments/pki/secrets/postgres-url.secret
  deployments/skeleton-template/secrets/postgres-url.secret
  deployments/skeleton/secrets/postgres-url.secret
  deployments/sm-im/secrets/postgres-url.secret
  deployments/sm-kms/secrets/postgres-url.secret
  deployments/sm/secrets/postgres-url.secret
  docs/ENG-HANDBOOK.md
  docs/framework-v10/tasks.md
  internal/apps/tools/cicd_lint/lint_fitness/secret_content/secret-schemas.yaml
  internal/apps/tools/cicd_lint/lint_fitness/secret_content/secret_content_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(deployment): update all compose files and linters for framework-v10 decisions
  deployments/cryptoutil/compose.yml
  deployments/identity-authz/compose.yml
  deployments/identity-idp/compose.yml
  deployments/identity-rp/compose.yml
  deployments/identity-rs/compose.yml
  deployments/identity-spa/compose.yml
  deployments/identity/compose.yml
  deployments/jose-ja/compose.yml
  deployments/jose/compose.yml
  deployments/pki-ca/compose.yml
  deployments/pki/compose.yml
  deployments/skeleton-template/compose.yml
  deployments/skeleton/compose.yml
  deployments/sm-im/compose.yml
  deployments/sm-kms/compose.yml
  deployments/sm/compose.yml
  internal/apps/tools/cicd_lint/lint_deployments/lint_config_test.go
  internal/apps/tools/cicd_lint/lint_deployments/lint_required_contents_test.go
  internal/apps/tools/cicd_lint/lint_deployments/validate_all_runners_test.go
  internal/apps/tools/cicd_lint/lint_deployments/validate_structure.go
  internal/apps/tools/cicd_lint/lint_fitness/compose_entrypoint_uniformity/compose_entrypoint_uniformity.go
  internal/apps/tools/cicd_lint/lint_fitness/compose_entrypoint_uniformity/compose_entrypoint_uniformity_test.go
  internal/apps/tools/cicd_lint/lint_fitness/config_overlay_freshness/config_overlay_freshness_test.go
  internal/apps/tools/cicd_lint/lint_fitness/config_rules/config_rules.go
  internal/apps/tools/cicd_lint/lint_fitness/config_rules/config_rules_error_test.go
  internal/apps/tools/cicd_lint/lint_fitness/deployment_dir_completeness/deployment_dir_completeness.go
  internal/apps/tools/cicd_lint/lint_fitness/deployment_dir_completeness/deployment_dir_completeness_test.go
  internal/apps/tools/cicd_lint/lint_fitness/otlp_service_name_pattern/otlp_service_name_pattern_test.go
  internal/apps/tools/cicd_lint/lint_fitness/standalone_config_presence/standalone_config_presence.go
  internal/apps/tools/cicd_lint/lint_fitness/standalone_config_presence/standalone_config_presence_test.go
  internal/apps/tools/cicd_lint/lint_fitness/template_drift/templates/compose.yml.tmpl
  internal/shared/magic/magic_cicd.go
  internal/shared/magic/magic_cicd_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(deployment-templates): replace embedded template code blocks with canonical file references
  docs/deployment-templates.md
  docs/framework-v10/tasks.md
Due: none

docs(target-structure): add api/cryptosuite-registry/templates/ tree
  docs/framework-v10/tasks.md
  docs/target-structure.md
Due: none

test(template-drift): achieve 99.5% coverage, add walkDirFn seam and tests for OS error paths
  docs/framework-v10/tasks.md
  internal/apps/tools/cicd_lint/lint_fitness/template_drift/checks.go
  internal/apps/tools/cicd_lint/lint_fitness/template_drift/template_drift.go
  internal/apps/tools/cicd_lint/lint_fitness/template_drift/template_drift_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(handbook): update Section 9.11.1 and 13.6 for template-compliance linter (v10 architecture)
  .github/instructions/04-01.deployment.instructions.md
  docs/ENG-HANDBOOK.md
  docs/framework-v10/tasks.md
Due: none

chore(framework-v10): mark all 33 tasks complete (100%)
  docs/framework-v10/tasks.md
Due: none

refactor(templates): remove .gitkeep files from non-empty template directories
  api/cryptosuite-registry/templates/configs/__PS_ID__/.gitkeep
  api/cryptosuite-registry/templates/deployments/__PRODUCT__/secrets/.gitkeep
  api/cryptosuite-registry/templates/deployments/__PS_ID__/config/.gitkeep
  api/cryptosuite-registry/templates/deployments/__PS_ID__/secrets/.gitkeep
  api/cryptosuite-registry/templates/deployments/shared-telemetry/otel/.gitkeep
Due: none

docs(framework-v11): add v11 implementation plan, tasks, lessons, quizme-v1
  docs/framework-v11/lessons.md
  docs/framework-v11/plan.md
  docs/framework-v11/quizme-v1.md
  docs/framework-v11/tasks.md
Due: none

feat(deployments): add validate-secrets service to all PS-ID compose files
  api/cryptosuite-registry/templates/deployments/__PS_ID__/compose.yml
  deployments/identity-authz/compose.yml
  deployments/identity-idp/compose.yml
  deployments/identity-rp/compose.yml
  deployments/identity-rs/compose.yml
  deployments/identity-spa/compose.yml
  deployments/jose-ja/compose.yml
  deployments/pki-ca/compose.yml
  deployments/skeleton-template/compose.yml
  deployments/sm-im/compose.yml
  deployments/sm-kms/compose.yml
Due: none

docs(tls): redesign cert structure with 14 categories and keystore/truststore pattern
  docs/tls-structure.md
Due: none

docs(framework-v11): apply quizme-v1 answers, restructure plan to pki-init scope
  docs/framework-v11/lessons.md
  docs/framework-v11/plan.md
  docs/framework-v11/quizme-v1.md
  docs/framework-v11/tasks.md
Due: none

docs(framework-v11): add quizme-v2 for open design questions
  docs/framework-v11/quizme-v2.md
Due: none

docs(framework-v12): create deferred TLS wiring plan
  docs/framework-v12/lessons.md
  docs/framework-v12/plan.md
  docs/framework-v12/tasks.md
Due: none

docs: update target-structure and deployment-templates for cert layout
  docs/deployment-templates.md
  docs/target-structure.md
Due: none

refactor(config): rename dev profile to local, add local profile option
  .vscode/cspell.json
  internal/apps/framework/service/config/config_factory_test.go
  internal/apps/framework/service/config/config_helpers.go
  internal/apps/framework/service/config/config_loading_test.go
  internal/apps/framework/service/config/config_parse.go
  internal/apps/framework/service/config/config_parse_profiles_test.go
  internal/apps/framework/service/config/config_parse_test.go
  internal/apps/framework/service/config/config_sequential_test.go
  internal/apps/jose-ja/server/config/config_parse_errors_test.go
  internal/apps/pki-ca/server/config/config_defaults_test.go
  internal/apps/pki-ca/server/config/config_error_paths_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(tls): remove end-entity truststores, add layout pattern column
  docs/tls-structure.md
Due: none

docs(framework-v11): apply quizme-v2 decisions (D7 postgres PKI domains, D8 realm registry, D9 admin identity)
  docs/framework-v11/plan.md
  docs/framework-v11/quizme-v2.md
  docs/framework-v11/tasks.md
Due: none

docs(tls): enumerate 16 valid PKI-INIT-DOMAIN values, generalize Cat 5 realm count formula
  docs/tls-structure.md
Due: none

docs(framework-v11): add Q4-Q7 to quizme-v2, fill Phase 1 post-mortem in lessons
  docs/framework-v11/lessons.md
  docs/framework-v11/quizme-v2.md
Due: none

docs(framework-v12): create quizme-v1 with 3 open design questions (Grafana TLS, GORM cert paths, cross-compose volumes)
  docs/framework-v12/quizme-v1.md
Due: none

docs: fix stale 120-dir count in target-structure, update pki-init positional arg syntax in deployment-templates
  docs/deployment-templates.md
  docs/target-structure.md
Due: none

docs(tls-structure): Q4=E - Cat 4 uses 3 PKI domains; counts 82 per PS-ID, 568 per SUITE
  docs/tls-structure.md
Due: none

docs(framework): apply quizme-v2 answers D10/D11/D12; defer InsecureSkipVerify to v12
  docs/framework-v11/plan.md
  docs/framework-v11/quizme-v2.md
  docs/framework-v11/tasks.md
  docs/framework-v12/plan.md
  docs/target-structure.md
Due: none

feat(deployments): migrate pki certs from bind mounts to named Docker volumes
  api/cryptosuite-registry/registry.yaml
  api/cryptosuite-registry/templates/deployments/__PS_ID__/compose.yml
  deployments/identity-authz/compose.yml
  deployments/identity-idp/compose.yml
  deployments/identity-rp/compose.yml
  deployments/identity-rs/compose.yml
  deployments/identity-spa/compose.yml
  deployments/jose-ja/compose.yml
  deployments/pki-ca/compose.yml
  deployments/skeleton-template/compose.yml
  deployments/sm-im/compose.yml
  deployments/sm-kms/compose.yml
  docs/framework-v11/tasks.md
  go.mod
  go.sum
  internal/apps/framework/tls/export_test.go
  internal/apps/framework/tls/generator.go
  internal/apps/framework/tls/generator_helpers.go
  internal/apps/framework/tls/generator_test.go
  internal/apps/framework/tls/init_test.go
  internal/apps/framework/tls/registry_reader.go
  internal/apps/framework/tls/tier.go
  internal/shared/magic/magic_pkiinit.go
Due: go-build, golangci-lint-full, golangci-lint, go-mod-tidy, check-todo-severity

docs(deployment): add CO-21/CO-22 named volume rules to deployment-templates.md
  docs/deployment-templates.md
  docs/framework-v11/tasks.md
Due: none

fix(pki-init): fix cert validity period and telemetry settings
  internal/apps/framework/tls/init.go
  internal/shared/magic/magic_pkiinit.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

Path conditions:
  go-build: any of: \.go$|go\.mod$|go\.sum$
  golangci-lint-full: any of: \.go$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.mod$
  check-todo-severity: any of: \.go$
