Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: github-workflow-lint, golangci-lint, go-mod-tidy, check-todo-severity, go-fix-all, go-build, cspell

github-workflow-lint:
  name: GitHub workflow lint
  entry: go
  args:
  - run
  - cmd/cicd/main.go
  - github-workflow-lint
  language: system
  pass_filenames: false
  stages:
  - pre-push

golangci-lint:
  name: golangci-lint (incremental auto-fix)
  entry: golangci-lint
  args:
  - run
  - --fix
  - --timeout=30m
  - --new-from-rev=HEAD~1
  language: system
  pass_filenames: false
  stages:
  - pre-commit

go-mod-tidy:
  name: go mod tidy
  entry: go
  args:
  - mod
  - tidy
  language: system
  pass_filenames: false

check-todo-severity:
  name: Check TODO/FIXME severity (block CRITICAL/HIGH)
  entry: bash
  args:
  - -c
  ...

go-fix-all:
  name: Auto-fix Go issues (staticcheck, copyloopvar, thelper)
  entry: go
  args:
  - run
  - cmd/cicd/main.go
  - go-fix-all
  language: system
  pass_filenames: false
  stages:
  - pre-commit

go-build:
  name: go build
  entry: go
  args:
  - build
  - ./...
  language: system
  pass_filenames: false
  stages:
  - pre-push

cspell:
  name: Check spelling
  entry: cspell
  args:
  - --no-progress
  - --cache
  language: system

style: auto-formatting changes from golangci-lint
  internal/learn/server/config.go
  internal/learn/server/realm_validation_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

refactor(learn): Phase 8.13 COMPLETE - replace all hardcoded passwords
  fix_passwords.py
  internal/learn/crypto/password_test.go
  internal/learn/server/login_test.go
  internal/learn/server/receive_delete_test.go
  internal/learn/server/register_test.go
  internal/learn/server/send_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: update SERVICE-TEMPLATE.md Phase 8 completion status
  docs/SERVICE-TEMPLATE.md
Due: cspell

style(learn): add missing whitespace per wsl_v5 linter
  internal/learn/crypto/password_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

chore: remove temporary password replacement script
  fix_passwords.py
Due: cspell

fix(learn-im): fix TestMain database closure bug - 4 tests disabled
  docs/SERVICE-TEMPLATE.md
  docs/SERVICE-TEMPLATE.md.backup
  internal/learn/crypto/testmain_test.go
  internal/learn/server/helpers_test.go
  internal/learn/server/realm_validation_test.go
  internal/learn/server/receive_delete_test.go
  internal/learn/server/register_test.go
  internal/learn/server/send_test.go
  internal/learn/server/server_lifecycle_test.go
  internal/learn/server/testmain_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(learn-im): complete Phase 5 quality gates with evidence (partial)
  specs/002-cryptoutil/implement/DETAILED.md
Due: cspell

fix(learn-im): resolve data isolation issue - 6 of 8 tests passing
  internal/learn/server/login_test.go
  internal/learn/server/receive_delete_test.go
  internal/learn/server/register_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

refactor(cicd): consolidate CGO check into lint-go
  docs/SERVICE-TEMPLATE.md
  internal/cmd/cicd/check_no_cgo_sqlite/check_no_cgo_sqlite.go
  internal/cmd/cicd/cicd.go
  internal/cmd/cicd/lint_go/lint_go.go
  internal/shared/magic/magic_cicd.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(learn-im): populate sender_pub_key and remove t.Parallel() for data isolation
  internal/learn/repository/message_repository.go
  internal/learn/server/message_handlers.go
  internal/learn/server/receive_delete_test.go
  internal/learn/server/send_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

style(learn-im): fix wsl_v5 whitespace violations
  internal/learn/server/receive_delete_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

style(learn-im): remove all wsl_v5 violations
  internal/learn/server/receive_delete_test.go
  internal/learn/server/send_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

Update SERVICE-TEMPLATE.md and related files
  docs/SERVICE-TEMPLATE.md
  docs/SERVICE-TEMPLATE.md.backup
  internal/learn/crypto/testmain_test.go
  internal/learn/integration/concurrent_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(api): update jose openapi config to v2 format
  api/ca/client/openapi_gen_client.go
  api/ca/models/models.gen.go
  api/ca/server/server.gen.go
  api/identity/rs/openapi_gen_client.go
  api/jose/client/openapi_gen_client.go
  api/jose/models/models.gen.go
  api/jose/openapi-gen_config_client.yaml
  api/jose/server/server.gen.go
  docs/SERVICE-TEMPLATE.md.backup
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: create active tasks tracker from backup
  docs/SERVICE-TEMPLATE.md
Due: cspell

docs: comprehensive session summary and next steps
  docs/SESSION-2025-12-30.md
Due: cspell

docs: update service template and remove session doc
  docs/SERVICE-TEMPLATE.md
  docs/SESSION-2025-12-30.md
Due: cspell

refactor(learn): extract TestMain for e2e tests and rename auth to authn
  docs/SERVICE-TEMPLATE.md
  internal/learn/e2e/helpers_e2e_test.go
  internal/learn/e2e/testmain_e2e_test.go
  internal/learn/server/authn_handlers.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(learn/server): fix server shutdown timeout and context management
  internal/learn/server/public_server.go
  internal/learn/server/testmain_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(learn/repository): add IF NOT EXISTS to all CREATE INDEX statements
  internal/learn/repository/migrations/0001_init.up.sql
Due: none

fix(config): resolve duplicate shorthands by using available characters
  internal/shared/config/config.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(learn/e2e): fix TestMain and helpers compilation errors
  internal/learn/e2e/helpers_e2e_test.go
  internal/learn/e2e/testmain_e2e_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(e2e): cleaned up TestMain for learn-im e2e tests
  docs/SESSION-2025-12-30.md
  internal/learn/e2e/browser_e2e_test.go
  internal/learn/e2e/helpers_e2e_test.go
  internal/learn/e2e/service_e2e_test.go
  internal/learn/e2e/testmain_e2e_test.go
  internal/learn/server/testmain_test.go
  internal/shared/util/random/random.go
  specs/002-cryptoutil/implement/DETAILED.md
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(e2e): added TODO comment
  internal/learn/e2e/helpers_e2e_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

refactor: move learn server config to separate package
  docs/SERVICE-TEMPLATE.md
  internal/cmd/learn/im/http_test.go
  internal/cmd/learn/im/im.go
  internal/learn/server/config.go
  internal/learn/server/config/config.go
  internal/learn/server/helpers_test.go
  internal/learn/server/realm_validation_test.go
  internal/learn/server/register_test.go
  internal/learn/server/server.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: renumber phases and add new test baseline phases
  docs/SERVICE-TEMPLATE.md
Due: cspell

docs: add lint/format error fixes to test baseline phases
  docs/SERVICE-TEMPLATE.md
Due: cspell

docs: remove duplicate test re-run task from Phase 0.2
  docs/SERVICE-TEMPLATE.md
Due: cspell

docs: add test baseline task to Phase 0.2 in SERVICE-TEMPLATE.md
  docs/SERVICE-TEMPLATE.md
Due: cspell

fix(learn/im): replace AutoMigrate with ApplyMigrations to fix database schema conflicts
  internal/cmd/learn/im/http_test.go
  internal/cmd/learn/im/im_cli_live_test.go
  internal/cmd/learn/im/im_server_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(learn/im): add missing version subcommand
  internal/cmd/learn/im/im.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(learn/im): remove unused imports after migration refactoring
  internal/cmd/learn/im/http_test.go
  internal/cmd/learn/im/im_cli_live_test.go
  internal/cmd/learn/im/im_server_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(learn/im): remove contradictory require.Empty assertions from tests
  internal/cmd/learn/im/body_output_test.go
  internal/cmd/learn/im/database_error_test.go
  internal/cmd/learn/im/http_error_test.go
  internal/cmd/learn/im/im_server_test.go
  internal/cmd/learn/im/response_body_test.go
  internal/cmd/learn/im/url_edge_cases_test.go
  internal/cmd/learn/im/url_suffix_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(learn/im): remove Unicode symbols from test assertions and t.Parallel() from tests using global state
  internal/cmd/learn/im/body_output_test.go
  internal/cmd/learn/im/database_error_test.go
  internal/cmd/learn/im/database_init_gaps_test.go
  internal/cmd/learn/im/http_close_error_test.go
  internal/cmd/learn/im/http_error_test.go
  internal/cmd/learn/im/http_test.go
  internal/cmd/learn/im/im_cli_live_test.go
  internal/cmd/learn/im/im_cli_test.go
  internal/cmd/learn/im/im_server_test.go
  internal/cmd/learn/im/im_test.go
  internal/cmd/learn/im/response_body_test.go
  internal/cmd/learn/im/url_edge_cases_test.go
  internal/cmd/learn/im/url_suffix_test.go
  internal/cmd/learn/im/version_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(learn/im): complete Phase 0 test baseline establishment
  .golangci.yml
  internal/cmd/learn/im/body_output_test.go
  internal/cmd/learn/im/database_error_test.go
  internal/cmd/learn/im/http_error_test.go
  internal/cmd/learn/im/response_body_test.go
  internal/cmd/learn/im/url_edge_cases_test.go
  internal/cmd/learn/im/url_suffix_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

perf(learn/im): optimize slow tests in Phase 0.1 - 45% speedup
  internal/cmd/learn/im/database_error_test.go
  internal/cmd/learn/im/im_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(learn/integration): complete Phase 0.2 TestMain pattern
  internal/learn/integration/concurrent_test.go
  internal/learn/integration/testmain_integration_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: document test suite flakiness in TestHandleLoginUser_EmptyCredentials
  docs/KNOWN-ISSUES.md
Due: cspell

refactor(learn-im): Phase 0.3 - Implement composition pattern from CA module
  internal/learn/integration/concurrent_test.go
  internal/learn/server/apis/messages.go
  internal/learn/server/authn_handlers.go
  internal/learn/server/login_test.go
  internal/learn/server/message_handlers.go
  internal/learn/server/middleware.go
  internal/learn/server/public_server.go
  internal/learn/server/realms/authn.go
  internal/learn/server/receive_delete_test.go
  internal/learn/server/register_test.go
  internal/learn/server/send_test.go
  internal/learn/server/util/jwt.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(learn-im): Fix registration validation to match original 3-50 char username spec
  internal/learn/server/realms/authn.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

Path conditions:
  github-workflow-lint: any of: \.github/workflows/.*\.(yml|yaml)$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.mod$
  check-todo-severity: any of: \.go$
  go-fix-all: any of: \.go$
  go-build: any of: \.go$|go\.mod$|go\.sum$
  cspell: any of: \.(md|txt|go|yaml|yml|json|js|ts|py|sh|ps1)$, but not: ^(test/|vendor/|\.git/|node_modules/|\.cache/)
