Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: github-workflow-lint, golangci-lint, go-mod-tidy, check-todo-severity, go-fix-all, go-build, cspell

Path conditions:
  github-workflow-lint: any of: \.github/workflows/.*\.(yml|yaml)$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.mod$
  check-todo-severity: any of: \.go$
  go-fix-all: any of: \.go$
  go-build: any of: \.go$|go\.mod$|go\.sum$
  cspell: any of: \.(md|txt|go|yaml|yml|json|js|ts|py|sh|ps1)$, but not: ^(test/|vendor/|\.git/|node_modules/|\.cache/)

feat(passthru2): complete Phase 4-6 and all acceptance criteria
  .github/workflows/ci-benchmark.yml
  .github/workflows/ci-coverage.yml
  deployments/compose.integration.yml
  deployments/kms/config/integration.yml
  docs/03-products/passthru2/TASK-LIST.md
  docs/03-products/passthru2/grooming/GROOMING-SESSION-7.md
  internal/cmd/demo/script.go
  internal/common/magic/magic_crypto.go
  internal/common/magic/magic_security.go
  internal/common/testutil/testutil.go
  internal/common/testutil/testutil_test.go
  internal/infra/realm/authenticator.go
  internal/infra/realm/authenticator_test.go
  internal/infra/realm/db_realm.go
  internal/infra/realm/db_realm_test.go
  internal/infra/realm/federation.go
  internal/infra/realm/federation_test.go
  internal/infra/realm/tenant.go
  internal/infra/realm/tenant_test.go
  internal/server/middleware/claims.go
  internal/server/middleware/claims_test.go
  internal/server/middleware/errors.go
  internal/server/middleware/errors_test.go
  internal/server/middleware/introspection.go
  internal/server/middleware/introspection_test.go
  internal/server/middleware/jwt_test.go
  internal/server/middleware/scopes.go
  internal/server/middleware/scopes_test.go
  internal/server/middleware/service_auth.go
  internal/server/middleware/service_auth_test.go
Due: github-workflow-lint, golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: mark Task O3 (token scope validation middleware) as completed
  docs/04-general-stuff/todos-security.md
Due: cspell

chore: remove incorrectly created grooming session 7 file
  docs/03-products/passthru2/grooming/GROOMING-SESSION-7.md
Due: cspell

fix(demo): enable dynamic port allocation and add Identity Dockerfiles
  deployments/identity/Dockerfile.authz
  deployments/identity/Dockerfile.idp
  deployments/identity/Dockerfile.rs
  docs/03-products/passthru2/FINAL-SUMMARY.md
  internal/cmd/demo/kms.go
  internal/common/config/config.go
  internal/common/magic/magic_network.go
  internal/common/testutil/testutil_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(demo): complete Identity demo CLI and fix Docker Compose configs
  deployments/identity/compose.demo.yml
  deployments/kms/compose.demo.yml
  deployments/telemetry/compose.yml
  docs/03-products/passthru3/REQUIREMENTS.md
  internal/cmd/demo/identity.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(demo): implement integration demo with full KMS+Identity flow
  docs/03-products/passthru3/EVIDENCE.md
  docs/03-products/passthru3/MASTER-PLAN.md
  docs/03-products/passthru3/PROGRESS.md
  docs/03-products/passthru3/REQUIREMENTS-CHECKLIST.md
  docs/03-products/passthru3/REQUIREMENTS.md
  docs/03-products/passthru3/grooming/GROOMING-SESSION-1.md
  docs/03-products/passthru3/grooming/GROOMING-SESSION-2.md
  docs/03-products/passthru3/grooming/GROOMING-SESSION-3.md
  docs/03-products/passthru3/grooming/GROOMING-SESSION-4.md
  internal/cmd/demo/identity.go
  internal/cmd/demo/integration.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(passthru3): grooming docs
  docs/03-products/passthru3/PROGRESS.md
  docs/03-products/passthru3/grooming/GROOMING-SESSION-1.md
  docs/03-products/passthru3/grooming/GROOMING-SESSION-2.md
  docs/03-products/passthru3/grooming/GROOMING-SESSION-3.md
  docs/03-products/passthru3/grooming/GROOMING-SESSION-4.md
Due: cspell

refactor(test-output): removed all references to test-reports
  .github/instructions/01-02.testing.instructions.md
  .github/instructions/03-02.cross-platform.instructions.md
  .gitignore
  .golangci.yml
  docs/03-products/passthru2/grooming/GROOMING-SESSION-6.md
  docs/archive/golangci-v2-migration-nov2025/archive/migrate-v2-performance.md
  docs/pre-commit-hooks.md
  internal/common/magic/magic_cicd.go
  scripts/autoapprove/README.md
  scripts/autoapprove/autoapprove.py
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(identity): add build args and demo configs to compose.demo.yml
  deployments/identity/compose.demo.yml
  deployments/identity/config/authz-demo.yml
  deployments/identity/config/idp-demo.yml
  deployments/identity/config/rs-demo.yml
Due: cspell

feat: initialize Spec Kit for spec-driven development
  .github/agents/speckit.analyze.agent.md
  .github/agents/speckit.checklist.agent.md
  .github/agents/speckit.clarify.agent.md
  .github/agents/speckit.constitution.agent.md
  .github/agents/speckit.implement.agent.md
  .github/agents/speckit.plan.agent.md
  .github/agents/speckit.specify.agent.md
  .github/agents/speckit.tasks.agent.md
  .github/agents/speckit.taskstoissues.agent.md
  .github/prompts/speckit.analyze.prompt.md
  .github/prompts/speckit.checklist.prompt.md
  .github/prompts/speckit.clarify.prompt.md
  .github/prompts/speckit.constitution.prompt.md
  .github/prompts/speckit.implement.prompt.md
  .github/prompts/speckit.plan.prompt.md
  .github/prompts/speckit.specify.prompt.md
  .github/prompts/speckit.tasks.prompt.md
  .github/prompts/speckit.taskstoissues.prompt.md
  .specify/memory/constitution.md
  .specify/scripts/powershell/check-prerequisites.ps1
  .specify/scripts/powershell/common.ps1
  .specify/scripts/powershell/create-new-feature.ps1
  .specify/scripts/powershell/setup-plan.ps1
  .specify/scripts/powershell/update-agent-context.ps1
  .specify/templates/agent-file-template.md
  .specify/templates/checklist-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
  .vscode/settings.json
Due: cspell

fix: exclude Spec Kit directories from cspell checks
  .pre-commit-config.yaml
Due: cspell

fix: exclude all Spec Kit directories from cspell checks
  .pre-commit-config.yaml
Due: cspell

feat: add Spec Kit terms to cspell dictionary
  .pre-commit-config.yaml
  .vscode/cspell.json
Due: cspell

feat: add Spec Kit constitution, specification, plan, and grooming sessions
  .github/instructions/06-01.speckit.instructions.md
  .specify/memory/constitution.md
  docs/speckit/passthru01/grooming/GROOMING-SESSION-01.md
  docs/speckit/passthru01/grooming/GROOMING-SESSION-02.md
  docs/speckit/passthru01/grooming/GROOMING-SESSION-03.md
  docs/speckit/passthru01/grooming/GROOMING-SESSION-04.md
  docs/speckit/passthru01/grooming/GROOMING-SESSION-05.md
  specs/001-cryptoutil/plan.md
  specs/001-cryptoutil/spec.md
Due: cspell

feat: add missing cspell terms for spec-kit documentation
  .vscode/cspell.json
Due: cspell

docs: update cryptoutil spec with comprehensive product details
  .github/instructions/01-05.security.instructions.md
  .specify/memory/constitution.md
  .vscode/cspell.json
  docs/03-products/passthru2/grooming/GROOMING-SESSION-4.md
  docs/speckit/passthru01/grooming/GROOMING-SESSION-01.md
  specs/001-cryptoutil/spec.md
Due: cspell

feat(speckit): add passthru02 interactive grooming sessions with unanswered questions
  docs/speckit/passthru02/grooming/GROOMING-SESSION-01.md
  docs/speckit/passthru02/grooming/GROOMING-SESSION-02.md
  specs/001-cryptoutil/plan.md
Due: cspell

docs(speckit): update spec/plan from grooming sessions 01-02, add sessions 03-04
  docs/speckit/passthru02/grooming/GROOMING-SESSION-01.md
  docs/speckit/passthru02/grooming/GROOMING-SESSION-02.md
  docs/speckit/passthru02/grooming/GROOMING-SESSION-03.md
  docs/speckit/passthru02/grooming/GROOMING-SESSION-04.md
  specs/001-cryptoutil/plan.md
  specs/001-cryptoutil/spec.md
Due: cspell

chore: add missing cspell words for grooming docs
  .vscode/cspell.json
Due: cspell

docs(sprint): create 2025-12-02 refactoring sprint for 4-products alignment
  docs/sprints/2025-12-02-refactoring-sprint.md
Due: cspell

refactor: create 4-products directory structure placeholders
  api/ca/README.md
  api/jose/README.md
  api/kms/README.md
  deployments/ca/README.md
  deployments/jose/README.md
  internal/ca/README.md
  internal/jose/README.md
  internal/kms/README.md
Due: cspell

docs(sprint): complete 4-products refactoring sprint 30/30 tasks
  docs/02-identityV2/PROJECT-STATUS.md
  docs/sprints/2025-12-02-refactoring-sprint.md
Due: cspell

refactor(cmd): refactored cmd to require kms product name first, like identity
  .github/workflows/ci-dast.yml
  deployments/Dockerfile
  docs/01-refactor/cli-compatibility.md
  docs/01-refactor/cli-restructure.md
  docs/01-refactor/cli-strategy.md
  docs/01-refactor/documentation.md
  docs/01-refactor/kms-extraction.md
  docs/01-refactor/tooling.md
  docs/01-refactor/workflow-updates.md
  docs/02-identityV2/passthru4/MASTER-PLAN-V4.md
  docs/03-products/passthru1/DEMO-INTEGRATION.md
  docs/03-products/passthru2/FINAL-SUMMARY.md
  internal/cmd/cryptoutil/cryptoutil.go
  internal/common/config/config.go
  internal/kms/cmd/server.go
  internal/kms/server/application/application_listener.go
Due: github-workflow-lint, golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

refactor(cmd/identity): move command logic to internal/identity/cmd/main, keep only main.go in cmd/identity
  cmd/identity/command_logs.go
  cmd/identity/main.go
  internal/identity/cmd/main/authz/main.go
  internal/identity/cmd/main/command_health.go
  internal/identity/cmd/main/command_logs.go
  internal/identity/cmd/main/command_start.go
  internal/identity/cmd/main/command_status.go
  internal/identity/cmd/main/command_stop.go
  internal/identity/cmd/main/command_test_runner.go
  internal/identity/cmd/main/hardware-cred/lifecycle_test.go
  internal/identity/cmd/main/hardware-cred/main.go
  internal/identity/cmd/main/hardware-cred/main_test.go
  internal/identity/cmd/main/idp/main.go
  internal/identity/cmd/main/mock_identity_services_BACKUP.go.txt
  internal/identity/cmd/main/rs/main.go
  internal/identity/cmd/main/spa-rp/main.go
  internal/identity/cmd/main/spa-rp/static/callback.html
  internal/identity/cmd/main/spa-rp/static/index.html
  internal/identity/cmd/main/spa-rp/static/oauth-old.js
  internal/identity/cmd/main/spa-rp/static/oauth.js
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

config(.golangci.yml): add importas alias for cryptoutil/internal/identity/cmd/main
  .golangci.yml
Due: cspell

fix(scripts): add shebang and executable permissions to scripts
  scripts/autoapprove/autoapprove.py
  scripts/autoapprove/tests/test_autoapprove.py
  scripts/test-token-client-credentials.sh
Due: cspell

style: auto-fix markdown and json formatting from pre-commit hooks
  .markdownlint.json
  docs/03-products/passthru3/MASTER-PLAN.md
  docs/03-products/passthru3/PROGRESS.md
  docs/03-products/passthru3/grooming/GROOMING-SESSION-1.md
  docs/03-products/passthru3/grooming/GROOMING-SESSION-2.md
  docs/03-products/passthru3/grooming/GROOMING-SESSION-3.md
  docs/03-products/passthru3/grooming/GROOMING-SESSION-4.md
Due: cspell

refactor: remove obsolete identity orchestrator and demo deployment files
  cmd/identity-orchestrator/main.go
  cmd/identity/main.go
  deployments/Dockerfile
  deployments/identity/compose.demo.yml
  deployments/identity/demo.yml
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat: add identity-compose command
  cmd/identity-compose/main.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat: add identity-unified command
  cmd/identity-unified/main.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat: update README and add identity CLI tool
  README.md
  internal/cmd/cryptoutil/cryptoutil.go
  internal/identity/cmd/identity_cli.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

ci: update CI workflow and deployment configurations
  .github/workflows/ci-quality.yml
  deployments/compose.integration.yml
  deployments/identity/compose.yml
  deployments/kms/Dockerfile.kms
  deployments/kms/compose.demo.yml
  deployments/kms/compose.yml
Due: github-workflow-lint, cspell

docs: update identity V2 documentation and setup guides
  docs/02-identityV2/passthru0/analysis/GOALS-VS-COMPLETION.md
  docs/02-identityV2/passthru0/analysis/TIMELINE-ANALYSIS.md
  docs/02-identityV2/passthru1/identity-docker-quickstart.md
  docs/02-identityV2/passthru1/identityV2_master.md
  docs/02-identityV2/passthru1/task-01-architecture-diagrams.md
  docs/02-identityV2/passthru1/task-01-deliverables-reconciliation.md
  docs/02-identityV2/passthru1/task-01-historical-baseline-assessment-COMPLETE.md
  docs/02-identityV2/passthru1/task-10.6-unified-cli.md
  docs/02-identityV2/passthru1/task-18-orchestration-suite-COMPLETE.md
  docs/02-identityV2/passthru1/task-18-orchestration-suite.md
  docs/02-identityV2/passthru1/task-19-integration-e2e-fabric-COMPLETE.md
  docs/02-identityV2/passthru1/task-20-final-verification-COMPLETE.md
Due: cspell

docs: update products, general, and CA documentation
  docs/02-identityV2/passthru2/R11-TEST-FAILURES.md
  docs/02-identityV2/passthru3/R11-TEST-FAILURES.md
  docs/03-products/passthru2/DEMO-IDENTITY.md
  docs/03-products/passthru2/DEMO-INTEGRATION.md
  docs/03-products/passthru2/FINAL-SUMMARY.md
  docs/03-products/passthru2/IMPLEMENTATION-PROGRESS.md
  docs/03-products/passthru2/README.md
  docs/03-products/passthru3/EVIDENCE.md
  docs/03-products/passthru3/MASTER-PLAN.md
  docs/03-products/passthru3/REQUIREMENTS-CHECKLIST.md
  docs/03-products/passthru3/grooming/GROOMING-SESSION-3.md
  docs/03-products/passthru3/grooming/GROOMING-SESSION-4.md
Due: cspell

docs: update production deployment checklist
  docs/runbooks/production-deployment-checklist.md
Due: cspell

feat: add advanced and simple identity compose configs and update tests
  deployments/identity/compose.advanced.yml
  deployments/identity/compose.simple.yml
  internal/identity/demo/orchestration_test.go
  internal/identity/test/e2e/constants.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: add speckit passthru03 grooming sessions and strategy document
  docs/speckit/passthru03/DOCKER-COMPOSE-STRATEGY.doc
  docs/speckit/passthru03/grooming/GROOMING-SESSION-01.md
  docs/speckit/passthru03/grooming/GROOMING-SESSION-02.md
  docs/speckit/passthru03/grooming/GROOMING-SESSION-03.md
  docs/speckit/passthru03/grooming/GROOMING-SESSION-04.md
  docs/speckit/passthru03/grooming/GROOMING-SESSION-05.md
  docs/speckit/passthru03/grooming/GROOMING-SESSION-06.md
Due: cspell
