Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-build, golangci-lint-full, golangci-lint, go-mod-tidy, check-todo-severity

go-build:
  name: go build
  entry: go
  args:
  - build
  - ./...
  language: system
  pass_filenames: false
  require_serial: true
  stages:
  - pre-push

golangci-lint-full:
  name: golangci-lint (full validation)
  entry: golangci-lint
  args:
  - run
  - --timeout=30m
  language: system
  pass_filenames: false
  stages:
  - pre-push

golangci-lint:
  name: golangci-lint (incremental auto-fix)
  entry: golangci-lint
  args:
  - run
  - --fix
  - --timeout=30m
  - --new-from-rev=HEAD~1
  language: system
  pass_filenames: false
  require_serial: false
  stages:
  - pre-commit

go-mod-tidy:
  name: go mod tidy
  entry: go
  args:
  - mod
  - tidy
  language: system
  pass_filenames: false

check-todo-severity:
  name: Check TODO/FIXME severity (block CRITICAL/HIGH)
  entry: bash
  args:
  - -c
  ...

style: fix wsl whitespace issues in pki config and certificate tests
  internal/apps/pki/ca/server/config/config_test.go
  internal/shared/crypto/certificate/certificates_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

style: fix wsl whitespace issues across 10 test files
  internal/apps/jose/ja/server/config/config_test.go
  internal/apps/template/service/server/apis/registration_routes_test.go
  internal/apps/template/service/server/barrier/unsealkeysservice/unseal_keys_service_sharedsecrets_test.go
  internal/apps/template/service/server/barrier/unsealkeysservice/unseal_keys_service_simple_test.go
  internal/apps/template/service/server/service/registration_service_test.go
  internal/apps/template/service/server/service/tenant_service_test.go
  internal/identity/jobs/cleanup_test.go
  internal/shared/crypto/digests/hkdf_test.go
  internal/shared/util/combinations/combinations_test.go
  internal/shared/util/yml_json_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix: remove UTF-8 BOM marker from public_test.go
  internal/apps/template/service/server/listener/public_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(cipher): resolve test compilation errors and nil pointer dereference
  cmd/cipher-im/main.go
  cmd/cipher/main.go
  cmd/cryptoutil/main.go
  cmd/identity-authz/main.go
  cmd/identity-idp/main.go
  cmd/identity-rp/main.go
  cmd/identity-rs/main.go
  cmd/identity-spa/main.go
  cmd/identity/main.go
  cmd/jose-ja/main.go
  cmd/jose/main.go
  cmd/pki-ca/main.go
  cmd/pki/main.go
  cmd/sm-kms/main.go
  cmd/sm/main.go
  internal/apps/cipher/cipher_test.go
  internal/apps/cipher/im/http_errors_test.go
  internal/apps/cipher/im/im.go
  internal/apps/cipher/im/im_cli_commands_test.go
  internal/apps/cipher/im/response_body_test.go
  internal/apps/cryptoutil/cryptoutil.go
  internal/apps/cryptoutil/cryptoutil_test.go
  internal/apps/identity/authz/authz.go
  internal/apps/identity/identity.go
  internal/apps/identity/idp/idp.go
  internal/apps/identity/rp/rp.go
  internal/apps/identity/rs/rs.go
  internal/apps/identity/spa/spa.go
  internal/apps/jose/ja/ja.go
  internal/apps/jose/jose.go
  internal/apps/jose/unified/jose.go
  internal/apps/pki/ca/ca.go
  internal/apps/pki/pki.go
  internal/apps/sm/kms/kms.go
  internal/apps/sm/sm.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

style: fix nlreturn violations in ja.go and kms.go
  internal/apps/jose/ja/ja.go
  internal/apps/sm/kms/kms.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(cicd): enforce ARCHITECTURE.md 4.4.3 one-liner main() pattern for all cmd/ files
  cmd/cicd/main.go
  cmd/demo/main.go
  cmd/identity-compose/main.go
  cmd/identity-demo/main.go
  cmd/identity-unified/main.go
  cmd/workflow/main.go
  internal/apps/cicd/cicd.go
  internal/apps/cicd/cicd_test.go
  internal/apps/cicd/lint_go/cmd_main.go
  internal/apps/cicd/lint_go/lint_go.go
  internal/apps/demo/demo.go
  internal/apps/identity/compose/compose.go
  internal/apps/identity/demo/demo.go
  internal/apps/identity/unified/identity.go
  internal/apps/workflow/workflow.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(structure): move infra demo, realm, tenant to proper locations
  internal/apps/pki/ca/demo/ca.go
  internal/apps/pki/ca/demo/ca_test.go
  internal/apps/template/service/server/realm/authenticator.go
  internal/apps/template/service/server/realm/authenticator_test.go
  internal/apps/template/service/server/realm/db_realm.go
  internal/apps/template/service/server/realm/db_realm_test.go
  internal/apps/template/service/server/realm/federation.go
  internal/apps/template/service/server/realm/federation_test.go
  internal/apps/template/service/server/realm/realm.go
  internal/apps/template/service/server/realm/realm_test.go
  internal/apps/template/service/server/realm/tenant.go
  internal/apps/template/service/server/realm/tenant_test.go
  internal/apps/template/service/server/tenant/tenant.go
  internal/apps/template/service/server/tenant/tenant_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

style: suppress false-positive nilnil/nilerr linter warnings
  internal/apps/identity/domain/nullable_uuid.go
  internal/apps/identity/idp/userauth/step_up_auth.go
  internal/apps/identity/issuer/service.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

build: update github.com/lib/pq to v1.11.2
  go.mod
  go.sum
Due: go-build, go-mod-tidy

update beast-mode agent and pki ca
  .github/agents/beast-mode.agent.md
  internal/apps/pki/ca/ca.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs: expand autonomous execution principles in architecture
  docs/ARCHITECTURE.md
Due: none

refactor: consolidate instruction files 28 -> 18 (~77% token reduction)
  .github/agents/doc-sync.agent.md
  .github/copilot-instructions.md
  .github/instructions/01-02.beast-mode.instructions.md
  .github/instructions/02-01.architecture.instructions.md
  .github/instructions/02-02.service-template.instructions.md
  .github/instructions/02-03.https-ports.instructions.md
  .github/instructions/02-05.observability.instructions.md
  .github/instructions/02-06.openapi.instructions.md
  .github/instructions/02-07.cryptography.instructions.md
  .github/instructions/02-07.security.instructions.md
  .github/instructions/02-08.hashes.instructions.md
  .github/instructions/02-09.pki.instructions.md
  .github/instructions/02-10.authn.instructions.md
  .github/instructions/03-01.coding.instructions.md
  .github/instructions/03-02.testing.instructions.md
  .github/instructions/03-03.golang.instructions.md
  .github/instructions/03-04.data-infrastructure.instructions.md
  .github/instructions/03-04.database.instructions.md
  .github/instructions/03-05.sqlite-gorm.instructions.md
  .github/instructions/03-06.security.instructions.md
  .github/instructions/03-07.linting.instructions.md
  .github/instructions/03-08.server-builder.instructions.md
  .github/instructions/04-01.deployment.instructions.md
  .github/instructions/04-01.github.instructions.md
  .github/instructions/04-02.docker.instructions.md
  .github/instructions/05-01.cross-platform.instructions.md
  .github/instructions/05-02.git.instructions.md
  .github/instructions/05-03.dast.instructions.md
  .github/instructions/06-01.evidence-based.instructions.md
  .github/instructions/06-02.agent-format.instructions.md
  .github/instructions/07-01.testmain-integration-pattern.instructions.md
  docs/ARCHITECTURE.md
Due: none

refactor(docs): renumber instruction files to eliminate gaps in sequencing
  .github/copilot-instructions.md
  .github/instructions/02-02.versions.instructions.md
  .github/instructions/02-03.observability.instructions.md
  .github/instructions/02-04.openapi.instructions.md
  .github/instructions/02-05.security.instructions.md
  .github/instructions/02-06.authn.instructions.md
  .github/instructions/03-05.linting.instructions.md
Due: none

fix(docs): update broken reference to linting instructions in constitution
  docs/speckit/constitution.md
Due: none

docs(speckit): remove archived speckit files and summaries
  docs/speckit/SPECKIT-CLARIFY-QUIZME-TEMPLATE.md
  docs/speckit/SPECKIT-QUICK-GUIDE.md
  docs/speckit/SPECKIT-REFINEMENT-GUIDE.md
  docs/speckit/constitution.md
  docs/speckit/details.md
  docs/speckit/specs-000-template/README.md
  docs/speckit/specs-000-template/plan.md
  docs/speckit/specs-000-template/spec.md
  docs/speckit/specs-000-template/tasks.md
  docs/speckit/specs-002-cryptoutil/analyze.md
  docs/speckit/specs-002-cryptoutil/analyze.md.old
  docs/speckit/specs-002-cryptoutil/clarify.md
  docs/speckit/specs-002-cryptoutil/implement/DETAILED.md
  docs/speckit/specs-002-cryptoutil/implement/EXECUTIVE.md
  docs/speckit/specs-002-cryptoutil/implement/PHASE-3-SERVERBUILDER.md
  docs/speckit/specs-002-cryptoutil/plan.md
  docs/speckit/specs-002-cryptoutil/plan.md.old
  docs/speckit/specs-002-cryptoutil/spec.md
  docs/speckit/specs-002-cryptoutil/tasks.md
  docs/speckit/specs-002-cryptoutil/tasks.md.old
  docs/speckit/summary.md
Due: none

docs(architecture,agents): clarify implementation plan file structure and fix incorrect memory.instruction.md reference
  .github/agents/implementation-execution.agent.md
  .github/agents/implementation-planning.agent.md
  docs/ARCHITECTURE.md
Due: none

docs(fixes-v1): migrate incomplete E2E tests from v10
  docs/fixes-needed-plan-tasks-v10/plan.md
  docs/fixes-needed-plan-tasks-v10/tasks.md
  docs/fixes-v1/plan.md
  docs/fixes-v1/tasks.md
Due: none

docs: create ARCHITECTURE-AGENT-LOOKUP.md for efficient LLM reference
  docs/ARCHITECTURE-AGENT-LOOKUP.md
Due: none

docs(fixes-v1): append Phase 2 - documentation consistency
  docs/fixes-v1/plan.md
  docs/fixes-v1/tasks.md
Due: none

fix(agents): correct Continuous Execution Rule scope to apply to ALL actions
  .github/agents/implementation-planning.agent.md
Due: none

docs(fixes-v1): append Phases 3-5 - security, multi-tenancy, quality verification
  docs/fixes-v1/plan.md
  docs/fixes-v1/tasks.md
Due: none

docs: complete architecture compliance analysis and fix critical issues
  README.md
  docs/ARCHITECTURE.md
  docs/fixes-v1/tasks.md
Due: none

fix(docker): resolve compose include conflict and identity service commands
  deployments/compose/compose.yml
Due: none

fix(docker): correct identity service command order
  deployments/compose/compose.yml
Due: none

fix(docker): resolve identity service port conflict
  deployments/compose/compose.yml
Due: none

docs(plan): update progress summary for fixes-v1
  docs/fixes-v1/plan.md
Due: none

docs(fixes-v1): add comprehensive work summary
  docs/fixes-v1/SUMMARY.md
Due: none

fix(compose): update service commands to new CLI pattern
  deployments/compose/compose.yml
Due: none

docs(fixes-v1): document E2E service startup blockers
  deployments/compose/compose.yml.bak
  docs/fixes-v1/blockers/01-e2e-service-startup-failures.md
  docs/fixes-v1/plan.md
Due: none

docs(plan): update with service startup blocker status
  docs/fixes-v1/plan.md
Due: none

fix(services): resolve E2E service startup blockers
  docs/fixes-v1/plan.md
  internal/apps/jose/ja/ja.go
  internal/apps/pki/ca/server/cmd/commands.go
  internal/apps/sm/kms/server/server.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(sm-kms): use WithDomainMigrations instead of WithMigrationConfig
  internal/apps/sm/kms/server/server.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(fixes-v1): document remaining E2E service blockers
  docs/fixes-v1/blockers/02-remaining-service-blockers.md
Due: none

docs(docker): create compose template and architecture documentation
  docs/fixes-v2/ARCHITECTURE-DOCKER-COMPOSE.txt
  docs/fixes-v2/compose-PRODUCT-SERVICE.yml
Due: none

docs: rename ARCHITECTURE-AGENT-LOOKUP to ARCHITECTURE-INDEX and add telemetry analysis
  deployments/kms/compose.yml
  docs/ARCHITECTURE-DOCKER-COMPOSE.txt
  docs/ARCHITECTURE-INDEX.md
  docs/ARCHITECTURE.md
  docs/compose-PRODUCT-SERVICE.yml
  docs/compose-PRODUCT.yml
  docs/fixes-v1/tasks.md
  docs/fixes-v2/prompt.txt
  docs/telemetry-compose-analysis.md
Due: none

docs(architecture): update Service Catalog table with standardized column order
  deployments/compose/compose.yml.new
  deployments/kms/compose.yml
  deployments/postgres/compose.yml
  deployments/postgres/init-citus.sql
  deployments/postgres/init-follower-databases.sql
  deployments/postgres/init-leader-databases.sql
  deployments/postgres/setup-logical-replication.sh
  deployments/telemetry/compose.yml
  deployments/template/compose-cryptoutil-PRODUCT-SERVICE.yml
  deployments/template/compose-cryptoutil-PRODUCT.yml
  deployments/template/compose-cryptoutil.yml
  deployments/template/compose.yml
  docs/ARCHITECTURE-DOCKER-COMPOSE.txt
  docs/ARCHITECTURE.md
  docs/telemetry-compose-analysis.md
Due: none

docs(architecture): add deployment type port allocation strategy
  docs/ARCHITECTURE.md
  docs/telemetry-compose-analysis.md
Due: none

Path conditions:
  go-build: any of: \.go$|go\.mod$|go\.sum$
  golangci-lint-full: any of: \.go$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.mod$
  check-todo-severity: any of: \.go$
