Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-build, golangci-lint-full, golangci-lint, go-mod-tidy, check-todo-severity

Path conditions:
  go-build: any of: \.go$|go\.mod$|go\.sum$
  golangci-lint-full: any of: \.go$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.mod$
  check-todo-severity: any of: \.go$

fix(sm-im): remove duplicate TestMain by removing server setup from cli_commands_test
  internal/apps/sm-im/im_cli_commands_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(lint-fitness): enforce __SERVICE___usage.go content via template_drift linter
  api/cryptosuite-registry/registry.yaml
  internal/apps-tools/cicd_lint/lint_fitness/registry/loader.go
  internal/apps-tools/cicd_lint/lint_fitness/registry/loader_realfile_test.go
  internal/apps-tools/cicd_lint/lint_fitness/registry/registry.go
  internal/apps-tools/cicd_lint/lint_fitness/registry/types.go
  internal/apps-tools/cicd_lint/lint_fitness/template_drift/template_drift.go
  internal/apps-tools/cicd_lint/lint_fitness/template_drift/template_drift_helpers.go
  internal/apps-tools/cicd_lint/lint_fitness/template_drift/template_drift_helpers_test.go
  internal/apps-tools/cicd_lint/lint_fitness/template_drift/template_drift_params.go
  internal/apps-tools/cicd_lint/lint_fitness/template_drift/template_drift_params_test.go
  internal/apps-tools/cicd_lint/lint_fitness/template_drift/template_drift_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(magic): add service display name constants; enforce in usage templates; port URL edge case tests to framework
  api/cryptosuite-registry/registry.yaml
  api/cryptosuite-registry/templates/internal/apps/__PS_ID__/__SERVICE___cli_url_test.go
  api/cryptosuite-registry/templates/internal/apps/__PS_ID__/__SERVICE___usage.go
  internal/apps-framework/service/cli/health_commands_test.go
  internal/apps-framework/service/usage/usage_test.go
  internal/apps-tools/cicd_lint/lint_fitness/apps_ps_id_template/apps_ps_id_template_service_template.go
  internal/apps-tools/cicd_lint/lint_fitness/migration_comment_headers/migration_comment_headers_test.go
  internal/apps-tools/cicd_lint/lint_fitness/registry/loader.go
  internal/apps-tools/cicd_lint/lint_fitness/registry/loader_realfile_test.go
  internal/apps-tools/cicd_lint/lint_fitness/registry/types.go
  internal/apps-tools/cicd_lint/lint_fitness/template_drift/template_drift_helpers_test.go
  internal/apps-tools/cicd_lint/lint_fitness/template_drift/template_drift_params.go
  internal/apps/identity-authz/authz_usage.go
  internal/apps/identity-idp/idp_usage.go
  internal/apps/identity-rp/rp_usage.go
  internal/apps/identity-rs/rs_usage.go
  internal/apps/identity-spa/spa_usage.go
  internal/apps/jose-ja/ja_usage.go
  internal/apps/pki-ca/ca_usage.go
  internal/apps/skeleton-template/template_usage.go
  internal/apps/sm-im/im_cli_url_test.go
  internal/apps/sm-im/im_usage.go
  internal/apps/sm-kms/kms_usage.go
  internal/shared/magic/magic_identity.go
  internal/shared/magic/magic_jose.go
  internal/shared/magic/magic_pki.go
  internal/shared/magic/magic_skeleton.go
  internal/shared/magic/magic_sm.go
  internal/shared/magic/magic_sm_im.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(templates): relocate ps-id lifecycle test to server
  api/cryptosuite-registry/templates/internal/apps/__PS_ID__/README.md
  api/cryptosuite-registry/templates/internal/apps/__PS_ID__/server/__SERVICE___lifecycle_test.go
  internal/apps-tools/cicd_lint/lint_fitness/apps_ps_id_template/apps_ps_id_template.go
  internal/apps-tools/cicd_lint/lint_fitness/apps_ps_id_template/apps_ps_id_template_service_template.go
  internal/apps-tools/cicd_lint/lint_fitness/apps_ps_id_template/apps_ps_id_template_test.go
  internal/apps/identity-authz/README.md
  internal/apps/identity-authz/authz_lifecycle_test.go
  internal/apps/identity-idp/README.md
  internal/apps/identity-idp/idp_lifecycle_test.go
  internal/apps/identity-rp/README.md
  internal/apps/identity-rp/rp_lifecycle_test.go
  internal/apps/identity-rs/README.md
  internal/apps/identity-rs/rs_lifecycle_test.go
  internal/apps/identity-spa/README.md
  internal/apps/identity-spa/spa_lifecycle_test.go
  internal/apps/jose-ja/README.md
  internal/apps/jose-ja/ja_lifecycle_test.go
  internal/apps/pki-ca/README.md
  internal/apps/pki-ca/ca_lifecycle_test.go
  internal/apps/skeleton-template/README.md
  internal/apps/skeleton-template/template_lifecycle_test.go
  internal/apps/sm-im/README.md
  internal/apps/sm-im/im_lifecycle_test.go
  internal/apps/sm-kms/README.md
  internal/apps/sm-kms/kms_lifecycle_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

test(apps): migrate and enforce server port conflict test templates
  api/cryptosuite-registry/templates/internal/apps/__PS_ID__/__SERVICE___port_conflict_test.go
  api/cryptosuite-registry/templates/internal/apps/__PS_ID__/server/__SERVICE___port_conflict_test.go
  internal/apps-tools/cicd_lint/lint_fitness/apps_ps_id_template/apps_ps_id_template.go
  internal/apps-tools/cicd_lint/lint_fitness/apps_ps_id_template/apps_ps_id_template_service_template.go
  internal/apps-tools/cicd_lint/lint_fitness/apps_ps_id_template/apps_ps_id_template_test.go
  internal/apps/identity-authz/authz_port_conflict_test.go
  internal/apps/identity-authz/server/authz_port_conflict_test.go
  internal/apps/identity-idp/server/idp_port_conflict_test.go
  internal/apps/identity-rp/server/rp_port_conflict_test.go
  internal/apps/identity-rs/server/rs_port_conflict_test.go
  internal/apps/identity-spa/server/spa_port_conflict_test.go
  internal/apps/identity-spa/spa_port_conflict_test.go
  internal/apps/jose-ja/ja_port_conflict_test.go
  internal/apps/jose-ja/server/ja_port_conflict_test.go
  internal/apps/pki-ca/ca_port_conflict_test.go
  internal/apps/pki-ca/server/ca_port_conflict_test.go
  internal/apps/skeleton-template/server/template_port_conflict_test.go
  internal/apps/skeleton-template/template_port_conflict_test.go
  internal/apps/sm-im/im_port_conflict_test.go
  internal/apps/sm-im/server/im_port_conflict_test.go
  internal/apps/sm-kms/server/kms_port_conflict_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

chore(deps): update grpc and pre-commit hook pin
  .pre-commit-config.yaml
  go.mod
  go.sum
Due: go-build, go-mod-tidy

refactor(testing): remove contract test scaffolding
  .claude/skills/contract-test-gen/SKILL.md
  .claude/skills/psid-template-sync/SKILL.md
  .github/copilot-instructions.md
  .github/instructions/03-02.testing.instructions.md
  .github/skills/README.md
  .github/skills/contract-test-gen/SKILL.md
  .github/skills/psid-template-sync/SKILL.md
  CLAUDE.md
  api/cryptosuite-registry/templates/internal/apps/__PS_ID__/__SERVICE___contract_test.go
  docs/ENG-HANDBOOK.md
  docs/framework-v21/quizme-v2.md
  docs/target-structure.md
  internal/apps-framework/service/testing/contract/auth_contracts.go
  internal/apps-framework/service/testing/contract/auth_contracts_test.go
  internal/apps-framework/service/testing/contract/contracts.go
  internal/apps-framework/service/testing/contract/contracts_test.go
  internal/apps-framework/service/testing/contract/health_contracts.go
  internal/apps-framework/service/testing/contract/health_contracts_test.go
  internal/apps-framework/service/testing/contract/response_contracts.go
  internal/apps-framework/service/testing/contract/response_contracts_test.go
  internal/apps-framework/service/testing/contract/server_contracts.go
  internal/apps-framework/service/testing/contract/server_contracts_test.go
  internal/apps-framework/service/testing/contract/service_contracts.go
  internal/apps-framework/service/testing/contract/service_contracts_test.go
  internal/apps-framework/service/testing/contract/testmain_test.go
  internal/apps/identity-authz/authz_contract_test.go
  internal/apps/identity-authz/server/server_integration_test.go
  internal/apps/identity-idp/idp_contract_test.go
  internal/apps/identity-idp/server/server_integration_test.go
  internal/apps/identity-rp/server/server_integration_test.go
  internal/apps/identity-rs/rs_contract_test.go
  internal/apps/identity-rs/server/server_integration_test.go
  internal/apps/identity-spa/server/server_integration_test.go
  internal/apps/jose-ja/server/server_integration_test.go
  internal/apps/skeleton-template/server/server_integration_test.go
  internal/apps/sm-im/server/contracts_test.go
  internal/apps/sm-kms/server/contracts_integration_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(sm-im): remove cli-commands test variant and template special-case
  api/cryptosuite-registry/templates/internal/apps/__PS_ID__/__SERVICE___cli_commands_test.go
  internal/apps-tools/cicd_lint/lint_fitness/apps_ps_id_template/apps_ps_id_template.go
  internal/apps/sm-im/im_cli_commands_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(templates): merge usage template into service and rename cli test template
  api/cryptosuite-registry/templates/internal/apps/__PS_ID__/__SERVICE__.go
  api/cryptosuite-registry/templates/internal/apps/__PS_ID__/__SERVICE___test.go
  api/cryptosuite-registry/templates/internal/apps/__PS_ID__/__SERVICE___usage.go
  internal/apps-tools/cicd_lint/lint_fitness/apps_ps_id_template/apps_ps_id_template_service_template.go
  internal/apps-tools/cicd_lint/lint_fitness/apps_ps_id_template/apps_ps_id_template_test.go
  internal/apps-tools/cicd_lint/lint_fitness/template_drift/template_drift.go
  internal/apps-tools/cicd_lint/lint_fitness/template_drift/template_drift_helpers.go
  internal/apps-tools/cicd_lint/lint_fitness/template_drift/template_drift_helpers_test.go
  internal/apps-tools/cicd_lint/lint_fitness/template_drift/template_drift_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(ps-id): inline usage declarations and remove usage files
  api/cryptosuite-registry/templates/internal/apps/__PS_ID__/MANIFEST.yaml
  api/cryptosuite-registry/templates/internal/apps/__PS_ID__/README.md
  api/cryptosuite-registry/templates/internal/apps/__PS_ID__/__SERVICE__.go
  api/cryptosuite-registry/templates/internal/apps/__PS_ID__/__SERVICE___usage.go
  internal/apps-tools/cicd_lint/lint_fitness/apps_ps_id_required_files/apps_ps_id_required_files.go
  internal/apps-tools/cicd_lint/lint_fitness/apps_ps_id_required_files/apps_ps_id_required_files_test.go
  internal/apps-tools/cicd_lint/lint_fitness/apps_ps_id_template/apps_ps_id_template_test.go
  internal/apps-tools/cicd_lint/lint_fitness/lint-fitness-registry.yaml
  internal/apps-tools/cicd_lint/lint_fitness/service_structure/service_structure.go
  internal/apps-tools/cicd_lint/lint_fitness/service_structure/service_structure_test.go
  internal/apps/identity-authz/README.md
  internal/apps/identity-authz/authz.go
  internal/apps/identity-authz/authz_usage.go
  internal/apps/identity-idp/README.md
  internal/apps/identity-idp/idp.go
  internal/apps/identity-idp/idp_usage.go
  internal/apps/identity-rp/README.md
  internal/apps/identity-rp/rp.go
  internal/apps/identity-rp/rp_usage.go
  internal/apps/identity-rs/README.md
  internal/apps/identity-rs/rs.go
  internal/apps/identity-rs/rs_usage.go
  internal/apps/identity-spa/README.md
  internal/apps/identity-spa/spa.go
  internal/apps/identity-spa/spa_usage.go
  internal/apps/jose-ja/README.md
  internal/apps/jose-ja/ja.go
  internal/apps/jose-ja/ja_usage.go
  internal/apps/pki-ca/README.md
  internal/apps/pki-ca/ca.go
  internal/apps/pki-ca/ca_usage.go
  internal/apps/skeleton-template/README.md
  internal/apps/skeleton-template/template.go
  internal/apps/skeleton-template/template_usage.go
  internal/apps/sm-im/README.md
  internal/apps/sm-im/im.go
  internal/apps/sm-im/im_usage.go
  internal/apps/sm-kms/README.md
  internal/apps/sm-kms/kms.go
  internal/apps/sm-kms/kms_usage.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(apps-framework): reduce PS-ID entry points to single function via RouteServiceFromIdentity
  api/cryptosuite-registry/templates/internal/apps/__PS_ID__/__SERVICE__.go
  api/cryptosuite-registry/templates/internal/apps/__PS_ID__/__SERVICE___test.go
  internal/apps-framework/service/cli/service_identity.go
  internal/apps-framework/service/cli/service_identity_test.go
  internal/apps-framework/service/testing/testcli/testcli.go
  internal/apps-tools/cicd_lint/lint_fitness/apps_ps_id_template/apps_ps_id_template_service_template.go
  internal/apps/identity-authz/authz.go
  internal/apps/identity-authz/authz_cli_test.go
  internal/apps/identity-idp/idp.go
  internal/apps/identity-idp/idp_cli_test.go
  internal/apps/identity-rp/rp.go
  internal/apps/identity-rp/rp_cli_test.go
  internal/apps/identity-rs/rs.go
  internal/apps/identity-rs/rs_cli_test.go
  internal/apps/identity-spa/spa.go
  internal/apps/identity-spa/spa_cli_test.go
  internal/apps/jose-ja/ja.go
  internal/apps/jose-ja/ja_cli_test.go
  internal/apps/pki-ca/ca.go
  internal/apps/pki-ca/ca_cli_test.go
  internal/apps/skeleton-template/template.go
  internal/apps/skeleton-template/template_cli_test.go
  internal/apps/sm-im/im.go
  internal/apps/sm-im/im_cli_test.go
  internal/apps/sm-kms/kms.go
  internal/apps/sm-kms/kms_cli_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(cli): simplify PS-ID entry points to NewServiceIdentity 4-param pattern
  api/cryptosuite-registry/templates/internal/apps/__PS_ID__/__SERVICE__.go
  internal/apps-framework/service/cli/service_identity.go
  internal/apps-framework/service/cli/service_identity_test.go
  internal/apps-framework/service/config/config.go
  internal/apps/identity-authz/authz.go
  internal/apps/identity-idp/idp.go
  internal/apps/identity-rp/rp.go
  internal/apps/identity-rs/rs.go
  internal/apps/identity-spa/spa.go
  internal/apps/jose-ja/ja.go
  internal/apps/pki-ca/ca.go
  internal/apps/skeleton-template/template.go
  internal/apps/sm-im/im.go
  internal/apps/sm-kms/kms.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

chore(test): remove empty no-op testmain_test.go from all PS-IDs
  api/cryptosuite-registry/templates/internal/apps/__PS_ID__/README.md
  api/cryptosuite-registry/templates/internal/apps/__PS_ID__/testmain_test.go
  internal/apps-tools/cicd_lint/lint_fitness/apps_ps_id_template/apps_ps_id_template_service_template.go
  internal/apps-tools/cicd_lint/lint_fitness/apps_ps_id_template/apps_ps_id_template_test.go
  internal/apps/identity-authz/README.md
  internal/apps/identity-authz/testmain_test.go
  internal/apps/identity-idp/README.md
  internal/apps/identity-idp/testmain_test.go
  internal/apps/identity-rp/README.md
  internal/apps/identity-rp/testmain_test.go
  internal/apps/identity-rs/README.md
  internal/apps/identity-rs/testmain_test.go
  internal/apps/identity-spa/README.md
  internal/apps/identity-spa/testmain_test.go
  internal/apps/jose-ja/README.md
  internal/apps/jose-ja/testmain_test.go
  internal/apps/pki-ca/README.md
  internal/apps/pki-ca/testmain_test.go
  internal/apps/skeleton-template/README.md
  internal/apps/skeleton-template/testmain_test.go
  internal/apps/sm-im/README.md
  internal/apps/sm-im/testmain_test.go
  internal/apps/sm-kms/README.md
  internal/apps/sm-kms/testmain_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

chore(deps): update pre-commit hook revisions (commitizen v4.15.1, checkov 3.2.527)
  .pre-commit-config.yaml
Due: none

chore(deps): upgrade github.com/lestrrat-go/jwx/v3 v3.1.0 to v3.1.1
  go.mod
  go.sum
Due: go-build, go-mod-tidy

chore(workspace): checkpoint baseline before agent execution
  docs/framework-v21/quizme-v2.md
Due: none

refactor(template): remove ps-id readmes and tighten manifest
  api/cryptosuite-registry/templates/internal/apps/__PS_ID__/MANIFEST.yaml
  api/cryptosuite-registry/templates/internal/apps/__PS_ID__/README.md
  internal/apps-tools/cicd_lint/lint_fitness/apps_ps_id_template/apps_ps_id_template_service_template.go
  internal/apps-tools/cicd_lint/lint_fitness/apps_ps_id_template/apps_ps_id_template_test.go
  internal/apps/identity-authz/README.md
  internal/apps/identity-idp/README.md
  internal/apps/identity-rp/README.md
  internal/apps/identity-rs/README.md
  internal/apps/identity-spa/README.md
  internal/apps/jose-ja/README.md
  internal/apps/pki-ca/README.md
  internal/apps/skeleton-template/README.md
  internal/apps/sm-im/README.md
  internal/apps/sm-kms/README.md
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(cicd-lint): align ps-id cli template filename
  api/cryptosuite-registry/templates/internal/apps/__PS_ID__/__SERVICE___cli_test.go
  internal/apps-tools/cicd_lint/lint_fitness/apps_ps_id_template/apps_ps_id_template_service_template.go
  internal/apps-tools/cicd_lint/lint_fitness/apps_ps_id_template/apps_ps_id_template_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(cicd-lint): restore __SERVICE___test.go canonical template
  api/cryptosuite-registry/templates/internal/apps/__PS_ID__/__SERVICE___test.go
  internal/apps-tools/cicd_lint/lint_fitness/apps_ps_id_template/apps_ps_id_template_service_template.go
  internal/apps-tools/cicd_lint/lint_fitness/apps_ps_id_template/apps_ps_id_template_test.go
  internal/apps-tools/cicd_lint/lint_fitness/template_drift/template_drift_helpers_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(template): enforce __SERVICE___test.go in ps-id files
  .claude/skills/psid-template-sync/SKILL.md
  .github/instructions/03-02.testing.instructions.md
  .github/skills/psid-template-sync/SKILL.md
  api/cryptosuite-registry/templates/internal/apps/__PS_ID__/MANIFEST.yaml
  docs/ENG-HANDBOOK.md
  docs/target-structure.md
  internal/apps-framework/service/testing/testcli/testcli.go
  internal/apps-tools/cicd_lint/lint_fitness/apps_ps_id_template/apps_ps_id_template_service_template.go
  internal/apps-tools/cicd_lint/lint_fitness/apps_ps_id_template/apps_ps_id_template_test.go
  internal/apps/identity-authz/authz_test.go
  internal/apps/identity-idp/idp_test.go
  internal/apps/identity-rp/rp_test.go
  internal/apps/identity-rs/rs_test.go
  internal/apps/identity-spa/spa_test.go
  internal/apps/jose-ja/ja_test.go
  internal/apps/pki-ca/ca_test.go
  internal/apps/skeleton-template/template_test.go
  internal/apps/sm-im/im_test.go
  internal/apps/sm-kms/kms_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(cicd-lint): enforce exact __SERVICE__.go template parity
  .claude/skills/psid-template-sync/SKILL.md
  .github/instructions/03-02.testing.instructions.md
  .github/skills/psid-template-sync/SKILL.md
  api/cryptosuite-registry/templates/internal/apps/__PS_ID__/__SERVICE__.go
  docs/ENG-HANDBOOK.md
  internal/apps-tools/cicd_lint/lint_fitness/apps_ps_id_template/apps_ps_id_template_service_template.go
  internal/apps-tools/cicd_lint/lint_fitness/apps_ps_id_template/apps_ps_id_template_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(cicd-lint): exclude template go files from format-go filtering
  internal/apps-tools/cicd_lint/common/filter.go
  internal/apps-tools/cicd_lint/common/filter_test.go
  internal/shared/magic/magic_cicd.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(tooling): close all goimports vectors that strip template placeholder imports
  .golangci.yml
  .vscode/settings.json
Due: none

fix(template): rename __SERVICE__.go to .go.tmpl to close all formatter drift vectors
  .vscode/settings.json
  api/cryptosuite-registry/templates/internal/apps/__PS_ID__/__SERVICE__.go.tmpl
  internal/apps-tools/cicd_lint/lint_fitness/apps_ps_id_template/apps_ps_id_template_service_template.go
  internal/apps-tools/cicd_lint/lint_fitness/apps_ps_id_template/apps_ps_id_template_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(template): migrate all PS-ID template Go sources to .go.tmpl
  api/cryptosuite-registry/templates/internal/apps/__PS_ID__/MANIFEST.yaml
  api/cryptosuite-registry/templates/internal/apps/__PS_ID__/__SERVICE___test.go.tmpl
  api/cryptosuite-registry/templates/internal/apps/__PS_ID__/client/client.go.tmpl
  api/cryptosuite-registry/templates/internal/apps/__PS_ID__/server/__SERVICE___lifecycle_test.go.tmpl
  api/cryptosuite-registry/templates/internal/apps/__PS_ID__/server/__SERVICE___port_conflict_test.go.tmpl
  internal/apps-tools/cicd_lint/lint_fitness/apps_ps_id_template/apps_ps_id_template_service_template.go
  internal/apps-tools/cicd_lint/lint_fitness/apps_ps_id_template/apps_ps_id_template_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(testing): unify testmain files and enforce server conformance
  .claude/agents/implementation-execution.md
  .claude/skills/psid-template-sync/SKILL.md
  .claude/skills/test-table-driven/SKILL.md
  .github/agents/implementation-execution.agent.md
  .github/instructions/03-02.testing.instructions.md
  .github/skills/psid-template-sync/SKILL.md
  .github/skills/test-table-driven/SKILL.md
  api/cryptosuite-registry/templates/internal/apps/__PS_ID__/MANIFEST.yaml
  api/cryptosuite-registry/templates/internal/apps/__PS_ID__/server/testmain_test.go
  docs/ENG-HANDBOOK.md
  internal/apps-tools/cicd_lint/lint_fitness/apps_ps_id_template/apps_ps_id_template.go
  internal/apps-tools/cicd_lint/lint_fitness/apps_ps_id_template/apps_ps_id_template_service_template.go
  internal/apps/sm-im/client/testmain_test.go
  internal/apps/sm-kms/client/client_test.go
  internal/apps/sm-kms/client/testmain_test.go
  internal/apps/sm-kms/server/testmain_integration_test.go
  internal/apps/sm-kms/server/testmain_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(framework-v22): add multi-phase TestMain orchestration migration plan
  docs/framework-v22/lessons.md
  docs/framework-v22/plan.md
  docs/framework-v22/tasks.md
Due: none

chore(docs): swap framework v21 and v22 directories
  docs/framework-v21/lessons.md
  docs/framework-v21/plan.md
  docs/framework-v21/tasks.md
  docs/framework-v22/lessons.md
  docs/framework-v22/plan.md
  docs/framework-v22/quizme-v2.md
  docs/framework-v22/tasks.md
Due: none

docs(framework): realign v21-v22 plans and expand v22 orchestration scope
  docs/framework-v21/lessons.md
  docs/framework-v21/plan.md
  docs/framework-v21/quizme-v2.md
  docs/framework-v21/tasks.md
  docs/framework-v22/lessons.md
  docs/framework-v22/plan.md
  docs/framework-v22/tasks.md
Due: none

docs(framework): separate v21 testmain and v22 templates tracks
  docs/framework-v21/lessons.md
  docs/framework-v21/plan.md
  docs/framework-v21/tasks.md
  docs/framework-v22/lessons.md
  docs/framework-v22/plan.md
  docs/framework-v22/quizme-v2.md
  docs/framework-v22/tasks.md
Due: none

docs(framework-v21): refactor orchestration category model
  docs/framework-v21/plan.md
Due: none

refactor(docs): align framework-v21 module taxonomy and fix Goal 3A numbering
  docs/framework-v21/plan.md
  docs/framework-v22/plan.md
Due: none

docs(framework-v21): align plan and tasks to test_orch/test_help directories
  docs/framework-v21/plan.md
  docs/framework-v21/tasks.md
Due: none

refactor(tls-e2e): migrate framework tls tests to test_orch_e2e
  docs/framework-v21/tasks.md
  internal/apps-framework/service/test_orch_e2e/compose_manager_e2e.go
  internal/apps-framework/service/test_orch_e2e/health_e2e.go
  internal/apps-framework/service/test_orch_e2e/tls_psid_spec_e2e.go
  internal/apps-framework/tls/e2e/full_pipeline_test.go
  internal/apps-framework/tls/e2e/grafana_tls_e2e_test.go
  internal/apps-framework/tls/e2e/otel_tls_e2e_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(framework-v21): align plan update with phase-2 design gate
  docs/framework-v21/plan.md
  docs/framework-v21/tasks.md
Due: none

refactor(test-orch-e2e): relocate framework TLS E2E tests into orchestration package
  docs/framework-v21/tasks.md
  internal/apps-framework/service/test_orch_e2e/full_pipeline_test.go
  internal/apps-framework/service/test_orch_e2e/grafana_tls_e2e_test.go
  internal/apps-framework/service/test_orch_e2e/otel_tls_e2e_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(test-orch-e2e): parameterize TLS E2E PS-ID selection in TestMain
  internal/apps-framework/service/test_orch_e2e/otel_tls_e2e_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(framework-v21): reconcile plan/tasks with TLS E2E relocation and PS-ID parameterization
  docs/framework-v21/plan.md
  docs/framework-v21/tasks.md
Due: none

docs(framework-v21): add phase2 quizme unblock decisions
  docs/framework-v21/plan.md
  docs/framework-v21/quizme-v1.md
  docs/framework-v21/tasks.md
Due: none

chore(workspace): checkpoint baseline before agent execution
  docs/framework-v21/quizme-v1.md
Due: none
