Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-build, golangci-lint-full, golangci-lint, go-mod-tidy, check-todo-severity

Path conditions:
  go-build: any of: \.go$|go\.mod$|go\.sum$
  golangci-lint-full: any of: \.go$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.mod$
  check-todo-severity: any of: \.go$

feat(lint-fitness): Task 6.1 subcommand-completeness linter, 100% coverage, all tests pass
  docs/framework-v7/tasks.md
  internal/apps/tools/cicd_lint/lint_fitness/lint-fitness-registry.yaml
  internal/apps/tools/cicd_lint/lint_fitness/lint_fitness.go
  internal/apps/tools/cicd_lint/lint_fitness/subcommand_completeness/subcommand_completeness.go
  internal/apps/tools/cicd_lint/lint_fitness/subcommand_completeness/subcommand_completeness_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(lint-fitness): Task 6.2 api-path-registry linter, 100% coverage, 16 tests
  api/cryptosuite-registry/registry.yaml
  docs/framework-v7/tasks.md
  internal/apps/tools/cicd_lint/lint_fitness/api_path_registry/api_path_registry.go
  internal/apps/tools/cicd_lint/lint_fitness/api_path_registry/api_path_registry_test.go
  internal/apps/tools/cicd_lint/lint_fitness/lint-fitness-registry.yaml
  internal/apps/tools/cicd_lint/lint_fitness/lint_fitness.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(lint-go): pre-existing magic-alias violations in sysinfo_all + usernames_passwords_test_util
  docs/framework-v7/tasks.md
  internal/apps/identity-authz/authz_usage.go
  internal/apps/identity-idp/idp_usage.go
  internal/apps/identity-rp/rp_usage.go
  internal/apps/identity-rs/rs_usage.go
  internal/apps/identity-spa/spa_usage.go
  internal/apps/jose-ja/ja_usage.go
  internal/apps/pki-ca/ca_usage.go
  internal/apps/sm-im/im_usage.go
  internal/apps/sm-kms/kms_usage.go
  internal/apps/tools/cicd_lint/lint_fitness/health_path_completeness/health_path_completeness.go
  internal/apps/tools/cicd_lint/lint_fitness/health_path_completeness/health_path_completeness_test.go
  internal/apps/tools/cicd_lint/lint_fitness/lint-fitness-registry.yaml
  internal/apps/tools/cicd_lint/lint_fitness/lint_fitness.go
  internal/shared/util/random/usernames_passwords_test_util.go
  internal/shared/util/sysinfo/sysinfo_all.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs: Task 6.4 Phase 6 quality gates complete, lessons.md updated
  docs/framework-v7/lessons.md
  docs/framework-v7/tasks.md
Due: none

docs: Phase 7 knowledge propagation Tasks 7.1-7.4 complete
  .github/skills/fitness-function-gen/SKILL.md
  docs/ARCHITECTURE.md
  docs/framework-v7/lessons.md
  docs/framework-v7/tasks.md
Due: none

docs(framework-v7): finalize implementation docs - reorganize lessons, update target-structure, mark parameterization items implemented
  docs/framework-v7/PARAMETERIZATION-OPPORTUNITIES.md
  docs/framework-v7/lessons.md
  docs/framework-v7/target-structure.md
  docs/framework-v7/tasks.md
Due: none

fix(random): restore domainMaxLength constant for test compilation
  internal/shared/util/random/usernames_passwords_test_util.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

test(cicd-lint): boundary tests for mutation testing efficacy
  internal/apps/tools/cicd_lint/lint_fitness/import_alias_formula/import_alias_formula.go
  internal/apps/tools/cicd_lint/lint_fitness/pki_ca_profile_schema/pki_ca_profile_schema_test.go
  internal/apps/tools/cicd_lint/lint_fitness/registry/loader_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

test(docs-validation): add targeted tests to kill mutation survivors
  internal/apps/tools/cicd_lint/docs_validation/check_chunk_verification_test.go
  internal/apps/tools/cicd_lint/docs_validation/validate_chunks_test.go
  internal/apps/tools/cicd_lint/docs_validation/validate_coverage_test.go
  internal/apps/tools/cicd_lint/docs_validation/validate_propagation_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

test(docs-validation): kill remaining LIVED mutations for ZeroCoverageFiles boundary and displayText extraction
  internal/apps/tools/cicd_lint/docs_validation/propagation_coverage_test.go
  internal/apps/tools/cicd_lint/docs_validation/validate_propagation_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

test(compose-port-formula): add seam and targeted tests to kill mutation survivors
  internal/apps/tools/cicd_lint/lint_fitness/compose_port_formula/compose_port_formula.go
  internal/apps/tools/cicd_lint/lint_fitness/compose_port_formula/compose_port_formula_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(compose-service-names): use accurate map capacity to eliminate unkillable mutation
  internal/apps/tools/cicd_lint/lint_fitness/compose_service_names/compose_service_names.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(compose-service-names): remove map capacity hint to eliminate unkillable mutation
  internal/apps/tools/cicd_lint/lint_fitness/compose_service_names/compose_service_names.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(tasks): mark all mutation testing and race detector checkboxes complete
  docs/framework-v7/tasks.md
Due: none

chore(ci): upgrade GitHub Actions versions and clean up exemptions
  .github/versions-rules.xml
  .github/workflows-outdated-action-exemptions.json
  .github/workflows/ci-benchmark.yml
  .github/workflows/ci-coverage.yml
  .github/workflows/ci-dast.yml
  .github/workflows/ci-e2e.yml
  .github/workflows/ci-fitness.yml
  .github/workflows/ci-fuzz.yml
  .github/workflows/ci-github-cleanup.yml
  .github/workflows/ci-gitleaks.yml
  .github/workflows/ci-identity-validation.yml
  .github/workflows/ci-load.yml
  .github/workflows/ci-mutation.yml
  .github/workflows/ci-quality.yml
  .github/workflows/ci-race.yml
  .github/workflows/ci-sast.yml
  .github/workflows/release.yml
  .gitignore
  .pre-commit-config.yaml
Due: none

feat(registry): rewrite cryptosuite-registry with RESTful paths, display names, entrypoints, and identity-rp/spa API specs
  api/cryptosuite-registry/registry.yaml
  api/identity-authz/openapi_spec.yaml
  api/identity-idp/openapi_spec.yaml
  api/identity-rp/openapi_spec.yaml
  api/identity-rs/openapi_spec.yaml
  api/identity-spa/openapi_spec.yaml
  api/jose-ja/openapi_spec.yaml
  api/pki-ca/openapi_spec_enrollment.yaml
  api/sm-im/openapi_spec.yaml
  api/sm-kms/openapi_spec.yaml
  api/sm-kms/openapi_spec_paths.yaml
  docs/framework-v7/target-structure.md
  internal/apps/tools/cicd_lint/lint_fitness/api_path_registry/api_path_registry.go
  internal/apps/tools/cicd_lint/lint_fitness/api_path_registry/api_path_registry_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(deploy): standardize all service entrypoints to tini+PS-ID and update compose display name headers
  deployments/identity-authz/Dockerfile
  deployments/identity-authz/compose.yml
  deployments/identity-idp/Dockerfile
  deployments/identity-idp/compose.yml
  deployments/identity-rp/Dockerfile
  deployments/identity-rp/compose.yml
  deployments/identity-rs/Dockerfile
  deployments/identity-rs/compose.yml
  deployments/identity-spa/Dockerfile
  deployments/identity-spa/compose.yml
  deployments/jose-ja/Dockerfile
  deployments/jose-ja/compose.yml
  deployments/pki-ca/Dockerfile
  deployments/pki-ca/compose.yml
  deployments/skeleton-template/Dockerfile
  deployments/skeleton-template/compose.yml
  deployments/sm-im/Dockerfile
  deployments/sm-im/compose.yml
  deployments/sm-kms/Dockerfile
  deployments/sm-kms/compose.yml
Due: none

fix(cicd): rename .cicd output dir to .cicd-lint and update sm-im migration comment headers
  internal/apps/sm-im/repository/migrations/3001_init.down.sql
  internal/apps/sm-im/repository/migrations/3001_init.up.sql
  internal/shared/magic/magic_cicd.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(tests): update expected entrypoints and display names after registry rewrite, add validate_coverage to git tracking
  internal/apps/tools/cicd_lint/lint_docs/validate_coverage/validate_coverage.go
  internal/apps/tools/cicd_lint/lint_docs/validate_coverage/validate_coverage_test.go
  internal/apps/tools/cicd_lint/lint_fitness/migration_comment_headers/migration_comment_headers_test.go
  internal/apps/tools/cicd_lint/lint_fitness/registry/derivations_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(framework): fix product_router.go indentation and sqlite file-based db temp dir
  internal/apps/framework/product/cli/product_router.go
  internal/apps/framework/service/server/testutil/database_test_helpers.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(sm-im): merge integration/ tests into client/ package
  internal/apps/sm-im/client/concurrent_test.go
  internal/apps/sm-im/client/rotation_integration_test.go
  internal/apps/sm-im/client/service_integration_test.go
  internal/apps/sm-im/client/testmain_integration_test.go
  internal/apps/sm-im/client/web_client_integration_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(sm-im): move model/ and repository/ under server/
  internal/apps/sm-im/im_database_test.go
  internal/apps/sm-im/server/apis/messages.go
  internal/apps/sm-im/server/apis/messages_dberror_test.go
  internal/apps/sm-im/server/apis/messages_errorpaths_test.go
  internal/apps/sm-im/server/apis/messages_receive_test.go
  internal/apps/sm-im/server/apis/messages_test.go
  internal/apps/sm-im/server/model/message.go
  internal/apps/sm-im/server/model/message_test.go
  internal/apps/sm-im/server/model/recipient_message_jwk.go
  internal/apps/sm-im/server/model/recipient_message_jwk_test.go
  internal/apps/sm-im/server/public_server.go
  internal/apps/sm-im/server/repository/concurrent_access_test.go
  internal/apps/sm-im/server/repository/error_paths_test.go
  internal/apps/sm-im/server/repository/message_recipient_jwk_repository.go
  internal/apps/sm-im/server/repository/message_recipient_jwk_repository_test.go
  internal/apps/sm-im/server/repository/message_repository.go
  internal/apps/sm-im/server/repository/message_repository_test.go
  internal/apps/sm-im/server/repository/migrations.go
  internal/apps/sm-im/server/repository/migrations/3001_init.down.sql
  internal/apps/sm-im/server/repository/migrations/3001_init.up.sql
  internal/apps/sm-im/server/repository/migrations_test.go
  internal/apps/sm-im/server/repository/testmain_test.go
  internal/apps/sm-im/server/repository/user_repository.go
  internal/apps/sm-im/server/repository/user_repository_adapter.go
  internal/apps/sm-im/server/repository/user_repository_adapter_test.go
  internal/apps/sm-im/server/repository/user_repository_test.go
  internal/apps/sm-im/server/server.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

style(framework): reorder imports in database_test_helpers.go
  internal/apps/framework/service/server/testutil/database_test_helpers.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

ci(yamllint): configure 200-char line limit and disable new-lines check
  .pre-commit-config.yaml
  .yamllint.yaml
Due: none

chore: autosave workspace (auto-commit)
  .claude/agents/beast-mode.md
  .claude/agents/fix-workflows.md
  .claude/agents/implementation-execution.md
  .claude/agents/implementation-planning.md
  .claude/commands/agent-scaffold.md
  .claude/commands/contract-test-gen.md
  .claude/commands/coverage-analysis.md
  .claude/commands/fips-audit.md
  .claude/commands/fitness-function-gen.md
  .claude/commands/instruction-scaffold.md
  .claude/commands/migration-create.md
  .claude/commands/new-service.md
  .claude/commands/openapi-codegen.md
  .claude/commands/propagation-check.md
  .claude/commands/skill-scaffold.md
  .claude/commands/test-benchmark-gen.md
  .claude/commands/test-fuzz-gen.md
  .claude/commands/test-table-driven.md
  .claude/settings.local.json
  CLAUDE.md
  internal/apps/framework/tls/init.go
  internal/apps/identity-authz/authz.go
  internal/apps/identity-authz/server/config/config.go
  internal/apps/identity-idp/idp.go
  internal/apps/identity-idp/server/config/config.go
  internal/apps/identity-rp/rp.go
  internal/apps/identity-rp/server/config/config.go
  internal/apps/identity-rs/rs.go
  internal/apps/identity-rs/server/config/config.go
  internal/apps/identity-spa/server/config/config.go
  internal/apps/identity-spa/spa.go
  internal/apps/jose-ja/ja.go
  internal/apps/pki-ca/ca.go
  internal/apps/skeleton-template/template.go
  internal/apps/sm-im/im.go
  internal/apps/sm-kms/kms.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(identity): renumber migrations from 0001-0011 to 6001-6011 per registry.yaml ranges
  internal/apps/identity/repository/migrations/6001_init.down.sql
  internal/apps/identity/repository/migrations/6001_init.up.sql
  internal/apps/identity/repository/migrations/6002_authorization_consent.down.sql
  internal/apps/identity/repository/migrations/6002_authorization_consent.up.sql
  internal/apps/identity/repository/migrations/6003_client_secret_rotation.down.sql
  internal/apps/identity/repository/migrations/6003_client_secret_rotation.up.sql
  internal/apps/identity/repository/migrations/6004_client_secret_versioning.down.sql
  internal/apps/identity/repository/migrations/6004_client_secret_versioning.up.sql
  internal/apps/identity/repository/migrations/6005_post_logout_redirect_uris.down.sql
  internal/apps/identity/repository/migrations/6005_post_logout_redirect_uris.up.sql
  internal/apps/identity/repository/migrations/6006_logout_channels.down.sql
  internal/apps/identity/repository/migrations/6006_logout_channels.up.sql
  internal/apps/identity/repository/migrations/6007_jti_replay_cache.down.sql
  internal/apps/identity/repository/migrations/6007_jti_replay_cache.up.sql
  internal/apps/identity/repository/migrations/6008_totp_secrets.down.sql
  internal/apps/identity/repository/migrations/6008_totp_secrets.up.sql
  internal/apps/identity/repository/migrations/6009_backup_codes.down.sql
  internal/apps/identity/repository/migrations/6009_backup_codes.up.sql
  internal/apps/identity/repository/migrations/6010_webauthn_credentials.down.sql
  internal/apps/identity/repository/migrations/6010_webauthn_credentials.up.sql
  internal/apps/identity/repository/migrations/6011_webauthn_sessions.down.sql
  internal/apps/identity/repository/migrations/6011_webauthn_sessions.up.sql
Due: none

refactor(skeleton-template): align to canonical server/{apis,config,model,repository} layout
  internal/apps/identity-rp/rp.go
  internal/apps/skeleton-template/server/apis/handler.go
  internal/apps/skeleton-template/server/apis/handler_test.go
  internal/apps/skeleton-template/server/model/model.go
  internal/apps/skeleton-template/server/model/model_test.go
  internal/apps/skeleton-template/server/repository/item_repository.go
  internal/apps/skeleton-template/server/repository/item_repository_test.go
  internal/apps/skeleton-template/server/repository/migrations.go
  internal/apps/skeleton-template/server/repository/migrations/11001_template_items.down.sql
  internal/apps/skeleton-template/server/repository/migrations/11001_template_items.up.sql
  internal/apps/skeleton-template/server/repository/migrations/11002_template_items_add_fields.down.sql
  internal/apps/skeleton-template/server/repository/migrations/11002_template_items_add_fields.up.sql
  internal/apps/skeleton-template/server/repository/migrations_test.go
  internal/apps/skeleton-template/server/server.go
  internal/apps/skeleton-template/template.go
  internal/apps/skeleton-template/template_cli_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(ps-ids): add --help handling to init subcommand across all 9 remaining PS-IDs
  internal/apps/identity-authz/authz.go
  internal/apps/identity-idp/idp.go
  internal/apps/identity-rp/rp.go
  internal/apps/identity-rp/rp_test.go
  internal/apps/identity-rs/rs.go
  internal/apps/identity-spa/spa.go
  internal/apps/identity-spa/spa_test.go
  internal/apps/jose-ja/ja.go
  internal/apps/jose-ja/ja_cli_test.go
  internal/apps/pki-ca/ca.go
  internal/apps/pki-ca/ca_cli_test.go
  internal/apps/sm-im/im.go
  internal/apps/sm-im/im_cli_commands_test.go
  internal/apps/sm-kms/kms.go
  internal/apps/sm-kms/kms_cli_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(agents): migrate to single canonical .claude/agents source
  .github/agents/beast-mode.agent.md
  .github/agents/fix-workflows.agent.md
  .github/agents/implementation-execution.agent.md
  .github/agents/implementation-planning.agent.md
Due: none

feat(agents): replace stubs with full system prompt content in .claude/agents
  .claude/agents/beast-mode.md
  .claude/agents/fix-workflows.md
  .claude/agents/implementation-execution.md
  .claude/agents/implementation-planning.md
Due: none

docs(agents): update all artifact references to .claude/agents canonical source
  .claude/commands/agent-scaffold.md
  .github/copilot-instructions.md
  .github/instructions/06-02.agent-format.instructions.md
  .github/skills/agent-scaffold/SKILL.md
  CLAUDE.md
  docs/ARCHITECTURE.md
  internal/apps/pki-ca/ca_cli_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

chore(deps): update go-jose/v4 to v4.1.4, lib/pq to v1.12.1, actionlint to v1.7.12, pyproject-fmt to v2.21.0
  .pre-commit-config.yaml
  go.mod
  go.sum
Due: go-build, go-mod-tidy

refactor(agents): restore .github/agents and implement dual canonical strategy
  .claude/commands/agent-scaffold.md
  .github/agents/beast-mode.agent.md
  .github/agents/fix-workflows.agent.md
  .github/agents/implementation-execution.agent.md
  .github/agents/implementation-planning.agent.md
  .github/copilot-instructions.md
  .github/instructions/06-02.agent-format.instructions.md
  .github/skills/agent-scaffold/SKILL.md
  CLAUDE.md
  docs/ARCHITECTURE.md
Due: none

fix(docs): fix errcheck violations in agent_drift.go and skill_command_drift.go
  .claude/agents/beast-mode.md
  .claude/agents/fix-workflows.md
  .claude/agents/implementation-execution.md
  .claude/agents/implementation-planning.md
  .github/agents/beast-mode.agent.md
  .github/agents/fix-workflows.agent.md
  .github/agents/implementation-execution.agent.md
  .github/agents/implementation-planning.agent.md
  .github/instructions/06-02.agent-format.instructions.md
  CLAUDE.md
  docs/ARCHITECTURE.md
  docs/required-propagations.yaml
  internal/apps/tools/cicd_lint/docs_validation/agent_drift.go
  internal/apps/tools/cicd_lint/docs_validation/agent_drift_test.go
  internal/apps/tools/cicd_lint/docs_validation/propagation_coverage.go
  internal/apps/tools/cicd_lint/docs_validation/skill_command_drift.go
  internal/apps/tools/cicd_lint/docs_validation/skill_command_drift_test.go
  internal/apps/tools/cicd_lint/docs_validation/validate_coverage.go
  internal/apps/tools/cicd_lint/docs_validation/validate_coverage_test.go
  internal/apps/tools/cicd_lint/lint_docs/lint_agent_drift/lint_agent_drift.go
  internal/apps/tools/cicd_lint/lint_docs/lint_agent_drift/lint_agent_drift_test.go
  internal/apps/tools/cicd_lint/lint_docs/lint_docs.go
  internal/apps/tools/cicd_lint/lint_docs/lint_skill_command_drift/lint_skill_command_drift.go
  internal/apps/tools/cicd_lint/lint_docs/lint_skill_command_drift/lint_skill_command_drift_test.go
  internal/shared/magic/magic_cicd.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(framework-v7): split parameterization archive from active opportunities
  docs/framework-v7/PARAMETERIZATION-DONE.md
  docs/framework-v7/PARAMETERIZATION-OPPORTUNITIES.md
Due: none

docs(framework-v7): replace completed plan with continuation plan (phases 1-6)
  docs/framework-v7/PARAMETERIZATION-DONE.md
  docs/framework-v7/PARAMETERIZATION-OPPORTUNITIES.md
  docs/framework-v7/lessons.md
  docs/framework-v7/plan.md
  docs/framework-v7/tasks.md
Due: none

docs(framework-v7): add Phase 0 pre-work defect fixes (11 tasks from review feedback)
  docs/framework-v7/lessons.md
  docs/framework-v7/plan.md
  docs/framework-v7/tasks.md
Due: none

docs(framework-v7): correct 5 planning issues; add quizme-v2 for user decisions
  docs/framework-v7/lessons.md
  docs/framework-v7/plan.md
  docs/framework-v7/quizme-v2.md
  docs/framework-v7/tasks.md
Due: none

docs(framework-v7): merge quizme-v2 answers into plan/tasks; delete quizme
  docs/framework-v7/plan.md
  docs/framework-v7/quizme-v2.md
  docs/framework-v7/tasks.md
Due: none
