Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: github-workflow-lint, golangci-lint, go-mod-tidy, check-todo-severity, go-fix-all, go-build, cspell

github-workflow-lint:
  name: GitHub workflow lint
  entry: go
  args:
  - run
  - cmd/cicd/main.go
  - github-workflow-lint
  language: system
  pass_filenames: false
  stages:
  - pre-push

golangci-lint:
  name: golangci-lint (incremental auto-fix)
  entry: golangci-lint
  args:
  - run
  - --fix
  - --timeout=30m
  - --new-from-rev=HEAD~1
  language: system
  pass_filenames: false
  stages:
  - pre-commit

go-mod-tidy:
  name: go mod tidy
  entry: go
  args:
  - mod
  - tidy
  language: system
  pass_filenames: false

check-todo-severity:
  name: Check TODO/FIXME severity (block CRITICAL/HIGH)
  entry: bash
  args:
  - -c
  ...

go-fix-all:
  name: Auto-fix Go issues (staticcheck, copyloopvar, thelper)
  entry: go
  args:
  - run
  - cmd/cicd/main.go
  - go-fix-all
  language: system
  pass_filenames: false
  stages:
  - pre-commit

go-build:
  name: go build
  entry: go
  args:
  - build
  - ./...
  language: system
  pass_filenames: false
  stages:
  - pre-push

cspell:
  name: Check spelling
  entry: cspell
  args:
  - --no-progress
  - --cache
  language: system

style: add missing importas aliases for cryptoutil/internal imports
  .golangci.yml
  internal/identity/idp/handlers_parallel_safety_test.go
  internal/identity/idp/handlers_userinfo_claims_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: add comments to cicd command constants indicating file types they work on
  internal/cmd/cicd/cicd.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

refactor: remove legacy identity commands (go-update-project-status, go-update-project-status-v2, go-generate-postmortem)
  .github/workflows/ci-identity-validation.yml
  .github/workflows/ci-quality.yml
  README.md
  docs/TOOLS.md
  internal/cmd/cicd/cicd.go
  internal/cmd/cicd/go_generate_postmortem/generate.go
  internal/cmd/cicd/go_generate_postmortem/generate_test.go
  internal/cmd/cicd/go_update_project_status/update.go
  internal/cmd/cicd/go_update_project_status_v2/update.go
  internal/cmd/cicd/identity_progressive_validation/validation.go
  internal/common/magic/magic_cicd.go
Due: github-workflow-lint, golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(workflow): Re-add begin-workflow-job
  .github/workflows/ci-identity-validation.yml
Due: github-workflow-lint, cspell

refactor: remove unused CI/CD commands (continued)
  .golangci.yml
  .pre-commit-config.yaml
  .vscode/launch.json
  internal/cmd/cicd/cicd.go
  internal/cmd/cicd/cicd_run_integration_test.go
  internal/cmd/cicd/go_check_identity_imports/check_test.go
  internal/cmd/cicd/go_check_identity_imports/identityimports.go
  internal/cmd/cicd/go_check_identity_imports/identityimports_test.go
  internal/cmd/cicd/go_fix_all/all.go
  internal/cmd/cicd/go_fix_staticcheck_error_strings/staticcheck.go
  internal/cmd/cicd/go_fix_staticcheck_error_strings/staticcheck_test.go
  internal/cmd/cicd/go_identity_requirements_check/check.go
  internal/cmd/cicd/identity_progressive_validation/validation.go
  internal/cmd/cicd/rotate_secret/database.go
  internal/cmd/cicd/rotate_secret/rotate_secret.go
  internal/cmd/cicd/rotate_secret/rotate_secret_test.go
  internal/common/magic/magic_cicd.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

refactor: complete removal of unused CI/CD commands
  .github/workflows/ci-identity-validation.yml
  .pre-commit-config.yaml
  .vscode/launch.json
  internal/cmd/cicd/cicd_run_integration_test.go
Due: github-workflow-lint, golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix: remove identity requirements validation step from custom-cicd-lint action
  .github/actions/custom-cicd-lint/action.yml
Due: cspell

docs: update CI/CD command classifications in comments and usage text
  internal/cmd/cicd/cicd.go
  internal/common/magic/magic_cicd.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix: remove conflicting old files after directory rename
  internal/cmd/cicd/format_gotest/format_go_test.go
  internal/cmd/cicd/format_gotest/format_go_test_test.go
  internal/cmd/cicd/lint_gotest/lint_go_test.go
  internal/cmd/cicd/lint_gotest/lint_go_test_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

refactor(cicd): return files grouped by extension from ListAllFiles
  internal/cmd/cicd/cicd.go
  internal/cmd/cicd/format_go/enforce_any.go
  internal/cmd/cicd/format_go/format_go.go
  internal/cmd/cicd/format_go/format_go_test.go
  internal/cmd/cicd/lint_gotest/lint_gotest.go
  internal/cmd/cicd/lint_gotest/lint_gotest_test.go
  internal/cmd/cicd/lint_text/lint_text.go
  internal/cmd/cicd/lint_text/lint_text_test.go
  internal/cmd/cicd/lint_text/utf8.go
  internal/cmd/cicd/lint_workflow/lint_workflow.go
  internal/cmd/cicd/lint_workflow/lint_workflow_test.go
  internal/common/magic/magic_cicd.go
  internal/common/util/files/files.go
  internal/common/util/files/files_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

refactor(cicd): consolidate exclusion patterns and simplify file filtering
  internal/cmd/cicd/common/filter.go
  internal/cmd/cicd/common/filter_test.go
  internal/cmd/cicd/format_go/enforce_any.go
  internal/cmd/cicd/lint_text/lint_text_test.go
  internal/cmd/cicd/lint_text/utf8.go
  internal/common/magic/magic_cicd.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

chore: update cicd files
  internal/cmd/cicd/cicd.go
  internal/cmd/cicd/cicd_test.go
  internal/cmd/cicd/format_go/enforce_any.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(lint): use require
  internal/identity/authz/clientauth/integration_test.go
  internal/identity/idp/handlers_postgres_test.go
  internal/identity/integration/integration_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(lint): use UUIDv7 instead of hardcoded magic values
  cmd/identity/hardware-cred/main_test.go
  internal/identity/idp/handlers_openapi_validation_test.go
  internal/identity/idp/userauth/webauthn_authenticator_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

chore(go.mod): updated versions to satisfy linter
  go.mod
  go.sum
Due: go-mod-tidy, go-build

test(lint): fix testify.FailNowf err string parameter
  internal/identity/integration/integration_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(lint): use googleUuid.NewV7 instead of hard-coded UUIDs
  internal/identity/repository/orm/webauthn_credential_repository_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(passthru2): complete Session 5 answers, create Session 6, update plans
  docs/03-products/passthru2/IMPLEMENTATION-PROGRESS.md
  docs/03-products/passthru2/README.md
  docs/03-products/passthru2/TASK-LIST.md
  docs/03-products/passthru2/grooming/GROOMING-SESSION-5.md
  docs/03-products/passthru2/grooming/GROOMING-SESSION-6.md
Due: cspell

feat(tls): add HSM placeholder package for PKCS#11/YubiKey (P0.20)
  internal/infra/tls/hsm/hsm.go
  internal/infra/tls/hsm/hsm_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(demo): add unified demo CLI binary (P1.8-P1.13f)
  cmd/demo/main.go
  internal/cmd/demo/demo.go
  internal/cmd/demo/errors.go
  internal/cmd/demo/identity.go
  internal/cmd/demo/integration.go
  internal/cmd/demo/kms.go
  internal/cmd/demo/progress.go
  internal/common/magic/magic_testing.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(tls): fix wsl lint errors in hsm_test.go
  .vscode/cspell.json
  internal/infra/tls/hsm/hsm_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(realm): add realms.yml loader and realm configs (P1.14-P1.18)
  .vscode/settings.json
  docs/03-products/passthru2/TASK-LIST.md
  internal/common/magic/magic_crypto.go
  internal/infra/realm/realm.go
  internal/infra/realm/realm_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(demo): add tenant ID regeneration on startup (P1.22)
  docs/03-products/passthru2/TASK-LIST.md
  internal/server/demo/seed.go
  internal/server/demo/seed_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(middleware): add tenant ID header middleware (P1.23)
  internal/common/magic/magic_misc.go
  internal/server/middleware/tenant.go
  internal/server/middleware/tenant_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: mark P1.23 complete
  docs/03-products/passthru2/TASK-LIST.md
Due: cspell

feat(tenant): add schema-per-tenant isolation (P1.24)
  internal/infra/tenant/tenant.go
  internal/infra/tenant/tenant_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(handler): add comprehensive handler tests (P1.25)
  docs/03-products/passthru2/TASK-LIST.md
  internal/server/handler/handler_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: update P1.24-P1.25 status in TASK-LIST
  docs/03-products/passthru2/TASK-LIST.md
Due: cspell

test(businesslogic): enhance algorithm coverage and add parallelism (P1.26)
  docs/03-products/passthru2/TASK-LIST.md
  internal/server/businesslogic/businesslogic_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(crypto): align PBKDF2 hash format prefix with verification check
  internal/common/magic/magic_crypto.go
  internal/crypto/secret_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(test): update PBKDF2 hash format checks to use pbkdf2-sha256 prefix
  internal/identity/idp/userauth/token_hashing_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: update Phase 2 task completion status
  docs/03-products/passthru2/TASK-LIST.md
Due: cspell

fix(test): update all PBKDF2 tests to use pbkdf2-sha256 format
  internal/crypto/secret_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: update TASK-LIST Phase 1 complete, Phase 2 bootstrap status
  docs/03-products/passthru2/TASK-LIST.md
Due: cspell

feat(bootstrap): add ResetDemoData and ResetAndReseedDemo functions (P2.11)
  internal/identity/bootstrap/demo_reset.go
  internal/identity/bootstrap/demo_reset_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(identity): add --reset-demo flag to start command (P2.11)
  cmd/identity/command_start.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: mark Phase 2 complete (P2.11-P2.12)
  docs/03-products/passthru2/TASK-LIST.md
Due: cspell

feat(middleware): add JWT validation middleware with JWKS caching (P3.1-P3.3)
  internal/server/middleware/jwt.go
  internal/server/middleware/jwt_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(middleware): add configurable revocation check frequency modes (P3.5)
  internal/server/middleware/jwt.go
  internal/server/middleware/jwt_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

Path conditions:
  github-workflow-lint: any of: \.github/workflows/.*\.(yml|yaml)$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.mod$
  check-todo-severity: any of: \.go$
  go-fix-all: any of: \.go$
  go-build: any of: \.go$|go\.mod$|go\.sum$
  cspell: any of: \.(md|txt|go|yaml|yml|json|js|ts|py|sh|ps1)$, but not: ^(test/|vendor/|\.git/|node_modules/|\.cache/)
