Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-build, golangci-lint-full, golangci-lint, go-mod-tidy, check-todo-severity

Path conditions:
  go-build: any of: \.go$|go\.mod$|go\.sum$
  golangci-lint-full: any of: \.go$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.mod$
  check-todo-severity: any of: \.go$

docs(agents): add Multi-Category Fix Commit Rule examples and checkpoint pattern
  .github/agents/beast-mode.agent.md
  .github/agents/implementation-execution.agent.md
  docs/framework-v3/tasks.md
Due: none

docs: propagate D7/D19 3-tier test strategy and D26 tool catalog to permanent artifacts
  .github/agents/beast-mode.agent.md
  .github/agents/implementation-execution.agent.md
  .github/agents/implementation-planning.agent.md
  .github/instructions/03-02.testing.instructions.md
  .github/instructions/04-01.deployment.instructions.md
  docs/ARCHITECTURE.md
  docs/framework-v3/tasks.md
Due: none

docs(framework-v3): complete Phase 9 validation and post-mortem (Task 9.9)
  docs/framework-v3/lessons.md
  docs/framework-v3/tasks.md
Due: none

docs: document skeleton vs lint-fitness vs /new-service relationship (Task 6.3)
  docs/ARCHITECTURE.md
  docs/framework-v3/tasks.md
Due: none

refactor(api): split api/identity/ into per-service identity-* dirs (Task 10.2)
  .golangci.yml
  api/identity-authz/generate.go
  api/identity-authz/openapi-gen_config.yaml
  api/identity-authz/openapi-gen_config_models.yaml
  api/identity-authz/openapi_gen_client.go
  api/identity-authz/openapi_spec.yaml
  api/identity-authz/openapi_spec_components.yaml
  api/identity-idp/generate.go
  api/identity-idp/openapi-gen_config.yaml
  api/identity-idp/openapi_gen_client.go
  api/identity-idp/openapi_spec.yaml
  api/identity-rp/generate.go
  api/identity-rs/generate.go
  api/identity-rs/openapi-gen_config.yaml
  api/identity-rs/openapi_gen_client.go
  api/identity-rs/openapi_spec.yaml
  api/identity-spa/generate.go
  api/identity/authz/openapi.yaml
  api/identity/generate.go
  api/identity/idp/openapi.yaml
  internal/apps/identity/authz/authz_contract_test.go
  internal/apps/identity/authz/swagger.go
  internal/apps/identity/idp/idp_contract_test.go
  internal/apps/identity/idp/swagger.go
  internal/apps/identity/rs/rs_contract_test.go
  internal/apps/identity/rs/swagger.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(skeleton-template): Task 10.4 - add OpenAPI CRUD example with handler and repository tests
  api/skeleton-template/client/client.gen.go
  api/skeleton-template/generate.go
  api/skeleton-template/models/models.gen.go
  api/skeleton-template/openapi-gen_config_client.yaml
  api/skeleton-template/openapi-gen_config_models.yaml
  api/skeleton-template/openapi-gen_config_server.yaml
  api/skeleton-template/openapi_spec.yaml
  api/skeleton-template/server/server.gen.go
  docs/framework-v3/tasks.md
  internal/apps/cicd/cicd_test.go
  internal/apps/cicd/docs_validation/check_chunk_verification_test.go
  internal/apps/cicd/docs_validation/validate_propagation_test.go
  internal/apps/cicd/format_go/format_go_test.go
  internal/apps/cicd/lint_fitness/admin_bind_address/admin_bind_address.go
  internal/apps/cicd/lint_fitness/check_skeleton_placeholders/check_skeleton_placeholders.go
  internal/apps/cicd/lint_fitness/check_skeleton_placeholders/check_skeleton_placeholders_test.go
  internal/apps/cicd/lint_fitness/health_endpoint_presence/health_endpoint_presence.go
  internal/apps/cicd/lint_fitness/non_fips_algorithms/non_fips_algorithms.go
  internal/apps/cicd/lint_fitness/tls_minimum_version/tls_minimum_version.go
  internal/apps/cicd/lint_ports/legacy_ports/legacy_ports_test.go
  internal/apps/skeleton/template/domain/model.go
  internal/apps/skeleton/template/repository/item_repository.go
  internal/apps/skeleton/template/repository/item_repository_test.go
  internal/apps/skeleton/template/repository/migrations/2002_template_items_add_fields.down.sql
  internal/apps/skeleton/template/repository/migrations/2002_template_items_add_fields.up.sql
  internal/apps/skeleton/template/server/handler/handler.go
  internal/apps/skeleton/template/server/handler/handler_test.go
  internal/apps/skeleton/template/server/server.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(skeleton-template): resolve lint-go literal-use and lint-fitness test-pattern violations
  internal/apps/skeleton/template/repository/item_repository_test.go
  internal/apps/skeleton/template/server/handler/handler.go
  internal/apps/skeleton/template/server/handler/handler_test.go
  internal/apps/skeleton/template/server/server.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(lint_fitness): task 10.5 - consolidate initialisms in gen configs
  .github/instructions/02-04.openapi.instructions.md
  api/jose-ja/openapi-gen_config_server.yaml
  api/openapi-gen_config_server.yaml
  api/pki-ca/openapi-gen_config_server.yaml
  api/skeleton-template/openapi-gen_config_server.yaml
  api/sm-im/openapi-gen_config_server.yaml
  api/sm-kms/openapi-gen_config_server.yaml
  docs/ARCHITECTURE.md
  docs/framework-v3/tasks.md
  internal/apps/cicd/lint_fitness/gen_config_initialisms/gen_config_initialisms.go
  internal/apps/cicd/lint_fitness/gen_config_initialisms/gen_config_initialisms_test.go
  internal/apps/cicd/lint_fitness/lint_fitness.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

chore(deps): update go.mod outdated direct dependencies and pre-commit hooks
  .pre-commit-config.yaml
  go.mod
  go.sum
Due: go-build, go-mod-tidy

feat(openapi): task 10.6 - deduplicate FiberHandlerOpenAPISpec into service-template builder
  docs/framework-v3/tasks.md
  internal/apps/identity/authz/swagger.go
  internal/apps/identity/idp/swagger.go
  internal/apps/jose/ja/swagger.go
  internal/apps/jose/ja/swagger_test.go
  internal/apps/pki/ca/swagger.go
  internal/apps/pki/ca/swagger_test.go
  internal/apps/skeleton/template/swagger.go
  internal/apps/skeleton/template/swagger_test.go
  internal/apps/sm/im/swagger.go
  internal/apps/sm/im/swagger_test.go
  internal/apps/sm/kms/swagger.go
  internal/apps/sm/kms/swagger_test.go
  internal/apps/template/service/server/builder/openapi.go
  internal/apps/template/service/server/builder/openapi_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(lint_fitness): task 10.7 - add require-api-dir sub-linter for api/ directory enforcement
  docs/framework-v3/checklist.md
  docs/framework-v3/tasks.md
  internal/apps/cicd/lint_fitness/lint_fitness.go
  internal/apps/cicd/lint_fitness/require_api_dir/require_api_dir.go
  internal/apps/cicd/lint_fitness/require_api_dir/require_api_dir_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(framework-v3): task 10.8 - phase 10 validation post-mortem and lessons
  docs/framework-v3/checklist.md
  docs/framework-v3/lessons.md
  docs/framework-v3/tasks.md
Due: none

docs(framework): update all documentation and Copilot artifacts for service-framework rename
  .github/agents/doc-sync.agent.md
  .github/agents/implementation-planning.agent.md
  .github/instructions/02-01.architecture.instructions.md
  .github/instructions/03-03.golang.instructions.md
  .github/instructions/03-04.data-infrastructure.instructions.md
  .github/skills/new-service/SKILL.md
  docs/ARCHITECTURE.md
  docs/DEAD_CODE_REVIEW.md
  docs/framework-v3/checklist.md
  docs/framework-v3/tasks.md
  internal/apps/framework/service/server/server_coverage_test.go
  internal/apps/framework/service/server/service_framework.go
  internal/apps/framework/service/server/service_framework_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(lint-fitness): add require-framework-naming sub-linter
  docs/framework-v3/checklist.md
  docs/framework-v3/tasks.md
  internal/apps/cicd/lint_fitness/lint_fitness.go
  internal/apps/cicd/lint_fitness/require_framework_naming/require_framework_naming.go
  internal/apps/cicd/lint_fitness/require_framework_naming/require_framework_naming_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs: update remaining service-template references to service-framework
  .github/workflows/ci-e2e.yml
  deployments/template/compose.yml
  docs/framework-v3/checklist.md
  docs/framework-v3/plan.md
  docs/framework-v3/tasks.md
  internal/apps/framework/service/server/repository/migrations.go
  internal/apps/framework/service/server/repository/migrations/1002_barrier_tables.up.sql
  internal/apps/framework/service/server/repository/migrations/1004_add_multi_tenancy.down.sql
  internal/apps/framework/service/server/repository/migrations/1004_add_multi_tenancy.up.sql
  internal/apps/framework/service/server_integration/integration_test.go
  internal/apps/identity/authz/server/server.go
  internal/apps/identity/idp/server/server.go
  internal/apps/identity/rp/server/server.go
  internal/apps/identity/rs/server/server.go
  internal/apps/jose/ja/server/server.go
  internal/apps/pki/ca/server/public_server.go
  internal/apps/pki/ca/server/public_server_highcov_test.go
  internal/apps/pki/ca/server/server.go
  internal/apps/skeleton/template/server/server.go
  internal/apps/sm/im/server/server.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs: Phase 11 validation and post-mortem
  docs/framework-v3/checklist.md
  docs/framework-v3/lessons.md
  docs/framework-v3/plan.md
  docs/framework-v3/tasks.md
  internal/apps/framework/service/server/repository/migrations.go
  internal/apps/framework/service/server_integration/integration_test.go
  internal/apps/identity/authz/server/server.go
  internal/apps/identity/idp/server/server.go
  internal/apps/identity/rp/server/server.go
  internal/apps/identity/rs/server/server.go
  internal/apps/jose/ja/server/server.go
  internal/apps/pki/ca/server/public_server.go
  internal/apps/pki/ca/server/server.go
  internal/apps/sm/im/server/server.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(framework-v3): update tracking to 86/86 complete — all phases done
  docs/framework-v3/checklist.md
  docs/framework-v3/tasks.md
Due: none

fix(testing): enforce 3-tier DB strategy in integration tests
  .github/instructions/03-04.data-infrastructure.instructions.md
  .golangci.yml
Due: none

fix(phase-b): enforce 3-tier DB strategy and quality improvements
  docs/ARCHITECTURE.md
  docs/framework-v3/lessons.md
  internal/apps/cicd/lint_fitness/no_postgres_in_non_e2e/no_postgres_in_non_e2e.go
  internal/apps/cicd/lint_fitness/no_postgres_in_non_e2e/no_postgres_in_non_e2e_test.go
  internal/apps/cicd/lint_go/test_presence/test_presence.go
  internal/apps/cicd/lint_go/test_presence/test_presence_test.go
  internal/apps/framework/service/server/apis/registration_integration_proc_test.go
  internal/apps/framework/service/server/businesslogic/tenant_registration_service_test.go
  internal/apps/framework/service/server/testutil/database_test_helpers.go
  internal/apps/sm/im/im_database_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

chore(pre-commit): auto-update ruff to v0.15.7
  .pre-commit-config.yaml
Due: none

docs(lessons): correct Phase 10 api/ dead code analysis
  docs/framework-v3/lessons.md
Due: none

docs(framework-v3): update checklist.md and plan.md for Phase 10B completion
  docs/framework-v3/checklist.md
  docs/framework-v3/plan.md
Due: none

fix: rename Cipher to SM product names and fix sm-im instance naming
  .golangci.yml
  .vscode/cspell.json
  configs/sm/im/config-pg-1.yml
  configs/sm/im/config-pg-2.yml
  configs/sm/im/config-sqlite.yml
  configs/sm/im/im.yml
  deployments/sm-im/compose.yml
  internal/apps/framework/service/server/repository/migrations/1004_add_multi_tenancy.up.sql
  internal/apps/sm/im/repository/migrations/2001_init.down.sql
  internal/apps/sm/im/repository/migrations/2001_init.up.sql
Due: none

docs(framework-v4): create anti-drift fitness linter expansion plan
  docs/framework-v4/lessons.md
  docs/framework-v4/plan.md
  docs/framework-v4/tasks.md
Due: none

feat(lint-fitness): add otlp-service-name-pattern check (framework-v4 phase 1)
  configs/sm/kms/config-pg-1.yml
  configs/sm/kms/config-pg-2.yml
  internal/apps/cicd/lint_fitness/lint_fitness.go
  internal/apps/cicd/lint_fitness/otlp_service_name_pattern/otlp_service_name_pattern.go
  internal/apps/cicd/lint_fitness/otlp_service_name_pattern/otlp_service_name_pattern_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(framework-v4): add Phase 1 post-mortem lessons
  docs/framework-v4/lessons.md
Due: none

docs(framework-v4): mark Phase 1 complete in tasks.md
  docs/framework-v4/tasks.md
Due: none

feat(lint-fitness): add entity registry and completeness check (Phase 2)
  internal/apps/cicd/lint_fitness/entity_registry_completeness/entity_registry_completeness.go
  internal/apps/cicd/lint_fitness/entity_registry_completeness/entity_registry_completeness_test.go
  internal/apps/cicd/lint_fitness/lint_fitness.go
  internal/apps/cicd/lint_fitness/product_structure/product_structure.go
  internal/apps/cicd/lint_fitness/registry/registry.go
  internal/apps/cicd/lint_fitness/registry/registry_test.go
  internal/apps/cicd/lint_fitness/service_structure/service_structure.go
  internal/shared/magic/magic_cicd.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(framework-v4): mark Phase 2 complete and add lessons
  docs/framework-v4/lessons.md
  docs/framework-v4/tasks.md
Due: none

feat(lint-fitness): add banned-product-names and legacy-dir-detection checks (Phase 3)
  internal/apps/cicd/lint_fitness/admin_bind_address/admin_bind_address.go
  internal/apps/cicd/lint_fitness/banned_product_names/banned_product_names.go
  internal/apps/cicd/lint_fitness/banned_product_names/banned_product_names_test.go
  internal/apps/cicd/lint_fitness/check_skeleton_placeholders/check_skeleton_placeholders.go
  internal/apps/cicd/lint_fitness/domain_layer_isolation/domain_layer_isolation.go
  internal/apps/cicd/lint_fitness/file_size_limits/file_size_limits.go
  internal/apps/cicd/lint_fitness/health_endpoint_presence/health_endpoint_presence_test.go
  internal/apps/cicd/lint_fitness/legacy_dir_detection/legacy_dir_detection.go
  internal/apps/cicd/lint_fitness/legacy_dir_detection/legacy_dir_detection_test.go
  internal/apps/cicd/lint_fitness/lint_fitness.go
  internal/apps/cicd/lint_fitness/migration_range_compliance/migration_range_compliance_test.go
  internal/apps/cicd/lint_fitness/non_fips_algorithms/non_fips_algorithms.go
  internal/apps/cicd/lint_fitness/service_contract_compliance/service_contract_compliance_test.go
  internal/apps/cicd/lint_fitness/tls_minimum_version/tls_minimum_version.go
  internal/apps/cicd/lint_go/leftover_coverage/leftover_coverage.go
  internal/apps/cicd/lint_go/leftover_coverage/leftover_coverage_test.go
  internal/apps/cicd/lint_go/magic_usage/magic_usage_error_paths_test.go
  internal/apps/workflow/workflow_utility_test.go
  internal/shared/magic/magic_cicd.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(framework-v4): mark Phase 3 complete and add lessons
  docs/framework-v4/lessons.md
  docs/framework-v4/tasks.md
Due: none

chore(tooling): update gitleaks rev to v8.30.0 (pre-commit autoupdate)
  .pre-commit-config.yaml
Due: none

feat(lint-fitness): add deployment-dir-completeness check (Phase 4)
  internal/apps/cicd/lint_fitness/deployment_dir_completeness/deployment_dir_completeness.go
  internal/apps/cicd/lint_fitness/deployment_dir_completeness/deployment_dir_completeness_test.go
  internal/apps/cicd/lint_fitness/lint_fitness.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(framework-v4): mark Phase 4 complete and add lessons
  docs/framework-v4/lessons.md
  docs/framework-v4/tasks.md
Due: none

feat(lint-fitness): add compose header, service name, and db naming checks (Phase 5)
  deployments/identity-idp/compose.yml
  deployments/identity-rp/compose.yml
  deployments/identity-rs/compose.yml
  deployments/identity-spa/compose.yml
  deployments/sm-kms/compose.yml
  internal/apps/cicd/lint_fitness/compose_db_naming/compose_db_naming.go
  internal/apps/cicd/lint_fitness/compose_db_naming/compose_db_naming_test.go
  internal/apps/cicd/lint_fitness/compose_header_format/compose_header_format.go
  internal/apps/cicd/lint_fitness/compose_header_format/compose_header_format_test.go
  internal/apps/cicd/lint_fitness/compose_service_names/compose_service_names.go
  internal/apps/cicd/lint_fitness/compose_service_names/compose_service_names_test.go
  internal/apps/cicd/lint_fitness/lint_fitness.go
  internal/shared/magic/magic_cicd.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(framework-v4): mark Phase 5 complete and add lessons
  docs/framework-v4/lessons.md
  docs/framework-v4/tasks.md
Due: none

feat(lint-fitness): add magic E2E container name and compose path checks (Phase 6)
  internal/apps/cicd/lint_fitness/lint_fitness.go
  internal/apps/cicd/lint_fitness/magic_e2e_compose_path/magic_e2e_compose_path.go
  internal/apps/cicd/lint_fitness/magic_e2e_compose_path/magic_e2e_compose_path_test.go
  internal/apps/cicd/lint_fitness/magic_e2e_container_names/magic_e2e_container_names.go
  internal/apps/cicd/lint_fitness/magic_e2e_container_names/magic_e2e_container_names_test.go
  internal/shared/magic/magic_identity.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity
