Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: github-workflow-lint, golangci-lint, go-mod-tidy, check-todo-severity, go-fix-all, go-build, cspell

Path conditions:
  github-workflow-lint: any of: \.github/workflows/.*\.(yml|yaml)$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.mod$
  check-todo-severity: any of: \.go$
  go-fix-all: any of: \.go$
  go-build: any of: \.go$|go\.mod$|go\.sum$
  cspell: any of: \.(md|txt|go|yaml|yml|json|js|ts|py|sh|ps1)$, but not: ^(test/|vendor/|\.git/|node_modules/|\.cache/)

fix(phase0): correct package names in KMS example code
  specs/001-cryptoutil/PHASE0-IMPLEMENTATION.md
Due: cspell

docs(speckit): fix variable name to pass cspell pre-commit hook
  specs/001-cryptoutil/PHASE0-IMPLEMENTATION.md
Due: cspell

docs(speckit): add Phase 1 CI/CD workflow fixes implementation guide
  specs/001-cryptoutil/PHASE1-IMPLEMENTATION.md
Due: cspell

docs(speckit): add Phase 2 deferred features implementation guide
  specs/001-cryptoutil/PHASE2-IMPLEMENTATION.md
Due: cspell

docs(speckit): add Phase 3 coverage targets implementation guide
  specs/001-cryptoutil/PHASE3-IMPLEMENTATION.md
Due: cspell

docs(speckit): fix cspell issues in Phase 3 guide
  specs/001-cryptoutil/PHASE3-IMPLEMENTATION.md
Due: cspell

docs(speckit): add Phase 4 advanced testing implementation guide
  specs/001-cryptoutil/PHASE4-IMPLEMENTATION.md
Due: cspell

docs(speckit): add cspell ignore directive for leanovate package
  specs/001-cryptoutil/PHASE4-IMPLEMENTATION.md
Due: cspell

docs(speckit): add Phase 5 documentation & demo implementation guide
  specs/001-cryptoutil/PHASE5-IMPLEMENTATION.md
Due: cspell

docs(speckit): update progress - all implementation guides complete (23.8%)
  specs/001-cryptoutil/PROGRESS.md
Due: cspell

docs(speckit): add comprehensive session summary and handoff documentation
  specs/001-cryptoutil/SESSION-SUMMARY.md
Due: cspell

docs(speckit): fix cspell and markdown linting in session summary
  specs/001-cryptoutil/SESSION-SUMMARY.md
Due: cspell

docs: update spec implementation phases and tasks
  specs/001-cryptoutil/PHASE0-IMPLEMENTATION.md
  specs/001-cryptoutil/PHASE1-IMPLEMENTATION.md
  specs/001-cryptoutil/PHASE2-IMPLEMENTATION.md
  specs/001-cryptoutil/PHASE3-IMPLEMENTATION.md
  specs/001-cryptoutil/PHASE4-IMPLEMENTATION.md
  specs/001-cryptoutil/PHASE5-IMPLEMENTATION.md
  specs/001-cryptoutil/SESSION-SUMMARY.md
  specs/001-cryptoutil/TASKS.md
Due: cspell

feat(identity): optimize clientauth tests 70s → 33s (P0.1)
  internal/identity/authz/clientauth/integration_test.go
  specs/001-cryptoutil/PROGRESS.md
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(speckit): complete Phase 0 - all packages under targets (P0.1-P0.11)
  specs/001-cryptoutil/PROGRESS.md
Due: cspell

fix(ci): resolve ci-coverage workflow failures (P1.1)
  .github/workflows/ci-coverage.yml
  internal/identity/repository/orm/consent_decision_repository_test.go
Due: github-workflow-lint, golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

chore(format): apply auto-format fixes from pre-commit hooks
  api/jose/models/models.gen.go
  api/jose/server/server.gen.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

chore(cspell): ignore generated *.gen.go files from spell check
  .vscode/cspell.json
Due: cspell

fix(test): align consent_expired test with Linux/production behavior
  internal/identity/repository/orm/consent_decision_repository_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(ci): lower coverage threshold to 60% for -short mode (P1.1)
  .github/workflows/ci-coverage.yml
Due: github-workflow-lint, cspell

docs(speckit): complete P1.1 ci-coverage workflow (22/42 tasks, 52.4%)
  specs/001-cryptoutil/PROGRESS.md
Due: cspell

docs(speckit): mark P1.2-P1.3 complete (24/42 tasks, 57.1%)
  specs/001-cryptoutil/PROGRESS.md
Due: cspell

docs(speckit): Phase 1 partial complete, defer remaining for optimization
  specs/001-cryptoutil/PROGRESS.md
Due: cspell

test: update consent decision repository test and progress docs
  internal/identity/repository/orm/consent_decision_repository_test.go
  specs/001-cryptoutil/PROGRESS.md
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(test): remove hardcoded UUIDs in uuid_internal_test.go
  internal/identity/issuer/uuid_internal_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(ci): remove -short flag and add PostgreSQL service to ci-coverage
  .github/workflows/ci-coverage.yml
  internal/kms/server/repository/sqlrepository/sql_comprehensive_coverage_test.go
  internal/kms/server/repository/sqlrepository/sql_container_modes_test.go
  internal/kms/server/repository/sqlrepository/sql_final_coverage_test.go
  internal/kms/server/repository/sqlrepository/sql_postgres_coverage_test.go
Due: github-workflow-lint, golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(perf): optimize clientauth tests from 33s to 11s (P0.1 complete)
  internal/identity/authz/clientauth/integration_test.go
  internal/identity/authz/clientauth/jwt_tls_test.go
  internal/identity/authz/clientauth/secret_hash_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(speckit): update PROGRESS.md after URGENT FIXES 1-4
  specs/001-cryptoutil/PROGRESS.md
Due: cspell

feat(jose): Add JWE encryption key generation support
  internal/jose/server/handlers.go
  internal/jose/server/server_test.go
  specs/001-cryptoutil/PROGRESS.md
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(specs): Update P2.1 progress - JWE encryption support completed
  specs/001-cryptoutil/PROGRESS.md
Due: cspell

docs(directives): Add continuous work mandate to constitution, plan, and copilot instructions to prevent premature stopping
  .github/copilot-instructions.md
  .specify/memory/constitution.md
Due: cspell

docs(specs): Mark P2.2 CA OCSP and P2.3 JOSE Docker as complete (verified existing implementations)
  specs/001-cryptoutil/PROGRESS.md
Due: cspell

test(jose): Add error path tests for JWS/JWT verify, server lifecycle (71%→73.9% coverage)
  internal/jose/server/server_test.go
  specs/001-cryptoutil/PROGRESS.md
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(jose): Add API key middleware and server lifecycle tests (73.9%→80.3% coverage)
  internal/jose/server/server_test.go
  specs/001-cryptoutil/PLAN.md
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(jose): Add explicit Shutdown coverage tests (maintain 80.3% coverage)
  internal/jose/server/server_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(specs): Update P2.1 coverage 73.9%→80.3% (+6.4%, now need +14.7% more)
  specs/001-cryptoutil/PROGRESS.md
Due: cspell

test(jose): Add algorithm coverage tests RSA3072, Oct512/384/192/128 (80.3%→81.2% coverage)
  internal/jose/server/server_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(jose): Add encryption coverage Oct512/384, RSA4096, ECP521 (81.2%→82.3% coverage)
  internal/jose/server/server_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(jose): Add JWT verify error path for invalid format (82.6%→83.2% coverage)
  internal/jose/server/server_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(jose): Add JWS verify without KID (tests key loop) (83.2%→86.1% coverage)
  internal/jose/server/server_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell
