Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-build, golangci-lint-full, golangci-lint, go-mod-tidy, check-todo-severity

Path conditions:
  go-build: any of: \.go$|go\.mod$|go\.sum$
  golangci-lint-full: any of: \.go$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.mod$
  check-todo-severity: any of: \.go$

docs: mark Phase 6 PKI-CA archive & skeleton COMPLETE (65/104 tasks)
  docs/fixes-v8/tasks.md
Due: none

docs: complete Phase 7 reusability analysis (69/104 tasks)
  docs/fixes-v8/RESEARCH.md
  docs/fixes-v8/tasks.md
Due: none

feat(cicd): add 5 structural lint-go validators
  cmd/pki/main.go
  docs/fixes-v8/tasks.md
  internal/apps/cicd/lint_go/lint_go.go
  internal/apps/cicd/lint_go/migration_numbering/migration_numbering.go
  internal/apps/cicd/lint_go/migration_numbering/migration_numbering_test.go
  internal/apps/cicd/lint_go/product_structure/product_structure.go
  internal/apps/cicd/lint_go/product_structure/product_structure_test.go
  internal/apps/cicd/lint_go/product_wiring/product_wiring.go
  internal/apps/cicd/lint_go/product_wiring/product_wiring_test.go
  internal/apps/cicd/lint_go/service_structure/service_structure.go
  internal/apps/cicd/lint_go/service_structure/service_structure_test.go
  internal/apps/cicd/lint_go/test_presence/test_presence.go
  internal/apps/cicd/lint_go/test_presence/test_presence_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs: consolidate research findings for Phases 5-9
  docs/fixes-v8/RESEARCH.md
  docs/fixes-v8/tasks.md
Due: none

ci: complete Phase 10 propagation validation
  docs/fixes-v8/tasks.md
Due: none

test(cicd): improve lint-go validator coverage to 100%
  internal/apps/cicd/lint_go/lint_go.go
  internal/apps/cicd/lint_go/migration_numbering/migration_numbering.go
  internal/apps/cicd/lint_go/migration_numbering/migration_numbering_test.go
  internal/apps/cicd/lint_go/product_structure/product_structure.go
  internal/apps/cicd/lint_go/product_structure/product_structure_test.go
  internal/apps/cicd/lint_go/product_wiring/product_wiring.go
  internal/apps/cicd/lint_go/product_wiring/product_wiring_test.go
  internal/apps/cicd/lint_go/service_structure/service_structure_test.go
  internal/apps/cicd/lint_go/test_presence/test_presence.go
  internal/apps/cicd/lint_go/test_presence/test_presence_test.go
  internal/apps/skeleton/template/server/server_integration_test.go
  internal/apps/skeleton/template/server/server_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(cicd): eliminate equivalent mutations in migration_numbering
  docs/fixes-v8/tasks.md
  internal/apps/cicd/lint_go/migration_numbering/migration_numbering.go
  internal/apps/cicd/lint_go/migration_numbering/migration_numbering_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(skeleton): correct compose service name and migration DATETIME type
  deployments/skeleton/compose.yml
  docs/fixes-v8/tasks.md
  internal/apps/skeleton/template/repository/migrations/2001_template_items.up.sql
Due: none

refactor: remove cipher product references, update to 5 products/10 services
  .vscode/launch.json
  configs/configs-all-files.json
  deployments/deployments-all-files.json
  internal/apps/template/service/cli/product_router.go
  internal/apps/template/service/server/ROUTE-REGISTRATION.md
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor: rename cipher variable references to sm-im in CICD lint tests
  internal/apps/cicd/lint_ports/common/common_test.go
  internal/apps/cicd/lint_ports/host_port_ranges/host_port_ranges_test.go
  internal/apps/cicd/lint_ports/lint_ports_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat: add skeleton-template to suite compose, fix stale cipher references
  deployments/archived/cryptoutil-legacy/compose.yml
  deployments/cryptoutil-suite/compose.yml
  deployments/template/compose-cryptoutil-PRODUCT-SERVICE.yml
  deployments/template/compose-cryptoutil-PRODUCT.yml
Due: none

refactor: fix ARCHITECTURE.md stale sections and add skeleton-template to product/service lists
  docs/ARCHITECTURE.md
  internal/apps/cicd/lint_ports/common/common_test.go
  internal/apps/cicd/lint_ports/host_port_ranges/host_port_ranges_test.go
  internal/apps/cicd/lint_ports/lint_ports_test.go
  internal/apps/cryptoutil/cryptoutil.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat: add identity and skeleton product validation to deployment linters
  internal/cmd/cicd/lint_deployments/lint_deployments.go
  internal/cmd/cicd/lint_deployments/validate_deployments.go
  internal/cmd/cicd/lint_deployments/validate_deployments_delegation_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs: update service enumeration comments to include skeleton-template
  internal/apps/template/service/server/listener/application_listener.go
  internal/apps/template/service/server/listener/examples_test.go
  internal/apps/template/service/server/realms/interfaces.go
  internal/cmd/cicd/lint_deployments/lint_deployments.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

style: fix indentation in deployment delegation validation
  internal/cmd/cicd/lint_deployments/validate_deployments.go
  internal/cmd/cicd/lint_deployments/validate_deployments_delegation_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix: add skeleton-template to service names and skeleton to product names in deployment validator
  internal/cmd/cicd/lint_deployments/validate_deployments.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix: rename cipher-im to sm-im in replication script and update CipherServicePort doc comment
  deployments/shared-postgres/setup-logical-replication.sh
  internal/apps/cicd/lint_ports/common/common.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix: add skeleton-template to postgres init scripts, rename cipher-im to sm-im, update counts to 10 services
  deployments/shared-postgres/init-follower-databases.sql
  deployments/shared-postgres/init-leader-databases.sql
  deployments/shared-postgres/setup-logical-replication.sh
Due: none

fix: rename cipher-im to sm-im in service-template migration comments
  internal/apps/template/service/server/repository/migrations/1002_barrier_tables.up.sql
  internal/apps/template/service/server/repository/migrations/1003_realms_template.up.sql
Due: none

docs: update fixes-v8 plan, tasks, and research to clarify 10 services and correct historical references
  docs/fixes-v8/RESEARCH.md
  docs/fixes-v8/plan.md
Due: none

feat: add skeleton-template to lint_ports service definitions and tests
  internal/apps/cicd/lint_ports/common/common.go
  internal/apps/cicd/lint_ports/common/common_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor: use magic constants for all product and service names in CLI routers
  internal/apps/cryptoutil/cryptoutil.go
  internal/apps/identity/identity.go
  internal/apps/jose/jose.go
  internal/apps/pki/pki.go
  internal/apps/sm/sm.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix: update shared-postgres compose.yml with skeleton-template and correct 10-service counts
  deployments/shared-postgres/compose.yml
Due: none

ci: add skeleton-template to E2E workflow and update migration status comments
  .github/workflows/ci-e2e.yml
Due: none

style: fix import ordering in product routers
  internal/apps/identity/identity.go
  internal/apps/jose/jose.go
  internal/apps/pki/pki.go
  internal/apps/sm/sm.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(deployments): correct skeleton-template ports from 8800 to 8900 range
  deployments/skeleton-template/compose.yml
Due: none

build: remove unused go.mozilla.org/pkcs7 dependency
  go.mod
  go.sum
Due: go-build, go-mod-tidy

fix(quality): resolve all lint-go-test and lint-go-mod CI violations
  go.mod
  go.sum
  internal/apps/cicd/lint_go/magic_duplicates/magic_duplicates_test.go
  internal/apps/cicd/lint_gotest/bind_address_safety/bind_address_safety.go
  internal/apps/cicd/lint_gotest/common/common.go
  internal/apps/sm/im/e2e/e2e_registration_test.go
  internal/apps/template/service/config/config_sequential_test.go
  internal/apps/template/service/server/builder/swagger_ui_test.go
  internal/apps/template/service/server/listener/admin_concurrent_test.go
  internal/apps/template/service/server/listener/admin_health_shutdown_test.go
  internal/apps/template/service/server/listener/admin_shutdown_test.go
  internal/apps/template/service/server/listener/listener_json_error_test.go
  internal/cmd/cicd/check_chunk_verification_test.go
  internal/cmd/cicd/lint_deployments/generate_listings_test.go
  internal/cmd/cicd/lint_deployments/lint_config_test.go
  internal/cmd/cicd/lint_deployments/lint_deployments_boundary_test.go
  internal/cmd/cicd/lint_deployments/lint_deployments_test.go
  internal/cmd/cicd/lint_deployments/lint_integration_test.go
  internal/cmd/cicd/lint_deployments/lint_required_contents_test.go
  internal/cmd/cicd/lint_deployments/lint_secrets_test.go
  internal/cmd/cicd/lint_deployments/pipeline_integration_test.go
  internal/cmd/cicd/lint_deployments/validate_all_runners_test.go
  internal/cmd/cicd/lint_deployments/validate_all_test.go
  internal/cmd/cicd/lint_deployments/validate_compose_helpers_test.go
  internal/cmd/cicd/lint_deployments/validate_compose_test.go
  internal/cmd/cicd/lint_deployments/validate_config_test.go
  internal/cmd/cicd/lint_deployments/validate_deployments_delegation_test.go
  internal/cmd/cicd/lint_deployments/validate_kebab_case_test.go
  internal/cmd/cicd/lint_deployments/validate_mirror_test.go
  internal/cmd/cicd/lint_deployments/validate_naming_test.go
  internal/cmd/cicd/lint_deployments/validate_ports_test.go
  internal/cmd/cicd/lint_deployments/validate_schema_test.go
  internal/cmd/cicd/lint_deployments/validate_secrets_extra_test.go
  internal/cmd/cicd/lint_deployments/validate_secrets_test.go
  internal/cmd/cicd/lint_deployments/validate_telemetry_test.go
  internal/cmd/cicd/lint_deployments/validate_template_pattern_test.go
  internal/cmd/cicd/validate_chunks_test.go
  internal/shared/crypto/jose/jose_errorpaths_test.go
  internal/shared/database/sharding_test.go
Due: go-build, golangci-lint-full, golangci-lint, go-mod-tidy, check-todo-severity

style: apply formatter changes
  internal/apps/cicd/lint_go/magic_duplicates/magic_duplicates_test.go
  internal/apps/cicd/lint_gotest/bind_address_safety/bind_address_safety.go
  internal/apps/sm/im/e2e/e2e_registration_test.go
  internal/apps/template/service/server/listener/admin_health_shutdown_test.go
  internal/cmd/cicd/lint_deployments/generate_listings_test.go
  internal/cmd/cicd/lint_deployments/validate_mirror_test.go
  internal/cmd/cicd/lint_deployments/validate_schema_test.go
  internal/shared/crypto/jose/jose_errorpaths_test.go
  internal/shared/database/sharding_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(e2e): replace hardcoded https://127.0.0.1 URL strings with URLPrefixLocalhostHTTPS magic constant
  internal/apps/identity/e2e/testmain_e2e_test.go
  internal/apps/jose/ja/e2e/testmain_e2e_test.go
  internal/apps/skeleton/template/e2e/testmain_e2e_test.go
  internal/apps/sm/im/e2e/testmain_e2e_test.go
  internal/apps/sm/im/http_test.go
  internal/apps/sm/kms/e2e/testmain_e2e_test.go
  internal/apps/sm/kms/server/application/application_init_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(quality): make magic_usage literal-use violations blocking and fix all 188 violations
  internal/apps/cicd/lint_go/magic_usage/magic_usage.go
  internal/apps/cicd/lint_go/magic_usage/magic_usage_test.go
  internal/apps/cicd/lint_go/migration_numbering/migration_numbering.go
  internal/apps/cicd/lint_go/migration_numbering/migration_numbering_test.go
  internal/apps/cicd/lint_go/product_structure/product_structure.go
  internal/apps/cicd/lint_go/product_structure/product_structure_test.go
  internal/apps/cicd/lint_go/product_wiring/product_wiring.go
  internal/apps/cicd/lint_go/product_wiring/product_wiring_test.go
  internal/apps/cicd/lint_go/service_structure/service_structure.go
  internal/apps/cicd/lint_go/service_structure/service_structure_test.go
  internal/apps/cicd/lint_go/test_presence/test_presence_test.go
  internal/apps/cicd/lint_ports/host_port_ranges/host_port_ranges_test.go
  internal/apps/cicd/lint_ports/legacy_ports/legacy_ports_test.go
  internal/apps/identity/authz/clientauth/private_key_jwt_test.go
  internal/apps/pki/ca/repository/migrations_test.go
  internal/apps/skeleton/skeleton_test.go
  internal/apps/skeleton/template/repository/migrations_test.go
  internal/apps/template/service/server/barrier/unsealkeysservice/unseal_keys_service_edge_cases_test.go
  internal/apps/template/service/server/barrier/unsealkeysservice/unseal_keys_service_secrets_test.go
  internal/cmd/cicd/lint_deployments/lint_deployments.go
  internal/cmd/cicd/lint_deployments/lint_deployments_test.go
  internal/cmd/cicd/lint_deployments/lint_integration_test.go
  internal/cmd/cicd/lint_deployments/lint_required_contents_deployments.go
  internal/cmd/cicd/lint_deployments/lint_required_contents_test.go
  internal/cmd/cicd/lint_deployments/validate_all.go
  internal/cmd/cicd/lint_deployments/validate_all_runners_test.go
  internal/cmd/cicd/lint_deployments/validate_all_test.go
  internal/cmd/cicd/lint_deployments/validate_compose.go
  internal/cmd/cicd/lint_deployments/validate_deployments.go
  internal/cmd/cicd/lint_deployments/validate_deployments_delegation_test.go
  internal/cmd/cicd/lint_deployments/validate_mirror.go
  internal/cmd/cicd/lint_deployments/validate_mirror_test.go
  internal/cmd/cicd/lint_deployments/validate_template_pattern_test.go
  internal/cmd/cicd/validate_propagation_test.go
  internal/shared/crypto/keygen/keygen_test.go
  internal/shared/crypto/keygenpooltest/keygenpools_test.go
  internal/shared/magic/magic_cicd.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(migrations): extract shared MergedMigrationsFS utility
  internal/apps/jose/ja/repository/migrations.go
  internal/apps/pki/ca/repository/migrations.go
  internal/apps/skeleton/template/repository/migrations.go
  internal/apps/sm/im/repository/migrations.go
  internal/apps/template/service/server/repository/migrations_merged.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(lessons): add LESSONS summary and details
  docs/LESSONS/details.md
  docs/LESSONS/summary.md
Due: none

docs(workflows): add runtime analysis, cleanup best practices, and Go cleanup automation
  docs/workflow-runtimes/GITHUB-STORAGE-CLEANUP.md
  docs/workflow-runtimes/README.md
  internal/apps/cicd/cleanup_github/cleanup_artifacts.go
  internal/apps/cicd/cleanup_github/cleanup_caches.go
  internal/apps/cicd/cleanup_github/cleanup_github.go
  internal/apps/cicd/cleanup_github/cleanup_github_test.go
  internal/apps/cicd/cleanup_github/cleanup_runs.go
  internal/apps/cicd/cleanup_github/gh_exec.go
  internal/apps/cicd/lint_go/magic_usage/magic_usage.go
  internal/apps/cicd/lint_go/magic_usage/magic_usage_test.go
  internal/cmd/cicd/cicd.go
  internal/cmd/cicd/cicd_test.go
  internal/shared/magic/magic_cicd.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(quality): replace magic literal-use violations in cleanup_github package
  internal/apps/cicd/cleanup_github/cleanup_artifacts.go
  internal/apps/cicd/cleanup_github/cleanup_caches.go
  internal/apps/cicd/cleanup_github/cleanup_github_test.go
  internal/apps/cicd/cleanup_github/cleanup_runs.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

style(cleanup): format cleanup_github and cicd_test files
  internal/apps/cicd/cleanup_github/cleanup_github.go
  internal/apps/cicd/cleanup_github/cleanup_github_test.go
  internal/cmd/cicd/cicd_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(ci): enforce 7-day max retention across all workflows and artifacts
  .github/workflows/ci-benchmark.yml
  .github/workflows/ci-identity-validation.yml
  .github/workflows/ci-load.yml
  .gitignore
  docs/workflow-runtimes/GITHUB-STORAGE-CLEANUP.md
  internal/apps/cicd/cleanup_github/cleanup_github.go
  internal/cmd/cicd/cicd.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(cicd): rename cleanup commands to github-cleanup-* and restructure
  docs/workflow-runtimes/GITHUB-STORAGE-CLEANUP.md
  internal/apps/cicd/github_cleanup/cleanup_artifacts.go
  internal/apps/cicd/github_cleanup/cleanup_caches.go
  internal/apps/cicd/github_cleanup/cleanup_github.go
  internal/apps/cicd/github_cleanup/cleanup_github_test.go
  internal/apps/cicd/github_cleanup/cleanup_runs.go
  internal/apps/cicd/github_cleanup/gh_exec.go
  internal/cmd/cicd/cicd.go
  internal/cmd/cicd/cicd_test.go
  internal/shared/magic/magic_cicd.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

style: format ValidCommands map alignment
  internal/shared/magic/magic_cicd.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity
