Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: github-workflow-lint, golangci-lint, go-mod-tidy, check-todo-severity, go-fix-all, go-build, cspell

github-workflow-lint:
  name: GitHub workflow lint
  entry: go
  args:
  - run
  - cmd/cicd/main.go
  - github-workflow-lint
  language: system
  pass_filenames: false
  stages:
  - pre-push

golangci-lint:
  name: golangci-lint (incremental auto-fix)
  entry: golangci-lint
  args:
  - run
  - --fix
  - --timeout=30m
  - --new-from-rev=HEAD~1
  language: system
  pass_filenames: false
  stages:
  - pre-commit

go-mod-tidy:
  name: go mod tidy
  entry: go
  args:
  - mod
  - tidy
  language: system
  pass_filenames: false

check-todo-severity:
  name: Check TODO/FIXME severity (block CRITICAL/HIGH)
  entry: bash
  args:
  - -c
  ...

go-fix-all:
  name: Auto-fix Go issues (staticcheck, copyloopvar, thelper)
  entry: go
  args:
  - run
  - cmd/cicd/main.go
  - go-fix-all
  language: system
  pass_filenames: false
  stages:
  - pre-commit

go-build:
  name: go build
  entry: go
  args:
  - build
  - ./...
  language: system
  pass_filenames: false
  stages:
  - pre-push

cspell:
  name: Check spelling
  entry: cspell
  args:
  - --no-progress
  - --cache
  language: system

build(deps): update all Go dependencies to latest versions
  go.mod
  go.sum
Due: go-mod-tidy, go-build

fix(ci): correct admin endpoint paths in DAST workflow
  .github/workflows/ci-dast.yml
Due: github-workflow-lint, cspell

fix(e2e): correct argument order in client helper calls
  internal/test/e2e/test_suite.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(ci): add dev-mode for DAST, increase fuzz timeout, fix healthcheck paths
  .github/workflows/ci-dast.yml
  .github/workflows/ci-fuzz.yml
  deployments/compose/compose.yml
  deployments/identity/compose.advanced.yml
  deployments/kms/compose.demo.yml
Due: github-workflow-lint, cspell

fix(ci): exclude E2E from coverage, fix identity healthcheck https
  .github/workflows/ci-coverage.yml
  deployments/compose/compose.yml
Due: github-workflow-lint, cspell

fix(ci-dast): remove leading spaces from heredoc config generation
  .github/workflows/ci-dast.yml
Due: github-workflow-lint, cspell

fix(ci-fuzz): add -run='^$' to skip unit tests during fuzzing
  .github/actions/fuzz-test/action.yml
  .github/workflows/ci-fuzz.yml
Due: github-workflow-lint, cspell

fix(ci-dast): fix heredoc YAML parsing by using quoted delimiter
  .github/workflows/ci-dast.yml
Due: github-workflow-lint, cspell

fix(compose): fix identity healthchecks and port mappings
  deployments/compose/compose.yml
Due: cspell

fix(config): correct DAST database URL and identity config YAML structure
  .github/workflows/ci-dast.yml
  deployments/identity/config/authz-e2e.yml
  deployments/identity/config/idp-e2e.yml
Due: github-workflow-lint, cspell

fix(kms): add sqlite:// URL support for containerized environments
  deployments/kms/config/sqlite.yml
  internal/kms/server/repository/sqlrepository/sql_settings_mapper.go
  internal/kms/server/repository/sqlrepository/sql_settings_mapper_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(kms): disable mTLS for container mode (0.0.0.0 binding)
  deployments/kms/config/postgresql-1.yml
  deployments/kms/config/postgresql-2.yml
  internal/kms/server/application/application_listener.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

ci(dast): add always() to artifact upload and inline stderr on failure
  .github/workflows/ci-dast.yml
Due: github-workflow-lint, cspell

docs: clarify container mode terminology and create session tracking system
  docs/fixes-needed-plan-tasks-v2/plan.md
  docs/fixes-needed-plan-tasks-v3/categories.md
  docs/fixes-needed-plan-tasks-v3/issues.md
Due: cspell

docs: create lessons extraction checklist for systematic doc cleanup
  docs/fixes-needed-plan-tasks-v3/lessons-extraction-checklist.md
Due: cspell

docs(v3): create session tracking infrastructure
  docs/fixes-needed-plan-tasks-v3/plan.md
  docs/fixes-needed-plan-tasks-v3/tasks.md
Due: cspell

docs(lessons): add extracted lessons to permanent documentation
  .github/instructions/03-02.testing.instructions.md
  .github/instructions/03-07.linting.instructions.md
  .github/instructions/04-02.docker.instructions.md
  docs/DEV-SETUP.md
  docs/agent-prompt-best-practices.md
Due: cspell

docs: remove temporary maintenance docs after lesson extraction
  docs/maintenance-session-2026-01-23.md
  docs/workflow-fixing-prompt-fixes.md
Due: cspell

docs(prompts): enhance with session tracking and quality gates
  .github/prompts/autonomous-execution.prompt.md
  .github/prompts/beast-mode-3.1.prompt.md
  .github/prompts/workflow-fixing.prompt.md
Due: cspell

docs(v3): complete session - all tracking docs updated to final state
  docs/fixes-needed-plan-tasks-v3/issues.md
  docs/fixes-needed-plan-tasks-v3/plan.md
  docs/fixes-needed-plan-tasks-v3/tasks.md
Due: cspell

fix(docs): enforce golangci-lint v2 syntax and simplify verbose instructions
  .github/instructions/03-02.testing.instructions.md
  .github/instructions/04-02.docker.instructions.md
  .golangci.yml
  docs/agent-prompt-best-practices.md
  docs/fixes-needed-plan-tasks-v2/plan.md
  docs/fixes-needed-plan-tasks-v2/tasks.md
  docs/fixes-needed-plan-tasks-v3/plan.md
  docs/fixes-needed-plan-tasks-v3/tasks.md
Due: cspell

docs(testing): remove duplicate coverage table and sections
  .github/instructions/03-02.testing.instructions.md
  .github/instructions/03-07.linting.instructions.md
  docs/DEV-SETUP.md
  docs/fixes-needed-plan-tasks-v3/issues.md
  docs/fixes-needed-plan-tasks-v3/plan.md
  docs/fixes-needed-plan-tasks-v3/tasks.md
Due: cspell

docs(coding): remove duplicate line in key takeaways
  .github/instructions/03-01.coding.instructions.md
Due: cspell

style: update .gitignore and .dockerignore for consistency
  .dockerignore
  .gitignore
Due: none

style: remove unnecessary backslashes from .gitignore patterns
  .gitignore
Due: none

chore: remove deleted files , ,
  $coverageFile
  $outFile
  $outPath
Due: none

feat: add Java/Maven patterns to .gitignore and .dockerignore for Gatling load tests
  .dockerignore
  .gitignore
Due: none

chore: remove tracked coverage files that should be ignored
  internal/shared/telemetry/coverage_config.out
  internal/shared/telemetry/coverage_telemetry.out
  test-output/coverage_baseline_summary.txt
  test-output/coverage_baseline_timing.txt
Due: cspell

style: update VS Code file exclusions for Git internal files
  .vscode/settings.json
Due: cspell

docs: add inline comments to files.exclude, search.exclude, and files.watcherExclude explaining each pattern
  .vscode/settings.json
Due: cspell

docs: merge fixes-needed-plan-tasks-v3 into v2 with comprehensive analysis
  docs/fixes-needed-plan-tasks-v2/ANALYSIS.md
  docs/fixes-needed-plan-tasks-v2/categories.md
  docs/fixes-needed-plan-tasks-v2/issues.md
  docs/fixes-needed-plan-tasks-v2/lessons-extraction-checklist.md
  docs/fixes-needed-plan-tasks-v2/plan.md
  internal/apps/jose/ja/repository/elastic_jwk_repository_error_test.go
  internal/apps/jose/ja/repository/material_jwk_repository_error_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: analyze JOSE-JA refactoring completion status (75.94% complete)
  docs/fixes-needed-plan-tasks/COMPLETION-ANALYSIS.md
Due: cspell

refactor: enforce lean documentation, remove verbose analysis files
  .github/copilot-instructions.md
  .github/instructions/01-02.continuous-work.instructions.md
  .github/instructions/01-03.speckit.instructions.md
  docs/fixes-needed-plan-tasks-v2/ANALYSIS.md
  docs/fixes-needed-plan-tasks-v2/categories.md
  docs/fixes-needed-plan-tasks-v2/issues.md
  docs/fixes-needed-plan-tasks-v2/lessons-extraction-checklist.md
  docs/fixes-needed-plan-tasks-v3/categories.md
  docs/fixes-needed-plan-tasks-v3/issues.md
  docs/fixes-needed-plan-tasks-v3/lessons-extraction-checklist.md
  docs/fixes-needed-plan-tasks-v3/plan.md
  docs/fixes-needed-plan-tasks-v3/tasks.md
  docs/fixes-needed-plan-tasks/COMPLETION-ANALYSIS.md
Due: cspell

docs: create documentation sync prompt, delete redundant summary files
  .github/prompts/documentation-sync.prompt.md
  docs/fixes-needed-plan-tasks/COMPLETION-SUMMARY.md
  specs/002-cryptoutil/implement/DETAILED.md.old
  specs/002-cryptoutil/implement/EXECUTIVE.md.old
  specs/002-cryptoutil/implement/PHASE-2.4-COVERAGE-GAPS.md
Due: cspell

docs(prompts): fix agent visibility and clean doc-sync prompt
  .github/prompts/autonomous-execution.prompt.md
  .github/prompts/doc-sync.prompt.md
  .github/prompts/documentation-sync.prompt.md
  .github/prompts/plan-tasks-quizme.prompt.md
  .github/prompts/workflow-fixing.prompt.md
  docs/arch/SERVICE-TEMPLATE-APPLICATION-LISTENER-GUIDE.md
  docs/arch/SERVICE-TEMPLATE-REUSABILITY.md
  docs/arch/SERVICE-TEMPLATE-v4.md
  internal/apps/template/service/server/application/README.md
Due: cspell

docs: rename plan/tasks files and fix markdown links
  .github/prompts/doc-sync.prompt.md
  .github/prompts/plan-tasks-quizme.prompt.md
  docs/fixes-needed-plan-tasks/plan.md
  docs/fixes-needed-plan-tasks/tasks.md
Due: cspell

feat(agents): add Autonomous, DocSync, and Workflow custom agents
  .github/agents/autonomous-execution.agent.md
  .github/agents/doc-sync.agent.md
  .github/agents/workflow-fixing.agent.md
Due: cspell

docs: remove redundant Prompt Files Reference table
  .github/copilot-instructions.md
Due: cspell

fix(prompts): clarify plan-tasks-quizme is for custom plans only, make paths generic
  .github/prompts/plan-tasks-quizme.prompt.md
Due: cspell

fix(settings): remove invalid schema mappings (JSON in yaml.schemas, TOML/YAML in json.schemas)
  .vscode/settings.json
Due: cspell

Path conditions:
  github-workflow-lint: any of: \.github/workflows/.*\.(yml|yaml)$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.mod$
  check-todo-severity: any of: \.go$
  go-fix-all: any of: \.go$
  go-build: any of: \.go$|go\.mod$|go\.sum$
  cspell: any of: \.(md|txt|go|yaml|yml|json|js|ts|py|sh|ps1)$, but not: ^(test/|vendor/|\.git/|node_modules/|\.cache/)
