Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: github-workflow-lint, golangci-lint, go-mod-tidy, check-todo-severity, go-fix-all, go-build, cspell

github-workflow-lint:
  name: GitHub workflow lint
  entry: go
  args:
  - run
  - cmd/cicd/main.go
  - github-workflow-lint
  language: system
  pass_filenames: false
  stages:
  - pre-push

golangci-lint:
  name: golangci-lint (incremental auto-fix)
  entry: golangci-lint
  args:
  - run
  - --fix
  - --timeout=30m
  - --new-from-rev=HEAD~1
  language: system
  pass_filenames: false
  stages:
  - pre-commit

go-mod-tidy:
  name: go mod tidy
  entry: go
  args:
  - mod
  - tidy
  language: system
  pass_filenames: false

check-todo-severity:
  name: Check TODO/FIXME severity (block CRITICAL/HIGH)
  entry: bash
  args:
  - -c
  ...

go-fix-all:
  name: Auto-fix Go issues (staticcheck, copyloopvar, thelper)
  entry: go
  args:
  - run
  - cmd/cicd/main.go
  - go-fix-all
  language: system
  pass_filenames: false
  stages:
  - pre-commit

go-build:
  name: go build
  entry: go
  args:
  - build
  - ./...
  language: system
  pass_filenames: false
  stages:
  - pre-push

cspell:
  name: Check spelling
  entry: cspell
  args:
  - --no-progress
  - --cache
  language: system

fix(ca): eliminate remaining 18 race conditions in handler tests
  internal/ca/api/handler/handler_comprehensive_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

style(ci): fix yamllint warnings in ci-race.yml
  .github/workflows/ci-race.yml
Due: github-workflow-lint, cspell

style(ci): fix yamllint warnings in ci-mutation.yml
  .github/workflows/ci-mutation.yml
Due: github-workflow-lint, cspell

fix(identity): remove t.Parallel() from TestLogAuditEvent
  internal/identity/cmd/main/hardware-cred/main_test.go
  internal/kms/server/demo/seed_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(identity): create fresh session per test in TestHandleLogout_POST
  internal/identity/idp/handlers_logout_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: add race condition prevention and timeout fix lessons learned
  .github/copilot-instructions.md
  .github/instructions/01-02.testing.instructions.md
  .github/instructions/02-01.github.instructions.md
  .specify/memory/constitution.md
  docs/SESSION-2025-01-08-RACE-FIXES.md
  docs/TIMEOUT-FIXES-ANALYSIS.md
  docs/feature-template/feature-template.md
  specs/001-cryptoutil/spec.md
Due: cspell

docs: update timeout analysis with resolution of service health check timeout
  docs/TIMEOUT-FIXES-ANALYSIS.md
Due: cspell

fix(test): compare RSA key material instead of struct pointers in PEM roundtrip test
  internal/common/crypto/asn1/der_pem_comprehensive_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: add session summary for lessons learned application
  docs/SESSION-2025-01-08-LESSONS-LEARNED.md
Due: cspell

fix(identity): skip consent_expired test on Windows (SQLite datetime comparison issue)
  .github/copilot-instructions.md
  .specify/memory/constitution.md
  internal/identity/repository/orm/consent_decision_repository_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(ci): correct cryptoutil command from 'server start' to 'kms start' in ci-dast workflow
  .github/workflows/ci-dast.yml
Due: github-workflow-lint, cspell

fix(docker): replace BusyBox wget with GNU wget-ssl for proper HTTPS health checks
  deployments/kms/Dockerfile.kms
  docs/TIMEOUT-FIXES-ANALYSIS.md
Due: cspell

fix(docker): replace BusyBox wget with curl for HTTPS health checks
  deployments/compose/compose.yml
  deployments/kms/Dockerfile.kms
Due: cspell

fix(kms): enable dev mode for PostgreSQL instances to disable mTLS on admin endpoint
  deployments/kms/config/postgresql-1.yml
  deployments/kms/config/postgresql-2.yml
Due: cspell

fix(ci): add timeout to mutation testing workflow to prevent runner OOM
  .github/workflows/ci-mutation.yml
Due: github-workflow-lint, cspell

test(identity): add comprehensive apperr error handling tests
  internal/identity/apperr/errors_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: workflow fixes session summary (LOCAL ONLY)
  docs/SESSION-2025-12-09-WORKFLOW-FIXES.md
Due: cspell

wip: Add JWT authenticator tests (incomplete - needs repo fix)
  internal/identity/authz/clientauth/jwt_authenticate_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

revert: Remove incomplete JWT authenticator tests
  internal/identity/authz/clientauth/jwt_authenticate_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: Add Task 3 identity coverage session summary
  docs/SESSION-2025-12-09-TASK-3-IDENTITY-COVERAGE.md
Due: cspell

fix: Add -1 timeout to idp test app.Test() calls to prevent timeouts
  internal/identity/idp/handlers_health_test.go
  internal/identity/idp/handlers_token_expiration_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix: Increase cleanup job test timeout and sleep duration for reliability
  internal/identity/jobs/cleanup_integration_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test: Add RotateClientSecret tests (0% -> 80% coverage, idp 63.4% -> 65.1%)
  internal/identity/idp/service_rotate_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test: Add NewBackChannelLogoutService test (idp 65.1% -> 65.4%)
  internal/identity/idp/backchannel_logout_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: Add Task 3 final session summary (all tests passing, +2% idp coverage)
  docs/SESSION-2025-12-09-TASK-3-FINAL-SUMMARY.md
Due: cspell

test: Add comprehensive config validation tests
  internal/identity/config/validation_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test: Add client repository secret rotation tests
  internal/identity/repository/orm/client_repository_test.go
  internal/identity/repository/orm/test_helpers_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test: Add issuer service validation and introspection tests
  internal/identity/issuer/service_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test: Add demo user bootstrap tests
  internal/identity/bootstrap/demo_user_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix: Add deterministic ordering to GetSecretHistory
  internal/identity/repository/orm/client_repository.go
  internal/identity/repository/orm/client_repository_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test: Add key repository tests (6 functions)
  internal/identity/repository/orm/key_repository_test.go
  internal/identity/repository/orm/test_helpers_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test: Add rs service lifecycle and admin metrics tests
  internal/identity/rs/service_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test: Add jwks error path tests for invalid/symmetric keys
  internal/identity/jwks/handler_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test: Add rotation service tests for GetActiveSecretVersions and generateRandomSecret
  internal/identity/rotation/secret_rotation_service_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test: Add EmailNotifier stub implementation tests
  internal/identity/notifications/service_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test: Add NewPoller constructor tests for TLS configurations
  docs/SESSION-2025-12-09-TASK-3-FINAL-SUMMARY.md
  internal/identity/healthcheck/poller_test.go
  internal/identity/jwks/handler_test.go
  internal/identity/notifications/service_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test: Add Client and ClientSecretHistory domain tests
  internal/identity/domain/client_secret_history_test.go
  internal/identity/domain/client_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(ca-handler): improve coverage from 85.0% to 87.0% (+2.0%)
  internal/ca/api/handler/handler_enrollment_chain_test.go
  internal/ca/api/handler/handler_list_pagination_test.go
  internal/ca/api/handler/handler_newhandler_validation_test.go
  internal/ca/api/handler/handler_revoke_coverage_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(ca): improve CA package coverage
  internal/ca/service/revocation/revocation_coverage_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: comprehensive session summary for coverage improvements
  docs/SESSION-COVERAGE-IMPROVEMENTS.md
Due: cspell

Path conditions:
  github-workflow-lint: any of: \.github/workflows/.*\.(yml|yaml)$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.mod$
  check-todo-severity: any of: \.go$
  go-fix-all: any of: \.go$
  go-build: any of: \.go$|go\.mod$|go\.sum$
  cspell: any of: \.(md|txt|go|yaml|yml|json|js|ts|py|sh|ps1)$, but not: ^(test/|vendor/|\.git/|node_modules/|\.cache/)
