Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: github-workflow-lint, golangci-lint, go-mod-tidy, check-todo-severity, go-fix-all, go-build, cspell

github-workflow-lint:
  name: GitHub workflow lint
  entry: go
  args:
  - run
  - cmd/cicd/main.go
  - github-workflow-lint
  language: system
  pass_filenames: false
  stages:
  - pre-push

golangci-lint:
  name: golangci-lint (incremental auto-fix)
  entry: golangci-lint
  args:
  - run
  - --fix
  - --timeout=30m
  - --new-from-rev=HEAD~1
  language: system
  pass_filenames: false
  stages:
  - pre-commit

go-mod-tidy:
  name: go mod tidy
  entry: go
  args:
  - mod
  - tidy
  language: system
  pass_filenames: false

check-todo-severity:
  name: Check TODO/FIXME severity (block CRITICAL/HIGH)
  entry: bash
  args:
  - -c
  ...

go-fix-all:
  name: Auto-fix Go issues (staticcheck, copyloopvar, thelper)
  entry: go
  args:
  - run
  - cmd/cicd/main.go
  - go-fix-all
  language: system
  pass_filenames: false
  stages:
  - pre-commit

go-build:
  name: go build
  entry: go
  args:
  - build
  - ./...
  language: system
  pass_filenames: false
  stages:
  - pre-push

cspell:
  name: Check spelling
  entry: cspell
  args:
  - --no-progress
  - --cache
  language: system

feat: add SPA Dockerfile for identity service
  deployments/identity/Dockerfile.spa
Due: none

docs: add Docker Compose strategy document
  DOCKER-COMPOSE-STRATEGY.doc
Due: none

docs(speckit): update Docker Compose strategy with grooming session decisions
  docs/speckit/passthru03/DOCKER-COMPOSE-STRATEGY.doc
  docs/speckit/passthru03/grooming/GROOMING-SESSION-02.md
  docs/speckit/passthru03/grooming/GROOMING-SESSION-05.md
  docs/speckit/passthru03/grooming/GROOMING-SESSION-06.md
Due: cspell

feat(speckit): add missing command templates for spec-driven development
  .specify/templates/commands/analyze.md
  .specify/templates/commands/checklist.md
  .specify/templates/commands/clarify.md
  .specify/templates/commands/constitution.md
  .specify/templates/commands/implement.md
  .specify/templates/commands/plan.md
  .specify/templates/commands/specify.md
  .specify/templates/commands/tasks.md
Due: cspell

fix(docs): correct markdown list numbering in PROGRESS.md
  specs/001-cryptoutil/PROGRESS.md
  specs/001-cryptoutil/spec.md
  specs/001-cryptoutil/tasks.md
Due: cspell

feat(identity): add JWT-signed userinfo response (P1.4.3)
  internal/identity/idp/handlers_userinfo.go
  internal/identity/idp/handlers_userinfo_jwt_test.go
  internal/identity/issuer/service.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(identity): P1.6.2 RP-Initiated Logout endpoint
  internal/identity/domain/client.go
  internal/identity/idp/handlers_endsession_test.go
  internal/identity/idp/handlers_logout.go
  internal/identity/idp/routes.go
  internal/identity/repository/migrations/0005_post_logout_redirect_uris.down.sql
  internal/identity/repository/migrations/0005_post_logout_redirect_uris.up.sql
  specs/001-cryptoutil/tasks.md
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(identity): P1.3.4/P1.3.5 Front/back-channel logout support
  internal/identity/domain/client.go
  internal/identity/idp/backchannel_logout.go
  internal/identity/idp/backchannel_logout_test.go
  internal/identity/magic/magic_timeouts.go
  internal/identity/repository/migrations/0006_logout_channels.down.sql
  internal/identity/repository/migrations/0006_logout_channels.up.sql
  specs/001-cryptoutil/PROGRESS.md
  specs/001-cryptoutil/spec.md
  specs/001-cryptoutil/tasks.md
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(identity): P1.6.3 Hybrid auth middleware for SPA support
  internal/identity/idp/middleware.go
  internal/identity/idp/middleware_test.go
  specs/001-cryptoutil/PROGRESS.md
  specs/001-cryptoutil/tasks.md
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(identity): resolve Docker Compose deployment issues
  deployments/identity/compose.yml
  deployments/identity/config/authz.yml
  deployments/identity/config/idp.yml
  deployments/identity/config/rs.yml
  deployments/identity/secrets/postgres_database.secret
  deployments/identity/secrets/postgres_password.secret
  deployments/identity/secrets/postgres_url.secret
  deployments/identity/secrets/postgres_username.secret
  internal/identity/cmd/identity_cli.go
  internal/identity/domain/client.go
  internal/identity/idp/handlers_logout.go
  internal/identity/idp/middleware.go
  internal/identity/repository/migrations/0006_logout_channels.up.sql
  specs/001-cryptoutil/PROGRESS.md
  specs/001-cryptoutil/tasks.md
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(kms): resolve nilnil linter errors in oam_orm_mapper
  internal/kms/server/businesslogic/oam_orm_mapper.go
  specs/001-cryptoutil/PROGRESS.md
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: update Phase 2/3 task status and add post-mortems
  specs/001-cryptoutil/PROGRESS.md
  specs/001-cryptoutil/tasks.md
Due: cspell

docs: add EXECUTIVE-SUMMARY.md with manual testing instructions
  specs/001-cryptoutil/EXECUTIVE-SUMMARY.md
Due: cspell

fix(tests): add short mode skips for slow PostgreSQL container tests
  internal/identity/domain/client.go
  internal/kms/server/businesslogic/oam_orm_mapper_test.go
  internal/kms/server/repository/sqlrepository/sql_comprehensive_coverage_test.go
  internal/kms/server/repository/sqlrepository/sql_container_modes_test.go
  internal/kms/server/repository/sqlrepository/sql_final_coverage_test.go
  internal/kms/server/repository/sqlrepository/sql_postgres_coverage_test.go
  internal/kms/server/repository/sqlrepository/sql_provider_coverage_test.go
  internal/kms/server/repository/sqlrepository/sql_schema_shutdown_test.go
  specs/001-cryptoutil/EXECUTIVE-SUMMARY.md
  specs/001-cryptoutil/PROGRESS.md
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(phase2-3): implement all deferred tasks
  internal/identity/authz/handlers_introspection_revocation_flow_test.go
  internal/identity/authz/handlers_multitenant_isolation_test.go
  internal/kms/server/businesslogic/businesslogic_bench_test.go
  specs/001-cryptoutil/EXECUTIVE-SUMMARY.md
  specs/001-cryptoutil/PROGRESS.md
  specs/001-cryptoutil/tasks.md
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

chore(docs): cleanup technical debt documentation
  docs/04-general-stuff/COMPLETION-ASSESSMENT.md
  docs/04-general-stuff/archive/task-17-gap-analysis-progress-HISTORICAL.md
  docs/04-general-stuff/archive/todos-database-schema-RESOLVED.md
  docs/04-general-stuff/todos-security.md
  docs/sprints/2025-12-03-phase2-3-completion.md
Due: cspell

feat(ca): add CA subsystem foundation
  docs/05-ca/charter.md
  internal/ca/README.md
  internal/ca/domain/certificate.go
  internal/ca/domain/repository.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(ca): add configuration schema and YAML profiles (Task 2)
  configs/ca/ca-config-schema.yaml
  configs/ca/profiles/code-signing.yaml
  configs/ca/profiles/tls-client.yaml
  configs/ca/profiles/tls-server.yaml
  internal/ca/config/config.go
  internal/ca/config/config_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(ca): add crypto provider abstraction (Task 3)
  internal/ca/crypto/provider.go
  internal/ca/crypto/provider_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(ca): add subject and certificate profile engines (Tasks 4-5)
  internal/ca/profile/certificate/certificate.go
  internal/ca/profile/certificate/certificate_test.go
  internal/ca/profile/subject/subject.go
  internal/ca/profile/subject/subject_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(ca): add root CA bootstrap workflow (Task 6)
  internal/ca/bootstrap/bootstrap.go
  internal/ca/bootstrap/bootstrap_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(ca): add intermediate CA provisioning (Task 7)
  internal/ca/intermediate/intermediate.go
  internal/ca/intermediate/intermediate_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(ca): update README with implementation progress
  internal/ca/README.md
Due: cspell

feat(ca): add end-entity certificate issuer service (Task 8)
  internal/ca/service/issuer/issuer.go
  internal/ca/service/issuer/issuer_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(ca): add enrollment API and handler (Task 9)
  api/ca/generate.go
  api/ca/models/models.gen.go
  api/ca/openapi-gen_config_models.yaml
  api/ca/openapi-gen_config_server.yaml
  api/ca/openapi_spec_enrollment.yaml
  api/ca/server/server.gen.go
  internal/ca/api/handler/handler.go
  internal/ca/api/handler/handler_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(ca): add CRL and OCSP revocation services (Task 10)
  internal/ca/service/revocation/revocation.go
  internal/ca/service/revocation/revocation_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(ca): update README with Tasks 8-10 completion status
  internal/ca/README.md
Due: cspell

feat(ca): add RFC 3161 time-stamping service (Task 11)
  configs/ca/ca-config-schema.yaml
  configs/ca/profiles/code-signing.yaml
  configs/ca/profiles/tls-client.yaml
  configs/ca/profiles/tls-server.yaml
  internal/ca/api/handler/handler.go
  internal/ca/bootstrap/bootstrap_test.go
  internal/ca/config/config.go
  internal/ca/config/config_test.go
  internal/ca/crypto/provider.go
  internal/ca/crypto/provider_test.go
  internal/ca/domain/certificate.go
  internal/ca/service/timestamp/timestamp.go
  internal/ca/service/timestamp/timestamp_test.go
  internal/kms/server/repository/sqlrepository/sql_container_modes_test.go
  internal/kms/server/repository/sqlrepository/sql_edge_cases_test.go
  internal/kms/server/repository/sqlrepository/sql_final_coverage_test.go
  internal/kms/server/repository/sqlrepository/sql_migrations_transactions_test.go
  internal/kms/server/repository/sqlrepository/sql_postgres_coverage_test.go
  internal/kms/server/repository/sqlrepository/sql_provider_coverage_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(ca): add RA workflow service (Task 12)
  internal/ca/service/ra/ra.go
  internal/ca/service/ra/ra_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(ca): add profile library with 24 certificate profiles (Task 13)
  configs/ca/profiles/database-server.yaml
  configs/ca/profiles/device.yaml
  configs/ca/profiles/document-signing.yaml
  configs/ca/profiles/ev-code-signing.yaml
  configs/ca/profiles/intermediate-ca.yaml
  configs/ca/profiles/internal-tls.yaml
  configs/ca/profiles/kernel-code-signing.yaml
  configs/ca/profiles/kubernetes-workload.yaml
  configs/ca/profiles/load-balancer.yaml
  configs/ca/profiles/message-queue-server.yaml
  configs/ca/profiles/mtls-client.yaml
  configs/ca/profiles/ocsp-responder.yaml
  configs/ca/profiles/root-ca.yaml
  configs/ca/profiles/smartcard-logon.yaml
  configs/ca/profiles/smime-encryption.yaml
  configs/ca/profiles/smime-signing.yaml
  configs/ca/profiles/ssh-host.yaml
  configs/ca/profiles/ssh-user.yaml
  configs/ca/profiles/timestamp.yaml
  configs/ca/profiles/vpn-client.yaml
  configs/ca/profiles/vpn-server.yaml
Due: cspell

feat(ca): add certificate storage layer (Task 14)
  internal/ca/storage/storage.go
  internal/ca/storage/storage_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(ca): add CLI tooling for CA operations (Task 15)
  internal/ca/cli/cli.go
  internal/ca/cli/cli_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(ca): add observability with metrics, tracing, and audit logging (Task 16)
  internal/ca/observability/observability.go
  internal/ca/observability/observability_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(ca): add security hardening and threat modeling (Task 17)
  docs/05-ca/README.md
  docs/05-ca/threat-model.md
  internal/ca/security/security.go
  internal/ca/security/security_test.go
  internal/ca/service/ra/ra.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(ca): add compliance and audit readiness (Task 18)
  internal/ca/compliance/compliance.go
  internal/ca/compliance/compliance_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(ca): add Docker Compose and Kubernetes deployment bundles (Task 19)
  deployments/ca/README.md
  deployments/ca/compose/Dockerfile.ca
  deployments/ca/compose/Dockerfile.ocsp
  deployments/ca/compose/compose.yml
  deployments/ca/compose/init-db.sql
  deployments/ca/compose/nginx-crl.conf
  deployments/ca/compose/secrets/README.md
  deployments/ca/kubernetes/00-namespace.yaml
  deployments/ca/kubernetes/01-secrets.yaml
  deployments/ca/kubernetes/02-configmaps.yaml
  deployments/ca/kubernetes/10-database.yaml
  deployments/ca/kubernetes/20-ca-issuing.yaml
  deployments/ca/kubernetes/30-ocsp-responder.yaml
  deployments/ca/kubernetes/40-ingress.yaml
  deployments/ca/kubernetes/50-monitoring.yaml
  internal/ca/security/security.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(speckit): update spec and plan with CA Tasks 11-20 completion
  docs/05-ca/README.md
  specs/001-cryptoutil/plan.md
  specs/001-cryptoutil/spec.md
Due: cspell

docs(speckit): add best practices guide for work verification
  docs/speckit/BEST-PRACTICES.md
Due: cspell

docs: reorganize and archive documentation files
  docs/ARCHIVE-LIST.md
  docs/PLANS-INDEX.md
  docs/TOOLS.md
  docs/pre-commit-hooks.md
Due: cspell

Path conditions:
  github-workflow-lint: any of: \.github/workflows/.*\.(yml|yaml)$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.mod$
  check-todo-severity: any of: \.go$
  go-fix-all: any of: \.go$
  go-build: any of: \.go$|go\.mod$|go\.sum$
  cspell: any of: \.(md|txt|go|yaml|yml|json|js|ts|py|sh|ps1)$, but not: ^(test/|vendor/|\.git/|node_modules/|\.cache/)
