Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofumpt, goimports, go-mod-tidy, golangci-lint

.pre-commit-config.yaml:

# Pre-commit hooks configuration for automatic code formatting
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Generic file checks (lightweight and reliable)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      # Ensure files end with newline
      - id: end-of-file-fixer
        name: Fix end of files
        exclude: '\.(exe|dll|so|dylib|key|crt)$'

      # Remove trailing whitespace
      - id: trailing-whitespace
        name: Remove trailing whitespace
        args: [--markdown-linebreak-ext=md]

      # Check YAML syntax
      - id: check-yaml
        name: Check YAML syntax

      # Check JSON syntax (excluding VS Code JSONC files with comments)
      - id: check-json
        name: Check JSON syntax
        exclude: '\.vscode/.*\.json$'

      # Prevent large files from being committed
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1024']

      # Prevent merge conflict markers
      - id: check-merge-conflict
        name: Check for merge conflict markers

  # Go formatting using local commands (more reliable)
  - repo: local
    hooks:
      - id: gofumpt
        name: gofumpt (Go formatting)
        entry: gofumpt
        args: [-w]
        language: system
        files: '\.go$'
        exclude: '_gen\.go$|vendor/'

      - id: goimports
        name: goimports (Go import organization)
        entry: goimports
        args: [-w]
        language: system
        files: '\.go$'
        exclude: '_gen\.go$|vendor/'

      - id: go-mod-tidy
        name: go mod tidy
        entry: go
        args: [mod, tidy]
        language: system
        pass_filenames: false
        files: go\.mod$

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.0
    hooks:
      - id: hadolint-docker

  # Comprehensive Go linting (runs on pre-push due to performance)
  - repo: local
    hooks:
      - id: golangci-lint
        name: golangci-lint
        entry: golangci-lint
        args: [run, --timeout=5m]
        language: system
        files: '\.go$'
        exclude: '_gen\.go$|vendor/'
        stages: [pre-push]

  # GitHub Actions workflow linting
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint

# Global configuration
default_stages: [pre-commit]
minimum_pre_commit_version: '2.20.0'

docs: add magic number detection and additional linters tasks to todos.md
  docs/todos.md
Due: none

docs: split and reorganize project TODOs into specialized documents
  docs/merged-todos.md
  docs/todos-development.md
  docs/todos-infrastructure.md
  docs/todos-observability.md
  docs/todos-quality.md
  docs/todos-security.md
  docs/todos-testing.md
Due: none

docs: update import instructions for UUID versioning
  .github/instructions/imports.instructions.md
  internal/common/crypto/jose/example/jwe_encrypt_decrypt_test.go
Due: gofumpt, goimports, golangci-lint

test: use UUIDv7 for concurrent test uniqueness instead of atomic counters
  internal/client/client_test.go
  internal/common/config/config_test_util.go
Due: gofumpt, goimports, golangci-lint

docs: update testing instructions and todos
  .github/instructions/testing.instructions.md
  docs/todos-testing.md
Due: none

fix: resolve golangci-lint directory error in pre-commit hooks
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

build: update Go dependencies
  go.mod
  go.sum
Due: go-mod-tidy

build: update pre-push hook to use direct dependency check
  .pre-commit-config.yaml
Due: none

refactor: split dependency checking into direct vs all modes
  scripts/cicd_utils.go
Due: gofumpt, goimports, golangci-lint

docs: remove redundant todo aggregation files
  docs/merged-todos.md
  docs/missing.md
  docs/todos.md
Due: none

fix: remove trailing whitespace from .golangci.yml
  .golangci.yml
Due: none

fix: refine pre-commit exclusions to allow api/generate.go linting
  .pre-commit-config.yaml
Due: none

refactor: optimize DAST workflow path filters for efficiency
  .github/workflows/dast.yml
Due: none

refactor: add path filters to CI/SAST/Test workflows for efficiency
  .github/workflows/ci.yml
  .github/workflows/sast.yml
  .github/workflows/test.yml
Due: none

fix: add cache directory cleanup to ci.yml workflow
  .github/workflows/ci.yml
Due: none

fix: use PostgreSQL schemas for concurrent test isolation
  internal/common/config/config_test_util.go
Due: gofumpt, goimports, golangci-lint

docs: add PostgreSQL schema isolation followup task
  docs/todos-testing.md
Due: none

refactor: migrate all workflows to use cache: true on setup-go
  .github/workflows/ci.yml
  .github/workflows/sast.yml
  .github/workflows/test.yml
Due: none

docs: finalize CI/CD caching instructions
  .github/instructions/cicd.instructions.md
Due: none

build: enable static linking for both CI and Docker builds
  .github/instructions/cicd.instructions.md
  .github/workflows/ci.yml
  deployments/Dockerfile
Due: none

fix: remove localhost from default allowed IPs
  internal/common/config/config.go
Due: gofumpt, goimports, golangci-lint

fix: implement PostgreSQL schema creation for test isolation
  docs/todos-testing.md
  internal/server/repository/sqlrepository/sql_provider.go
Due: gofumpt, goimports, golangci-lint

refactor: remove unused PostgreSQL setup from test workflows
  .github/workflows/test.yml
Due: none

docs: clarify secrets management and configuration priority
  .github/instructions/architecture.instructions.md
  .github/instructions/cicd.instructions.md
  .github/instructions/security.instructions.md
  docs/todos-infrastructure.md
Due: none

fix: resolve client test concurrency issues
  internal/client/client_oam_mapper.go
  internal/client/client_test.go
  internal/common/config/config_test_util.go
Due: gofumpt, goimports, golangci-lint

fix: address linting issues from pre-commit hooks
  internal/client/client_test.go
  internal/server/repository/sqlrepository/sql_provider.go
Due: gofumpt, goimports, golangci-lint

fix: add periods to remaining comments in sql_provider.go
  internal/server/repository/sqlrepository/sql_provider.go
Due: gofumpt, goimports, golangci-lint

refactor: enhance code quality and add circular dependency detection
  .golangci.yml
  .pre-commit-config.yaml
  docs/todos-quality.md
  internal/server/application/application_listener.go
  scripts/README.md
  scripts/cicd-utils_test.go
  scripts/cicd_utils.go
Due: gofumpt, goimports, golangci-lint

feat: re-enable typecheck linter
  .golangci.yml
Due: none

feat: add mnd linter for magic number detection
  .golangci.yml
Due: none

docs: update quality todos for completed circular dependency and mnd tasks
  docs/todos-quality.md
Due: none

docs: remove completed quality tasks from todos
  docs/todos-quality.md
Due: none

feat: enable copyloopvar and importas linters
  .golangci.yml
Due: none

docs: add IMPORTANT instruction to delete completed tasks
  docs/todos-development.md
  docs/todos-infrastructure.md
  docs/todos-observability.md
  docs/todos-quality.md
  docs/todos-security.md
  docs/todos-testing.md
Due: none

docs: format CQ3 linters as ordered bullet list
  docs/todos-quality.md
Due: none

feat: enable wsl linter for whitespace consistency
  .golangci.yml
Due: none

feat: enable testpackage linter for test package naming conventions
  .golangci.yml
Due: none

docs: clean up completed tasks from all todos-*.md files per maintenance principle
  .golangci.yml
  docs/todos-development.md
  docs/todos-quality.md
  docs/todos-testing.md
Due: none

docs: add Go testing patterns and conventions reference section to todos-testing.md
  docs/todos-testing.md
Due: none

feat: configure testpackage linter to allow internal testing with skip-regexp
  .golangci.yml
Due: none
