Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, go-mod-tidy, go-build, cspell

Path conditions:
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.mod$
  go-build: any of: \.go$|go\.mod$|go\.sum$
  cspell: any of: \.(md|txt|go|yaml|yml|json|js|ts|py|sh|ps1)$, but not: ^(test/|vendor/|\.git/|node_modules/|\.cache/)

test(orm): add VersioningAllowed filter boolean test (true/false/nil) - 89.4%
  internal/server/repository/orm/business_entities_versioning_filter_test.go
Due: golangci-lint, go-build, cspell

test(orm): add PostgreSQL error handling tests (unique, fk, check, truncation) - 90.8%
  internal/server/repository/orm/business_entities_postgres_errors_test.go
Due: golangci-lint, go-build, cspell

test(sqlrepository): add schema logging and shutdown tests - 60.4%
  internal/server/repository/sqlrepository/sql_schema_shutdown_test.go
Due: golangci-lint, go-build, cspell

test(orm): add dead code filter tests (ExportAllowed, ImportAllowed) - 89.4%
  internal/server/repository/orm/business_entities_dead_code_test.go
Due: golangci-lint, go-build, cspell

docs(codecov): update progress to 89.1% with error path test saturation analysis
  docs/codecov/completed.txt
  docs/codecov/prompt.txt
Due: cspell

docs(codecov): add sqlrepository progress (60.4% → 60.7%)
  docs/codecov/completed.txt
  docs/codecov/prompt.txt
Due: cspell

test(sqlrepository): add initialization validation and transaction error tests - 60.7%
  internal/server/repository/sqlrepository/sql_initialization_test.go
Due: golangci-lint, go-build, cspell

test(orm): add comprehensive filter edge case tests (nil, dates, sort, pagination) - 89.4%
  internal/server/repository/orm/business_entities_filters_uncovered_test.go
Due: golangci-lint, go-build, cspell

docs(codecov): update ORM task to completed with 90.8% achievement
  docs/codecov/completed.txt
  docs/codecov/prompt.txt
Due: cspell

docs(codecov): move completed ORM task (90.8%) to completed.txt
  docs/codecov/completed.txt
  docs/codecov/prompt.txt
Due: cspell

test(orm): add AddElasticKey and MaterialKey version error path tests (89.1%)
  internal/server/repository/orm/business_entities_additional_errors_test.go
Due: golangci-lint, go-build, cspell

test(config): add URL construction and test utility tests - 76.6%
  internal/common/config/url_test.go
Due: golangci-lint, go-build, cspell

docs(codecov): move completed util (+64.7%) and config (+21.8%) tasks to completed.txt
  docs/codecov/completed.txt
  docs/codecov/prompt.txt
Due: cspell

test(businesslogic): add comprehensive mapper and core service tests - 38.3%
  coverage_orm.out
  internal/server/businesslogic/businesslogic_test.go
  internal/server/businesslogic/oam_orm_mapper_test.go
Due: golangci-lint, go-build, cspell

test(unsealkeysservice): add comprehensive tests for encryption/decryption operations (+16.1% coverage: 33.3% → 49.4%)
  coverage_unseal_before_more
  internal/server/barrier/unsealkeysservice/unseal_keys_service_comprehensive_test.go
Due: golangci-lint, go-build, cspell

test(keygen): add comprehensive tests for all key generation functions (+33.3% coverage: 51.9% → 85.2%)
  internal/common/crypto/keygen/keygen_test.go
Due: golangci-lint, go-build, cspell

test(handler): add comprehensive mapper tests for error responses and parameter mapping (+26.0% coverage: 1.8% → 27.8%)
  coverage_telemetry_before
  internal/server/handler/handler_test.go
Due: golangci-lint, go-build, cspell

docs(codecov): document asn1 completion (+64.0% to 88.7%)
  docs/codecov/completed.txt
Due: cspell

docs(codecov): update task numbering after asn1 completion
  docs/codecov/prompt.txt
Due: cspell

test(telemetry): add comprehensive tests for Shutdown, health checks, and error paths (+40.5% coverage: 27.2% → 67.7%)
  internal/common/telemetry/telemetry_comprehensive_test.go
Due: golangci-lint, go-build, cspell

test(asn1): add comprehensive DER/PEM encoding/decoding tests - 88.7%
  coverage_application.out
  coverage_asn1.out
  coverage_business_entities.txt
  coverage_businesslogic.out
  coverage_detail.txt
  coverage_orm_functions.txt
  coverage_sql
  coverage_sql.out
  coverage_sqlrepository
  coverage_tel
  coverage_telemetry
  coverage_telemetry.out
  coverage_util.out
  internal/common/crypto/asn1/der_pem_comprehensive_test.go
  internal/common/telemetry/coverage_config.out
  internal/common/telemetry/coverage_telemetry.out
  telemetry_functions.txt
Due: golangci-lint, go-build, cspell

docs(codecov): document businesslogic completion (+35.4% to 38.3%)
  docs/codecov/completed.txt
Due: cspell

test(rootkeysservice): add comprehensive tests for EncryptKey, DecryptKey, Shutdown (+37.5% coverage: 41.7% → 79.2%)
  internal/server/barrier/rootkeysservice/root_keys_service_comprehensive_test.go
Due: golangci-lint, go-build, cspell

test(intermediatekeysservice): add comprehensive validation and encryption tests (+11.6% coverage: 70.1% → 81.7%)
  internal/server/barrier/intermediatekeysservice/intermediate_keys_service_comprehensive_test.go
  internal/server/barrier/intermediatekeysservice/intermediate_keys_service_test_util.go
Due: golangci-lint, go-build, cspell

docs(codecov): move completed tasks 3.3-3.6 and keygen to completed.txt
  docs/codecov/completed.txt
  docs/codecov/prompt.txt
Due: cspell

test(contentkeysservice): add comprehensive validation and encryption tests (+16.3% coverage: 68.9% → 85.2%)
  internal/server/barrier/contentkeysservice/content_keys_service_comprehensive_test.go
  internal/server/barrier/contentkeysservice/content_keys_service_test_util.go
Due: golangci-lint, go-build, cspell

chore: upgrade Go version from 1.25.3 to 1.25.4
  .github/workflows/ci-e2e.yml
  .github/workflows/ci-load.yml
  .golangci.yml
  docs/DEV-SETUP.md
  internal/cmd/cicd/cicd_coverage_boost_test.go
  internal/cmd/cicd/cicd_edge_cases_test.go
  internal/cmd/cicd/cicd_integration_test.go
  internal/cmd/cicd/cicd_run_integration_test.go
  internal/server/barrier/contentkeysservice/content_keys_service_comprehensive_test.go
  internal/server/barrier/contentkeysservice/content_keys_service_test_util.go
  internal/server/barrier/intermediatekeysservice/intermediate_keys_service_comprehensive_test.go
  internal/server/barrier/intermediatekeysservice/intermediate_keys_service_test_util.go
Due: golangci-lint, go-build, cspell

chore: remove temporary coverage files from version control
  .gitignore
  coverage_application.out
  coverage_asn1.out
  coverage_business_entities.txt
  coverage_businesslogic.out
  coverage_by_file.txt
  coverage_detail.txt
  coverage_funcs.txt
  coverage_orm.out
  coverage_orm_func.txt
  coverage_orm_functions.txt
  coverage_sql
  coverage_sql.out
  coverage_sqlrepository
  coverage_tel
  coverage_telemetry
  coverage_telemetry.out
  coverage_telemetry_before
  coverage_unseal_before_more
  coverage_util.out
  orm_coverage
  telemetry_functions.txt
Due: cspell

chore: remove duplicate coverage.xml from excludes patterns in settings.json
  .vscode/settings.json
Due: cspell

chore: add version in .golangci.yml
  .golangci.yml
Due: cspell

chore: update VS Code exclude patterns for coverage files
  .vscode/settings.json
Due: cspell

perf(lint): optimize golangci-lint for faster execution
  .golangci.yml
Due: cspell

chore: add test-output/ to .gitignore
  .gitignore
Due: none

docs(codecov): fix task tracking - remove duplicates, update counts, clarify status
  .cicd/circular-dep-cache.json
  docs/codecov/completed.txt
  docs/codecov/prompt.txt
Due: cspell

fix(config): exclude .cicd/ from linting and git tracking
  .cicd/circular-dep-cache.json
  .cicd/dep-cache.json
  .golangci.yml
  .pre-commit-config.yaml
Due: cspell

fix(golangci): correct output.formats syntax for v2
  .golangci.yml
Due: cspell

fix(lint): migrate .golangci.yml from v1 to v2.6.2 syntax
  .golangci.yml
Due: cspell

docs(golangci): create v2 migration strategy and tracking files
  docs/golangci/migrate-v2-completed.md
  docs/golangci/migrate-v2-problems.md
  docs/golangci/migrate-v2-todos.md
Due: cspell

refactor(golangci): reset to minimal v2 config - keep only header and version
  .golangci.yml
Due: cspell

feat(golangci): Step 1 - core configuration (simplified for v2)
  .golangci.yml
  .golangci.yml.backup
  docs/golangci/migrate-v2-problems.md
Due: cspell
