Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-build, golangci-lint-full, golangci-lint, go-mod-tidy, check-todo-severity

go-build:
  name: go build
  entry: go
  args:
  - build
  - ./...
  language: system
  pass_filenames: false
  require_serial: true
  stages:
  - pre-push

golangci-lint-full:
  name: golangci-lint (full validation)
  entry: golangci-lint
  args:
  - run
  - --timeout=30m
  language: system
  pass_filenames: false
  stages:
  - pre-push

golangci-lint:
  name: golangci-lint (incremental auto-fix)
  entry: golangci-lint
  args:
  - run
  - --fix
  - --timeout=30m
  - --new-from-rev=HEAD~1
  language: system
  pass_filenames: false
  require_serial: false
  stages:
  - pre-commit

go-mod-tidy:
  name: go mod tidy
  entry: go
  args:
  - mod
  - tidy
  language: system
  pass_filenames: false

check-todo-severity:
  name: Check TODO/FIXME severity (block CRITICAL/HIGH)
  entry: bash
  args:
  - -c
  ...

docs(framework): add v1 comprehensive review and v2 iteration plan
  docs/framework-v1/review.md
  docs/framework-v2/lessons.md
  docs/framework-v2/plan.md
Due: none

feat(tooling): add semgrep pre-commit hook with go-testing rules
  .pre-commit-config.yaml
  .semgrep/rules/go-testing.yml
  docs/framework-v1/tasks.md
  docs/framework-v2/plan.md
  docs/framework-v2/tasks.md
  internal/apps/template/service/testing/assertions/assertions_test.go
  internal/apps/template/service/testing/fixtures/fixtures.go
  internal/apps/template/service/testing/fixtures/fixtures_test.go
  internal/apps/template/service/testing/healthclient/healthclient_test.go
  internal/apps/template/service/testing/testdb/testdb_internal_test.go
  internal/apps/template/service/testing/testdb/testdb_test.go
  internal/apps/template/service/testing/testserver/testserver_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(instructions): add multi-category fix commit rule and CRLF strategy guidance
  .github/instructions/01-02.beast-mode.instructions.md
  .github/instructions/05-02.git.instructions.md
Due: none

fix(docs): correct auth contract ownership - service-template, not service-specific
  docs/framework-v1/lessons.md
  docs/framework-v1/review.md
  docs/framework-v2/lessons.md
Due: none

fix(instructions,skills): propagate timeout double-multiplication lesson to testing instructions and coverage skill
  .github/instructions/03-02.testing.instructions.md
  .github/skills/coverage-analysis/SKILL.md
Due: none

docs(framework-v2): update plan.md and tasks.md with all v1 review concerns
  docs/framework-v2/plan.md
  docs/framework-v2/tasks.md
Due: none

fix(docs,skills): fix contract-test-gen encoding, annotate review.md auth corrections, mark tasks 1.1-1.3 done, create quizme-v1.md
  .github/skills/contract-test-gen/SKILL.md
  docs/framework-v1/review.md
  docs/framework-v2/quizme-v1.md
  docs/framework-v2/tasks.md
Due: none

chore(pre-commit): update checkov hook version 3.2.507 to 3.2.508
  .pre-commit-config.yaml
Due: none

chore(deps): update OTel dependencies to v1.42.0/v0.18.0 and grpc to v1.79.2
  go.mod
  go.sum
Due: go-build, go-mod-tidy

ci(workflows): add ci-fitness.yml for architecture fitness checks in CI
  .github/workflows/ci-fitness.yml
  docs/framework-v2/tasks.md
Due: none

feat(contract): add auth contract tests with opt-in AuthContractServer interface
  docs/framework-v2/tasks.md
  internal/apps/template/service/testing/contract/auth_contracts.go
  internal/apps/template/service/testing/contract/auth_contracts_test.go
  internal/apps/template/service/testing/contract/contracts.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

feat(contract): integrate RunContractTests into all 5 identity services
  docs/framework-v2/tasks.md
  internal/apps/identity/authz/server/server_integration_test.go
  internal/apps/identity/idp/server/server_integration_test.go
  internal/apps/identity/rp/server/server_integration_test.go
  internal/apps/identity/rs/server/server_integration_test.go
  internal/apps/identity/spa/server/public_server.go
  internal/apps/identity/spa/server/server_integration_test.go
  internal/apps/identity/spa/server/testmain_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(test): skip os.Chmod permission tests on Windows NTFS
  api/generate.go
  internal/apps/cicd/lint_fitness/check_skeleton_placeholders/check_skeleton_placeholders_test.go
  internal/apps/cicd/lint_fitness/cmd_main_pattern/cmd_main_pattern_test.go
  internal/apps/cicd/lint_fitness/crypto_rand/crypto_rand_test.go
  internal/apps/cicd/lint_fitness/insecure_skip_verify/insecure_skip_verify_test.go
  internal/apps/cicd/lint_fitness/migration_numbering/migration_numbering_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(test): skip os.Chmod permission tests on Windows NTFS across cicd and identity packages
  internal/apps/cicd/format_go/copyloopvar/copyloopvar_test.go
  internal/apps/cicd/format_gotest/thelper/thelper_test.go
  internal/apps/cicd/lint_deployments/generate_listings_test.go
  internal/apps/cicd/lint_deployments/validate_admin_test.go
  internal/apps/cicd/lint_deployments/validate_kebab_case_test.go
  internal/apps/cicd/lint_deployments/validate_mirror_test.go
  internal/apps/cicd/lint_deployments/validate_naming_test.go
  internal/apps/cicd/lint_deployments/validate_ports_test.go
  internal/apps/cicd/lint_deployments/validate_secrets_test.go
  internal/apps/cicd/lint_deployments/validate_telemetry_test.go
  internal/apps/cicd/lint_go/leftover_coverage/coverage_test.go
  internal/apps/cicd/lint_go/magic_usage/magic_usage_test.go
  internal/apps/cicd/lint_go/test_presence/test_presence_test.go
  internal/apps/identity/authz/server/server_integration_test.go
  internal/apps/identity/idp/server/server_integration_test.go
  internal/apps/identity/rp/server/server_integration_test.go
  internal/apps/identity/rs/server/server_integration_test.go
  internal/apps/identity/spa/server/public_server.go
  internal/apps/identity/spa/server/server_integration_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

chore(ignores): apply selected context and performance exclusions
  .dockerignore
  .gitignore
  .nuclei-ignore
  .rgignore
  .vscode/settings.json
  docs/optimize-ignore-v1/optimizations.md
Due: none

chore(python): align tooling to uvx and ruff-only workflow
  .vscode/extensions.json
  .vscode/settings.json
  pyproject.toml
  scripts/autoapprove/pyproject.toml
Due: none

chore(scripts): remove obsolete utility scripts
  scripts/autoapprove/README.md
  scripts/autoapprove/autoapprove.py
  scripts/autoapprove/pyproject.toml
  scripts/autoapprove/tests/__init__.py
  scripts/autoapprove/tests/test_autoapprove.py
  scripts/consolidate-archive.ps1
  scripts/fix-gopls.sh
  scripts/generate-coverage-reports.ps1
  scripts/parse-timing.ps1
  scripts/test-token-client-credentials.ps1
  scripts/test-token-client-credentials.sh
  scripts/verify-docker.ps1
Due: none

chore(docs): update tasks
  docs/framework-v2/tasks.md
Due: none

chore(vscode): align extension recommendations for ruff-first python workflow
  .vscode/extensions.json
Due: none

build(go): bump runtime and CI pins to go 1.26.1
  .github/actions/go-setup/action.yml
  .github/actions/workflow-job-begin/action.yml
  .github/workflows/ci-e2e.yml
  .github/workflows/ci-identity-validation.yml
  .github/workflows/ci-load.yml
  .github/workflows/cicd-lint-deployments.yml
  .github/workflows/release.yml
  deployments/archived/cryptoutil-legacy/Dockerfile
  deployments/cryptoutil-suite/Dockerfile
  deployments/identity-authz/Dockerfile
  deployments/identity-idp/Dockerfile
  deployments/identity-rp/Dockerfile
  deployments/identity-rs/Dockerfile
  deployments/identity-spa/Dockerfile
  deployments/jose-ja/Dockerfile
  deployments/pki-ca/Dockerfile
  deployments/skeleton-template/Dockerfile
  deployments/sm-im/Dockerfile
  deployments/sm-kms/Dockerfile
  go.mod
Due: go-build, go-mod-tidy

fix(lint): remove conflicting prealloc setting
  .golangci.yml
  internal/apps/cicd/format_go/copyloopvar/copyloopvar.go
  internal/apps/cicd/format_go/copyloopvar/copyloopvar_test.go
  internal/apps/cicd/lint_go_mod/outdated_deps/dep_cache_test.go
  internal/apps/cicd/lint_go_mod/outdated_deps/lint_test.go
  internal/apps/cicd/lint_go_mod/outdated_deps/outdated_deps_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(go): update project documentation and instructions to 1.26.1
  .github/agents/beast-mode.agent.md
  .github/agents/fix-workflows.agent.md
  .github/agents/implementation-execution.agent.md
  .github/agents/implementation-planning.agent.md
  .github/instructions/02-02.versions.instructions.md
  .github/instructions/03-03.golang.instructions.md
  .github/instructions/04-01.deployment.instructions.md
  README.md
  docs/ARCHITECTURE-INDEX.md
  docs/ARCHITECTURE.md
  docs/DEV-SETUP.md
  docs/framework-brainstorm/07-fitness-functions.md
  docs/framework-v1/plan.md
Due: none

fix(lint): keep prealloc disabled in golangci v2 config
  .golangci.yml
Due: none

chore(ignores): remove more coverage files
  .dockerignore
  .gitignore
  .rgignore
  .vscode/settings.json
  healthclient-coverage
  internal/apps/jose/ja/service/cover
  internal/apps/template/service/server/barrier/cover.html
Due: none

docs(framework-v2): merge quizme-v1 answers, create quizme-v2
  docs/framework-v2/plan.md
  docs/framework-v2/quizme-v1.md
  docs/framework-v2/quizme-v2.md
  docs/framework-v2/tasks.md
Due: none

docs(framework-v2): merge quizme-v2 answers into plan and tasks
  docs/framework-v2/plan.md
  docs/framework-v2/quizme-v2.md
  docs/framework-v2/tasks.md
Due: none

docs(framework-v2): create quizme-v3 for unconfirmed D12 and D14
  docs/framework-v2/plan.md
  docs/framework-v2/quizme-v3.md
Due: none

docs(framework-v2): create service code quality refactoring plan
  docs/framework-v2/plan.md
  docs/framework-v2/tasks.md
  docs/framework-v3/lessons.md
  docs/framework-v3/plan.md
  docs/framework-v3/quizme-v3.md
  docs/framework-v3/tasks.md
Due: none

fix(framework-v2): strip UTF-8 BOM from plan.md, tasks.md, lessons.md
  docs/framework-v2/lessons.md
  docs/framework-v2/plan.md
  docs/framework-v2/tasks.md
Due: none

docs(framework-v2,v3): decouple plans, remove Inherited lessons sections
  docs/framework-v2/lessons.md
  docs/framework-v2/plan.md
  docs/framework-v2/tasks.md
  docs/framework-v3/lessons.md
  docs/framework-v3/plan.md
  docs/framework-v3/tasks.md
Due: none

feat(agents): lessons.md scaffold in planning, UTF-8 BOM rule in both
  .github/agents/implementation-execution.agent.md
  .github/agents/implementation-planning.agent.md
Due: none

docs(agents): add UTF-8 without BOM directives to beast-mode, fix-workflows, doc-sync agents
  .github/agents/beast-mode.agent.md
  .github/agents/doc-sync.agent.md
  .github/agents/fix-workflows.agent.md
  .github/instructions/03-05.linting.instructions.md
  docs/ARCHITECTURE.md
Due: none

feat(testdb): add NewClosedSQLiteDB shared helper and no-local-closed-db fitness rule
  internal/apps/cicd/lint_fitness/no_local_closed_db_helper/no_local_closed_db_helper.go
  internal/apps/cicd/lint_fitness/no_local_closed_db_helper/no_local_closed_db_helper_test.go
  internal/apps/template/service/testing/testdb/testdb.go
  internal/apps/template/service/testing/testdb/testdb_internal_test.go
  internal/apps/template/service/testing/testdb/testdb_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(framework-v2): complete Phase 1 quality gate and post-mortem
  docs/framework-v2/lessons.md
  docs/framework-v2/tasks.md
Due: none

refactor(jose-ja): replace hand-rolled handler DTOs with generated OpenAPI models
  api/jose/client/openapi_gen_client.go
  api/jose/models/models.gen.go
  api/jose/openapi_spec.yaml
  api/jose/server/server.gen.go
  internal/apps/jose/ja/server/apis/jwk_handler.go
  internal/apps/jose/ja/server/apis/jwk_handler_elastic_test.go
  internal/apps/jose/ja/server/apis/jwk_handler_extra_test.go
  internal/apps/jose/ja/server/apis/jwk_handler_material.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(jose-ja): migrate closed-DB helpers to testdb.NewClosedSQLiteDB
  docs/framework-v2/tasks.md
  internal/apps/jose/ja/repository/database_error_audit_test.go
  internal/apps/jose/ja/repository/database_error_material_test.go
  internal/apps/jose/ja/repository/database_error_test.go
  internal/apps/jose/ja/service/database_error_corrupt2_test.go
  internal/apps/jose/ja/service/database_error_jwe_test.go
  internal/apps/jose/ja/service/database_error_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(framework-v2): Phase 2 quality gate passed, post-mortem complete
  docs/framework-v2/lessons.md
  docs/framework-v2/tasks.md
Due: none

build: update Go dependencies and pre-commit hook versions
  .pre-commit-config.yaml
  go.mod
  go.sum
Due: go-build, go-mod-tidy

Path conditions:
  go-build: any of: \.go$|go\.mod$|go\.sum$
  golangci-lint-full: any of: \.go$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.mod$
  check-todo-severity: any of: \.go$
