Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: github-workflow-lint, golangci-lint, go-mod-tidy, check-todo-severity, go-fix-all, go-build, cspell

Path conditions:
  github-workflow-lint: any of: \.github/workflows/.*\.(yml|yaml)$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.mod$
  check-todo-severity: any of: \.go$
  go-fix-all: any of: \.go$
  go-build: any of: \.go$|go\.mod$|go\.sum$
  cspell: any of: \.(md|txt|go|yaml|yml|json|js|ts|py|sh|ps1)$, but not: ^(test/|vendor/|\.git/|node_modules/|\.cache/)

docs(phase0): complete Phase 0 test optimization - 24% reduction
  specs/001-cryptoutil/implement/DETAILED.md
Due: cspell

docs(phase1): mark Phase 1 Identity Admin API complete - all 12 tasks done
  specs/001-cryptoutil/implement/DETAILED.md
Due: cspell

feat(ca): add production compose with PostgreSQL (P2.5.1-P2.5.6)
  deployments/ca/compose.yml
  deployments/ca/config/ca-common.yml
  deployments/ca/config/ca-postgresql-1.yml
  deployments/ca/config/ca-postgresql-2.yml
  deployments/ca/config/ca-sqlite.yml
  deployments/ca/secrets/postgres_database.secret
  deployments/ca/secrets/postgres_password.secret
  deployments/ca/secrets/postgres_url.secret
  deployments/ca/secrets/postgres_username.secret
  deployments/ca/secrets/unseal_1of5.secret
  deployments/ca/secrets/unseal_2of5.secret
  deployments/ca/secrets/unseal_3of5.secret
  deployments/ca/secrets/unseal_4of5.secret
  deployments/ca/secrets/unseal_5of5.secret
Due: cspell

docs(phase2.5): update DETAILED.md with P2.5.1-P2.5.6 complete
  specs/001-cryptoutil/implement/DETAILED.md
Due: cspell

docs(session): add December 12, 2025 session summary
  deployments/ca/secrets/postgres_database.secret
  deployments/ca/secrets/postgres_password.secret
  deployments/ca/secrets/postgres_url.secret
  docs/SESSION-2025-12-12.md
Due: cspell

feat(ca): test production deployment (P2.5.7 partial - HTTP only, TLS pending)
  deployments/ca/compose.yml
  deployments/ca/config/ca-common.yml
  internal/ca/server/cmd/commands.go
  internal/common/config/config.go
  internal/common/config/config_test_util.go
  internal/jose/server/cmd/commands.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: add TODO for CA/JOSE server TLS implementation
  docs/todos-ca-jose-tls.md
Due: cspell

docs(spec): update Phase 2.5 status - P2.5.6/P2.5.7 partial, P2.5.8 deferred
  specs/001-cryptoutil/implement/DETAILED.md
Due: cspell

feat(ca): implement TLS support for CA server
  deployments/ca/compose.yml
  internal/ca/server/server.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: remove TLS TODO after CA server TLS implementation complete
  docs/todos-ca-jose-tls.md
Due: cspell

feat(jose): implement TLS support for JOSE server
  deployments/jose/compose.yml
  deployments/jose/config/jose.yml
  internal/jose/server/cmd/commands.go
  internal/jose/server/server.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

ci: integrate CA and JOSE deployments into E2E workflow (P2.5.8)
  .github/workflows/ci-e2e.yml
  specs/001-cryptoutil/implement/DETAILED.md
Due: github-workflow-lint, cspell

test(e2e): create E2E test skeletons for KMS, CA, JOSE workflows (P4.2-P4.4)
  internal/test/e2e/ca_workflow_test.go
  internal/test/e2e/jose_workflow_test.go
  internal/test/e2e/kms_workflow_test.go
  internal/test/e2e/oauth_workflow_test.go
  specs/001-cryptoutil/implement/DETAILED.md
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: update OAuth E2E test skeleton with detailed implementation steps (P4.1)
  internal/test/e2e/oauth_workflow_test.go
  specs/001-cryptoutil/implement/DETAILED.md
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: create comprehensive E2E testing documentation (P4.12)
  docs/E2E-TESTING.md
  docs/README.md
Due: cspell

docs: mark P4.12 complete in DETAILED.md
  specs/001-cryptoutil/implement/DETAILED.md
Due: cspell

docs: update Phase 5 status based on TASKS.md completion markers
  specs/001-cryptoutil/implement/DETAILED.md
Due: cspell

fix(jose): remove t.Parallel() from tests using NewForJOSEServer
  internal/jose/server/server_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: document test infrastructure issue blocking Phase 3 coverage work
  $covFile
  specs/001-cryptoutil/implement/DETAILED.md
Due: cspell

ci: verify identity validation workflow (P5.8) - Phase 5 complete (100%)
  specs/001-cryptoutil/implement/DETAILED.md
Due: cspell

fix(config): create NewTestConfig to unblock Phase 3
  internal/common/config/config_test_helper.go
  internal/jose/server/server_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: Phase 3 unblocked - test infrastructure issue resolved
  specs/001-cryptoutil/implement/DETAILED.md
Due: cspell

docs: session summary - Phase 5 complete, Phase 3 unblocked
  specs/001-cryptoutil/implement/DETAILED.md
Due: cspell

wip: P3.1 jose coverage - CreateJWSJWKFromKey tests (incomplete)
  go.mod
  go.sum
  internal/common/config/config_test_helper.go
  internal/jose/jws_jwk_util_test.go
Due: golangci-lint, go-mod-tidy, check-todo-severity, go-fix-all, go-build, cspell

docs: session progress update - P3.1 started
  specs/001-cryptoutil/implement/DETAILED.md
Due: cspell

test(jose): complete CreateJWSJWKFromKey tests with JWX v3 API migration
  internal/jose/jws_jwk_util.go
  internal/jose/jws_jwk_util_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(impl): P3.1 JWX v3 migration complete 76.3%
  specs/001-cryptoutil/implement/DETAILED.md
Due: cspell

test(jose): add BuildJWK comprehensive tests for RSA/EC/OKP/OCT
  internal/jose/jwkgen_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(e2e): implement P4.2 KMS E2E tests - encrypt/decrypt, sign/verify, rotation
  internal/test/e2e/kms_workflow_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(e2e): document P4.2 KMS E2E tests blocked by Grafana port 3000 conflict
  specs/001-cryptoutil/implement/DETAILED.md
Due: cspell

fix(compose): add Grafana profile to avoid port 3000 conflicts
  deployments/telemetry/compose.yml
Due: cspell

test(jose): add ExtractKidUUID and ExtractKty comprehensive tests
  internal/jose/jwk_util_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(jose): document EnsureSignatureAlgorithmType design flaw
  internal/jose/jwk_util_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(identity): add comprehensive Application tests - 9 tests covering NewApplication, Start, Shutdown, AdminPort
  internal/identity/authz/server/application_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(identity): add AdminServer error path tests - 7 tests covering loadTLSConfig, Start error paths
  internal/identity/authz/server/admin_error_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(identity): add IdP Application tests - 9 tests covering NewApplication, Start, Shutdown, AdminPort
  internal/identity/idp/server/application_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(identity): add IdP AdminServer error path tests - 7 tests covering loadTLSConfig, Start error paths
  internal/identity/idp/server/admin_error_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(identity): add SecretBasedAuthenticator.Authenticate test
  internal/identity/authz/clientauth/secret_hasher_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(identity): add SecretRotationService.GetActiveSecretVersions test
  internal/identity/rotation/secret_rotation_service_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(cicd): add lint_go.Lint function test
  internal/cmd/cicd/lint_go/lint_go_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell
