Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-build, golangci-lint-full, golangci-lint, go-mod-tidy, check-todo-severity

go-build:
  name: go build
  entry: go
  args:
  - build
  - ./...
  language: system
  pass_filenames: false
  require_serial: true
  stages:
  - pre-push

golangci-lint-full:
  name: golangci-lint (full validation)
  entry: golangci-lint
  args:
  - run
  - --timeout=30m
  language: system
  pass_filenames: false
  stages:
  - pre-push

golangci-lint:
  name: golangci-lint (incremental auto-fix)
  entry: golangci-lint
  args:
  - run
  - --fix
  - --timeout=30m
  - --new-from-rev=HEAD~1
  language: system
  pass_filenames: false
  require_serial: false
  stages:
  - pre-commit

go-mod-tidy:
  name: go mod tidy
  entry: go
  args:
  - mod
  - tidy
  language: system
  pass_filenames: false

check-todo-severity:
  name: Check TODO/FIXME severity (block CRITICAL/HIGH)
  entry: bash
  args:
  - -c
  ...

refactor(tests): consolidate magic_duplicates_test.go to table-driven
  internal/apps/tools/cicd_lint/lint_go/magic_duplicates/magic_duplicates_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(tests): consolidate lint_ports_test.go to table-driven
  internal/apps/tools/cicd_lint/lint_ports/lint_ports_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(tests): consolidate skill_command_drift_test.go to table-driven
  internal/apps/tools/cicd_lint/docs_validation/skill_command_drift_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(tests): consolidate circular_deps tests to table-driven
  internal/apps/tools/cicd_lint/lint_fitness/circular_deps/circular_deps_basic_test.go
  internal/apps/tools/cicd_lint/lint_fitness/circular_deps/circular_deps_check_test.go
  internal/apps/tools/cicd_lint/lint_fitness/circular_deps/circular_deps_unit_test.go
  internal/apps/tools/cicd_lint/lint_fitness/circular_deps/circulardeps_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(tests): consolidate enforce_time_now_utc_test.go to table-driven
  internal/apps/tools/cicd_lint/format_go/enforce_time_now_utc/enforce_time_now_utc_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(tests): consolidate businesslogic_crud_test.go to table-driven
  internal/apps/sm-kms/server/businesslogic/businesslogic_crud_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(tests): consolidate sm-kms CRUD satellite tests to table-driven
  internal/apps/sm-kms/server/businesslogic/businesslogic_crud_errorpaths2_test.go
  internal/apps/sm-kms/server/businesslogic/businesslogic_crud_errorpaths_test.go
  internal/apps/sm-kms/server/businesslogic/businesslogic_crud_keyops_test.go
  internal/apps/sm-kms/server/businesslogic/businesslogic_crud_successpaths_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(tests): consolidate tenant_postgres_compatible_test.go to table-driven
  internal/apps/framework/service/server/tenant/tenant_postgres_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(tests): consolidate sm-im message_test.go to table-driven
  internal/apps/sm-im/client/message_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(tests): consolidate pool_concurrency_test.go to table-driven
  internal/shared/pool/pool_concurrency_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

fix(tests): remove unused timePtr function and time import from jose-ja testmain
  internal/apps/jose-ja/server/service/testmain_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(tests): split loader_test.go into 4 table-driven files under 500 lines
  internal/apps/tools/cicd_lint/lint_fitness/registry/loader_constraint_test.go
  internal/apps/tools/cicd_lint/lint_fitness/registry/loader_entity_format_test.go
  internal/apps/tools/cicd_lint/lint_fitness/registry/loader_realfile_test.go
  internal/apps/tools/cicd_lint/lint_fitness/registry/loader_required_fields_test.go
  internal/apps/tools/cicd_lint/lint_fitness/registry/loader_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(tests): split server_builder_test.go into table-driven files under 500 lines
  internal/apps/framework/service/server/builder/server_builder_build_test.go
  internal/apps/framework/service/server/builder/server_builder_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(tests): consolidate lint_architecture_links error tests to table-driven
  internal/apps/tools/cicd_lint/lint_docs/lint_architecture_links/lint_architecture_links_test.go
  internal/apps/tools/cicd_lint/lint_fitness/test_file_suffix_structure/test_file_suffix_structure_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(tests): consolidate handler_endpoint and session_manager to table-driven
  internal/apps/framework/service/server/businesslogic/session_manager_test.go
  internal/apps/pki-ca/api/handler/handler_endpoint_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(tests): split dockerfile_labels_test.go into parsing and directory tests
  internal/apps/framework/service/server/businesslogic/session_manager_test.go
  internal/apps/tools/cicd_lint/lint_fitness/dockerfile_labels/dockerfile_labels_parsing_test.go
  internal/apps/tools/cicd_lint/lint_fitness/dockerfile_labels/dockerfile_labels_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs: delete framework-v8 plan/tasks/carryover after carry-forward to v9
  docs/framework-v8/archive/carryover.md
  docs/framework-v8/plan.md
  docs/framework-v8/tasks.md
Due: none

chore(deps): auto-update ruff to v0.15.10
  .pre-commit-config.yaml
Due: none

fix(deps): fix testcontainers-go v0.42.0 breaking MappedPort API change
  go.mod
  go.sum
  internal/shared/container/container_test.go
  internal/shared/container/containers_util.go
  internal/shared/pool/pool.go
Due: go-build, golangci-lint-full, golangci-lint, go-mod-tidy, check-todo-severity

refactor(cicd-lint): remove crypto_rand/math-rand references from test fixtures
  docs/target-structure.md
  internal/apps/tools/cicd_lint/lint_fitness/fitness_registry_completeness/fitness_registry_completeness_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

test(cicd-lint): refactor fitness_registry_completeness_test to table-driven
  internal/apps/tools/cicd_lint/lint_fitness/fitness_registry_completeness/fitness_registry_completeness_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

test(cicd-lint): refactor lint_pythontest_test to table-driven
  internal/apps/tools/cicd_lint/lint_pythontest/lint_pythontest_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

test(cicd-lint): refactor function_var_redeclaration_test to table-driven
  internal/apps/tools/cicd_lint/lint_go/function_var_redeclaration/function_var_redeclaration_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

test(cicd-lint): refactor magic_usage_test to table-driven
  internal/apps/tools/cicd_lint/lint_go/magic_usage/magic_usage_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

test(network): refactor http_test to table-driven
  internal/shared/util/network/http_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

test(lint-deployments): refactor validate_admin_test to table-driven
  internal/apps/tools/cicd_lint/lint_deployments/validate_admin_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

test(lint-deployments): refactor validate_naming_test to table-driven
  internal/apps/tools/cicd_lint/lint_deployments/validate_naming_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

test(lint-deployments): refactor validate_template_pattern_test to table-driven
  internal/apps/tools/cicd_lint/lint_deployments/validate_template_pattern_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(tests): consolidate validate_telemetry_test.go to table-driven (23->10 functions)
  internal/apps/tools/cicd_lint/lint_deployments/validate_telemetry_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(tests): consolidate validate_ports_test.go to table-driven (25->10 functions)
  internal/apps/tools/cicd_lint/lint_deployments/validate_ports_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

refactor(tests): consolidate validate_kebab_case_test.go to table-driven (13->8 functions)
  internal/apps/tools/cicd_lint/lint_deployments/validate_kebab_case_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

test(jose): refactor jws_jwk_util_test.go to consolidate error cases into table-driven test
  internal/shared/crypto/jose/jws_jwk_util_test.go
Due: go-build, golangci-lint-full, golangci-lint, check-todo-severity

docs(framework-v8): filter lessons.md to 7 ADD + 1 UPDATE after cross-checking ENG-HANDBOOK
  docs/framework-v8/lessons.md
Due: none

docs(framework-v8): extend suggestions.md with golangci-lint, cicd-lint, instructions, agents, skills analysis
  docs/framework-v8/suggestions.md
Due: none

docs(handbook): fix rate limiting, E2E counts, Docker versions, cross-refs, and redundancies
  .github/instructions/02-02.versions.instructions.md
  .github/instructions/03-02.testing.instructions.md
  .github/instructions/03-04.data-infrastructure.instructions.md
  docs/DEV-SETUP.md
  docs/ENG-HANDBOOK.md
Due: none

docs(instructions): fix rate limiting values in security instruction file
  .github/instructions/02-05.security.instructions.md
Due: none

docs(handbook): apply framework-v8 lessons to ENG-HANDBOOK
  docs/ENG-HANDBOOK.md
Due: none

refactor(lint): remove ~100 stale importas aliases from .golangci.yml
  .golangci.yml
Due: none

docs(eng-handbook): document testpackage/goheader/nilerr linter configuration analysis
  docs/ENG-HANDBOOK.md
Due: none

docs(eng-handbook): relocate §12.4 and §12.5 from after §13.5 to correct position
  docs/ENG-HANDBOOK.md
Due: none

Path conditions:
  go-build: any of: \.go$|go\.mod$|go\.sum$
  golangci-lint-full: any of: \.go$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.mod$
  check-todo-severity: any of: \.go$
