Repository justincranford/cryptoutil: changes, and which pre-commit hooks are due for each by the changed paths.
All: github-workflow-lint, golangci-lint, go-mod-tidy, check-todo-severity, go-fix-all, go-build, cspell

github-workflow-lint:
  name: GitHub workflow lint
  entry: go
  args:
  - run
  - cmd/cicd/main.go
  - github-workflow-lint
  language: system
  pass_filenames: false
  stages:
  - pre-push

golangci-lint:
  name: golangci-lint (incremental auto-fix)
  entry: golangci-lint
  args:
  - run
  - --fix
  - --timeout=30m
  - --new-from-rev=HEAD~1
  language: system
  pass_filenames: false
  stages:
  - pre-commit

go-mod-tidy:
  name: go mod tidy
  entry: go
  args:
  - mod
  - tidy
  language: system
  pass_filenames: false

check-todo-severity:
  name: Check TODO/FIXME severity (block CRITICAL/HIGH)
  entry: bash
  args:
  - -c
  ...

go-fix-all:
  name: Auto-fix Go issues (staticcheck, copyloopvar, thelper)
  entry: go
  args:
  - run
  - cmd/cicd/main.go
  - go-fix-all
  language: system
  pass_filenames: false
  stages:
  - pre-commit

go-build:
  name: go build
  entry: go
  args:
  - build
  - ./...
  language: system
  pass_filenames: false
  stages:
  - pre-push

cspell:
  name: Check spelling
  entry: cspell
  args:
  - --no-progress
  - --cache
  language: system

refactor(tls): move TLS files to tls_generator package (Task 4c)
  internal/cmd/demo/jose.go
  internal/jose/server/admin.go
  internal/jose/server/application.go
  internal/jose/server/cmd/commands.go
  internal/jose/server/server.go
  internal/jose/server/server_test.go
  internal/learn/e2e/learn_im_e2e_test.go
  internal/learn/server/public.go
  internal/learn/server/public_test.go
  internal/learn/server/server.go
  internal/shared/config/config.go
  internal/shared/config/tls_generator/tls_config.go
  internal/shared/config/tls_generator/tls_generator.go
  internal/shared/config/tls_generator/tls_generator_test.go
  internal/template/server/admin.go
  internal/template/server/admin_test.go
  internal/template/server/public.go
  internal/template/server/public_test.go
  specs/002-cryptoutil/implement/DETAILED.md
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: update DETAILED.md with Task 4c completion timeline
  specs/002-cryptoutil/implement/DETAILED.md
Due: cspell

docs: fix continuous-work instructions to prevent premature stopping
  .github/instructions/01-02.continuous-work.instructions.md
Due: cspell

fix: remove duplicate flag shorthands to prevent test failures
  internal/shared/config/config.go
  internal/shared/config/config_test.go
  internal/template/server/public_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat: improve config package test coverage from 77.1% to 79.5%
  internal/shared/config/config_coverage_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs: add Task 6 timeline entry to DETAILED.md
  specs/002-cryptoutil/implement/DETAILED.md
Due: cspell

perf(test): add TestMain to tls_generator tests for 14.5% speedup
  internal/shared/config/tls_generator/tls_generator_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

chore: commit workspace changes
  internal/ca/server/admin.go
  internal/ca/server/application.go
  internal/identity/authz/server/admin.go
  internal/identity/authz/server/admin_error_test.go
  internal/identity/authz/server/admin_test.go
  internal/identity/authz/server/application.go
  internal/identity/idp/server/admin.go
  internal/identity/idp/server/admin_error_test.go
  internal/identity/idp/server/admin_test.go
  internal/identity/idp/server/application.go
  internal/identity/rs/server/admin.go
  internal/identity/rs/server/admin_test.go
  internal/identity/rs/server/application.go
  internal/jose/server/admin.go
  internal/jose/server/application.go
  internal/learn/server/server.go
  internal/shared/config/cov
  internal/shared/config/cov_new
  internal/template/server/admin.go
  internal/template/server/admin_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix: replace all Mode/Auto fields in TLSGeneratedSettings inline structs with helper functions and fixtures
  internal/cmd/demo/jose.go
  internal/jose/server/application.go
  internal/jose/server/cmd/commands.go
  internal/jose/server/server.go
  internal/jose/server/server_test.go
  internal/learn/e2e/learn_im_e2e_test.go
  internal/learn/server/public_test.go
  internal/learn/server/server.go
  internal/shared/config/config.go
  internal/shared/config/cov
  internal/shared/config/cov_new
  internal/shared/config/tls_generator/tls_config.go
  internal/shared/config/tls_generator/tls_generator.go
  internal/shared/config/tls_generator/tls_generator_test.go
  internal/template/server/admin_test.go
  internal/template/server/public_test.go
  internal/template/server/servers.go
  internal/template/server/servers_test.go
  internal/template/server/test_main.go
  internal/template/server/test_main_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

refactor: move TLS default values to cryptoutilMagic package
  internal/shared/config/config.go
  internal/shared/magic/magic_network.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

refactor: update NewPublicHTTPServer and NewAdminHTTPServer signatures to accept ServerSettings
  internal/learn/server/server.go
  internal/shared/config/tls_generator/tls_config.go
  internal/template/server/admin.go
  internal/template/server/admin_test.go
  internal/template/server/public.go
  internal/template/server/public_test.go
  internal/template/server/servers.go
  internal/template/server/test_main_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

refactor: rename PublicServer to IPublicServer for naming consistency with IAdminServer
  internal/template/server/application.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(config): add TLS mode and PEM fields test coverage
  internal/shared/config/config_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

fix(config): resolve viper BytesBase64P integration for TLS PEM fields
  internal/shared/config/config.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(DETAILED): add Task 9 completion timeline entry
  specs/002-cryptoutil/implement/DETAILED.md
Due: cspell

docs(instructions): replace ServerConfig with ServerSettings in HTTPS ports guidance
  .github/instructions/02-03.https-ports.instructions.md
Due: cspell

fix(instructions): strengthen continuous-work directive to explicitly forbid asking permission
  .github/instructions/01-02.continuous-work.instructions.md
Due: cspell

feat(template): add SetReady method to IAdminServer interface and mockAdminServer
  internal/template/server/application.go
  internal/template/server/application_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

refactor(tests): convert template server tests to table-driven pattern
  internal/template/server/application_table_test.go
  internal/template/server/application_test.go
  internal/template/server/public_table_test.go
  internal/template/server/public_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

refactor(learn): consolidate JWT secret to single constant in middleware.go
  $coverageFile
  internal/learn/server/middleware.go
  internal/learn/server/public.go
  specs/002-cryptoutil/implement/DETAILED.md
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(learn): update DETAILED.md Section 2 with JWT consolidation session
  $outFile
  specs/002-cryptoutil/implement/DETAILED.md
Due: cspell

test(learn): improve JWT middleware and Start coverage
  internal/learn/server/public_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(learn): improve crypto package coverage
  internal/learn/crypto/encrypt_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(learn): document coverage improvement session findings
  specs/002-cryptoutil/implement/DETAILED.md
Due: cspell

build(deps): promote github.com/golang-jwt/jwt/v5 to direct dependency
  go.mod
Due: go-mod-tidy, go-build

docs(learn): add post-session updates for mutation testing
  specs/002-cryptoutil/implement/DETAILED.md
Due: cspell

test(learn): add comprehensive E2E tests for /browser/** paths
  internal/learn/e2e/learn_im_e2e_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

test(learn): fix linting errors in browser E2E tests
  internal/learn/e2e/learn_im_e2e_test.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(learn): document browser E2E tests session
  specs/002-cryptoutil/implement/DETAILED.md
Due: cspell

fix(template): resolve wsl_v5 and nlreturn linting issues
  internal/template/server/public_test.go
  internal/template/server/servers.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

refactor(learn): move JWT secret from hardcoded constant to configuration parameter
  cmd/learn-im/main.go
  internal/learn/e2e/learn_im_e2e_test.go
  internal/learn/server/middleware.go
  internal/learn/server/public.go
  internal/learn/server/public_test.go
  internal/learn/server/server.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

docs(detailed): mark JWT secret configuration task as complete (commit 0fe35987)
  specs/002-cryptoutil/implement/DETAILED.md
Due: cspell

feat(docker): add Docker Compose deployment for learn-im
  cmd/learn-im/.dockerignore
  cmd/learn-im/Dockerfile
  cmd/learn-im/docker-compose.dev.yml
  cmd/learn-im/docker-compose.yml
Due: cspell

docs(detailed): mark Docker Compose deployment task as complete
  specs/002-cryptoutil/implement/DETAILED.md
Due: cspell

docs(learn): add comprehensive documentation (README, API, ENCRYPTION)
  cmd/learn-im/API.md
  cmd/learn-im/ENCRYPTION.md
  cmd/learn-im/README.md
Due: cspell

docs(detailed): mark documentation task as complete
  specs/002-cryptoutil/implement/DETAILED.md
Due: cspell

docs: update CMD-PATTERN.md
  docs/CMD-PATTERN.md
Due: cspell

feat(learn): create internal command structure for learn product
  docs/REFACTOR-LEARN-IM-QUIZME.md
  docs/REFACTOR-LEARN-IM.md
  internal/cmd/learn/im.go
  internal/cmd/learn/learn.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

feat(learn): create 3-level configuration hierarchy
  configs/cryptoutil/config.yml
  configs/learn/config.yml
  configs/learn/im/config.yml
Due: cspell

feat(learn): implement all 6 remaining IM subcommands
  internal/cmd/learn/im.go
Due: golangci-lint, check-todo-severity, go-fix-all, go-build, cspell

Path conditions:
  github-workflow-lint: any of: \.github/workflows/.*\.(yml|yaml)$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.mod$
  check-todo-severity: any of: \.go$
  go-fix-all: any of: \.go$
  go-build: any of: \.go$|go\.mod$|go\.sum$
  cspell: any of: \.(md|txt|go|yaml|yml|json|js|ts|py|sh|ps1)$, but not: ^(test/|vendor/|\.git/|node_modules/|\.cache/)
